<style type="text/css">

.big_colour_square_frame {border:1px solid lightgrey;padding-left:5px;padding-top:5px;width:35px;height:35px;margin:0; }

  .big_colour_square_frame:hover { border:1px dotted black;}
  .big_colour_square { width:30px;height:30px; cursor:pointer;}
  
  .text_label_for_colour { font:normal 1.2em "OS";padding:0; margin-top:5px; color:#000}

.colour_alert_box { position:absolute;width:250px;height:250px;border:1px dotted black;background-color:white; display:none;}
.colour_selector_box { text-align:center;margin:0;padding:0.25em; }

.palette { z-index:100;background-color:white;margin-top:0;padding-top:0; }

.small_solid_square_frame { opacity:0.8;text-align:center;display:inline-block;padding:3px;border:1px solid lightgrey;margin-left:3px;margin-right:3px;margin-top:6px;}
.small_solid_square_frame:hover { opacity:1; border:1px dotted black; cursor:pointer;}

.small_solid_colour_square { margin-bottom:0;padding-bottom:0;margin:0 auto;width:18px;height:18px;}

.colour_index_right, .colour_index_left {  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index:100; color:lightgrey; font:normal 6em "OS Light";}
    .colour_index_right, .colour_index_left {  }
    .colour_index_left:hover, .colour_index_right:hover  { cursor:pointer; color:black; }

.palette { display:none; position:relative; }
.palette_2 { display:block;}

</style>

<div class="spc">
  <div style="margin-bottom:0.5em;height:2em;">
    <div style="float:left"><h1>Choose your colour</h1></div>
    <div class="step colour_1">STEP 1</div>
  </div>

  <div class="chat-bubble">Choose from hundreds of colours! Click on the colour below to change it and the image will change so you can see exactly what your design will look like. 
  </div>

  <div id="colours-shown" style="margin-top:1em;">
 
    <div>
            
      <table>
        <tr>
          <% for(var i = 1; i < (number_of_colours + 1);  i++) { %>
            
            <td style="vertical-align:top;text-align:left;">
              <div style="padding:0.5em;">
              
      <!-- 
      THE HIDDEN ABSOLUTE DIV IS FIRST 
      -->
                <div class="colour_alert_box colour_alert_box_<%= i %>">
                  <div class="colour_selector_box" id="colour_selector_<%= i %>">
                    <div class="colour_frame_<%= i %> big_colour_square_frame" data-colour="<%= i %>">
                      <div class="colour_<%= i %> big_colour_square" style="background-color:<%= document["colour_" + i] %>;">
                      </div>
                    </div>
                  </div>
                  <span id="color_label_<%= i %>" class="color_label_<%= i %> text_label_for_colour">
                    <%= colours_ref[document["colour_" + i]].toUpperCase() %>
                  </span>
                            
                             
        <!--
         COLOUR SELECTOR WHICH IS A 16X16 GRID OF SELECTABLE COLOURS
        -->
                      
                  <div class="colour_grid_container">
                      
                    <% var counter = 0 %>
                    <% hex_colours.forEach(function(page_for_palette) { %>
                      <div class="palette palette_<%= counter %>">
                        <table>
                          <tr>                            
                            <% if (hex_colours[counter - 1]) { %>
                              <td>
                                <div class="colour_index colour_index_left" data-colour="palette_<%= counter -1 %>">&laquo;</div>
                              </td>
                            <% } %>
                            
                            <td style="width:160px;">
                              <% page_for_palette.forEach(function(hex) { %>
                                <div class="small_solid_square_frame" data-colour="<%= hex %>">
                                  <div class="small_solid_colour_square" style="background-color:<%= hex %>">
                                  </div>
                                </div>
                              <% }) %>
                            </td>
                            
                              
                            <% if (hex_colours[counter + 1]) { %>
                              <td>
                                <div class="colour_index colour_index_right" data-colour="palette_<%= 
                            counter + 1%>">&raquo;</div>
                              </td>
                            <% } %>
                           
                          </tr>
                        </table>

                      </div>
                      <% counter = counter + 1 %>
                    <% }) %>
                      
                  </div>               
                </div>
                                                   
        <!--
         ORIGINAL COLOUR LABELS
        -->
        <div style="border:1px solid transparent;">
          <div class="colour_selector_box" id="colour_selector_<%= i %>">
            <div class="colour_frame_<%= i %> big_colour_square_frame" data-colour="<%= i %>">
              <div class="colour_<%= i %> big_colour_square" style="background-color:<%= document["colour_" + i] %>;">
              </div>
            </div>
          </div>
          <span id="color_label_<%= i %>" class="color_label_<%= i %> text_label_for_colour">
            <%= colours_ref[document["colour_" + i]].toUpperCase() %>
          </span>
          </div>
        </div>
      </div>
      </td>
      <% } %>
    </tr>
  </table>


</div>
</div>
</div>