<form>
  <div style="width:50%;float:left">
    <p><label for="_id">ID:</label>
    <input type="text" name="_id" {{#unless isNew}} disabled {{/unless}} value="{{_id}}"></input></p>        
 
    <p><label for="price">Price:</label>
    <input type="text" name="price" value="{{price}}"></input></p>
   
    <p><label for="description">Description:</label>
    <textarea name="description">{{description}}</textarea></p>        
    
    <img src="/svg/{{_id}}" />
    
    <p><label for="svgupload">SVG:</label>
    <input type="file" name="svgupload"></input></p>
    
    <p><label for="monochromatic"> SVG monochromatic colours:</label>
    
      <select name="monochromatic"  multiple="true" size="5">
        <option value="10" name="10">10</option>
        <option value="20" name="20">20</option>
        <option value="30" name="30">30</option>
        <option value="40" name="40">40</option>
        <option value="50" name="50">50</option>    
        <option value="60" name="60">60</option>
        <option value="70" name="70">70</option>   
        <option value="80" name="80">80</option>
      </select>
    </p>
    
    <p><label for="tags">Tags:</label>
    {{select "tags" default_tags tags}}
    </p>
  
  </div>
  
  <div id="colour_picker"></div>
  <div id="add_second_colour">Add second colour</div>
  
   
  <input type="submit" style="clear:both;">Submit</a>
</form>

<div id="background_customisation" style="clear:both;">

<h2>CUSTOMISE FONTS</H2>

  
  <div id="font_picker_wrapper"></div>
<div id="place_card"></div>
</hr>

{{#each divs}}
  <div style="clear:both;position:relative;" class="background_container colour_0">
    <img style="position:absolute;display:block;" src="/products/{{../_id}}/attachments/medium-{{@key}}" />
    
    {{#is ../colours.length 2}}
      <div class="background_wrapper background-{{@key}}">{{{this}}}</div>
    {{/is}}
    
  </div>

  {{#is ../colours.length 2}}
    <textarea data-id="{{@key}}" rows="6" cols="80" class="change_background">{{this}}</textarea>
    <div class="visual_div background-{{@key}}">{{{this}}}</div>
  {{/is}}
  
{{/each}}
</div>
<h3 style="clear:both">Attachments</h3>