

{{#each groups}}

 {{#each this}}
   <div id="{{this._id}}"  class="related related_{{@index}}">
        
         
            <div class="place_square">
            
                <div class="inner_place_square">
                  <div class="background_container" style="background-color:{{this.colours.[0]}}">{{{this.background-4}}}</div>              
                  <img src="http://mrdizzy.cloudant.com/test_ebay/{{this._id}}/display-4" />
                </div>
              
             
              <h2 class="caz">{{this.name}}</h2>
              
            </div>
   
          
        </div>


{{/each}}


{{/each}}
