<div class="font_baseline_adjust_buttons">

  <div class="button_wrapper plus_font">
    <div class="button_inside deselected">
      <img src="/gfx/font_increase.svg" class="specific_font_increase_icon" />
    </div>
  </div>
  
  <div class="button_wrapper minus_font">
    <div class="button_inside deselected">
      <img src="/gfx/font_decrease.svg" class="specific_font_decrease_icon" />
    </div>
  </div>
  
</div>
  
<div class="delete_button">
  <div class="button_wrapper delete_guest">
    <div class="button_inside deselected">
      <img src="/gfx/trash/delete96.svg" class="specific_delete_icon" />
    </div>
  </div>
</div>
  
<div class="font_size_adjust_buttons">

  <div class="button_wrapper up_baseline">
    <div class="button_inside deselected">
      <img src="/gfx/baseline_up.svg" class="specific_baseline_up_icon" />
    </div>
  </div>
  
  <div class="button_wrapper down_baseline">
    <div class="button_inside deselected">
      <img src="/gfx/baseline_down.svg" class="specific_baseline_down_icon" />
    </div>
  </div>
</div>
  
  
  
  
  
<div class="place_card_parent">
    
  <div class="place_card_wrapper">
  
    <div class="place_card_border"></div>
    <div class="place_card_fold"></div>
    <div class="font_spinner"></div>
    
    <div class="needsclick guest_name" contenteditable="true" style="border:0;padding:0;margin:0;margin-top:{{baseline_top}}px;height:{{baseline_bottom}}px;line-height:{{baseline_bottom}}px;text-transform:capitalize;font-size:{{font_size}}px;font-family:{{font_family}};">{{name}}</div>
    {{#if background}}
      <img src="/products/{{product}}/attachments/display-5" class="place_card_image" />
      <div class="place_card_background_wrapper colour_0">
        {{{background}}}
      </div>
    {{/if}}
    
    {{#unless background}}    
      <img src="/products/{{product}}/attachments/display-5" class="place_card_image colour_0"/>
    {{/unless}}
    
  </div>       
  
</div>