  <div class="font_baseline_adjust_buttons">
    <div class="button_wrapper plus_font deselected" style="margin-bottom:5px">
      <div class="button_inside"><img src="/gfx/font_increase.svg" style="margin-top:25%;width:50%"/></div>
    </div>
     <div class="button_wrapper minus_font deselected">
      <div class="button_inside"><img src="/gfx/font_decrease.svg" style="margin-top:43%;width:30%"/></div>
    </div>
  </div>
  
  <div class="font_size_adjust_buttons">
     <div class="button_wrapper up_baseline deselected" style="margin-bottom:5px">
      <div class="button_inside"><img src="/gfx/baseline_up.svg" style="margin-top:35%;width:50%"/></div>
    </div>
     <div class="button_wrapper down_baseline deselected">
      <div class="button_inside"><img src="/gfx/baseline_down.svg" style="margin-top:40%;width:50%"/></div>
    </div>
  </div>
  
  <div class="place_card_parent">
<div class="place_card_wrapper">

    <div class="font_spinner"></div>
       {{#if background}}
       <img src="/products/{{product}}/attachments/display-5" class="place_card_image" />
       <div class="place_card_background_wrapper colour_0">
       {{{background}}}
       </div>
    {{/if}}
  
    {{#unless background}}    
       <img src="/products/{{product}}/attachments/display-5" class="place_card_image colour_0"/>
    {{/unless}}
  
  
  <div class="guest_wrapper">
    <div class="spacer" style="height:{{baseline_top}}px;"></div>
   
    <input type="text" class="guest_name" style="height:{{baseline_bottom}}px;font-family:{{font_family}};font-size:{{font_size}}px" value="{{name}}"></input>
  </div>
  </div>
       
</div>