<div>
  <div class="print_place_card_view" style="width:{{width}}mm;height:{{height}}mm;">		
    <img src="/gfx/left_crop.svg" class="svg_left_crop">
    <div class="guest" contenteditable="true" style="font-size:{{font_size}}mm;font-family:{{font}};height:{{guest_height}}mm;margin-top:{{margin_top}}mm;width:{{width}}mm;line-height:{{guest_height}}mm">{{name}}</div>
    <img src="" class="place_card_image">
  </div>
</div>