 <div class="product_type"><img src="/gfx/product_types/small/name_place_small.png" style="width:130px;"></div>

<!-- 

  COLOURS 

-->

<div  class="spc" id="step_1">
	<div style="margin-bottom:0.5em;height:2em;">
  <div style="float:left"><h1>Choose your colour</h1></div>
  <div class="step colour_1" style="{{display_step_1}}">STEP 1</div>
  </div>

  <div class="chat-bubble" style="{{display_step_1}}">Choose from hundreds of colours! Click on the colour below to change it and the image will change so you can see exactly what your design will look like. 
  </div>

  <div id="colour_section_render">
	<table id="colour_table">		
		<tr id="colour_row"></tr>
	
	</table>
  </div>
</div>

<!-- 

  TEXTURE 
  
-->

  <div class="spc" id="step_2">
	<div style="margin-bottom:0.5em;height:3em;">
	  <div style="float:left"><h1>Card Texture</h1></div>
	  <div class="step colour_1" style="{{display_step_2}}">STEP 2</div>
	</div> 
  
	<div class="chat-bubble" style="{{display_step_2}}">Click and highlight an icon to select the texture of your choice. Plain is the cheapest with its smooth plain finish, but hammered and linen both make your cards feel more luxurious. 
	</div>
	<div id="texture_selection">
	  <div class="texture selectable"><img src="/gfx/icons/plaine.png"><p>Plain</p></div>
	  <div class="texture selectable"><img src="/gfx/icons/hammer.png"><p>Hammered</p></div>
	  <div class="texture selectable"><img src="/gfx/icons/linen.png"><p>Linen</p></div>
	</div>
  </div>

<!-- 

  WEIGHT 
  
-->
	
  <div class="spc"  id="step_3">
	<div style="margin-bottom:0.5em;height:2em;">
	  <div style="float:left"><h1>Card Thickness</h1></div>
	  <div class="step colour_1"  style="{{display_step_3}}">STEP 3</div>
	</div> 
	<div class="chat-bubble"  style="{{display_step_3}}">Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm). A normal sheet of A4 copy paper is usually about 80gsm.
	</div>
	<br/>
	<div class="weight selectable">
	   <div class="weight_line"></div>
	   <p class="casamiento">250gsm</p>
	</div>
		
	<div class="weight selectable">
	  <div class="weight_line" style="border-top:10px solid black;"></div>
	  <p class="casamiento">300gsm</p>
	</div>
  </div>

<!-- 

  FORMAT 
  
-->

  <div class="spc"  id="step_4">
	<div style="margin-bottom:0.5em;height:2.5em;">
	  <div style="float:left"><h1>Product Format</h1></div>
	  <div class="step colour_1"  style="{{display_step_3}}">STEP 4</div>
	</div> 
		
	<div style="margin:auto;text-align:center;">
	  <div class="spec" style="width:100px"><img src="/gfx/specs/tent.png"></div>
	</div>
  </div>
  
<!-- 

  MONOGRAM 
  
-->

	<div class="spc"  id="step_5">
		<h1>Monogram</h1>
		
		<img id="mono_2" style="width:100%;max-width:300px;min-width:200px;" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
	</div>

<!-- 

  GUESTS 
  
 -->
	
	<div class="spc"  id="step_6">
	  <div style="margin-bottom:0.5em;height:2.5em;">
		<div style="float:left">
		  <h1><img src="/gfx/guests.png" style="width:30px"/> Guest names</h1>
		</div>
		<div class="step colour_1"  style="{{display_step_6}}">STEP 6</div>
	  </div> 
	  <div class="chat-bubble"  style="{{display_step_6}}">Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm). A normal sheet of A4 copy paper is usually about 80gsm.
	  </div>
	  {{#guests}}
	  {{#.}}
	  <input type="text" value="{{.}}"></input>
	  {{/.}}
	  {{/guests}}
	</div>
  </div>