<div class="slide">
  <div style="position:relative;">
    
    <div class="slide_background_container colour_0">
      {{{background-1}}}
    </div>
    
    <img srcset="http://mrdizzy.cloudant.com/test_ebay/{{_id}}/large-1 2000w,
      http://mrdizzy.cloudant.com/test_ebay/{{_id}}/medium-1 1000w,
      http://mrdizzy.cloudant.com/test_ebay/{{_id}}/display-1 750w,
      http://mrdizzy.cloudant.com/test_ebay/{{_id}}/thumb-1 500w"
      sizes="(min-width:801px) 33.95vw, (min-width:500px) 58.2vw, (min-width: 320px), 100vw" class="slide_image" />
  </div>
</div>
    
<img src="/gfx/product_types/small/name_place_small.png" class="product_type_icon">
        
<div class="slide">
  <div style="position:relative;">
    
    <div class="slide_background_container colour_0">
      {{{background-2}}}
    </div>
    
    <img srcset="http://mrdizzy.cloudant.com/test_ebay/{{_id}}/large-2 2000px,
      http://mrdizzy.cloudant.com/test_ebay/{{_id}}/medium-2 1000w,
      http://mrdizzy.cloudant.com/test_ebay/{{_id}}/display-2 750w,
      http://mrdizzy.cloudant.com/test_ebay/{{_id}}/thumb-2 500w"
      sizes="(min-width:801px) 33.95vw,(min-width:500px) 58.2vw, (min-width: 320px), 100vw" class="slide_image" />
  </div>
</div>
                      
<div class="slide">
  <div style="position:relative;">

    <div class="slide_background_container colour_0">
     {{{background-3}}}
    </div>
    
    <img srcset="http://mrdizzy.cloudant.com/test_ebay/{{_id}}/large-3 2000w,
      http://mrdizzy.cloudant.com/test_ebay/{{_id}}/medium-3 1000w,
      http://mrdizzy.cloudant.com/test_ebay/{{_id}}/display-3 750w,
      http://mrdizzy.cloudant.com/test_ebay/{{_id}}/thumb-3 500w"
      sizes="(min-width:801px) 33.95vw,(min-width:500px) 58.2vw, (min-width: 320px), 100vw" class="slide_image" />
  </div>
</div>
    
<div class="slide">
    <h1 class="product_name">{{name}}</h1>
    <div class="ornamental_line"></div>
</div>
  
<div id="description_container">
  <div class="shell"></div>
  <h6>{{{description}}}</h6>
</div>
    
<div class="slide">
  <div style="position:relative;">

    <div class="slide_background_container colour_0">{{{background-4}}}</div>
    
    <img srcset="http://mrdizzy.cloudant.com/test_ebay/{{_id}}/large-4 2000w,
        http://mrdizzy.cloudant.com/test_ebay/{{_id}}/medium-4 1000w,
        http://mrdizzy.cloudant.com/test_ebay/{{_id}}/display-4 750w,
        http://mrdizzy.cloudant.com/test_ebay/{{_id}}/thumb-4 500w"
        sizes="(min-width:801px) 33.95vw,(min-width:500px) 58.2vw, (min-width: 320px), 100vw"class="slide_image" />
  </div>
</div>