 <div class="slide">
      <div style="position:relative;width:100%;">
    
        <div style="position:absolute;width:100%;height:100%;z-index:0;" class="colour_0">
          {{{background-1}}}
        </div>
        <img srcset="http://mrdizzy.cloudant.com/test_ebay/{{_id}}/large-1 2000w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/medium-1 1000w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/display-1 750w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/thumb-1 500w"
          sizes="(min-width:801px) 33.95vw, (min-width:500px) 58.2vw, (min-width: 320px), 100vw" style="position:relative;display:block;width:100%;z-index:6"/>
      </div>
    </div>
    
    <img src="/gfx/product_types/small/name_place_small.png" class="product_type_icon">
        
    <div class="slide">
      <div style="position:relative;width:100%;">
    
        <div style="position:absolute;width:100%;height:100%;z-index:0;" class="colour_0">
          {{{background-2}}}
        </div>
        <img srcset="http://mrdizzy.cloudant.com/test_ebay/{{_id}}/large-2 2000px,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/medium-2 1000w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/display-2 750w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/thumb-2 500w"
          sizes="(min-width:801px) 33.95vw,(min-width:500px) 58.2vw, (min-width: 320px), 100vw" style="position:relative;display:block;width:100%;z-index:6"/>
      </div>
    </div>
    

                  
    <div class="slide">
      <div style="position:relative;width:100%;">
    
        <div style="position:absolute;width:100%;height:100%;z-index:0;" class="colour_0">
         {{{background-3}}}
        </div>
        <img srcset="http://mrdizzy.cloudant.com/test_ebay/{{_id}}/large-3 2000w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/medium-3 1000w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/display-3 750w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/thumb-3 500w"
          sizes="(min-width:801px) 33.95vw,(min-width:500px) 58.2vw, (min-width: 320px), 100vw"/ style="position:relative;display:block;width:100%;z-index:6"/>
      </div>
    </div>
    
    
     
<!---------------------------------------------
  PRODUCT NAME AND DESCRIPTION 
-------------------------------------->      
    <div class="slide">
      <div id="product_name_container">
        <h1 class="product_name">{{_id}}</h1>
        <div class="ornamental_line"></div>
      </div>      
    </div>
      
    <div id="description_container">
      <div class="shell"></div>
      <h6>This simple, elegant collection is optionally adorned with a paper wrap and accompanying envelope, finished with a monogram bearing the names of you and your partner. A traditional, serif typeface emphasises the importance of your special day with authority and prestige.</h6>
    </div>
    
    

<!------------------------------ 
  SLIDE 4 
---------------------------------->    

    <div class="slide">
      <div style="position:relative;width:100%;">
    
        <div style="position:absolute;width:100%;height:100%;z-index:0;" class="colour_0">
          {{{background-4}}}
        </div>
        <img srcset="http://mrdizzy.cloudant.com/test_ebay/{{_id}}/large-4 2000w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/medium-4 1000w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/display-4 750w,
            http://mrdizzy.cloudant.com/test_ebay/{{_id}}/thumb-4 500w"
          sizes="(min-width:801px) 33.95vw,(min-width:500px) 58.2vw, (min-width: 320px), 100vw"/ style="position:relative;display:block;width:100%;z-index:6"/>
      </div>
    </div>