
<img src="/gfx/icons/name_place.svg" class="product_type_icon" id="second_product_type_icon">

	<div class="tent" style="border-top:1px solid black;margin:auto;text-align:center;padding-top:0.5em;">
		<img src="/gfx/specs/tent.png" style="width:100px" />
	</div>
<!-- 

  COLOURS 

-->

<div class="spc" id="step_1">
	<div class="step_header_container">
    <h4>Choose your colour</h4>
    <div class="step colour_0" style="background-color:{{colours.[0]}}">STEP 1</div>
  </div>
		
	<div id="colour_section_render"></div>
  
	<div class="chat-bubble">Hover over the colour(s) above to bring up the hues panel, then hover over the colour swatches to see the place card change colour instantly. Move through the different hues by clicking the left &laquo; and right &raquo; arrows.
  </div>

</div>



<!-- 

	FONTS 
	
-->
<div class="spc" id="step_2">
	<div class="step_header_container">
		<h4>Choose your font</h4>
		<div class="step">STEP 2</div>
	</div>
	
	
	<div id="fonts" style="margin:4px"></div>

	<div class="chat-bubble">Click on the font above to bring up the font selection menu, then click the up &#9650; and down &#9660;  arrows to move through the different choices.
	</div>
	
</div>



<!-- 

	GUESTS 
	
 -->

<div class="spc"  id="step_3">
<div id="step_3_container">
	<div class="step_header_container">
		<h4><img src="/gfx/people/crowdsourcing.svg" style="width:20px;padding-left:2px;opacity:0.5;vertical-align:middle;"/> Guest names</h4>
		<div class="step">STEP 3</div>
	</div> 
	
	<div class="chat-bubble">Enter your guest names by typing each guest name on its own line&hellip; you'll see the place cards update on the left of the screen. If you would like a blank place card without a name on it, then just use a blank line. You can also edit guest names by clicking on the place card view directly, and add extra cards by clicking the "add another" button.  
	</div>
	</div>
	<a name="editing_mobile_guests"></a>
	<textarea id="quick_guests" rows="12">{{{guests}}}</textarea>
	<div id="guests"></div>
</div>


<div class="spc" id="step_4">
	<div class="step_header_container">
		<h4>Print yourself&hellip;</h4>
		<div class="step">STEP 4</div>
	</div>
	

	<div class="chat-bubble">Print instantly straight from your browser! If you'd like to print your own place cards right now, you can do it quickly and easily straight from your browser&mdash;no downloading PDFs or installing programs. Just click the print yourself button below. Or if you'd rather we do the hard work, just continue with the other steps below&hellip;
	</div>
	
		<img src="/gfx/spinners/360.gif" id="step_print_spinner"/>

	<div class='grey_button' id='print_button'>
	<img src='/gfx/printer.svg' style='line-height:0.5em;width:60px;margin:0;padding:0;' /> PRINT<br/>YOURSELF
	</div>
</div>

<!-- 

  WEIGHT 
  
-->
	
<div class="spc"  id="step_5">
	<div class="step_header_container">
		<h4>Card Thickness</h4>
		<div class="step">STEP 5</div>
	</div> 
	
	<div class="chat-bubble">Choose the weight of your card by tapping the icons below. All our card is high quality smooth and white&mdash;we hope to introduce different textures soon. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm): the higher the number, the thicker the card. A normal sheet of A4 copy paper is usually about 70gsm.
	</div>
	
	
	
	
	<div id="weight_200" class="weight selected selectable">
		 <div class="weight_line" style="border-top:3px solid black;"></div>
		 <p>200gsm</p>
	</div>
		
	<div id="weight_300" class="weight deselected selectable">
		<div class="weight_line" style="border-top:8px solid black;"></div>
		<p>300gsm</p>
	</div>
	
</div>

	
<!--

	BUY 

-->
<div class="spc" id="step_7">

	<div class="step_header_container">
		<h4>Place your order&hellip;</h4>
		<div class="step">STEP 7</div>
	</div>
	<div style="border-radius:2em;margin:0 auto;width:60%;">
		<div class="qty" style="color:#444;font:normal 5em 'OS Light'">{{quantity}}</div>
		<div style="color:#444;margin:0 auto;font-size:2em;margin-top:0;padding-top:0;line-height:50%;border-bottom:4px double #444;width:70%;padding-bottom:0.5em;" class="qty_cards">CARDS</div>
		<div class="price">
			<span style="color:#444;" class="pound_sign">&pound;</span><span class="number pound">{{pounds}}</span><span class="decimal" style="color:#444;" id="decimal">.{{pence}}</span>

		</div>
	</div>

	<div id="button_container" style="padding-top:3em;">


		<img src="/gfx/spinners/360.gif" class="paypal_spinner" />

		<div class="buy grey_button">
			<span style="color:white;font:normal 1em 'OS';">Check out with</span>
			<img class="cart_icon" src="/gfx/cart.svg" style="width:45px;" />
			<br/>
			<img src="/gfx/paypal.png" class="paypal" / style="padding-bottom:1em;">
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
</div>