<style type="text/css">
tr:nth-child(even) {background: #CCC}
</style>
<form action="/invoices" method="POST">
  <table style="border:1px solid black;border-collapse:collapse;">
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Invoice</th>
      <th>Envelope</th>
      
      <th>Label 10</th>
      <th>Label 8</th>
      <th>Email</th>
      <th>Memo</th>
      <th>Items</th>
      <th>Amount</th>
  </tr>
<% transactions.forEach(function(t) { %>
  <tr>
    <td><%= t.ORDERTIME %></td>
    <td><%= t.SHIPTONAME %></td>
    <td>
      <input type="checkbox" name="transaction_ids" value='<%= t.TRANSACTIONID %>' /></input>
      </td><td>
      <input type="checkbox" name="envelope_transaction_ids" value='<%= t.TRANSACTIONID %>' /></input>
      
    </td>
    <td>
      <input type="checkbox" name="label_10_transaction_ids" value='<%= t.TRANSACTIONID %>' /></input>
      
    </td>
    <td>
      <input type="checkbox" name="label_8_transaction_ids" value='<%= t.TRANSACTIONID %>' /></input>
      
    </td>
    <td>
      <a href="mailto:<%= t.EMAIL %>"><%= t.EMAIL %></a>
    </td>
    <td><%= t.NOTE %></td>
    <td><% t.items.forEach(function(item) { %>
       <li><%= item.L_NAME %></li>
    <% }) %></td>
    <td><%= t.AMT %></td>
  </tr>
<% }) %>

<input type="submit" style="position:fixed;top:0;right:0;padding:10px;"></input>

</form>


</table>
