<!doctype html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <style type="text/css">

      body, div, img, p, textarea { padding:0;margin:0;border:0}

      @font-face { 
        font-family:"OS Light"; 
        src: url('/f/OSL.eot?') format('eot'), url('/f/OSL.woff') format('woff'); 
      }

      .page { width:210mm;height:296.7mm;position:relative;page-break-after:always;}

      textarea {
        text-transform: capitalize;
        position:relative;
        z-index:100000;
        resize:none;
        background-color:transparent;
        overflow:hidden;
        display:block;
        font: normal 11pt "OS Light"; 
        color:#000;
        height:40mm;
        text-align:center;
        margin-top:15mm;
       width:75%;
       position:absolute;
      }
      
 @media print {
         #navigation { display:none; }
         
 }
    </style>
  </head>
  <body>
  <div id="navigation">
    <h3><span  id="left">&lt;- Move left </span> | <span id="right">Move right -&gt;</h3></h3> 

  </div>
  <div class="page">
  <div id="container" style="margin-left:10mm;padding-top:17mm">
     
  <% for (var i =0; i< transactions.length; i++) { %>
  <% var t = transactions[i] %>
          <div style="width:100mm;height:67.5mm;float:left;">
                <div style="width:90%;position:relative;"><img src="/gfx/label.svg" style="width:100%;display:block;position:absolute;"/><textarea><%= t.SHIPTONAME %>
<%= t.SHIPTOSTREET %><% if (t.SHIPTOSTREET2) {  %>
<%= t.SHIPTOSTREET2%><% } %>
<%= t.SHIPTOCITY%>
<%= t.SHIPTOSTATE%>
<%= t.SHIPTOZIP%></textarea></div>
          </div>
            <% } %>
          
</div>
</div>
  </body>
  <script>
  console.log("done")
  $('#right').click(function() {
  console.log("click")
          $('#container').prepend("<div style='width:100mm;height:67.5mm;float:left;'></div>")
  })
  </script>
</html>
