<!doctype html>
<html>
  <head>
  
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    
    <title>Casamiento</title>
   
    <link rel="shortcut icon" href="/favicon.ico" />      
    <link rel="stylesheet" href="/static/css/all.css" />     
   <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,300,100,100italic,700italic,400italic' rel='stylesheet' type='text/css'>   
    <%- inside_headtag %>
    
  </head>

  <body>
 <%= include ./partials/menu.ejs %>
  
  <div id="overlay"></div>
  <div id="printsvg"></div>
  
    <%- main %>
    
  <div id="background_container">
    <div id="inner_page_container">
  
      <%= include ./partials/header.ejs %>
     
    <%= include ./partials/contact.ejs %>
      <div id="loading_main_page_spinner">
        <img src="/gfx/spinners/360.gif" style="width:64px;height:64px;" />
      </div>
    
      <div id="middle_column"><%- middle %></div>
      <div class="left_column"><%- left %></div> 
      <div id="right_col" class="right_column"><%- right %></div>
  
      <div style="clear:both;"></div>
    </div>
    
    <div style="clear:both"></div>
  </div>

</body>
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>    
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>    
  <script type="text/javascript" src="/javascripts/libraries/backbone_syphon.js"></script>    
  <script src="/static/javascripts/all.js"></script>   
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73676840-1', 'auto');
  ga('send', 'pageview');

</script>

  <script type="text/javascript">
    $(function() {    
    $('#mainmenulines').click(function() {
      $('#left_menu').fadeToggle();
    })
    $('#close_left_menu').click(function() {
      $('#left_menu').fadeOut();
    })
      FastClick.attach(document.body);  
    })
    
$(function() {
$('#contact_click').click(function() {
  $('#contact_form').slideDown();
    $('#left_menu').fadeOut();
})
$('#send_message').click(function() {
  var message = {
  message: $('#contact_message').val(),
  email: $('#contact_email').val(),
  email_verify: $('#contact_email_verify').val(),
  first_name:  $('#contact_first_name').val(),
  last_name:  $('#contact_last_name').val()
  }
 $.ajax({
  type: "POST",
  url: "/email",
  data: message,
  success: function(data) {
    $('#contact_form').slideUp();
  }
});
  
  
})
})
    <%- javascripts %>
  </script>  
</html>