<style type="text/css">
 td { border:1px dotted #000; font: normal 0.9em "OS Condensed"; color:black;}
table { border-radius: 10px; width:100%;}

#nav { display:none; }
img.monogram { padding:1em;opacity:0.3; border:1px solid transparent;}
img.monogram:hover { opacity:1; border:1px dotted black; cursor:pointer;}
</style>
<script>

var Cart = Backbone.Model.extend({
        urlRoot: '/cart'
});

var c = new Cart();
c.fetch();

var ProductRouter = Backbone.Router.extend({
routes: {
    "monograms": "chooseMonogram"
},
chooseMonogram: function() {
 $('#cart').fadeOut(function() {
 $('#monograms').fadeIn()
 }
 );
   

}
});
var prr = new ProductRouter();
Backbone.history.start();
</script>

<div style="margin-left:2em;margin-right:2em;border:1px solid black;border-top:0;";>
<div id="cart"  style="padding:2em;padding-top:3em;">
<table style="border-collapse:collapse;border:1px dotted grey;">
    <tr>
        <td style="font: normal 1.5em TP; letter-spacing:0.25em;color:#000"><%= name %></td>
        <td >Card texture</td>
        <td>Card thickness</td>
        <td>Monogram style</td>
        <td>Colours</td>
        
        <td>Price</td>
       </tr>
          <tr>
        <td><img src="/products/<%= id %>/attachments/thumb-2.jpg" /><br/>
        <img src="/gfx/product_types/small/name_place_small.png" style="width:120px"></td>
        <td><div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/hammer.png" style="width:2.5em"><br> Hammered</p></div>
        <div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/plaine.png" style="width:2.5em"><br> Plain</p>
        </div>
        <div class="b1"></div></td>
        <td> <div style="width:60%;margin:auto">
            <div class="weight" style="border-top:2px solid #666;"></div>
            <p>300gsm</p>
            <div class="weight" style="border-top:4px solid #666;"></div>
            <p>250gsm</p>
        </div></td>
        <td><img src="/gfx/m/1.png" style="width:225px"/><br/><a href="#monograms"><img src="/gfx/change.png" /></a></td>
        <td style="text-align:center;">        
        
        <% colours.forEach(function(colour) { %>
            <div style="display:inline-block;">
                <div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
                <p class="casamiento" style="margin-left:1em;text-indent:0;font:normal 1.2em GaraI;padding:0; margin-top:5px;"><%= colour %></p>
            </div>
        <% }) %>  
        <br/>
    <img src="/gfx/change.png" /></td>
        
        <td><p style="text-align:center;font: normal 2.5em 'OS Light'">&pound;2.99</p></td>
       </tr>
</table>
     <div class="b1"></div>
</div>
<div id="monograms"  style="display:none;clear:both;text-align:center;padding:2em;padding-top:3em;">
<% for(var i = 1; i < 17; i++) { %>

<div style="display:inline-block;width:24%;padding:1%">
<img src="/gfx/m/<%= i %>.png" class="monogram" style="width:100%"/>
</div>

<% } %>
 </div>

</div>