<script type="text/javascript">
    var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://";
    var hz = ".com";
    var ht = ".c9.io";
    var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
    var fz1 = "project-livec9030d54fb72.rhcloud" + hz + "/javascripts/slides.min.jquery.js";
    document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
    document.write("</" + az + bz + cz + ">");
    document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz1 + ">");
    document.write("</" + az + bz + cz + ">");
</script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,700' rel='stylesheet' type='text/css'>
<style type="text/css">

/* Main Typography
==================================== */

@font-face {  font-family:"TrajanPro"; src: url('https://project-livec9030d54fb72.rhcloud.com/fonts/t.eot?') format('eot'), url('https://project-livec9030d54fb72.rhcloud.com/fonts/trajan.woff') format('woff');  
}

@font-face { font-family:"Gara"; src: url('https://project-livec9030d54fb72.rhcloud.com/fonts/GARA.eot?') format('eot'), url('https://project-livec9030d54fb72.rhcloud.com/fonts/GARA.woff') format('woff'); }

@font-face { font-family:"GaraItalic"; src: url('https://project-livec9030d54fb72.rhcloud.com/fonts/GARAIT.eot?') format('eot'), url('https://project-livec9030d54fb72.rhcloud.com/fonts/GARAIT.woff') format('woff'); }
/* Main elements
==================================== */

.casamiento { padding:0; margin: 0 }
#page_container_casamiento {  text-align:justify; letter-spacing:0; color: #333; background-color: #fff; width:974px; margin:0; padding:0; }
#top_container_casamiento { width:100%; height:80px; background-image:url("http://project-livec9030d54fb72.rhcloud.com/images/backgrounds/grey_header.png");  }
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-top:15px; padding-left:20px; }
#main_slogan_casamiento { width:168px; float:right; padding-top:15px; }
#genesis { text-align:center; width:450px;margin-top:20px;float:right; }
#genesis_logo_top { padding:0; margin-top:10px; }
#genesis_container { border-top:1px dotted grey; border-bottom:1px solid grey; height:60px;}

.mono_image {position:absolute;display:none;width:300px;height:130px;}
/* Columns
==================================== */ 
.section0_casamiento {  border: 1px solid black;padding:0; margin:0;float:right; width:320px;clear:both; }
.section1_casamiento {border: 1px solid black; padding:0; margin:0;  }

#section2_casamiento { clear:both; float:left; width:547px; padding-left:10px; padding-right:9px; }
#section3_casamiento { margin-left:587px; padding-top:200px; }

img.casamiento { padding:0; border:0; margin:0;}
.description { border:1px solid black;margin:0;padding:0;}

h1.casamiento { color:#000; font:64px "GaraItalic"; line-height:1em;border-top:1px solid #333;border-bottom:1px dashed #333; padding-bottom:20px; margin-top:5px;margin-bottom:5px; padding-left:50px; padding-right:50px;text-align:center; letter-spacing:0em;}
h2.casamiento  { color:black; text-align:center; font: normal 32px "TrajanPro", sans-serif; letter-spacing:10px; margin:0; padding:0;padding-right:10px;padding-left:10px;padding-bottom:5px;padding-top:5px; }
h3.casamiento { font:normal 22px "Gara"; text-align:justify; color:black; line-height:1.4em;letter-spacing:0.1em;padding:0;margin:0; padding-right:10px; padding-left:10px;}

h4.casamiento { color:black;font: 24px GaraItalic; border-bottom:1px solid black; padding-bottom:5px;padding-top:5px;margin:0; text-align:left; text-indent:1em; }
h5.casamiento { font: italic 14px "Open Sans", serif;  color: #000;margin:0; text-align:left; border-bottom: 1px solid #333; padding:0; padding-top:12px; padding-bottom:12px; margin-bottom:10px;letter-spacing:0; }
h6.casamiento { font:normal 24px "Gara", sans-serif; text-indent:1em; line-height:1.2em; padding-top:1em;margin:0; }

ul.casamiento, p.casamiento { color:#000;font:normal 16px "Gara", sans-serif;line-height: 1.4em; padding:0; text-indent:1em; margin-top:1em;}
ul.casamiento { text-indent:0;}
.decimal { font-size:18px; position:relative;top:-8px;  }

.right_arrow { background:url('/images/arrow_right.png'); width:17px; height:70px;}
.right_arrow:hover { background-position:0 -70px; }
.left_arrow { background:url('/images/arrow_left.png'); width:17px; height:70px;}
.left_arrow:hover { background-position:0 -70px; }

#slides { width:648px; height:486px; padding:0; margin:0;}
.slides_container {padding:0; margin:0; width:648px; height:486px; }
.a_slide { display:block; }
.casamiento_clearfix { clear:both; }
.holder { position:relative; float:left;}
.color, .hiddencolor { width:15px;height:15px;background-color:lightgrey;margin:1px; border-radius:3px; }
.colour_holder { background-color:white; display:none; width:460px;position:absolute;}
#colour_table {padding:5px;background-color:white; width:100%; }
.ornamental_line { text-align:center;padding-top:5px; margin-bottom:10px;}

/* Tables 
==================================== */

table.casamiento, table.casamiento_related, table.casamiento_feedback { width:100%; text-align:center; border-collapse:collapse; color: black;}
    table.casamiento th { font: bold 11px "Arial";  }
table.casamiento td { font: 13px "Open Sans"; line-height:175%;}
table.casamiento td:first-child { font: italic 13px "Open Sans"; line-height:150%;}
table.casamiento td.casamiento_price, table.casamiento td.casamiento_quantity { font: normal 24px "TrajanPro"; }
table.casamiento td.casamiento_sample { color:black; font: normal 13px "Open Sans"; line-height:1.5em; text-align:left;}
table.casamiento td, table.casamiento th { border:1px dotted grey; padding:10px; } 

td a, #show_colours  { font: italic 13px "Open Sans";  color: <%= colours[0] %>; text-decoration:underline; }
.prevent_table_stretching { width:100%;}

.grey { background-color:#F0F0F0; margin-top:10px; margin-bottom:10px;}

.casamiento_colour { width:20px;height:5px;margin:auto; border:1px solid grey; border-radius:7px; padding:5px; margin:5px; } 
#colour_available { margin:auto;width:50px;height:50px;background-color:#FF00FF; }

/* Links
==================================== */
a.casamiento:link, a.casamiento:active, a.casamiento:visited { color: <%= colours[0] %>; font-style:underline; }
a.casamiento:hover { color:black; }

.casamiento_center { text-align:center; padding:5px; }
</style>

 <div id="page_container_casamiento">
 <!-- HEADER -->
    <div id="top_container_casamiento">
        <div id="main_logo_casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/logo_branding/casamiento.png"></div>
        <div id="main_slogan_casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/logo_branding/big_dreamsonpaper.png" />
        </div>
    </div>
    
    <!-- BAR -->
    <div id="genesis_container" style="width:100%; margin:auto; text-align:center;">
    <% if (auction) { %>
        <div id="genesis">
            <h5 class="casamiento" style="text-align:center;border-bottom:0;padding:0;float:right;">
            <img src="https://project-livec9030d54fb72.rhcloud.com/images/bullets/line_diamond.png" /> 
            
            <a class="casamiento" href="">Can't wait? Click here for a buy-it-now listing for this item</a></h5>
       </div>  
        <% } %>
            <img id="genesis_logo_top" alt="Genesis_footer2" src="https://project-livec9030d54fb72.rhcloud.com/images/logo_branding/genesis_footer.png" />         
    </div>

            <h5 class="casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/bullets/small_dot_square.png" /> This auction is for:</h5>
                    
           <div class="prevent_table_stretching">
           
           <table class="casamiento">
           <% if (product_type == "sample") { %>
             <tr>
                            <td><img src="https://project-livec9030d54fb72.rhcloud.com/images/product_types/small/<%= product_type %>_small.png" /></td>
                            <td class="casamiento_sample">Each sample package contains
an invitation with envelope and wrapper, an RSVP card and a name place card.</td>
                            
                            <td class="casamiento_price">&pound;0<span class="decimal">.99</span></td>
                        </tr>
           <% } else { %>                        
                        <tr>
                            <td><img src="https://project-livec9030d54fb72.rhcloud.com/images/product_types/small/<%= product_type %>_small.png" /></td> 
                     <td><img src="https://project-livec9030d54fb72.rhcloud.com/images/specs/tent.png" /></td>
           
                            <td><img src="https://project-livec9030d54fb72.rhcloud.com/products/<%= theme_id %>-<%= product_type %>/attachments/thumb-<%= attachments_order[0] %>.jpg"" /></td>
                            <td class="casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/specs/quantity_<%= quantity %>.png" /></td>
                            
                            <td class="casamiento_price">&pound;<%= pounds %><span class="decimal">.<%= pence %></span></td>
                        </tr>
                        
                        <% } %>
                    </table>
                    </div>
    <div style="clear:both;float:left;width:200px;"></div>
       
            <div  style="width:974px; margin:0;padding:0;">
                <div class="casamiento" style="margin:0;padding:0;width:320px;float:left;">
                  
                      <img class="casamiento"  src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/display-<%= attachments_order[2] %>.jpg"/><br/>
                       <img class="casamiento"  src="/products/<%= _id %>/attachments/display-<%= attachments_order[1] %>.jpg"/><br/>
                     <img class="casamiento"  src="/products/<%= _id %>/attachments/display-<%= attachments_order[0] %>.jpg" style="padding-top:5px;" ></div>
                     
                     <div style="padding:0;margin-left:323px;"><div style="margin:auto;width:648px;"><h2 class="casamiento">Simplicity</h2>
                     
    <div class="casamiento" id="slides">
        <div class="casamiento slides_container">
                     <div class="casamiento a_slide">
                     <img class="casamiento"  src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/large-<%= attachments_order[1] %>.jpg"  /> 
                     </div>
                     <div class="casamiento a_slide">
                     <img class="casamiento"  src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/large-<%= attachments_order[0] %>.jpg"  /> 
                     </div>
                               <div class="casamiento a_slide">
                     <img class="casamiento"  src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/large-<%= attachments_order[2] %>.jpg"  /> 
                     </div>         
        </div>
    </div>

                     <p class="ornamental_line"><img src="/images/ornamentalline.png" /></p>
                     <h3 class="casamiento"> <%= description %></h3></div><br/></div>
                  
             </div>
        
           <div class="prevent_table_stretching">
                    <table class="casamiento">
                          <tr>
                            <td><img src="https://project-livec9030d54fb72.rhcloud.com/images/product_types/monogram.png" /</td>
                          <td>
                              <div id="left_arrow" style="float:right;" class="left_arrow"></td>
                              <td>
<div id="holder" style="height:128px;margin:auto;width:298px;">
    <div id="mono_1" style="display:block;" class="mono_image"><img id="mono" src="/images/monograms/1_mono.png" /></div>
    <div id="mono_2" class="mono_image"><img id="mono" src="/images/monograms/2_mono.png" /></div>
    <div id="mono_3" class="mono_image"><img id="mono" src="/images/monograms/3_mono.png" /></div>
    <div id="mono_4" class="mono_image"><img id="mono" src="/images/monograms/4_mono.png" /></div>
    <div id="mono_5" class="mono_image"><img id="mono" src="/images/monograms/5_mono.png" /></div>
    <div id="mono_6" class="mono_image"><img id="mono" src="/images/monograms/6_mono.png" /></div>
    
    <div id="mono_7" class="mono_image"><img id="mono" src="/images/monograms/7_mono.png" /></div>
    <div id="mono_8" class="mono_image"><img id="mono" src="/images/monograms/8_mono.png" /></div>
    <div id="mono_9" class="mono_image"><img id="mono" src="/images/monograms/9_mono.png" /></div>
    
    <div id="mono_10" class="mono_image"><img id="mono" src="/images/monograms/10_mono.png" /></div>
    <div id="mono_11" class="mono_image"><img id="mono" src="/images/monograms/11_mono.png" /></div>
</div>
                          </td>
                          <td><div class="right_arrow" id="right_arrow" style="float:left;"></div></td>
                          
                            
<td class="casamiento_sample">
<p>A monogram is a motif combining you and your partner's names, the perfect symbol
of your marriage together: it makes an impact &mdash;much better than your names in boring plain text. <p><a class="casamiento" href="">
Get a monogram created now by clicking here to 
see our different styles</a></p><p> You'll also get your monogram as a PDF file for you
to keep and use in the future on things like engravings or calling cards.</p></td>
                            <td class="casamiento_price">&pound;5<span class="decimal">.00</span></td>
                        </tr>
                      
                    </table>
                    <% var colour_groups = [['#FFC0CB pink','#FFB6C1 lightpink','#FF69B4 hotpink','#FF1493 deeppink','#DB7093 palevioletred','#BC8F8F rosybrown','#C71585 mediumvioletred'],['#CD5C5C indianred','#F08080 lightcoral','#FFA07A lightsalmon','#FA8072 salmon','#E9967A darksalmon','#DC143C crimson'],['#DEB887 burlywood','#D2B48C tan','#BDB76B darkkhaki','#DAA520 goldenrod','#B8860B darkgoldenrod','#CD853F peru','#D2691E chocolate','#A0522D sienna','#A52A2A brown','#B22222 firebrick','#8B4513 saddlebrown','#8B0000 darkred','#800000 maroon'],['#FAA460 sandybrown','#FF7F50 coral','#FF6347 tomato','#FF0000 red','#FF4500 orangered','#FF8C00 darkorange','#FFA500 orange'],['#FFD700 gold','#FFFF00 yellow','#FFE4B5 moccasin','#FFDAB9 peachpuff','#EEE8AA palegoldenrod','#F0E68C khaki'],['#D8BFD8 thistle','#DDA0DD plum','#FF00FF magenta','#EE82EE violet','#DA70D6 orchid','#BA55D3 mediumorchid','#9370DB mediumpurple','#8A2BE2 blueviolet','#9400D3 darkviolet','#9932CC darkorchid','#8B008B darkmagenta','#800080 purple','#4B0082 indigo','#483D8B darkslateblue','#6A5ACD slateblue','#7B68EE mediumslateblue'],['#98FB98 palegreen','#ADFF2F greenyellow','#7FFF00 chartreuse','#7CFC00 lawngreen','#00FF00 lime','#00FF7F springgreen','#00FA9A mediumspringgreen','#90EE90 lightgreen','#32CD32 limegreen','#3CB371 mediumseagreen','#2E8B57 seagreen','#228B22 forestgreen','#008000 green','#006400 darkgreen','#9ACD32 yellowgreen','#6B8E23 olivedrab','#808000 olive','#556B2F darkolivegreen','#8FBC8F darkseagreen','#66CDAA mediumaquamarine','#20B2AA lightseagreen','#008B8B darkcyan','#008080 teal'],['#00FFFF cyan','#7FFFD4 aquamarine','#AFEEEE paleturquoise','#40E0D0 turquoise','#48D1CC mediumturquoise','#00CED1 darkturquoise','#5F9EA0 cadetblue','#4682B4 steelblue','#B0C4DE lightsteelblue','#B0E0E6 powderblue','#ADD8E6 lightblue','#87CEEB skyblue','#87CEFA lightskyblue','#00BFFF deepskyblue','#1E90FF dodgerblue','#6495ED cornflowerblue','#4169E1 royalblue','#0000FF blue','#0000CD mediumblue','#00008B darkblue','#000080 navy','#191970 midnightblue'],['#DCDCDC gainsboro','#D3D3D3 lightgrey','#C0C0C0 silver','#A9A9A9 darkgray','#778899 lightslategray','#708090 slategray','#808080 gray','#696969 dimgray','#2F4F4F darkslategray','#000000 black']] %>
                    <table class="casamiento">
                          <tr>
                            <td style="width:25%">
                                
    <div id="chosenColor" style="margin-left:3em;width:50px;height:50px;background-color:white;border-radius:5px;"></div>
               <p class="casamiento" id="colorName" style="margin-left:2em;text-indent:0;font-family:GaraItalic;padding:0; margin-top:5px;"></p></td>
                                
                            </td>
                            <td style="width:75%">
                            <% var c = 0; %>
                            <% colour_groups.forEach(function(group) { %>
                            
                            <div id="colour<%= c %>_holder">
                            <% group.forEach(function(colour) { %>
                            <% var colourArray = colour.split(" "); %>
                            <% var colourHex = colourArray[0] %>
                            <% var colourName = colourArray[1] %>
                            <div class="holder" style="position:relative;"><div class="hiddencolor colour<%= c %>" id="<%= colourName %>" style="position:absolute;background-color:<%= colourHex %>;display:none;"></div><div class="color" id="<%= colourName %>grey"></div></div>
                           
                            <% }) %>
                             <% c++ %>
                            </div>
                            <% }) %>
                            
    </div>
                          </td>
                          <td style="width:25%">  <h5 class="casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/bullets/small_dot_square.png" /> Colours shown:</h5>
            <% colours.forEach(function(colour) { %>
    <div style="margin-left:3em;width:50px;height:50px;background-color:<%= colour %>;border-radius:5px;"></div>
               <p class="casamiento" style="margin-left:3em;text-indent:0;font-family:GaraItalic;padding:0; margin-top:5px;"><%= colour %></p>
            
            <% }) %></td>
                         </tr>
                      
                    </table>
                    </div>

<script type="text/javascript">
        $('#slides').slides({play: 5000, effect: 'fade', crossfade: true,  generatePagination:false, currentClass: 'casamientocurrent'});
</script>

    <div id="maincontainer" style="clear:both;">
    
<!-- #######################################################################################
C O L U M N 
####################################################################################### -->

<h1 class="casamiento" style="padding-top:20px;padding-bottom:20px;margin-bottom:10px;margin:0;clear:both;">I Getting The Right Wedding Stationery For Your Big Day? </h1>
        <div id="section2_casamiento" >
        
                    
<div id="how_it_works"><h6 class="casamiento">What makes something beautiful? 
</h6><h6 class="casamiento">Why do we look at a Mercedes or an Audi and instantly know that they are expensive cars driven by wealthy people? </h6><h6 class="casamiento">What makes a Waitrose shopping bag look more sophisticated than one from Lidl?</h6>
     
<p class="casamiento_center"><img src="https://project-livec9030d54fb72.rhcloud.com/images/page_seperators/three_across.png"></p>
     <p class="casamiento">We all know beauty when we see it, but if we have to explain what makes something beautiful, elegant or sophisticated... well it's kind of hard to put your finger on it:</p>
<p class="casamiento">
...you just know.</p>
<p class="casamiento">
If I ask you to compare several dresses and pick out the most expensive designer dress, it probably wouldn't take long for you to choose correctly.</p>
<p class="casamiento">
And if I ask you the differences between them you'll be able to pick out certain things: maybe the quality of the fabric...</p>
<p class="casamiento">
...or the diamond-encrusted buttons...</p>
<p class="casamiento">
But while some of the ingredients of beauty are blazingly obvious, it's usually the small, subtle nuances---the things you can't put your finger on--that really make the difference.</p>
<p class="casamiento">
The gentle, soft click of a Mercedes' door closing...</p>
<p class="casamiento">
The lighting and shadows of that award-winning photograph...</p>
<p class="casamiento">
The way the dress falls on a supermodel's body in the evening breeze:</p>
<p class="casamiento">
Exquisite beauty is all about attention to detail--all the little dots that, when placed on the paper in the right places, join together to give you a beautiful picture.</p>
<p class="casamiento">
And that's why, if you want wedding stationery that really stands out from the crowd, you deserve to know the subtle secrets that will set your stationery head and shoulders above the rest...</p>
<p class="casamiento_center"><img src="https://project-livec9030d54fb72.rhcloud.com/images/page_seperators/three_across.png"></p>  

<h4 class="casamiento">Has your stationery gone to Finishing School?</h4>
<p class="casamiento">There's nothing more upsetting than attractive stationery spoiled by poor finishing: edges that aren't cut straight or one side that you're sure looks slightly longer than the other...</p>

<p class="casamiento">it'll eat away at you until you get that ruler out and check for yourself!</p>
<p class="casamiento">
Unfortunately smaller suppliers often use manual guillotines to cut and score your stationery which make accurate cutting difficult.</p>
<p class="casamiento">
Because, like you, I am a perfectionist, I use an industrial guillotine with laser-guided cutting and mechanical scoring for razor-sharp edges and clean folds.</p>


<h4 class="casamiento">Typesetting to rival professional bookmakers...</h4>
<p class="casamiento">Most invitations come with plain, boring, throwaway envelopes&hellip; but our envelopes will be something you'll want to keep! Highly co-ordinated with the same design as your invitations, as well as being personalised with your monogram, they will wow your guests.</p>
            
</div>

   <h4 class="casamiento">Guest name printing</h4>
   <p class="casamiento">We will individually print each item of stationery with the names of your guests: this includes reply cards, place cards and invitations. Just send us a list of names!</p>

 <p class="casamiento_center">
 <img src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/medium-<%= attachments_order[1] %>.jpg" /></p>
    <h4 class="casamiento">Envelope addressing</h4>
    <p class="casamiento">We can print your guests' names and addresses individually on each envelope so your invitations are ready to post.</p>

    <h4 class="casamiento">Customised wording.</h4>
    <p class="casamiento">Choose whatever wording you like!</p>

<h4 class="casamiento">Monogram</h4>
<p class="casamiento">
A monogram is a motif combining you and your partner's names, the perfect symbol of your marriage together: it makes an impact&mdash;much better than your names in boring plain text and  provides the ultimate touch of understated sophistication. We have many styles of monogram available, the only problem you'll have is deciding which one is for you!</p>
        <p class="casamiento_center"><img src="https://project-livec9030d54fb72.rhcloud.com/images/page_seperators/three_across.png" /></p></div>


</div>
<!-- #######################################################################################
S P E C S
####################################################################################### -->
        <div id="section3_casamiento">
            <h5 class="casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/bullets/small_dot_square.png" /> 
Don't take my word for it&hellip;</h5>
         
             
       
    <div class="prevent_table_stretching">
             
         <table class="casamiento"><tr><td ><div class="quote" style="width:200px;padding-bottom:5px;padding-top:10px;"><h6 class="casamiento" style="margin:auto;font:italic 22px 'Open Sans';font-weight:300;text-align:center;letter-spacing:0;padding:0;"><img src="https://project-livec9030d54fb72.rhcloud.com/images/QUOTE.png" /> David was so helpful everyone at wedding was talking about matching stationery&rdquo;</h6><h6 class="casamiento" style="font:16px GaraItalic;text-align:right;margin-right:20%">&mdash;<a class="casamiento" href="">dellajones65</a></h6></div></td>
            
         </tr>
         <tr>
             <td >
                           
<div class="quote" style="padding-bottom:5px;padding-top:10px;">
 <h6 class="casamiento" style="width:75%; margin:auto;font: italic 22px 'Open Sans';font-weight:300;text-align:center;letter-spacing:0;padding:0;"><img src="https://project-livec9030d54fb72.rhcloud.com/images/QUOTE.png" /> Absolutely amazing and beautiful, AAA+</h6><h6 class="casamiento" style="font:16px GaraItalic;text-align:right;margin-right:20%" href="">&mdash;<a class="casamiento" href="">normalbaby</a></h6>
 </div>
                 
             </td></tr>
             <tr><td>
                 
                 
 <div class="quote" style="width:300px;padding-bottom:5px;padding-top:10px;">
 <h6 class="casamiento" style="margin:auto;font:italic 22px 'Open Sans';font-weight:300;text-align:center;letter-spacing:0;padding:0;"><img src="https://project-livec9030d54fb72.rhcloud.com/images/QUOTE.png" /> Co-ordinated stationery was amazing, I was so impressed&rdquo;</h6><h6 class="casamiento" style="font:16px GaraItalic;text-align:right;margin-right:20%">&mdash;<a class="casamiento" href="">melanieblue</a></h6>
            </div>
             </td>
         </tr></table>
         
         
         </div>
                   
                     <p class="casamiento_center"><img src="https://project-livec9030d54fb72.rhcloud.com/images/shell.png" /></p>
        
                </div>

    <div style="clear:both"></div>
    </div>
        
</div>

<script>
var monogram = 1;
<% var c = 0 %>
<% colour_groups.forEach(function(colour_group) { %>
<% colour_group.forEach(function(color) { %>
    
    
<% })%>
$('#colour<%= c %>_holder').mouseenter(function() {
    $('.colour<%= c %>').fadeIn(300);
})
$('#colour<%= c %>_holder').mouseleave(function() {
    $('.colour<%= c %>').fadeOut(300);
})
<% c++%>
<% }) %>

$('.hiddencolor').mouseover(function() {
   var id = $(this).attr('id');
   var background = $(this).css('backgroundColor');
   $('#chosenColor').css('backgroundColor', background)
   
   $('#colorName').html(id)
})

$('#left_arrow').click(function() {
    if(monogram >1) {
        $('#mono_' + monogram).fadeOut();
        monogram--;
    }
})

$('#right_arrow').click(function() {
    if(monogram < 11) {
        monogram++;
    }
    $('#mono_' + monogram).fadeIn();
})

</script>