<!doctype html>
<script type="text/javascript">
var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://", pp = "p://";
var hz = ".com";
var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
document.write("</" + az + bz + cz + ">");
</script>

<style type="text/css">
.intro p.first:first-letter { font:normal 5.5em TP;padding-right:0.05em;float:left;line-height:0.8em;}
  .intro p { text-align:left;}
.tabbed_area { margin:0px;padding:0px;padding:8px; }
ul.tabs { margin:0px; padding:0px; margin-top:5px; margin-bottom:7px; }
ul.tabs li { margin:0px;padding:0px; list-style:none; display:inline; } 
ul.tabs li a { color:#000; margin:0px; padding:0px; padding:7px 14px 7px 14px; font:normal 1.1em "OS IL"; text-decoration:none; border: 1px solid lightgrey; border-top-left-radius: 6px; border-bottom: 1px solid #000; border-top-right-radius: 6px; }
ul.tabs li a:hover { border-color:#000; } 

ul.tabs li a.active { border:1px solid #000; font-weight:bold; border-bottom:1px solid white; } 

.colours_content, .monograms_content { margin:0;padding:0;background-color:#fff; padding:10px;border:1px solid #000; } 

.colours_content { display:none;}
/* COLOURS */
.a_colour {  float:left;}
.colsqr { width:2.9em;height:2.9em;}
.colsqr img { width:100%; padding:0;border:0;}
.monograms_content { text-align:center; }
.monograms_content img { padding:0.5em 0 0.5em 0; width:14em; }

a.casamiento:link, a.casamiento:active, a.casamiento:visited { font-style:underline; color:<%=colours[0] %>;}
a.casamiento:hover { color:#000; }
.palette { display:none; }
.spec { display:inline-block; }
.spec img { width:100%; }

.buy_it_now { width:80%;padding:0.75em;color:white;border-radius:10px;background-color:lightgrey;font:normal 1.2em 'OS Light';text-align:center;margin:0 auto;margin-top:0.5em;margin-bottom:0.5em;line-height:1.2em; }
.buy_it_now:hover { background-color: <%= colours[0] %>}

/* FONTS */
@font-face { font-family:"TP"; src: url('http://www.casamiento.co.uk/f/t.eot?') format('eot'), url('http://www.casamiento.co.uk/f/t.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('http://www.casamiento.co.uk/f/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARAIT.woff') format('woff'); }
@font-face { font-family:"Gara"; src: url('http://www.casamiento.co.uk/f/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARA.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OSReg"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSReg.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('http://www.casamiento.co.uk/f/OSL.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS IL"; src: url('http://www.casamiento.co.uk/f/OSLI.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('http://www.casamiento.co.uk/f/OSCB.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSCB.woff') format('woff'); }

h3.casamiento { font:normal 1.4em "Gara"; text-align:justify; color:black; line-height:1.4em;letter-spacing:0.1em;padding:0;margin:0; padding-right:10px; padding-left:10px;}

h2.casamiento { text-align:center; font: normal 2.2em "TP", sans-serif; letter-spacing:10px; padding-right:10px;padding-left:10px;margin-top:0.5em;margin-bottom:0.5em; }
h5.casamiento { font: normal 1em "OS IL", sans-serif; text-indent:1em;text-align:left; border-bottom: 1px solid #333; padding-top:0.75em; padding-bottom:0.75em;line-height:1.5em; margin-bottom:1.5em;margin-top:1.5em; }
h6.casamiento { font: normal 1.375em "OS Light", sans-serif; text-indent:1em; line-height:1.5em; margin:0; margin-bottom:1.5em; color:#333;}
p.casamiento { padding: 0 0.25em 0.75em 0.25em 0; font: normal 0.9em "OS", sans-serif;line-height: 1.5em; padding:0; margin-bottom:1em;}

ul { font: normal 0.9em "OS", sans-serif;line-height: 1.5em; text-align:left; }
li {margin-bottom:0.5em;}

#page_container_casamiento {  padding:0; margin:0; }
.line { clear:both; border-top:1px solid #000;}
.b1 { clear:both; }
.a_colour { font: normal 1em "GaraI"; text-align:center; margin:1em;}
div .clrb:first-child { border-top:1px dotted #000; }
.clrb {  border-bottom:1px dotted #000;border-left:1px dotted #000;border-right:1px dotted #000;text-align:center; }
.clrb p { padding-top:0.5em;padding-bottom:0.5em; margin:0; }
.clrb p.selected { font-weight:bold; }
.clrb p:hover { font-weight:bold; cursor:pointer;}
/* COLUMNS */

#page_container_casamiento { text-align:center; background-image:url('http://www.casamiento.co.uk/gfx/backgrounds/grey_header.png'); width:100%; }
#inner_page_container_casamiento { text-align:left;margin:auto; border-left:1px dotted #000; border-right: 1px dotted #000; background-color:#fff; width:95%;}
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-left:20px; }
#main_slogan_casamiento { float:right; }
#genesis { text-align:center; }
#genesis_logo_top { width:22em; }
#genesis_container { border-bottom:1px dotted grey; width:100%; margin:auto; padding-top:0.25em;padding-bottom:0.25em;text-align:center;}

/* IMAGES */

.subimg { float:left;width:49.5%; }
.subimg img { width:100%; }
.actual_side_images_1 { width:35%;float:left; }
.slides_container_1 { float:right;width:64%; }

.actual_side_images_2 { width:35%;float:right; }
.slides_container_2 { float:left;width:64%; }

/* SPECIFICATIONS */

.name_place_icon { width:130px; margin:auto; }
.spc { padding:0.5em;border-bottom:1px dotted grey;   }
.actual_side_images_1 > .spc { border-right:1px dotted grey; }
.actual_side_images_2 > .spc { border-left:1px dotted grey; }
.spc h1 {font: normal 0.75em "OS Condensed"; margin:0;margin-bottom:0.5em; text-align:left}

.weight { margin:0.5em 0 0.2em;width:2em;}

.quantity_sold p { font: normal 2em "OS"; }
.product_type {  border-top:0; }

.chat-bubble {
display:none;
  background-color:#fff;
  border:1px solid #000;
  font: normal 1em "OS IL";
  line-height:1.4em;
  margin:10px auto;
  padding:10px;
  position:absolute;
  left:14em;
  text-align:center;
  width:550px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  box-shadow:5px 5px 0 0 lightgrey;
}

tr:first-child td { border-top:0;}
.chat-bubble-arrow-border {
  border-color:  transparent #000 transparent transparent ;
  border-style: solid;
  border-width: 16px;
  height:0;
  width:0;
  position:absolute;
  top:14px;
  left:-32px;
}
.chat-bubble-arrow {
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 15px;
  height:0;
  width:0;
  position:absolute;
  top:15px;
  left:-30px;
}


</style>
<!-- MAIN PAGE -->

<div id="page_container_casamiento">
  <div id="inner_page_container_casamiento">
   
<div class="actual_side_images_1" style="clear:both;text-align:center">
<div class="spc intro">
<h6 style="padding:0;margin:0;text-align:left;letter-spacing:0; line-height:1em; font:normal 3em Gara"><span style="letter-spacing:0.15em; font-size:0.75em;font-variant:small-caps"> IMPRESS</span> your guests with individually printed invitations&hellip;</h6>
	
  <div style="margin-top:1em;">  
    <div style="width:45%;float:left;margin-top:5px;border-top:1px solid black;"></div>
    <div style="width:10%;float:left;"><img src="http://www.casamiento.co.uk/gfx/page_seperators/orna.png" style="width:100%;" /></div>
    <div style="width:45%;float:left;margin-top:5px;border-top:1px solid black;"></div>
    </div>
    <div style="clear:both"></div>
<img src="http://www.casamiento.co.uk/gfx/me2.jpg" style="padding:0.25em;margin-top:0.7em;float:left;padding-right:0.4em;">
<p class="first casamiento">Y<span style="letter-spacing:0.2em; font-size:1em;font-family:Gara';font-variant:small-caps">OUR GUESTS</span>, will love seeing their names individually printed on our range of elegant personalised stationery. And because you get to choose the colours and theme, you can co-ordinate them completely with your wedding so everything matches perfectly.</p>
<p style="font:normal 1.6em GaraI;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;">Save time and hassle...</p>
<p class="casamiento">Take the pain out of preparing your invitations by letting me individually address each envelope and invitation with the name and address of each guest. Not only will it look <span style="letter-spacing:0.2em; font-size:1em;font-family:'Gara';font-variant:small-caps">PROFESSIONAL</span>, but it'll save you a lot of hassle&mdash;you'd be surprised how time-consuming and frustrating it is addressing just 25 invitations without making a mistake or missing a guest. All you have to do is a send a list of names and addresses.
<p style="font:normal 1.6em GaraI;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;">Stand out from the crowd...</p>
<p class="casamiento">Each invitation is truly unique as it comes with your own carefully styled monogram bearing the name of you and your partner and the date of your ceremony: a unique and special symbol to represent a unique and special relationship. 
<p style="font:normal 1.6em GaraI;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;">Stand out from the crowd...</p>
<p class="casamiento" style="margin-bottom:0.2em;padding-bottom:0;">Each invitation is truly unique as it comes with your own carefully styled monogram bearing the name of you and your partner and the date of your ceremony: a unique and special symbol to represent a unique and special relationship. </p>
<p class="casamiento" style="margin:0;padding:0;"><img src="http://www.casamiento.co.uk/gfx/davidsign.png" style="width:100px"/></p>
<p class="casamiento" style="margin-top:0em;padding-top:0">&mdash;David Pettifer<br/>
<span style="font:normal 1.2em GaraI;">Lead Designer</span></p>
</div>
<h5 class="casamiento"><img src="/gfx/bullets/small_dot_square.png" /> This auction is for:</h5>
  <div class="product_type spc">
    <div class="name_place_icon"><img src="/gfx/product_types/sample.png" style="width:150px;"></div>
  </div>
  
  <div class="spc">
 <ul style="font:normal  0.8em 'OSReg';line-height:1em;"><li>1 &times; sample invitation</li>
    <li>1 &times; matching envelope</li>
   <li>1 &times; matching reply card</li>
   <li>1 &times; matching name place card</li>
 </ul>
</div>

  <div class="spc">
<div class="buy_it_now">TO SEE MANY MORE OPTIONS FOR THIS DESIGN PLEASE CLICK HERE TO SEE OUR BUY-IT-NOW LISTING</div>
</div>
  <div class="spc">
    <h1>Card Texture</h1>

    <div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/plaine.png" style="width:2.5em"><br> Plain</p></div>
    <div class="b1"></div>
  </div>

  <div class="spc">
    <h1>Thickness</h1>
    <div>
     <div class="weight" style="display:inline-block;width:75px;border-top:8px solid #666;"></div> <span style="font:normal 0.8em OS;margin-top:1em;margin-bottom:3em;">300gsm</span>
  </div>
  <div style="margin-top:1em;">
        <div class="weight" style="display:inline-block;width:75px;border-top:4px solid #666;"></div> <span style="font:normal 0.8em OS;margin-bottom:0em;">250gsm</span>
      </div>
  </div>

  <div class="spc">
    <h1 style="margin-bottom:0">Product format</h1>
   <div style="display:inline-block;margin-left:1em;margin-right:1em;"><img src="http://www.casamiento.co.uk/gfx/specs/single_a6_card.png" style="width:40px" /><p style="margin-top:0.2em;font:normal 0.8em OS;font-variant:small-caps">FLAT</p></div>
   <div style="display:inline-block;margin-top:10px;margin-left:1em;margin-right:1em;"><img src="http://www.casamiento.co.uk/gfx/specs/foldout_a6_card.png"  style="width:45px" /><p style="margin-top:0.2em;font:normal 0.8em OS;font-variant:small-caps">FOLDOUT</p></div>
  </div>
  <div class="spc tooltip" id="monogram-shown" >
        <div class="chat-bubble" id="monogram-shown-tooltip"><div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>
</div>
<script>
$('.tooltip').hover(function(e) {
  var id = ($(e.currentTarget).attr('id'));
  $('#' + id + '-tooltip').show()
}, function(e) {
var id = ($(e.currentTarget).attr('id'));
   $('#' + id + '-tooltip').hide()
})
</script>
    <h1>Monogram shown</h1>
    <img id="mono_2" style="width:100%;max-width:300px;" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
    <p class="casamiento">Each design comes with your own unique monogram. Bearing the name of you and your partner, and underscored with the date or location of your ceremony, it provides the ultimate touch of understated sophistication.</p><p class="casamiento">We have many styles of monogram available, the only problem you'll have is deciding which one is for you.  Scroll down &darr; to see all the styles available.</p>
  </div>
    
  <div class="spc"><h1>Colours shown</h1>
    <div id="colours-shown" style="margin-top:1em;float:left;">
    
    <% colours.forEach(function(colour) { %>
      <div style="float:left">
        <div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
        <p class="casamiento" style="margin-left:1em;text-indent:0;font:normal 1em GaraI;padding:0; margin-top:5px;"><%= colour %></p>
      </div>
    <% }) %>  
    
    </div>
    <div class="b1"></div>
  </div>
  
  <div class="spc">
  <h1>Don't take our word for it&hellip;</h1>
  
    <div class="quote" style="width:200px;padding-bottom:5px;padding-top:10px;"><h6 class="casamiento" style="margin:auto;font: 1.4em normal 'OS IL';text-align:center;letter-spacing:0;padding:0;"><img src="/gfx/QUOTE.png" /> David was so helpful everyone at wedding was talking about matching stationery&rdquo;</h6><h6 class="casamiento" style="font:1.2em GaraI;text-align:right;margin-right:10%">&mdash;<a class="casamiento" href="">dellajones65</a></h6></div>
                           
<div class="quote" style="padding-bottom:5px;padding-top:10px;">
 <h6 class="casamiento" style="width:75%; margin:auto;font: 1.4em normal 'OS IL';text-align:center;letter-spacing:0;padding:0;"><img src="/gfx/QUOTE.png" /> Absolutely amazing and beautiful, AAA+</h6><h6 class="casamiento" style="font:1.2em GaraI;text-align:right;margin-right:10%" href="">&mdash;<a class="casamiento" href="">normalbaby</a></h6>
 </div>
                 
 <div class="quote" style="width:300px;padding-bottom:5px;padding-top:10px;">
 <h6 class="casamiento" style="margin:auto;font: 1.4em normal 'OS IL';text-align:center;letter-spacing:0;padding:0;"><img src="/gfx/QUOTE.png" /> Co-ordinated stationery was amazing, I was so impressed&rdquo;</h6><h6 class="casamiento" style="font:1.2em GaraI;text-align:right;margin-right:20%">&mdash;<a class="casamiento" href="">melanieblue</a></h6>
            </div>
            
  </div>
</div>

<!-- MAIN SLIDE -->
<div class="slides_container_1" style="margin-bottom:1em;">
 <div class="casamiento" id="header_container_casamiento" style="padding-top:0.5em;border-bottom:1px solid #000;margin:0;padding-bottom:0.5em;text-align:center;">

      <div id="main_logo_casamiento" class="casamiento"><img src="http://www.casamiento.co.uk/gfx/logo/cas.png" style="width:202px;" id="logo" class="casamiento"></div>
      
      <div id="main_slogan_casamiento" class="casamiento"><img src="http://www.casamiento.co.uk/gfx/logo/drms.png"></div>
      <div class="b1"></div>
    </div>
  <h2 class="casamiento"><%= name %></h2>
   <div style="text-align:center;margin:0;margin-right:2%;"><p class="ornamental_line"><img src="/gfx/ornamentalline.png" /></p>
   <h3 class="casamiento" style="margin-left:0;padding-left:0;;padding-bottom:1em;"> <%= description %></h3>
   </div>
  <% attachments_order.forEach(function(attach) { %>
    <img class="casamiento" style="width:100%" src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/large-<%= attach %>.jpg">
    
  <% }) %>
  
   
<div class="line"></div>
  <div style="text-align:center;">
  <h5 class="casamiento"><img src="http://www.casamiento.co.uk/gfx/bullets/small_dot_square.png" />  You may also like&hellip;</h3>
  <img src="http://www.casamiento.co.uk/gfx/product_types/small/name_place_small.png" style="width:20%;max-width:150px;"/><br/>
  <div style="display:inline-block;width:49%;"><img class="casamiento" src="http://www.casamiento.co.uk/products/00ec75d5ce64f8a7dc839706ad003094-name_place/attachments/medium-<%= attachments_order[0] %>.jpg" style="width:100%";></div>
  <div style="display:inline-block;width:49%;"><img class="casamiento" src="http://www.casamiento.co.uk/products/00ec75d5ce64f8a7dc839706ad003094-name_place/attachments/medium-<%= attachments_order[1] %>.jpg" style="width:100%";></div>
  </div>
</div>

<div class="line"></div>

<!-- TABBED AREA -->
<div class="tabbed_area"> 
  <ul class="tabs"> 
    <li><a href="" class="a_tab active" id="1_monograms">All monograms</a></li> 
  </ul> 

  <div id="1_content_colours" class="colours_content">&nbsp;
    <!-- colour labels -->
    <div style="width:20%;float:left;">
      <div class="clrb"><p class="casamiento pinks selected">PINKS</p></div>
      <div class="clrb"><p class="casamiento reds">REDS</p></div>
      <div class="clrb"><p class="casamiento purples">PURPLES</p></div>
      <div class="clrb"><p class="casamiento yellows">YELLOWS</p></div>
      <div class="clrb"><p class="casamiento greens">GREENS</p></div>
      <div class="clrb"><p class="casamiento browns">BROWNS</p></div>
      <div class="clrb"><p class="casamiento blues">BLUES</p></div>
    </div>
    
    <div class="b1"></div>
  </div> 
  
  <div id="1_content_monograms" class="monograms_content">&nbsp;
    <img src="http://www.casamiento.co.uk/gfx/m/5.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/6.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/7.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/8.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/2.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/1.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/3.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/4.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/9.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/10.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/11.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/12.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/13.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/14.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/15.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/16.png" />
    <img src="http://www.casamiento.co.uk/gfx/m/17.png" />
    <div class="b1"></div></div> 
</div> 
</div></div>

<script type="text/javascript">
$('#palette_1').show();
$('.tabs li a').click(function(e) {
  e.preventDefault();
  var id= $(this).attr('id'), array = id.split('_');
  var id = array[0], context = array[1]
  var current_tab = $('#' + id + "_content_" + context)
  
  if(context == "monograms") {
    $('#' + id + '_colours').attr('class', 'a_tab')
    $('#' + id + '_monograms').attr('class', 'active')
    $('#' + id + '_content_colours').hide();
  } else {
    $('#' + id + '_colours').attr('class', 'active')
    $('#' + id + '_monograms').attr('class', 'a_tab')
    $('#' + id + '_content_monograms').hide();
  }
  
  current_tab.show();

  if(context == "colours") {
      $('.greens', current_tab).click(function(e) {
      $('.palette', current_tab).hide();
      $('p', current_tab).removeClass('selected')
      $('#palette_6', current_tab).show();
      $('p.greens', current_tab).addClass('selected');
    })			
    $('.browns', current_tab).click(function(e) {
      $('.palette', current_tab).hide();
      $('p', current_tab).removeClass('selected')
      $('#palette_2', current_tab).show();
      $('p.browns', current_tab).addClass('selected');
    })		
    $('.reds', current_tab).click(function(e) {
      $('.palette', current_tab).hide();
      $('p', current_tab).removeClass('selected')
      $('#palette_3', current_tab).show();
      $('p.reds', current_tab).addClass('selected');
    })
        $('.yellows', current_tab).click(function(e) {
      $('.palette', current_tab).hide();
      $('p', current_tab).removeClass('selected')
      $('#palette_4', current_tab).show();
      $('p.yellows', current_tab).addClass('selected');
    })
        $('.purples', current_tab).click(function(e) {
      $('.palette', current_tab).hide();
      $('p', current_tab).removeClass('selected')
      $('#palette_5', current_tab).show();
      $('p.purples', current_tab).addClass('selected');
    })
    $('.blues', current_tab).click(function(e) {
      $('.palette', current_tab).hide();
      $('p', current_tab).removeClass('selected')
      $('#palette_7', current_tab).show();
      $('p.blues', current_tab).addClass('selected');
    })
    $('.pinks', current_tab).click(function(e) {

      $('.palette', current_tab).hide();
      $('p', current_tab).removeClass('selected')
      $('#palette_1', current_tab).show();
      $(' p.pinks', current_tab).addClass('selected');
    })
  }	
})
</script>