<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1,width=device-width">
<script type="text/javascript">
    var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://";
    var hz = ".com";
    var ht = ".c9.io";
    var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
    var fz1 = "project-livec9030d54fb72.rhcloud" + hz + "/javascripts/jquery.slides.min.js";
    document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
    document.write("</" + az + bz + cz + ">");
    document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz1 + ">");
    document.write("</" + az + bz + cz + ">");
</script>

<script type="text/javascript" src="/javascripts/swipe.js"></script>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
<link href="/stylesheets/ebay.css" type="text/css" rel="stylesheet">

<style>

/* Links
==================================== */
a.casamiento:link, a.casamiento:active, a.casamiento:visited { color: <%= colours[0] %>; font-style:underline; }
a.casamiento:hover { color:black; }
@media screen and (min-width:1000px) {
    #page_container_casamiento { width:80%; }
    .colour_label { font-size:2em; }
}
@media screen and (max-width:720px) {
    #monogram_holder { width:60%; }
    #monogram_icon { width:39%; }
    #monogram_description { clear: both; width:90%; margin:auto; }   
}
@media screen and (max-width:360px) {
    #specifications h1 { text-align:left; margin-bottom:0.75em;}
    
    #colours-shown { display:block;float:none; width:100%; border:1px solid blue;}
    #specifications p { text-align:center; text-indent:0; }
    #specifications { display:block;padding:0;margin:0;}
    .table-cell { display:block; border-left:0; border-right:0; border-top:0; padding:0.5em; text-align:center;}
    #page_container_casamiento { width:98%; margin:auto; }
    #main_logo_casamiento { float:none; text-align:center; width:100%; }
    #main_slogan_casamiento { text-align:center; display:none; }
    #logo { padding-top:1em; padding-bottom:1em; width:152px; }
    #genesis_container { padding:0;margin:0;}
    #genesis_logo_top { width:90%; margin:0;padding-bottom:0.25em;padding-top:0.25em;;}
    #header_container_casamiento { width:100%; }
    #product_type { text-align:center; width:100%; float:none; border-bottom:1px solid black; }
    #actual_side_images { display:none; }
    #show_small { display:block; }
    #slides_container { width:100%; }
    h1.casamiento  { font-size:2.5em; line-height:1.25em;  }
    h2.casamiento { padding-top:0.75em;padding-bottom:0.75em;font-size:2em;margin:0; } 
    h3.casamiento { font-size:1.4em; margin-bottom:0;padding-bottom:0;}
    #monogram_icon { float:none; border-bottom:1px solid black; }
    #monogram_frame { width:100%; float:none;}
    #monogram_slideshow { width:100%; float:none; }
    #monogram_frame, #monogram_icon, #monogram_holder,#monogram_description { display:block; width:100%; float:none; }
    #monogram_holder { border:0;width:100%; padding:0;margin:0;}
    #left_arrow_container, #right_arrow_container { display:none; }
    #section2_casamiento { float:none; padding:0; margin:0; width:100%;}
    #section3_casamiento { clear:both;float:none; width:100%; padding:0;margin:0;}
    .quote {  border-left:0; border-right:0; border-bottom:1px dotted black;}
     
    .related_product_holder, .related_product_row,.related_product { display:block; }
    .related_product { width:100%; }
    p { padding-left:1em; }
    
    p.colour_label { font-size: 1em; text-indent:0; margin-left:0; padding-left:0;}
    .mono { width:100%; }
}
</style>

<div class="casamiento" id="page_container_casamiento">
    <header class="casamiento" id="header_container_casamiento">
        <div id="main_logo_casamiento" class="casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/logo_branding/casamiento_logo.png" style="width:202px;" id="logo" class="casamiento"></div>
        <div id="main_slogan_casamiento" class="casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/logo_branding/big_dreamsonpaper.png" />
        </div>
        <div class="clearboth casamiento"></div>
    </header>
    
    <div id="genesis_container" class="casamiento">
    <% if (auction) { %>
        <div id="genesis" class="casamiento">
            <h5 class="casamiento" style="text-align:center;border-bottom:0;padding:0;float:right;">
            <img src="https://project-livec9030d54fb72.rhcloud.com/images/bullets/line_diamond.png" /> 
            
            <a class="casamiento" href="">Can't wait? Click here for a buy-it-now listing for this item</a></h5>
       </div>  
        <% } %>
            <img id="genesis_logo_top" class="casamiento" alt="Genesis_footer2" src="https://project-livec9030d54fb72.rhcloud.com/images/logo_branding/genesis_collection.png" /></div>
  
    <!-- THREE SIDE IMAGES -->
    
    <div class="casamiento" id="actual_side_images" style="text-align:center">
        <img class="casamiento expand"  src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/display-<%= attachments_order[2] %>.jpg"/><br/>
        <img class="casamiento expand"  src="/products/<%= _id %>/attachments/display-<%= attachments_order[1] %>.jpg"/><br/>
        <img class="casamiento expand"  src="/products/<%= _id %>/attachments/display-<%= attachments_order[0] %>.jpg"> 
    </div>
    
    <!-- MAIN SLIDE -->
                              
    <div id="slides_container" class="casamiento">
        <h2 class="casamiento">Simplicity</h2>
                             
        <div id="slides" class="swipe">
            <div class="swipe-wrap">
                <div><img class="casamiento expand"  src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/large-<%= attachments_order[1] %>.jpg"  /></div>
                <div><img class="casamiento expand"   src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/large-<%= attachments_order[0] %>.jpg"  /></div>
                <div><img class="casamiento expand"   src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/large-<%= attachments_order[2] %>.jpg"  /></div>
            </div>
        </div>
                
        <p class="ornamental_line"><img src="/images/ornamentalline.png" /></p>
        <h3 class="casamiento"> <%= description %></h3>
              
    </div>   
        
    <!-- COLOURS SHOWN -->
    <div id="colours-shown" style="float:left;">
        <h5 class="casamiento">Colours shown:</h5>
        <% colours.forEach(function(colour) { %>
            <div style="float:left">
                <div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
                <p class="casamiento" style="margin-left:1em;text-indent:0;font-family:GaraItalic;padding:0; margin-top:5px;"><%= colour %></p>
            </div>
        <% }) %>  
        
        <div id="show_small" class="show" style="float:right;margin-left:1.5em">
            <div id="more_colours" style="margin;auto;width:2em;height:1.6em;padding-top:0.4em;">
                <img src="/images/icons/three_lines.png" style="width:1.6em;"/>    
            </div>
    
            <p style="clear:both;font-size:0.8em;font-style:underline;" class="casamiento">See all</p>
        </div>
    </div>

<!-- COLOURS -->

 <% var colours_new = ['#FFC0CB PINK','#FFB6C1 LIGHTPINK','#FF69B4 HOTPINK','#FF1493 DEEPPINK','#DB7093 PALEVIOLETRED','#BC8F8F ROSYBROWN','#C71585 MEDIUMVIOLETRED','#CD5C5C INDIANRED','#F08080 LIGHTCORAL','#FFA07A LIGHTSALMON','#FA8072 SALMON','#E9967A DARKSALMON','#DC143C CRIMSON','#DEB887 BURLYWOOD','#D2B48C TAN','#BDB76B DARKKHAKI','#DAA520 GOLDENROD','#B8860B DARKGOLDENROD','#CD853F PERU','#D2691E CHOCOLATE','#A0522D SIENNA','#A52A2A BROWN','#B22222 FIREBRICK','#8B4513 SADDLEBROWN','#8B0000 DARKRED','#800000 MAROON','#FAA460 SANDYBROWN','#FF7F50 CORAL','#FF6347 TOMATO','#FF0000 RED','#FF4500 ORANGERED','#FF8C00 DARKORANGE','#FFA500 ORANGE','#FFD700 GOLD','#FFFF00 YELLOW','#FFE4B5 MOCCASIN','#FFDAB9 PEACHPUFF','#EEE8AA PALEGOLDENROD','#F0E68C KHAKI','#D8BFD8 THISTLE','#DDA0DD PLUM','#FF00FF MAGENTA','#EE82EE VIOLET','#DA70D6 ORCHID','#BA55D3 MEDIUMORCHID','#9370DB MEDIUMPURPLE','#8A2BE2 BLUEVIOLET','#9400D3 DARKVIOLET','#9932CC DARKORCHID','#8B008B DARKMAGENTA','#800080 PURPLE','#4B0082 INDIGO','#483D8B DARKSLATEBLUE','#6A5ACD SLATEBLUE','#7B68EE MEDIUMSLATEBLUE','#98FB98 PALEGREEN','#ADFF2F GREENYELLOW','#7FFF00 CHARTREUSE','#7CFC00 LAWNGREEN','#00FF00 LIME','#00FF7F SPRINGGREEN','#00FA9A MEDIUMSPRINGGREEN','#90EE90 LIGHTGREEN','#32CD32 LIMEGREEN','#3CB371 MEDIUMSEAGREEN','#2E8B57 SEAGREEN','#228B22 FORESTGREEN','#008000 GREEN','#006400 DARKGREEN','#9ACD32 YELLOWGREEN','#6B8E23 OLIVEDRAB','#808000 OLIVE','#556B2F DARKOLIVEGREEN','#8FBC8F DARKSEAGREEN','#66CDAA MEDIUMAQUAMARINE','#20B2AA LIGHTSEAGREEN','#008B8B DARKCYAN','#008080 TEAL','#00FFFF CYAN','#7FFFD4 AQUAMARINE','#AFEEEE PALETURQUOISE','#40E0D0 TURQUOISE','#48D1CC MEDIUMTURQUOISE','#00CED1 DARKTURQUOISE','#5F9EA0 CADETBLUE','#4682B4 STEELBLUE','#B0C4DE LIGHTSTEELBLUE','#B0E0E6 POWDERBLUE','#ADD8E6 LIGHTBLUE','#87CEEB SKYBLUE','#87CEFA LIGHTSKYBLUE','#00BFFF DEEPSKYBLUE','#1E90FF DODGERBLUE','#6495ED CORNFLOWERBLUE','#4169E1 ROYALBLUE','#0000FF BLUE','#0000CD MEDIUMBLUE','#00008B DARKBLUE','#000080 NAVY','#191970 MIDNIGHTBLUE','#DCDCDC GAINSBORO','#D3D3D3 LIGHTGREY','#C0C0C0 SILVER','#A9A9A9 DARKGRAY','#778899 LIGHTSLATEGRAY','#708090 SLATEGRAY','#808080 GRAY','#696969 DIMGRAY','#2F4F4F DARKSLATEGRAY','#000000 BLACK'] %>
                    
    <div id="colllors" style="display:none;clear:both;">
    
        <h5 class="casamiento">Colours available:</h5>
            <% colours_new.forEach(function(colour) { %>
                <% var colour_array = colour.split(" ") %>
                <% var hex = colour_array[0]; %>
                <% var name = colour_array[1]; %>
                <div style="float:left;width:49%;margin-left:1%;">
                    <div class="colour_square" style="background-color:<%= hex %>;"></div>
                    <p class="colour_label"><%= name %></span>
                </div>
            <%}) %>
        <div style="clear:both"></div>
    </div>              
              
    <div id="specifications" class="casamiento">
        <% if (product_type == "sample") { %>
            <tr>
                <td><img src="https://project-livec9030d54fb72.rhcloud.com/images/product_types/small/<%= product_type %>_small.png" /></td>
                <td class="casamiento_sample">Each sample package contains
an invitation with envelope and wrapper, an RSVP card and a name place card.
                </td>
                
                <td class="casamiento_price">&pound;0<span class="decimal">.99</span></td>
            </tr>
            <% } else { %>                        
            <div id="product_type"  class="table-cell">
                <img src="https://project-livec9030d54fb72.rhcloud.com/images/product_types/small/<%= product_type %>_small.png" />
            </div>
                
            <div id="paper" class="table-cell">
                  
                 <h1>Specifications</h1>
                 <p><span style="font-style:italic;font-variant:italic;">Paper texture</span> &middot; <img src="/images/icons/linen.png" style="width:2.5em"/>Linen &middot;  <img src="/images/icons/hammer.png" style="width:2.5em"/> Hammered &middot; Pearlescent</p>
                 <p><span style="font-style:italic;font-variant:italic;">Paper weight</span> &middot; 300gsm &middot; 250gsm</p>
            </div>
            
            <div id="product_format"  class="table-cell">
                <h1>Product format</h1> <p><img src="https://project-livec9030d54fb72.rhcloud.com/images/specs/tent.png" /></p>
            </div>
            
            <div id="quantity" class="table-cell quantity_sold casamiento"><h1>Quantity</h1><p>25</p></div>
                       
            <div id="casamiento_price" class="table-cell">&pound;<%= pounds %><span class="decimal">.<%= pence %></span></div>
                    
        <% } %>
    </div>

    <div>
        <p class="casamiento_center"><img src="/images/shell.png" /></p>
    </div>
    
<!-- MONOGRAM FRAME -->     
    
    <div id="monogram_frame">
          
        <div id="monogram_icon"><img src="https://project-livec9030d54fb72.rhcloud.com/images/product_types/monogram.png"/></div>
            
        <div id="monogram_holder" style="width:inherit;">  
            <div id="monogram_slideshow" class="swipe" style="width:100%;">
                <div class="swipe-wrap" style="width:100%;">
                    <div class="mono"><img id="mono_2" class="casamiento mono" src="/images/monograms/2_mono.png"    /></div>
                    <div class="mono"><img id="mono_3"  class="casamiento mono"  src="/images/monograms/3_mono.png" /></div>
                    <div class="mono"><img id="mono_4"  class="casamiento mono"  src="/images/monograms/4_mono.png" /></div>
                    <div class="mono"><img id="mono_5"  class="casamiento mono"  src="/images/monograms/5_mono.png" /></div>
                    <div class="mono"><img id="mono_6"  class="casamiento mono"  src="/images/monograms/6_mono.png" /></div>
                    <div class="mono"><img id="mono_7"  class="casamiento mono"  src="/images/monograms/7_mono.png" /></div>
                    <div class="mono"><img id="mono_8"  class="casamiento mono"  src="/images/monograms/8_mono.png" /></div>
                    <div class="mono"><img id="mono_9"  class="casamiento mono"  src="/images/monograms/9_mono.png" /></div>
                    <div class="mono"><img id="mono_10" class="casamiento mono"   src="/images/monograms/10_mono.png" /></div>
                    <div class="mono"><img id="mono_11" class="casamiento mono"   src="/images/monograms/11_mono.png"   /></div>
                    <div class="mono"><img id="mono_1" class="casamiento mono" src="/images/monograms/1_mono.png"  /></div>
                </div>
            </div>
        </div>
            
        <div id="monogram_description">
            <p class="casamiento">A monogram is a motif combining you and your partner's names, the perfect symbol
            of your marriage together: it makes an impact &mdash;much better than your names in boring plain text.</p>
            
            <p class="casamiento"> You'll also get your monogram as a PDF file for you
            to keep and use in the future on things like engravings or calling cards.</p>
        </div>
    
        <div class="clearboth"></div>
    
        <script type="text/javascript">      
                var mySwipe = Swipe(document.getElementById('monogram_slideshow'), { auto: 5000 })
        </script>
                    
    </div>
                
<!-- related products -->
               
    <h5 class="casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/bullets/small_dot_square.png" /> You will also like:</h5>
                                 
    <div class="casamiento related_product_holder">
        <div class="casamiento related_product_row">
        <% related.forEach(function(r) { %>
            <div class="related_product">
                <div class="related_product_type_header"><img src="/images/product_types/small/<%= r.product_type %>_small.png" /><br/></div>
                   
                <img class="thumb_related" src="/products/<%= r.theme_id %>-<%= r.product_type %>/attachments/medium-<%= r.attachments_order[0] %>.jpg"/><br/>
                                        
                <div><span class="casamiento_center smallbody"><a class="casamiento" href="<%= r.buy_it_now_id %>">20 x <%= r.product_type %></a></span></div>
                    
                <div><p style="margin-top:5px" class="casamiento_price">&pound;<%= r.pounds %><span class="decimal">.<%= r.pence %></span></p></div>
            </div>
        <% }) %>

        </div>
   </div>
       
    <script type="text/javascript">      
            var mySwipe = Swipe(document.getElementById('slides'), { auto: 5000 })
    </script>
    
    <!-- MAIN ARTICLE -->
    
    <div id="maincontainer" class="clearboth">
    
        <h1 class="casamiento" style="padding-top:40px;padding-bottom:40px;margin-bottom:10px;margin:0;clear:both;">Is getting the right stationery for your big day stressing you out?</h1>
                
        <div style="border-bottom:1px dotted black;width:100%;border-top:1px dotted black;">
            <p class="casamiento_center"><img src="/images/shell.png" /></p>
        </div>
        
        <div id="section2_casamiento">
    
            <h6 class="casamiento">What makes something beautiful? Why do we look at a Mercedes or an Audi and instantly know that they are expensive cars driven by wealthy people?  What makes a Waitrose shopping bag look more sophisticated than one from Lidl?</h6>
            
            <p class="casamiento">We all know beauty when we see it, but if we have to explain what makes something beautiful, elegant or sophisticated... well it's kind of hard to put your finger on it:</p>
            
            <p class="casamiento">...you just know.</p>
        
            <p class="casamiento">If I ask you to compare several dresses and pick out the most expensive designer dress, it probably wouldn't take long for you to choose correctly.</p>
        
            <p class="casamiento">And if I ask you the differences between them you'll be able to pick out certain things: maybe the quality of the fabric...</p>
        
            <p class="casamiento">...or the diamond-encrusted buttons...</p>

            <p class="casamiento">But while some of the ingredients of beauty are blazingly obvious, it's usually the small, subtle nuances---the things you can't put your finger on--that really make the difference.</p>
        
            <p class="casamiento">The gentle, soft click of a Mercedes' door closing...</p>
            
            <p class="casamiento">The lighting and shadows of that award-winning photograph...</p>
            
            <p class="casamiento">The way the dress falls on a supermodel's body in the evening breeze:</p>
            
            <p class="casamiento">Exquisite beauty is all about attention to detail--all the little dots that, when placed on the paper in the right places, join together to give you a beautiful picture.</p>
        
            <p class="casamiento">And that's why, if you want wedding stationery that really stands out from the crowd, you deserve to know the subtle secrets that will set your stationery head and shoulders above the rest...</p>
            
            <p class="casamiento_center"><img src="https://project-livec9030d54fb72.rhcloud.com/images/page_seperators/three_across.png"></p>  
        
            <h4 class="casamiento">Has your stationery gone to Finishing School?</h4>
        
            <p class="casamiento">There's nothing more upsetting than attractive stationery spoiled by poor finishing: edges that aren't cut straight or one side that you're sure looks slightly longer than the other...</p>
            
            <p class="casamiento">it'll eat away at you until you get that ruler out and check for yourself!</p>
            
            <p class="casamiento">Unfortunately smaller suppliers often use manual guillotines to cut and score your stationery which make accurate cutting difficult.</p>
            
            <p class="casamiento">Because, like you, I am a perfectionist, I use an industrial guillotine with laser-guided cutting and mechanical scoring for razor-sharp edges and clean folds.</p>
            
            <h4 class="casamiento">Typesetting to rival professional bookmakers...</h4>
            
            <p class="casamiento">Most invitations come with plain, boring, throwaway envelopes&hellip; but our envelopes will be something you'll want to keep! Highly co-ordinated with the same design as your invitations, as well as being personalised with your monogram, they will wow your guests.</p>
            
            <h4 class="casamiento">Guest name printing</h4>
       
            <p class="casamiento">We will individually print each item of stationery with the names of your guests: this includes reply cards, place cards and invitations. Just send us a list of names!</p>
    
            <img src="https://project-livec9030d54fb72.rhcloud.com/products/<%= _id %>/attachments/medium-<%= attachments_order[1] %>.jpg" style="width:100%;"/>
            
            <h4 class="casamiento">Envelope addressing</h4>
            
            <p class="casamiento">We can print your guests' names and addresses individually on each envelope so your invitations are ready to post.</p>
        
            <h4 class="casamiento">Customised wording.</h4>
            
            <p class="casamiento">Choose whatever wording you like!</p>
        
            <h4 class="casamiento">Monogram</h4>
        
            <p class="casamiento">A monogram is a motif combining you and your partner's names, the perfect symbol of your marriage together: it makes an impact&mdash;much better than your names in boring plain text and  provides the ultimate touch of understated sophistication. We have many styles of monogram available, the only problem you'll have is deciding which one is for you!</p>
            
            <p class="casamiento_center"><img src="https://project-livec9030d54fb72.rhcloud.com/images/page_seperators/three_across.png" /></p>
        
        </div>
        
    <!-- quotes --> 
    
        <div id="section3_casamiento">
            <h5 class="casamiento"><img src="https://project-livec9030d54fb72.rhcloud.com/images/bullets/small_dot_square.png" /> 
            Don't take my word for it&hellip;</h5>
            
            <div class="quote">
                <h6 class="casamiento" style="margin:auto;font:italic 22px 'Open Sans';font-weight:300;text-align:center;letter-spacing:0;padding:0;"><img src="https://project-livec9030d54fb72.rhcloud.com/images/QUOTE.png" /> David was so helpful everyone at wedding was talking about matching stationery&rdquo;</h6>
                <h6 class="casamiento" style="font:16px GaraItalic;text-align:right;margin-right:20%">&mdash;<a class="casamiento" href="">dellajones65</a></h6>
                
            </div>
        
            <div class="quote">
                <h6 class="casamiento" style="margin:auto;font: italic 22px 'Open Sans';font-weight:300;text-align:center;letter-spacing:0;padding:0;"><img src="https://project-livec9030d54fb72.rhcloud.com/images/QUOTE.png" /> Absolutely amazing and beautiful, AAA+</h6>
                <h6 class="casamiento" style="font:16px GaraItalic;text-align:right;margin-right:20%" href="">&mdash;<a class="casamiento" href="">normalbaby</a></h6>
            </div>
        
            <div class="quote">
                <h6 class="casamiento" style="margin:auto;font:italic 22px 'Open Sans';font-weight:300;text-align:center;letter-spacing:0;padding:0;"><img src="https://project-livec9030d54fb72.rhcloud.com/images/QUOTE.png" /> Co-ordinated stationery was amazing, I was so impressed&rdquo;</h6>
                <h6 class="casamiento" style="font:16px GaraItalic;text-align:right;margin-right:20%">&mdash;<a class="casamiento" href="">melanieblue</a></h6>
            </div>
        
        </div>
                   
        <p class="casamiento_center"><img src="/images/shell.png" /></p>
            <div style="clear:both"></div>
        </div>


<script>
$('.show').click(function() {
    $('#colllors').fadeIn();
})
</script>