<html>
<body>
<style type="text/css">
/* Main elements
==================================== */
#page_container_casamiento { font-family: "Arial",sans-serif; color: #636667; background-color: #fff; font-size: 10px; width:974px; }
#top_container_casamiento { width:100%; height:80px; background-image:url("http://www.casamiento.co.uk/images/backgrounds/grey_header.png");  }
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-top:15px; padding-left:20px; }
#main_slogan_casamiento { width:168px; float:right; padding-top:15px; }
#genesis { text-align:center; width:450px;margin-top:20px;float:right; }
#genesis_logo_top { padding:0; margin-top:10px; }
#genesis_container { border-top:1px dotted grey; border-bottom:1px solid grey; height:60px;}

/* Main Typography
==================================== */
h5.casamiento { font: bold 11px "Arial"; color: #636667;margin:0; text-align:left; border-bottom: 1px solid #636667; padding:0; padding-top:12px; padding-bottom:12px; margin-bottom:10px; padding-left:10px;}
h2.casamiento { font: bold 14px "Arial"; color:#636667; }
h1.casamiento { color:#636667; font: italic 24px Georgia; text-align:left; padding-top:10px; padding-bottom:5px; margin:0; }
ul.casamiento, p.casamiento { font-size: 12px; line-height: 1.6em;  }
.decimal { font-size:18px; position:relative;top:-8px;  };

/* Classes
==================================== */
.casamiento_clearfix { clear:both; }

/* How it works 
==================================== */
#how_it_works { margin-left:120px; padding:0;}
#how_it_works h2.casamiento_how_it_works { color:#636667; font:normal 22px Georgia; line-height:1.6em;text-align:left;}
p.casamiento_how_it_works { color:#636667; font-size: 12px; text-align justify; }

#me_photo {float:left; width:115px; }

/* Tables 
==================================== */
table.casamiento, table.casamiento_related { width:100%; text-align:center; border-collapse:collapse; }
table.casamiento_related td { text-align:center; }
    table.casamiento th { font: bold 11px "Arial"; color: #636667; text-align:center; }
table.casamiento td { font: bold 11px "Arial"; color: #636667; text-align:center; }
table.casamiento td.casamiento_price, table.casamiento td.casamiento_quantity { font: normal 24px "Arial"; color: #636667; text-align:center; }
table.casamiento td, table.casamiento th { border:1px dotted grey; padding:10px; } 
table.casamiento_related td { border:0; }

.prevent_table_stretching { width:100%;}

/* Columns
==================================== */ 
#section0_casamiento {  padding:0; margin:0; float:left; width:320px;  }
#section1_casamiento { padding:0; margin:0;margin-left:323px;  }

#section2_casamiento { clear:both; text-align:left; float:left; width:467px; }
#section3_casamiento { margin-left:487px; }

/* Monograms
==================================== */
#monograms_casamiento { width:100%; text-align:center; border-collapse: separate;}
#monograms_casamiento td { background-repeat: no-repeat; width:25%; background-position:10px 10px;border-spacing:5px;border-top: 1px dotted grey; padding-top:20px;padding-bottom:10px;}
#monogram_A { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/A.png'); }
#monogram_B { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/B.png'); }
#monogram_C { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/C.png'); }
#monogram_D { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/D.png'); }
#monogram_E { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/E.png'); }
#monogram_F { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/F.png'); }
#monogram_G { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/G.png'); }
#monogram_H { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/H.png'); }
#monogram_I { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/I.png'); }
#monogram_J { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/J.png'); }
#monogram_K { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/K.png'); }
#monogram_L { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/L.png'); }
#monogram_M { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/M.png'); }
#monogram_N { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/N.png'); }

#colour_table_casamiento { width:90px;text-align:left; font:normal 11px Arial; color:#636667; border:0; padding:2px; }
    #colour_table_casamiento td {  border:0; padding:0px; text-align:left; }
    #colour_table_casamiento th { border:0; text-align:center; font:bold 12px Arial; padding-top:20px;}

.casamiento_colour { width:40px;height:40px;margin:auto;border:0; }

/* Links
==================================== */
a.casamiento:link, a.casamiento:active, a.casamiento:visited { color: #636667; font-style:underline;  font-weight:bold;}
a.casamiento:hover { color:black;}
table.casamiento_related img { padding:2px; } 
a.casamiento_related { font: normal 14px Georgia; font-style:italic; display:block; padding-bottom:10px;}
table.casamiento_related td img { padding:5px; }
/* Classes
==================================== */
.casamiento_center { text-align:center; }
</style>

<div id="page_container_casamiento"> 
<!-- HEADER -->
    <div id="top_container_casamiento">
        <div id="main_logo_casamiento"><img src="http://www.casamiento.co.uk/images/logo_branding/casamiento.png"></div>
        <div id="main_slogan_casamiento"><img src="http://www.casamiento.co.uk/images/logo_branding/big_dreamsonpaper.png" />
        </div>
    </div>
    
    <!-- BAR -->
    <div id="genesis_container" style="width:100%; margin:auto; text-align:center;">
    <div id="genesis">
            <h5 class="casamiento" style="text-align:center;border-bottom:0;padding:0;float:right;">
            <img src="http://www.casamiento.co.uk/images/bullets/line_diamond.png" /> 
            <a class="casamiento" href="">Can't wait? Click here for a buy-it-now listing for this item</a></h5>
        </div>  
            <img id="genesis_logo_top" alt="Genesis_footer2" src="http://www.casamiento.co.uk/images/logo_branding/genesis_footer.png" />         
    </div>

    <div style="clear:both;float:left;width:200px;">
        <h1 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/bullet_square_dots.png" /> Simplicity</h1>
    </div>

    <div style="float:right;margin-top:5px;width:200px;">
        <img src="/images/product_types/small/<%= product_type %>_small.png" /> 
    </div>

<!-- #######################################################################################
I M A G E S 
####################################################################################### -->
 
    <div id="maincontainer" style="clear:both;">
        <div id="section0_casamiento">
            <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/display-9" style="padding-bottom:5px;"/>
            <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/display-11" />  
        </div>
        <div id="section1_casamiento">
            <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/large-2"  />
        </div>

<!-- #######################################################################################
C O L U M N 
####################################################################################### -->

        <div id="section2_casamiento">
        
         <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> How it works&hellip;</h5>

  <div id="me_photo"><img src="/images/me.jpg" /><p class="casamiento">
<img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> <b>David Pettifer,<br/> Founder</b></p></div>
<div id="how_it_works">
<h2 class="casamiento_how_it_works">
     Hi there, 
I'm David, and I'd love to create your stationery for you&hellip;</h2>
<p class="casamiento">I want 
you to be excited when the parcel with our logo arrives through your letterbox and I want to see 
the "wow" factor in your friends' eyes as you show them how beautiful your matching co-ordinated
stationery is, uniquely crafted with your names and details on them, just how you wanted.</p>

<h2 class="casamiento_how_it_works">Okay, so I get easily carried away, but I'm passionate about paper.</h2>
<p class="casamiento">And that's why, before you get 
distracted, you should at the very least order a sample pack to see what I can do for you. </p>
<h5 class="casamiento" style="text-align:center;">Order a sample pack</h5>
<p class="casamiento">All our designs can be customised as follows.
<ul class="casamiento">
<li class="casamiento"><b>Individual guest names & addresses.</b> Provide us with a list of your guests' names and addresses
and we will individually print their details on each invitation and envelope. </li>
<li class="casamiento"><b>Add a unique monogram.</b> We can create a beautiful monogram featuring the names of the bride and groom, 
and we'll also give you a PDF file so you can use it on anything else you want. </li>
<li class="casamiento"><b>Colours.</b> You can choose the colour scheme on some of our stationery to co-ordinate with your day. </li>
</ul>

<p class="casamiento">If you have any questions, please don't hesitate to get in touch with me&hellip;</p>
<p class="casamiento">Have a wonderful day!</p>
 
        </div>

</div>
<!-- #######################################################################################
S P E C S
####################################################################################### -->
        <div id="section3_casamiento">
        
            <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Colours shown:</h5>
            <% colours.forEach(function(colour) { %>
    
                <div style="background-color:<%= colour %>;width:20px;border-radius:5px;height:10px;border:1px solid grey;float:left;margin:10px;margin-left:75px;padding:0;"></div><p class="casamiento" style="padding:0; margin-top:15px;"><%= colour %></p>
            
            <% }) %>
            
            
            <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> This auction is for:</h5>
                    
           <div class="prevent_table_stretching">
                    <table class="casamiento">
                        
                        <tr>
                            <td><img src="/images/product_types/<%= product_type %>.png" /></td>
                            <td class="casamiento">1 x sample package containing RSVP, name place, invitation, wrapper and envelope.<br/> Please note that samples are not personalised.</td>
                        </tr>
                    </table>
                    </div>
<h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> 
Also in this design:</h5>
                    
           <div class="prevent_table_stretching">
                    <table class="casamiento">
<% related.forEach(function(r) { %>
                          <tr>
                            <td><img src="/images/product_types/small/<%= r.product_type %>_small.png" /</td>
                            <td><img src="http://www.casamiento.co.uk/products/simplicity-<%= r.product_type %>/attachments/thumb-1" /></td>

<td class="casamiento">20 x <%= r.product_type %></td>
                            <td class="casamiento_price">&pound;5<span class="decimal">.99</span></td>
                        </tr>
                       <% }) %>
                      
                    </table>
                    </div>
                </div>
            </div>
    
<!-- #######################################################################################
R E L A T E D
####################################################################################### -->

    <div style="clear:both">
        <p class="casamiento_center"><img src="http://www.casamiento.co.uk/images/armament.png" /></p></div>
        
<!-- #######################################################################################
M O N O G R A M S 
####################################################################################### -->

    <div id="section5" style="width:600px;float:left">
    <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Monogram styles&hellip;</h5>
    

    <table id="monograms_casamiento">
        <tr>
            <td id="monogram_A"><img alt="A" src="http://s3.amazonaws.com/casamiento/monogram_2.png" /></td>
            <td id="monogram_B"><img alt="B" src="http://s3.amazonaws.com/casamiento/monogram_3.png" /></td> 
            <td id="monogram_C"><img alt="C" src="http://s3.amazonaws.com/casamiento/monogram_4.png" /></td>
        </tr> 
        <tr>        
            <td id="monogram_D"><img alt="D" src="http://s3.amazonaws.com/casamiento/monogram_5.png" /></td>
            <td id="monogram_E"><img alt="E" src="http://s3.amazonaws.com/casamiento/monogram_6.png" /></td>
            <td id="monogram_F"><img alt="F" src="http://s3.amazonaws.com/casamiento/monogram_7.png" /></td>
        </tr>
        <tr>        
            <td id="monogram_G"><img alt="G" src="http://s3.amazonaws.com/casamiento/monograms_big/1.png" /></td>
            <td id="monogram_H"><img alt="H" src="http://s3.amazonaws.com/casamiento/monograms_big/2.png" /></td>
            <td id="monogram_I"><img alt="I" src="http://s3.amazonaws.com/casamiento/monograms_big/3.png" /></td>
        </tr> 
        <tr>        
            <td id="monogram_J"><img alt="J" src="http://s3.amazonaws.com/casamiento/monograms_big/4.png" /></td> 
            <td id="monogram_K"><img alt="K" src="http://s3.amazonaws.com/casamiento/monograms_big/5.png" /></td>
            <td id="monogram_L"><img alt="L" src="http://s3.amazonaws.com/casamiento/monograms_big/6.png" /></td>
            </tr>
        <tr>
            <td id="monogram_M"><img alt="M" src="http://s3.amazonaws.com/casamiento/monograms_big/7.png" /></td>
            <td id="monogram_N"><img alt="N" src="http://s3.amazonaws.com/casamiento/monograms_big/8.png" /></td>
        </tr> 
    </table>  
    </div>
    
<!-- #######################################################################################
C O L O U R S 
####################################################################################### -->

    <div id="section6" style="margin-left:620px;"><h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Colours available for this design&hellip;</h5>
        <% if (colours.length == 1 && colours[0] == "Black") { %> 
        <table class="casamiento" id="colour_table_casamiento"> 
                
                <tr>
                <td><div class="casamiento_colour" style="background-color:Black"></td> <td>Black</td>
                </tr>
                </table>
        <% } else { %>
        <table class="casamiento" id="colour_table_casamiento"> 
               
                <tr>
                 
                </tr>
              
            <tr>
            	<td><div class="casamiento_colour" style="background-color:Red"></div></td>
                
                <td><div class="casamiento_colour" style="background-color:MediumVioletRed"></div></td>
                 <td><div class="casamiento_colour" style="background-color:Firebrick"></div></td>
  <td><div class="casamiento_colour" style="background-color:HotPink"></div></td>
                 <td><div class="casamiento_colour" style="background-color:DeepPink"></div></td> 
               
                </tr>
<tr>
 <td><div class="casamiento_colour" style="background-color:LightSalmon"></td> 
                <td><div class="casamiento_colour" style="background-color:OrangeRed"></td>   
                 <td><div class="casamiento_colour" style="background-color:Orange"></td>  
<td><div class="casamiento_colour" style="background-color:Yellow"></td> 
                </tr>
        </table>
        
        <% } %>
        </div>
    </div>
</div>
</body>
</html>