<!DOCTYPE html>
<html>
    <head>
        <!-- MAIN image: 648 px wide, middle: 482px, smaller images 320px wide, thumb: 120px, margin middle 6px wide-->

        <title>Casamiento</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
  
<style type="text/css">
#genesis { margin:auto; display:block; padding:10px;}

#nav { padding:0; }
.navbar {
    height:35px;
    float:left;   
    text-align:center;
    width:242px;
    background-color:light-grey;
    border-right:1px dotted grey;
    border-bottom: 1px dotted grey; 
}

.colour_shown { margin-left:20px; padding-top:10px; text-align:left; }

#section0 img { padding:5px; border: 1px solid white; } 

#section0 img:hover { border:1px solid grey; }

#section0 { text-align:center; width:200px;  margin-right:648px;}

#section1 { text-align:left; padding-left:6px; width:648px; float:right;  margin-right:150px; }

.a_slide { height:400px }

.ui-effects-transfer { border:1px dashed black; }

</style>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/javascripts/slides.min.jquery.js"></script>
        <script src="/javascripts/jquery.nouislider.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <script>
        $(function() {
            
    		$('#maincontainer').slides({
				effect: 'slide, fade',
				crossfade: true,
				slideSpeed: 350,
				fadeSpeed: 500,
				generateNextPrev: true,
				generatePagination: false
			});
		
            
        $('#cart').click(function(){
            
            $(this).effect("transfer", { to: $("#maincontainer")}, 500, function() {
            $("#maincontainer").fadeOut();
            })
        })
        })
        </script>

    </head>

    <body>

<!-- HEADER -->

<div id="top_container">
  <div id="logo"><img src="/images/logo_branding/casamiento.png" /></div>
  <div id="cart"><a class="trolley" href="">0 items in your trolley</a><img src="/images/trolley.png" /></div>
</div>

<div id="page_container">   

    <div id="nav">
        <div class="navbar"><img src="/images/logo_branding/dreamsonpaper.png" /></div>
        <div class="navbar">ABOUT</div>
        <div class="navbar">CONTACT</div>
         <div class="navbar">LOGIN</div>
    </div>

<img src="/images/logo_branding/genesis_footer.png" id="genesis"/>

<div id="maincontainer">



    <div id="section1">
    <div>
            <h1 class="product_name" style="float:left";>Simplicity</h1>
        
        <img src="/images/product_types/small/name_place.png" style="float:right;" />
        <div class="slides_container" style="clear:both">
        <div class="a_slide">
        <img src="/products/<%= _id %>/attachments/large-1" />
        </div>
        <div class="a_slide">
        <img src="/products/<%= _id %>/attachments/large-2" />
        </div>
        <div class="a_slide">
        
        <img src="/products/<%= _id %>/attachments/large-3" />
        </div>
        <div class="a_slide">
        <img src="/products/<%= _id %>/attachments/large-4" />
        </div>
        </div>
        <div class="colour_shown" style="clear:both">
        
            <h5>Colours shown:</h5>
        
            <div style="background-color:darkblue;width:20px;height:10px;border:1px solid grey;float:left;margin:20px;"></div>
        
            <span class="small">Midnight blue</span>
        
            <p class="small bold">Price per 16:</p>
        
            <span class="number">£1</span><span class="decimal">.95</span>
        </div>
        ...
        </div>
  ...
  </div>
...
</div>

    <div id="section0">
        <ul class="pagination section0">
            <li><a href="#"><img src="/products/<%= _id %>/attachments/thumb-1" /></a></li>
            <li><a href="#"><img src="/products/<%= _id %>/attachments/thumb-2" /></a></li>
            <li><a href="#"><img src="/products/<%= _id %>/attachments/thumb-3" /></a></li>
           <li><a href="#"> <img src="/products/<%= _id %>/attachments/thumb-4" /></a></li>
       </ul>
    </div>
    
</div>
</div>
    <!-- FOOTER -->
    
    <div id="footer">
      <div class="collection"><img src="/images/logo_branding/genesis_footer.png" /></div>
      <div class="footer_seperator"><img src="/images/page_seperators/three_across.png" /></div>
      <div class="collection"><img src="/images/logo_branding/castello.png" /></div>
    </div>

</body>
</html>