<style type="text/css">
ul { text-align:center }
ul li { padding:0.25em; }
ul li {display:inline-block; border: 1px solid transparent; padding:0.25em; margin:0.25em;}
ul li:hover { border: 1px solid black; }
ul li a[data-slidesjs-item="0"] { background-image:url('/products/<%= id %>/attachments/thumb-1'); width:190px; height:0; padding-top:122px; display:inline-block; overflow:hidden; }
ul li a[data-slidesjs-item="1"] { background-image:url('/products/<%= id %>/attachments/thumb-2'); width:190px; height:0; padding-top:122px; display:inline-block; overflow:hidden;}
ul li a[data-slidesjs-item="2"] { background-image:url('/products/<%= id %>/attachments/thumb-3'); width:190px; height:0; padding-top:122px; display:inline-block; overflow:hidden;}
ul li a[data-slidesjs-item="3"] { background-image:url('/products/<%= id %>/attachments/thumb-4'); width:190px; height:0; padding-top:122px; display:inline-block; overflow:hidden;}
</style>
<div id="product_page_genesis"><img src="/gfx/logo/genesis_footer.png" /></div>
     
<!-- T H U M B N A I L S -->
<div id="product_section0">
<div class="product_type spc">
        <div class="name_place_icon"><img src="http://www.casamiento.co.uk/gfx/product_types/small/name_place_small.png" style="width:100%;"></div>
    </div>

    <div class="spc">
        <h1>Card Texture</h1>

        <div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/hammer.png" style="width:2.5em"><br> Hammered</p></div>
        <div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/plaine.png" style="width:2.5em"><br> Plain</p></div>
        <div class="b1"></div>
    </div>

    <div class="spc">
        <h1>Thickness</h1>
        
        <div style="width:60%;margin:auto">
            <div class="weight" style="border-top:2px solid #666;"></div>
            <p>300gsm</p>
            <div class="weight" style="border-top:4px solid #666;"></div>
            <p>250gsm</p>
        </div>
    </div>

    <div class="spc">
        <h1>Product format</h1>
        <div style="margin:auto;text-align:center;">
        <div class="spec" style="width:90px"><img src="http://www.casamiento.co.uk/gfx/specs/tent.png"></div></div>
    </div>
    
    <div class="spc">
        <h1>Monogram shown</h1>
        <img id="mono_2" style="width:100%" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
    </div>
    <div class="spc"><h1>Colours shown</h1>
        <div id="colours-shown" style="margin-top:1em;float:left;">
        
        <% colours.forEach(function(colour) { %>
            <div style="float:left">
                <div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
                <p class="casamiento" style="margin-left:1em;text-indent:0;font:normal 1em GaraI;padding:0; margin-top:5px;"><%= colour %></p>
            </div>
        <% }) %>  
        
        </div>
        <div class="b1"></div>
    </div>
    <img src="/gfx/shell.png" />
</div>

<div id="product_section1">

    <h1 class="product_name" style="float:left"> <img src="/gfx/bullets/bullet_square_dots.png" /> <%= name %></h1>

    <div id="slides" style="clear:both">            
       <img src="/products/<%= _id %>/attachments/medium-1" />
       <img src="/products/<%= _id %>/attachments/medium-2" />
       <img src="/products/<%= _id %>/attachments/medium-3" />
       <img src="/products/<%= _id %>/attachments/medium-4" />
    </div>
  
</div>      
<script>
    $(function(){
    
      $("#slides").slidesjs({
      pagination: { active: true },
      navigation: { active: false },
      play: { auto: true,
      interval: 3500,
      effect: "fade" },
      effect: {
      fade: {speed: 2000,
      crossfade: true
      }},
        width: 750,
        height: 479
      });
    });
  </script>
    
    
<div id="buy" style="float:right"></div>