<html>
<body>
<style type="text/css">
/* Main elements
==================================== */
#page_container_casamiento { font-family: "Arial",sans-serif; color: #636667; background-color: #fff; font-size: 10px; width:974px; }
#top_container_casamiento { width:100%; height:70px; background-image:url("http://www.casamiento.co.uk/images/backgrounds/grey_header.png");  }
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-top:15px; }
#main_slogan_casamiento { width:168px; float:right; padding-top:15px; }
#slogan_text_casamiento { width:132px; height:34px; padding-left:4px; float:right; }
#slogan_picture_casamiento { width:32px; height:32px; float:left; }
#genesis { text-align:center; padding:5px 0 5px 0; border-top: 1px dotted #808284; border-bottom: 1px dotted #808284;}

/* Main Typography
==================================== */
h2.casamiento { font: bold 14px "Arial"; color:#690172; }
p.casamiento { font-size: 12px; line-height: 1.8em;  }

/* Classes
==================================== */
.casamiento_clearfix { clear:both; }

/* Feedback
==================================== */
.casamiento_feedback { vertical-align:middle; padding:3px 0 3px 0; text-align:center; }

/* How it works 
==================================== */
#how_it_works { width:100%; border-collapse:collapse; }
#how_it_works td {width:50%; padding:10px;}
#how_it_works h2.casamiento_how_it_works { color:#636667; font: bold italic 16px Georgia; text-align:left;}
p.casamiento_how_it_works { color:#636667; font-size: 12px; text-align:justify; }

/* Tables 
==================================== */
table.casamiento { width:100%; text-align:center; border-collapse:collapse;}
#casamiento_this_auction { border-bottom: 1px dotted #939598;  margin-bottom:10px;}
#casamiento_this_auction td { padding:2px; border: 1px dotted #939598; font-size:11px;font-weight:bold; color:#636667; text-align:center;}

#casamiento_this_auction .casamiento_price { font-size:14px; color:#690172; }
.casamiento_thumb { width:120px; }
.prevent_table_stretching { width:100%;}

/* Columns
==================================== */ 
#section0_casamiento { text-align:center; float:left; width:470px; padding:0; margin:0;}
#section1_casamiento {text-align:center; margin-left:470px;padding-left:5px; }

/* Monograms
==================================== */
#monograms_casamiento { width:100%; text-align:center; border-collapse: collapse;}
#monograms_casamiento td { background-repeat: no-repeat; background-position:10px 10px; width:25%;border: 1px dotted #939598;  padding-top:15px; padding-bottom:15px; }
#monogram_A { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/A.png'); }
#monogram_B { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/B.png'); }
#monogram_C { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/C.png'); }
#monogram_D { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/D.png'); }
#monogram_E { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/E.png'); }
#monogram_F { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/F.png'); }
#monogram_G { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/G.png'); }
#monogram_H { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/H.png'); }
#monogram_I { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/I.png'); }
#monogram_J { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/J.png'); }
#monogram_K { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/K.png'); }
#monogram_L { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/L.png'); }
#monogram_M { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/M.png'); }
#monogram_N { background-image:url('http://www.casamiento.co.uk/images/bullets/letters/N.png'); }

#colour_table_casamiento { text-align:left; font:normal 12px Arial; color:#636667; }
#colour_table_casamiento td { width:10%; }

/* Links
==================================== */
a.casamiento:link, a.casamiento:active, a.casamiento:visited { color: #690172; font-style:underline; }
a.casamiento:hover { background-color: #690172; color:white;}
a.casamiento img { border:0; } 

/* Classes
==================================== */
.casamiento_center { text-align:center; }
</style>

<div id="page_container_casamiento"> 
<!-- HEADER -->
    <div id="top_container_casamiento">
        <div id="main_logo_casamiento"><img src="http://www.casamiento.co.uk/images/logo_branding/mainlogo.png" height="41" width="140"></div>
        <div id="main_slogan_casamiento">
            <div id="slogan_picture_casamiento"><img src="http://www.casamiento.co.uk/images/logo_branding/slogan_pictures/1.png"></div>
            <div id="slogan_text_casamiento"><img src="http://www.casamiento.co.uk/images/logo_branding/slogan.png" height="34" width="132"></div>
        </div>
    </div>
    <!-- BAR -->
    <div id="genesis">
   <img alt="Genesis_footer2" src="http://www.casamiento.co.uk/images/logo_branding/genesis_footer2.png" />
         </div>   

<!-- #######################################################################################
FIRST COLUMN #######################################################################################
####################################################################################### -->

    <div id="section0_casamiento">
    
    <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/medium-2" /> <br/><br/>
    <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/medium-3" />  
      
     <h2 class="casamiento"><img alt="Serif_flower" height="17" src="http://www.casamiento.co.uk/images/bullets/serif_flower.png" width="16" /> How it works&hellip;</h2>
    
    <table class="casamiento" id="how_it_works">
        <tbody>
            <tr>
            <td>    
                <h2 class="casamiento_how_it_works">&mdash; Send us a list of names</h2>
                <p class="casamiento_how_it_works">Provide us with a list of your guests' names and we will individually print their details on each card. Just send us an email or an eBay message with one name on each line!</p>
                <p class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/chequer.png"></p> 
                 <h2 class="casamiento_how_it_works">&mdash; Wait for delivery</h2>
                <p class="casamiento_how_it_works">After you have given us all the information you need, your cards will be with you in 5 working days.</p>
           
            </td>
            <td>
                <h2 class="casamiento_how_it_works">&mdash; Choose a monogram</h2>
                <p class="casamiento_how_it_works">If you'd like a custom-made monogram, just choose a template from our available styles shown 
                below</p>
                <p class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/chequer.png"></p> 
                <h2 class="casamiento_how_it_works">&mdash; Choose a colour scheme</h2>
                <p class="casamiento_how_it_works">Many of our cards have a variety of different colour schemes, choose one to suit your tastes!</p>
            </td>
            </tr>
           
        </tbody>
    </table>
    </div>
    
<!-- #######################################################################################
SECOND COLUMN #######################################################################################
####################################################################################### -->

    <div id="section1_casamiento">
      <h2 class="casamiento">
        <img alt="Serif_flower" height="17" src="http://s3.amazonaws.com/casamiento/furniture/bullets/serif_flower.png" width="16" /> 
        This listing is for&hellip;
      </h2>
    
    <!-- THIS AUCTION IS FOR ################# -->
    <div class="prevent_table_stretching">
    <table class="casamiento prevent_table_stretching" id="casamiento_this_auction">
    <tbody>
        <tr>
            <td><img alt="Sample" src="http://www.casamiento.co.uk/images/product_types/small/name_place.png" /></td>
            <td class="casamiento_thumb"><img src="http://www.casamiento.co.uk/products/<%=_id %>/attachments/thumb-2" /></td>
            <td><img alt="Quantity" src="http://www.casamiento.co.uk/images/specs/quantity_24.png" /></td><td class="casamiento_price">&pound;2.99</td>
            <td><img alt="A7 Tent" src="http://www.casamiento.co.uk/images/specs/tent.png" /></td>
        </tr>
        <tr>
            <td colspan="5">
                <a class="casamiento" href="">Click here for a buy-it-now listing of this product with FREE postage&hellip;
            </td>
        </tr>
    </tbody>
    </table>  
    </div>
    
    <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/medium-4" width="482" /><br/><br/>
    <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/medium-1" />  
  
    <br/>
      <p class="casamiento_center"><img alt="Curl" height="12" src="http://www.casamiento.co.uk/images/page_seperators/curl.png" width="24" /></p>
  
    <!-- FEEDBACK --> 
        <div class="casamiento_feedback"> 
        <p class="casamiento"><img src="http://s3.amazonaws.com/casamiento/furniture/ebay/3.png" height="52" width="273"></p> 
            <div id="casamiento_ebay_user_id">
                <img alt="Black_medieval_2" height="19" src="http://s3.amazonaws.com/casamiento/furniture/page_seperators/black_medieval_2.png" width="18" />
                <p class="casamiento">&mdash;
                    <a class="casamiento" href="http://myworld.ebay.co.uk/reggit40">reggit40</a> 
                    ( <a class="casamiento" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback&userid=reggit40">125</a> )
                </p>
            </div> 
        </div>
    
    <!-- MONOGRAMS -->
        <div id="box" class="prevent_table_stretching"></div>

    </div>
    
    <div class="casamiento_clearfix"></div>
    <p class="casamiento_center"><img alt="Curl" height="12" src="http://www.casamiento.co.uk/images/page_seperators/curl.png" width="24" /></p>
  
     <h2 class="casamiento">
        <img alt="Serif_flower" height="17" src="http://www.casamiento.co.uk/images/bullets/serif_flower.png" width="16" /> 
        Monogram styles&hellip;
    </h2>
    
    <table id="monograms_casamiento">
    <tbody>
        <tr>
            <td id="monogram_A"><img alt="A" src="http://s3.amazonaws.com/casamiento/monogram_2.png" /></td>
            <td id="monogram_B"><img alt="B" src="http://s3.amazonaws.com/casamiento/monogram_3.png" /></td> 
            <td id="monogram_C"><img alt="C" src="http://s3.amazonaws.com/casamiento/monogram_4.png" /></td>
            <td id="monogram_D"><img alt="D" src="http://s3.amazonaws.com/casamiento/monogram_5.png" /></td>
        </tr> 
        <tr>
            <td id="monogram_E"><img alt="E" src="http://s3.amazonaws.com/casamiento/monogram_6.png" /></td>
            <td id="monogram_F"><img alt="F" src="http://s3.amazonaws.com/casamiento/monogram_7.png" /></td>
            <td id="monogram_G"><img alt="G" src="http://s3.amazonaws.com/casamiento/monograms_big/1.png" /></td>
            <td id="monogram_H"><img alt="H" src="http://s3.amazonaws.com/casamiento/monograms_big/2.png" /></td>
        </tr>
        <tr>
            <td id="monogram_I"><img alt="I" src="http://s3.amazonaws.com/casamiento/monograms_big/3.png" /></td>
            <td id="monogram_J"><img alt="J" src="http://s3.amazonaws.com/casamiento/monograms_big/4.png" /></td> 
            <td id="monogram_K"><img alt="K" src="http://s3.amazonaws.com/casamiento/monograms_big/5.png" /></td>
            <td id="monogram_L"><img alt="L" src="http://s3.amazonaws.com/casamiento/monograms_big/6.png" /></td>
        </tr> 
        <tr>
            <td id="monogram_M"><img alt="M" src="http://s3.amazonaws.com/casamiento/monograms_big/7.png" /></td>
            <td id="monogram_N"><img alt="N" src="http://s3.amazonaws.com/casamiento/monograms_big/8.png" /></td>
        </tr> 
    </tbody>
    </table>  
    
    <h2 class="casamiento">
        <img alt="Serif_flower" height="17" src="http://www.casamiento.co.uk/images/bullets/serif_flower.png" width="16" /> 
        Colours&hellip;
    </h2>
   
    <table class="casamiento" id="colour_table_casamiento"> 
    	<tr>
        	<td><div style="width:20px;height:10px;border:1px solid grey;background-color:#000000"></td><td>Black &amp; white</td>	
    		<td></td><td></td>
    		<td></td><td></td>	
    		<td></td><td></td>	
    		<td></td><td></td>			
		</tr>
	</table>
    <p class="casamiento_center">
        <img alt="Curl" height="12" src="http://www.casamiento.co.uk/images/page_seperators/curl.png" width="24" />
    </p>
</div>
</body>
</html>