<html>
<body>
<style type="text/css">
/* Main elements
==================================== */
#page_container_casamiento { font-family: "Arial",sans-serif; color: #444444; background-color: #fff; font-size: 10px; width:974px; }
#top_container_casamiento { width:100%; height:80px; background-image:url("http://www.casamiento.co.uk/images/backgrounds/grey_header.png");  }
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-top:15px; padding-left:20px; }
#main_slogan_casamiento { width:168px; float:right; padding-top:15px; }
#genesis { text-align:center; width:450px;margin-top:20px;float:right; }
#genesis_logo_top { padding:0; margin-top:10px; }
#genesis_container { border-top:1px dotted grey; border-bottom:1px solid grey; height:60px;}

/* Main Typography
==================================== */
h5.casamiento { font: bold 11px "Arial"; color: #444444;margin:0; text-align:left; border-bottom: 1px solid #636667; padding:0; padding-top:12px; padding-bottom:12px; margin-bottom:10px; }
h3.casamiento  { color:#444444; font:normal 40px Georgia; text-align:left; padding-top:10px; padding-bottom:5px; margin:0; letter-spacing:-0.05em; line-height:1.4em;}
h4.casamiento { font: bold italic 14px Georgia; text-align:left; text-indent:1em; margin:0; padding-top:0.5em; color: black; letter-spacing:-0.07em;}
h6.casamiento { font: normal 20px Georgia; text-align:left;margin:0; line-height:1.6em;}
h2.casamiento { font: bold 14px "Arial"; color:#444444; }
h1.casamiento { font-style:italic; }
.casamiento_description { font: 17px Georgia italic;  padding-right:2em; line-height:1.5em; }
h1.casamiento { color:#444444; font:italic 24px Georgia; text-align:justify; padding-top:10px; padding-bottom:5px; margin:0; }
ul.casamiento, p.casamiento { font-size: 12px; line-height: 1.6em; text-align:justify;}
ul.casamiento { text-indent:0;}
.decimal { font-size:18px; position:relative;top:-8px;  }
#peace_of_mind { text-align:center; border:1px solid grey; padding:10px; float:left; margin-bottom:1.6em; font-size:11px;}

.quote_container { position:relative;left:-75px; border-top: 1px dashed #444444; border-bottom:1px dashed #444444; padding-top:20px; padding-bottom:20px; height:50px;width:360px;}
.quote { float:left; }
.quote_text { float:right;  }
/* Classes
==================================== */
.casamiento_clearfix { clear:both; }

/* How it works 
==================================== */
#how_it_works { margin-left:120px; padding:0;}
p.casamiento_how_it_works { color:#444444; font-size: 12px; text-align justify; }

#me_photo {float:left; width:115px; }

/* Tables 
==================================== */
table.casamiento_description { border:0; border-collapse:collapse;}

table.casamiento, table.casamiento_related, table.casamiento_feedback { width:100%; text-align:center; border-collapse:collapse; }

.italic { font-style:italic; }

table.casamiento_feedback tr:nth-child(odd) { background-color: #F0F0F0 }
table.casamiento_related td { text-align:center; }
    table.casamiento th { font: bold 11px "Arial"; color: #444444; text-align:center; }
table.casamiento td { font: bold 11px "Arial"; color: #444444; text-align:center; line-height:150%;}
table.casamiento td.casamiento_price, table.casamiento td.casamiento_quantity { font: normal 24px "Georgia"; color: #444444; text-align:center; }
table.casamiento td.casamiento_sample { font-weight:normal; text-align:justify;}
table.casamiento td, table.casamiento th { border:1px dotted grey; padding:10px; } 
table.casamiento_related td { border:0; }

table.casamiento_feedback td { font: normal 11px "Arial"; color: #444444; padding:5px; border:1px dotted grey; text-align:center; }
-radius:8px;}
.prevent_table_stretching { width:100%;}

.grey { background-color:#F0F0F0;  border-radius:8px; padding-left:5px; padding-right:5px;}
.blank { border:10px transparent;padding-left:5px; padding-right:5px;}
/* Columns
==================================== */ 
#section0_casamiento {  padding:0; margin:0; float:left; width:320px;  }
#section1_casamiento { padding:0; margin:0;margin-left:323px;  }

#section2_casamiento { clear:both; text-align:left; float:left; width:387px; }
#section3_casamiento { margin-left:457px; }

/* Monograms
==================================== */
#monograms_casamiento { width:100%; text-align:center; border-collapse: separate;}
#monograms_casamiento td { background-repeat: no-repeat; width:25%; background-position:10px 10px;border-spacing:5px;border-top: 1px dotted grey; padding-top:20px;padding-bottom:10px;}


#colour_table_casamiento { text-align:left; font:normal 11px Arial; color:#636667; border:0; padding:2px; }
    #colour_table_casamiento td {  border:0; padding:0px; text-align:left; font-weight:normal;}
    #colour_table_casamiento th { border:0; text-align:center; font:bold 14px Arial; padding-top:20px; margin-bottom:10px;border-bottom:1px dotted grey;}

.casamiento_colour { width:20px;height:5px;margin:auto; border:1px solid grey; border-radius:7px; padding:5px; margin:5px; } 
/* Links
==================================== */
a.casamiento:link, a.casamiento:active, a.casamiento:visited { font: normal 14px Georgia;color: <%= colours[0] %>; font-style:underline; }
a.casamiento:hover { color:black;}
table.casamiento_related img { padding:2px; } 
a.casamiento_related { font: normal 14px Georgia; font-style:italic; display:block; padding-bottom:10px;}
table.casamiento_related td img { padding:5px; }
/* Classes
==================================== */
.casamiento_center { text-align:center; }
</style>

<div id="page_container_casamiento"> 
<!-- HEADER -->
    <div id="top_container_casamiento">
        <div id="main_logo_casamiento"><img src="http://www.casamiento.co.uk/images/logo_branding/casamiento.png"></div>
        <div id="main_slogan_casamiento"><img src="http://www.casamiento.co.uk/images/logo_branding/big_dreamsonpaper.png" />
        </div>
    </div>
    
    <!-- BAR -->
    <div id="genesis_container" style="width:100%; margin:auto; text-align:center;">
    <% if (auction) { %>
    <div id="genesis">
            <h5 class="casamiento" style="text-align:center;border-bottom:0;padding:0;float:right;">
            <img src="http://www.casamiento.co.uk/images/bullets/line_diamond.png" /> 
            
            <a class="casamiento" href="">Can't wait? Click here for a buy-it-now listing for this item</a></h5>
          
       </div>  
         <% } %>
            <img id="genesis_logo_top" alt="Genesis_footer2" src="http://www.casamiento.co.uk/images/logo_branding/genesis_footer.png" />         
    </div>

    <div style="clear:both;float:left;width:200px;">
        <h1 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/bullet_square_dots.png" /> Simplicity</h1>
    </div>

    <div style="float:right;margin-top:5px;width:200px;">
        <img src="/images/product_types/small/<%= product_type %>_small.png" /> 
    </div>

<!-- #######################################################################################
I M A G E S 
####################################################################################### -->
 
    <div id="maincontainer" style="clear:both;">
        <div id="section0_casamiento">
          <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/display-<%= attachments_order[1] %>" />  
        <br/>
            <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/display-<%= attachments_order[2] %>" />  
        </div>
        <div id="section1_casamiento">
            <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/large-<%= attachments_order[0] %>"  />
        </div>

<!-- #######################################################################################
C O L U M N 
####################################################################################### -->

        <div id="section2_casamiento">
        
         <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> How it works&hellip;</h5>

  <div id="me_photo"><img src="/images/me2.jpg" /><p class="casamiento"> <b>David Pettifer,<br/> Founder</b></p></div>
<div id="how_it_works"><h3 class="casamiento">What do you want from your wedding stationery?</h1>
<p class="casamiento_center"><img src="/images/page_seperators/three_across.png" style="padding:10px"/></p>
     <h6 class="casamiento">&hellip;you'll probably answer this question with something like &ldquo;I want colours that co-ordinate with my day&rdquo; or &hellip;</h6>
     <p class="casamiento">&hellip;<span class="italic">&ldquo;I want a design with hearts&rdquo;</span>. But whatever your answer, it all boils down to one thing: you want your wedding stationery to impress your guests with its uniqueness, beauty and quality&hellip;</p>
     <div class="quote_container"><div class="quote"><img src="/images/ebay/quote1.png"></div><div class="quote_text"><p class="casamiento">&mdash; 
<a class="casamiento" href="">jglass100</a></p></div>&nbsp;</div>
     <p class="casamiento">At Casamiento, we want to help make your day a very memorable one. Our carefully crafted collection of highly personalised wedding stationery stands out from the crowd of boring, mass-produced cards.</p>
<p class="casamiento_center"><img src="/images/bullets/line_diamond.png"></p>
<div class="grey">
<h4 class="casamiento"><img src="/images/bullets/bullet_square_dots.png" /> Colour matching.</h4>
<p class="casamiento">Choose from a wide range of colours: if you have an exact colour in mind just send a sample of it to us&mdash;preferably by post as screen colours can vary widely&mdash;and we will match it for you.</li>

</div>
<div class="blank">
<h4 class="casamiento"><img src="/images/bullets/bullet_square_dots.png" /> Co-ordinating envelopes</h4>
<p class="casamiento">Most invitations come with simple, boring, throwaway envelopes&hellip; but our envelopes will be something you'll want to keep! Highly co-ordinated with the same design as your invitations, as well as being personalised with your monogram, they will wow your guests.</p>
</div>

<div class="grey">
   <h4 class="casamiento"><img src="/images/bullets/bullet_square_dots.png" /> Guest name printing</h4>
   <p class="casamiento">We will individually print each item of stationery with the names of your guests: this includes reply cards, place cards and invitations. Just send us a list of names!</p>
   </div>
   <div class="blank">
    <h4 class="casamiento"><img src="/images/bullets/bullet_square_dots.png" /> Envelope addressing</h4>
    <p class="casamiento">We can print your guests' names and addresses individually on each envelope so your invitations are ready to post.</p>
    </div>
    <div class="grey">
    <h4 class="casamiento"><img src="/images/bullets/bullet_square_dots.png" /> Customised wording.</h4>
    <p class="casamiento">Choose whatever wording you like!</p>
</div>
<div class="blank">
<h4 class="casamiento"><img src="/images/bullets/bullet_square_dots.png" /> Monogram</h4>
<p class="casamiento">
A monogram is a motif combining you and your partner's names, the perfect symbol of your marriage together: it makes an impact&mdash;much better than your names in boring plain text and  provides the ultimate touch of understated sophistication. We have many styles of monogram available, the only problem you'll have is deciding which one is for you!</p></div>
        </div>

</div>
<!-- #######################################################################################
S P E C S
####################################################################################### -->
        <div id="section3_casamiento">
            <div id="description_container" style="width:100%;">
           
          
             <div id="colours_shown" style="width:32%;float:right;">
            <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Colours shown:</h5>
            <% colours.forEach(function(colour) { %>
    
                <div style="background-color:<%= colour %>;width:20px;border-radius:5px;height:10px;border:1px solid grey;float:left;margin:10px;margin-left:25px;padding:0;"></div><p class="casamiento" style="padding:0; margin-top:15px;"><%= colour %></p>
            
            <% }) %>
            <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Colours available:</h5>
           
            </div>
  <div id="description" style="width:66%">
             <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Description:</h5>
           
            <table class="casamiento" style="border:0;width:100%;text-align:left;">
            <tr>
            <td>Weight:            </td>
            <td>250gsm<br/>300gsm (heavier)</td>
            </tr>
               <tr>
            <td>Card colour:            </td>
            <td>White</td>
            </tr>
               <tr>
            <td>Dimensions            </td>
            <td><img src="/images/specs/tent.png" /></td>
            </tr>
            </table>
            </div>            
            </div>
            
            <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> This auction is for:</h5>
                    
           <div class="prevent_table_stretching">
           
           <table class="casamiento">
           <% if (product_type == "sample") { %>
             <tr>
                            <td><img src="/images/product_types/small/<%= product_type %>_small.png" /></td>
                            <td class="casamiento_sample">Each sample package contains
an invitation with envelope and wrapper, an RSVP card and a name place card.</td>
                            
                            <td class="casamiento_price">&pound;0<span class="decimal">.99</span></td>
                        </tr>
           <% } else { %>                        
                        <tr>
                            <td><img src="/images/product_types/small/<%= product_type %>_small.png" /></td>
                            <td><img src="/products/<%= theme_id %>-<%= product_type %>/attachments/thumb-<%= attachments_order[0] %>" /></td>
                            <td class="casamiento"><img src="/images/specs/quantity_<%= quantity %>.png" /></td>
                            
                            <td class="casamiento_price">&pound;<%= pounds %><span class="decimal">.<%= pence %></span></td>
                        </tr>
                        
                        <% } %>
                    </table>
                    </div>
                    
<h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> 
Also in this design:</h5>
                    
           <div class="prevent_table_stretching">
                    <table class="casamiento">
<% related.forEach(function(r) { %>
                          <tr>
                            <td><img src="/images/product_types/small/<%= r.product_type %>_small.png" /</td>
                            <td><img src="http://www.casamiento.co.uk/products/<%= r.theme_id %>-<%= r.product_type %>/attachments/thumb-<%= r.attachments_order[0] %>" /></td>

<td class="casamiento"><a class="casamiento" href="<%= r.buy_it_now_id %>">20 x <%= r.product_type %></a></td>
                            <td class="casamiento_price">&pound;<%= r.pounds %><span class="decimal">.<%= r.pence %></span></td>
                        </tr>
                       <% }) %>
                      
                    </table>
                    </div>
                    
<% if (product_type != "sample") { %>

<p class="casamiento_center"><img src="/images/shell.png" /></p>
        
<h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> 
Options for this design&hellip;</h5>
                    
           <div class="prevent_table_stretching">
                    <table class="casamiento">
                          <tr>
                            <td><img src="/images/product_types/monogram.png" /</td>
                            
<td class="casamiento_sample"><p style="text-align:center;"><img src="/images/ebay/mono.png" /></p>A monogram is a motif combining you and your partner's names, the perfect symbol
of your marriage together: it makes an impact &mdash;much better than your names in boring plain text. <p><a class="casamiento" href="">
Get a monogram created now by clicking here to 
see our different styles</a></p><p> You'll also get your monogram as a PDF file for you
to keep and use in the future on things like engravings or calling cards.</p></td>
                            <td class="casamiento_price">&pound;5<span class="decimal">.00</span></td>
                        </tr>
                      
                    </table>
                    </div>
<p class="casamiento_center"><img src="/images/shell.png" /></p>
        
<h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> 
Why not try a sample&hellip;?</h5>
                    
           <div class="prevent_table_stretching">
                    <table class="casamiento">
                          <tr>
                            <td><img src="/images/product_types/small/sample_small.png" /</td>
                            
<td class="casamiento_sample">Each sample package contains:
<ul><li>1 x invitation with envelope and wrapper</li>
<li>1 x RSVP card</li>
<li>1 x name place card</li>
</ul>
<a class="casamiento" href="">Click here to buy a sample of this design now.</a></td>
                            <td class="casamiento_price">&pound;0<span class="decimal">.99</span></td>
                        </tr>
                      
                    </table>
                    </div>
                    <% } %>
                    
                     <p class="casamiento_center"><img src="/images/shell.png" /></p>
        
<h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> 
Don't take my word for it&hellip;</h5>
           <div class="prevent_table_stretching">
                    <table class="casamiento_feedback">
                    <tr><td>
                    David was so helpful everyone at wedding was talking about matching stationery</td><td><a href="">dellajones65</a></td></tr>
<tr><td>
Amazing invites, classy elegant and great value for money. Really helpful</td><td><a class="casamiento" href="">scousesarah81</a></td></tr>
<tr><td>
Finally found something we love! Everything it promises to be & more. Thanks!</td><td><a class="casamiento" href="">j9uis</a></td></tr>
<tr><td>
nothing was too much trouble for seller, a pleasure to do business with</td><td><a class="casamiento" href="">lovenufc</a></td></tr>
<tr><td>
Beautiful Place Cards - So much better than confetti.co.uk - Thank you!</td><td><a class="casamiento" href=""> davinaj3000 </a></td></tr>
<tr><td>
Fantastic design, really makes that special touch to your wedding</td><td><a class="casamiento" href="">caleb1506</a></td></tr>
<tr><td>
stationery is beautiful, very happy, everybody has commented on how lovely it is</td><td><a class="casamiento" href="">reggit40</a></td></tr>
<tr><td>
LOVE THIS ITEM!! there amazing :) got very excited when they came!</td><td><a class="casamiento" href="">babyajane10</a></td></tr>
<tr><td>
Fantastic product.World class communication.Guests love the invitations!Thanks!!</td><td><a class="casamiento" href="">sibofthedump2</a></td></tr>
<tr><td>
the stationary is amazing, words can not describe!! good communication too, A+++</td><td><a class="casamiento" href="">rebeccacraig</a></td></tr>
<tr><td>
Fantastic Stationery,Best I've Seen, Fast Delivery GREAT EBAYER! A+++</td><td><a class="casamiento" href="">sneekers</a></td></tr>
<tr><td>
Prompt service, excellent communication and a beautiful product. Thank you.</td><td><a class="casamiento" href="">yellowleeds</a></td></tr>
<tr><td>
excellent customer care,invites are stunning, highly recommend 5 stars.</td><td><a class="casamiento" href="">margueritejofi29</a></td></tr>
<tr><td>
Been brilliant throughout couldn't ask for better service</td><td><a class="casamiento" href="">jiggaman1074</a></td></tr>
<tr><td>
all items outstanding cant thank you enough will highly recommend</td><td><a class="casamiento" href="">jglass1976</a></td></tr>
<tr><td>
fabulous value for money thank you very much</td><td><a class="casamiento" href="">tav09</a></td></tr>
<tr><td>
EXCELLENT quality, EXCELLENT service, thank you so much! :-)</td><td><a class="casamiento" href=""> babyjayden </a></td></tr>
<tr><td>
once again a fantastic job, these are superb as usual x</td><td><a class="casamiento" href="">spongebobjulie71</a></td></tr>
<tr><td>
An absolute GENIUS ! 5***** am so happy, will be ordering lots more from you :) </td><td><a class="casamiento" href="">amcc.028</a></td></tr>
<tr><td>
Great price, fantastic design! Had many compliments about the them!</td><td><a class="casamiento" href="">kaytie000</a></td></tr>
<tr><td>
fanstatic invites love how personal they are will use seller again</td><td><a class="casamiento" href="">michelletmoore</a></td></tr>
<tr><td>
exceptional service!</td><td><a class="casamiento" href="">carlye00</a></td></tr>
<tr><td>
Lovely invitations..Exactly as described. Quick delivery! Very happy!! :)</td><td><a class="casamiento" href="">natcousins</a></td></tr>
<tr><td>
Excellent product, as good as I'd hoped. Quick delivery ordered Sun came Tues!</td><td><a class="casamiento" href="">mzeden</a></td></tr>
<tr><td>
These lived up to every expectation, thank you so much! A++</td><td><a class="casamiento" href="">maddie193</a></td></tr>
<tr><td>
Excellent. Quality. First Class. Extremely Efficient. An outstanding success.</td><td><a class="casamiento" href="">barndweller09</a></td></tr>
<tr><td>
Absolutely beautiful and great communication!!! Thank you so much!</td><td><a class="casamiento" href="">misspigdog</a></td></tr>
<tr><td>
Amazing Product and amazing service!</td><td><a class="casamiento" href="">damanrc</a></td></tr>
<tr><td>
Love this item, thanks soo much :-)</td><td><a class="casamiento" href="">mr-mrs-bell</a></td></tr>
<tr><td>
Oh my goodness...these are amazing.</td><td><a class="casamiento" href="">xrsenigma</a></td></tr>
<tr><td>
lovely stationary ........... thankyou</td><td><a class="casamiento" href="">suenzak</a></td></tr>
<tr><td>
Really Beautiful, and super fast delivery thankyou!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</td><td><a class="casamiento" href="">vikwells1983</a></td></tr>
<tr><td>
extremely efficient at sending samples and invitations lovely</td><td><a class="casamiento" href="">mumljh</a></td></tr>
<tr><td>
Amazing value for money, love them! An excellent buyer with great communication.</td><td><a class="casamiento" href="">jlo0907</a></td></tr>
<tr><td>
Lovely place cards...Will be ordering more!</td><td><a class="casamiento" href="">2011ash3950</a></td></tr>
<tr><td>
really good quality will be in touch soon for main order :)</td><td><a class="casamiento" href="">jackie.s0774</a></td></tr>
<tr><td>
love this-just need to decide which to go for and how many we need! A+</td><td><a class="casamiento" href="">allison_13</a></td></tr>
<tr><td>
Really like them , will be in touch once we have confirmed all the guests</td><td><a class="casamiento" href="">cuddlywhiteanoracks</a></td></tr>
<tr><td>
lovely wedding Invitations I love them!! great value! Thank you.</td><td><a class="casamiento" href="">cossstitch4love</a></td></tr>
<tr><td>
great invites, great service will be placing order in coming months!!!</td><td><a class="casamiento" href="">cheralyn23</a></td></tr>
<tr><td>
beautiful invitations, very impressed, great ebayer A+++++++++++++</td><td><a class="casamiento" href="">sheilah1544</a></td></tr>
<tr><td>
more than pleased with item and service 5 star seller will use again thank you</td><td><a class="casamiento" href="">jce123lila</a></td></tr>
<tr><td>
I love them thanks you so much</td><td><a class="casamiento" href="">nicolaw7062</a></td></tr>
<tr><td>
nice product thank you !!!</td><td><a class="casamiento" href="">gorgi69</a></td></tr>
<tr><td>
Lovely sample look forward to ordering more.</td><td><a class="casamiento" href="">7904michelled</a></td></tr>
<tr><td>
Fantastic wedding stationery, very pleased, thank you again. A+++</td><td><a class="casamiento" href="">x26kjj</a></td></tr>
<tr><td>
Excellent service and loved the product. Highly recommended! </td><td><a class="casamiento" href="">weechik</a></td></tr>
<tr><td>
good ebayer. lovely invitations and envelopes</td><td><a class="casamiento" href="">maxine050</a></td></tr>
<tr><td>
A+++++++++++++++ EXCELLENT PRODUCT, EXACTLY AS DESCRIBED, VERY IMPRESSED!!!!!</td><td><a class="casamiento" href="">mcbean3</a></td></tr>
<tr><td>
antastic seller A* product fast delivery excellent service all round fantastic</td><td><a class="casamiento" href="">bezza2012</a></td></tr>
<tr><td>
Perfect as described! Thanks so much! A star seller!</td><td><a class="casamiento" href="">traer2007</a></td></tr>
<tr><td>
Excellent product, brilliant communication, would recommend to friends & family.</td><td><a class="casamiento" href="">locknott08</a></td></tr>
<tr><td>
These are Excellent great value i would defo buy from again he is brilliant AAAA</td><td><a class="casamiento" href="">babyboo550</a></td></tr>
<tr><td>
rilliant thanks,will defo be buying for my wedding</td><td><a class="casamiento" href="">mizzsianyk</a></td></tr>
<tr><td>
Lovely eBayer, lovely invites thanks again! - </td><td><a class="casamiento" href="">kafifa</a></td></tr>
<tr><td>
Gorgeous invitations! Very pleased with them! Highly recommended! A+++ </td><td><a class="casamiento" href=""> robsons08</a></td></tr>
<tr><td>
THANK YOU VERY NICE INVITATION </td><td><a class="casamiento" href="">crunchie43</a></td></tr>
<tr><td>
beautiful! Thank you! </td><td><a class="casamiento" href="">yummum85</a></td></tr>
<tr><td>
Great quality. Professional personalised printing service. </td><td><a class="casamiento" href=""> aquila612</a></td></tr>
<tr><td>
Very quick delivery and perfect package. interesting and very proffessional. </td><td><a class="casamiento" href=""> jyeg71</a></td></tr>
<tr><td>
fantastic! great quality, personal touch, great value, highly recommended </td><td><a class="casamiento" href="">aimbob83</a></td></tr>
<tr><td>
Excellent product - would reccomend to anyone! </td><td><a class="casamiento" href=""> 1misslightning</a></td></tr>
<tr><td>
Fantastic service excellent communication. Will be in touch nearer time. Thanks</td><td><a class="casamiento" href="">sue590_1</a></td></tr>
<tr><td>
Gorgeous invites, great communication xxx</td><td><a class="casamiento" href="">kimandrich-2009</a></td></tr>
<tr><td>
recieved within 4 days, just as seen on the screen. thanks</td><td><a class="casamiento" href="">loopyloo2007</a></td></tr>
<tr><td>
fab item!</td><td><a class="casamiento" href="">lorrettac2006</a></td></tr>
<tr><td>
Nice card and excellent matching items. Fast delivery.</td><td><a class="casamiento" href="">arleenalam</a></td></tr>
<tr><td>
Great Communication, Very professional, Highly recommended AA*****</td><td><a class="casamiento" href="">tinah0128</a></td></tr>
<tr><td>
Cannot praise highly enough - Wonderful service once again. Thank U :-) </td><td><a class="casamiento" href=""> effinella</a></td></tr>
<tr><td>
And we have a winner. Thanks again for an excellent service. </td><td><a class="casamiento" href=""> yellowleeds</a></td></tr>
<tr><td>
Excellent products. Individually tailored. Great service. Fast delivery. </td><td><a class="casamiento" href=""> nige123jenny006</a></td></tr>
<tr><td>
WOW! Delighted with sample and service - Will be placing full order. Thank you! </td><td><a class="casamiento" href=""> rob_and_lauren</a></td></tr>
<tr><td>
Delighted with the finished product. Brilliant service , - Thank you </td><td><a class="casamiento" href=""> niclake63</a></td></tr>
<tr><td>
Totally beautiful, will be ordering table plan and place cards </td><td><a class="casamiento" href=""> pinkbnjy92</a></td></tr>
<tr><td>
WOW!!! Sooo lovely!! Great seller, really helpful and nothing too much! A++++++ </td><td><a class="casamiento" href=""> chillin_bloke</a></td></tr>
<tr><td>
THIS SERVICE WAS UNBEATABLE AND THE CARDS WERE SO UNIQUE IM THRILLED!! </td><td><a class="casamiento" href=""> lookagain2005</a></td></tr>

</table></div>


                </div>
                
            </div>
    
<!-- #######################################################################################
R E L A T E D
####################################################################################### -->

    <div style="clear:both">
        <p class="casamiento_center"><img src="/images/shell.png" /></p></div>
        
<!-- #######################################################################################
M O N O G R A M S 
####################################################################################### -->

   
</div>
</body>
</html>