
<link rel="stylesheet" type="text/css" href="/stylesheets/product.css">
<script type="text/template" id="break">
  <td colspan="2">
    <div style="width:98%;padding-bottom:3em;margin:auto;margin-top:2em;">
      <div style="width:44%;float:left;margin-top:5px;border-top:1px solid black;"></div>
      <div style="width:11%;float:left;"><img src="/gfx/page_seperators/orna.png" style="width:50%;" /></div>
      <div style="width:44%;float:left;margin-top:5px;border-top:1px solid black;"></div>
    </div>
  </td>
</script>

<script type="text/template" id="cart_item">
  <td style="width:35%;" class="item_image">
    <span style="font: normal 2em TP; letter-spacing:0.25em;color:#000">%% name %%</span>
    <img class="product_image" style="background-color:%% colours[0] %%" src="/products/%% id %%/attachments/display-2.jpg" style="width:95%"/><br/>
    <img src="/gfx/product_types/small/name_place_small.png" style="width:120px">
  </td>
  <td style="width:65%;padding:0;margin:0;vertical-align:top;" class="second_col"></td>
</script>
       
<script type="text/template" id="cart_item_table">

<div class="colour_selector" style="display:none">
<div class="tabbed_area"> 
    <ul class="tabs"> 
        <li><a class="a_tab colour_label" data-colour="1" id="1_colours">Pinks</a></li> 
        <li><a class="a_tab colour_label active" data-colour="2" id="1_monograms">Reds</a></li> 
        <li><a class="a_tab colour_label" data-colour="3"  id="1_monograms">Purples</a></li> 
        <li><a class="a_tab colour_label" data-colour="4" id="1_monograms">Yellows</a></li> 
        
        <li><a class="a_tab colour_label" data-colour="5" id="1_monograms">Blues</a></li> 
        <li><a class="a_tab colour_label" data-colour="6" id="1_monograms">Greens</a></li> 
    </ul> 
    
    <% var counter = 0 %>
    <% cols.forEach(function(palette) { %>
    <% counter++ %>
        <div class="palette palette_<%= counter %>" style="z-index:100;background-color:white;border:1px dotted black;margin-top:0;padding-top:0;">
        <% palette.forEach(function(colour) { %>
        <% var ary = colour.split(" ") %>
        <% var hex = ary[0] %>
        <% var description = ary[1] %>
       <div class="a_colour" data-colour="<%= hex %>" style="width:30%;text-align:center;display:inline-block;padding-right:1em;padding-top:1em;">
       <div style="background-color:<%= hex %>;border-radius:4px;width:5em;height:4em;margin-bottom:0;padding-bottom:0;margin:0 auto;"></div><span style="margin-top:0;padding-top:0;color:black;font:1.2em normal 'Open Sans Light';"><%= description.toUpperCase() %></span>
       </div>
        <% }) %>
        </div>
    <% }) %>
    
 </div>
    

</div>

<table class="customise">
  <tr>
    <th>Card texture</th>
    <th>Card thickness</th>
    <th>Colours</th>
  </tr>
  
  
  <tr>
    <td style="width:50%" class="tooltip-select" data-tooltip="tooltip-texture">
          <div class="texture %% (texture == "plain") ? "selected" : "" %%" data-texture="plain" style="float:left;margin-left:1em;"><p><img src="/gfx/icons/plaine.png" style="width:2.5em"><br> Plain</p></div>
          <div class="texture %% (texture == "hammer") ? "selected" : "" %%" data-texture="hammer" style="float:left;margin-left:1em;"><p><img src="/gfx/icons/hammer.png" style="width:2.5em"><br> Hammered</p></div>
          <div class="texture %% (texture == "pearl") ? "selected" : "" %%" data-texture="pearl" style="float:left;margin-left:1em;"><p><img src="/gfx/icons/linen.png" style="width:2.5em"><br> Pearlescent</p></div>
          <div class="b1" style="position:relative;"></div><div class="chat-bubble tooltip-texture"  style="display:none;"><div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>Select the texture of the card by clicking on it so it is highlighted. The price will automatically update.
</div></div>
         
    </td>
    <td style="width:20%"> 
      <div style="width:60%;margin:auto">
        <div class="weight" style="border-top:2px solid #666;"></div>
        <p>300gsm</p>
        <div class="weight" style="border-top:4px solid #666;"></div>
        <p>250gsm</p>
      </div>
    </td>
        
    <td class="selected_colours" style="text-align:center;width:30%"></td>
    </tr>
    <tr>
      <th>Monogram style</th>
      <th colspan="2">Monogram details</th>
    </tr>
    
    
    <tr>
      <td>
          <img class="monogram_image" src="/gfx/m/%%monogram%%.png" style="width:95%"/><br/>
          <div class="change_monogram change">CHANGE</div>
      </td>
        <td colspan="2" class="tooltip-select" data-tooltip="tooltip-monodetails">
         <label>First name:</label>
        <input type="text" value="Nicola" size="16"></input>
        
        <label>Second name:</label>
        <input type="text" value="Michael" size="16"></input>
        
        <label>Date:</label>
        <input type="text" style="float:left;" value="22" size="2"></input> 
        <input type="text" style="float:left;" value="September" size="10"></input> 
        <input type="text" value="2013" size="4"></input> 
         <div style="position:relative;"></div><div class="chat-bubble tooltip-monodetails"  style="display:none;"><div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>A monogram is a motif featuring a name and initials. You can have one created for you and your partner, your baby or your loved on. A monogram will be created specially for you by a designer, so when you enter the details here it will not be reflected in the picture.
</div></div>
        </td>
        </tr>
        <tr>
        <th colspan="3">Price &amp; Quantity</th>
        </tr><tr>
      <td colspan="3" class="quantity_selector tooltip-select" data-tooltip="tooltip-quantity" style="padding-top:2em;padding-bottom:2em;">
        <p style="text-align:center;font: normal 4em 'OS Light'"><span style="font-size:0.65em;vertical-align:top;">&pound;</span><span class="pound">2</span><span style="font-size:0.65em;vertical-align:text-top;" class="dec">.99</span></p>

        <div class="noUiSlider" style="margin-left:4%;width:84%;float:left;margin-bottom:2em;"></div>
        <div style="quantity;font:normal 1.4em 'OS Light Italic'" id="qty">%%quantity%%</div>
        <div style="position:relative;"></div><div class="chat-bubble tooltip-quantity"  style="display:none;"><div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>Change the quantity by dragging the above slider left and right with your mouse or finger. You will see the price and quantity update
</div></div>
      </td>
    </tr>
    <tr>
    <th colspan="3"><img src="/gfx/guests.png" style="width:3em"/> Guests
   
    </th>
    <tr  class="tooltip-select" data-tooltip="tooltip-guests">
    <td colspan="3">
   
     <div style="position:relative;"></div><div class="chat-bubble tooltip-guests"  style="display:none;"><div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>Each place card will come individually printed with the name of each guest. Here you can add each guest name. Your names will be printed exactly as you type them, so make sure you use capital letters in the right places
</div></div>
<div class="guests"></div>
   
    </td>
    </tr>
  </table>
</script>       
       
<div id="product_page_genesis"><img src="/gfx/logo/genesis_collection.png" style="width:285px;"/></div>
<div id="product_page">

<div id="product_section1">

    <h1 class="product_name" style="float:left"> <img src="/gfx/bullets/bullet_square_dots.png" /> <%= name %></h1>

    <div id="slides" style="clear:both">            
       <img src="/products/<%= _id %>/attachments/medium-1" />
       <img src="/products/<%= _id %>/attachments/medium-2" />
       <img src="/products/<%= _id %>/attachments/medium-3" />
       <img src="/products/<%= _id %>/attachments/medium-4" />
    </div>
  
</div>    

<div id="product_section0">

<!-- SPECIFICATIONS -->

<div class="product_type spc">
        <div class="name_place_icon"><img src="/gfx/product_types/small/name_place_small.png" style="width:100%;"></div>
    </div>

    <div class="spc">
        <h1>Card Texture</h1>

        <div style="float:left;margin-left:1em;"><p><img src="/gfx/icons/hammer.png" style="width:2.5em"><br> Hammered</p></div>
        <div style="float:left;margin-left:1em;"><p><img src="/gfx/icons/plaine.png" style="width:2.5em"><br> Plain</p></div>
         <div style="float:left;margin-left:1em;"><p><img src="/gfx/icons/linen.png" style="width:2.5em"><br> Pearlescent</p></div>
        <div class="b1"></div>
    </div>

    <div class="spc">
        <h1>Thickness</h1>
        
        <div style="width:60%;margin:auto">
            <div class="weight" style="border-top:2px solid #666;"></div>
            <p>300gsm</p>
            <div class="weight" style="border-top:4px solid #666;"></div>
            <p>250gsm</p>
        </div>
    </div>

    <div class="spc">
        <h1>Product format</h1>
        <div style="margin:auto;text-align:center;">
        <div class="spec" style="width:90px"><img src="/gfx/specs/tent.png"></div></div>
    </div>
    
    <div class="spc">
<div id="buy"></div></div>
    <div class="spc">
        <h1>Monogram shown</h1>
        <img id="mono_2" style="width:100%" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
    </div>
    <div class="spc"><h1>Colours shown</h1>
        <div id="colours-shown" style="margin-top:1em;float:left;">
        
        <% colours.forEach(function(colour) { %>
            <div style="float:left">
                <div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
                <p class="casamiento" style="margin-left:1em;text-indent:0;font:normal 1em GaraI;padding:0; margin-top:5px;"><%= colour %></p>
            </div>
        <% }) %>  
        
        </div>
        <div class="b1"></div>
    </div>
    <img src="/gfx/shell.png" />
</div>  
</div>
    

<div id="cart_page" style="display:none">
<div style="margin-left:2em;margin-right:2em;border:1px solid black;border-top:0;";>
<div id="cart"  style="padding:2em;padding-top:3em;">

     <div class="b1"></div>
</div>
<div id="monograms"  style="display:none;clear:both;text-align:center;padding:2em;padding-top:3em;">
<% for(var i = 1; i < 17; i++) { %>

<div style="display:inline-block;width:235px;padding:1%">
<img src="/gfx/m/<%= i %>.png" class="monogram" id="monogram_<%= i %>" style="width:100%"/>
</div>

<% } %>
 </div>

</div>
</div>
<script type="text/javascript">

// Setup and initialization

// Create a new cart or initialize an existing one
<% if (cart) { %>
  var cart = new Cart(<%- cart %>, { parse: true });
<% } else { %>
  var cart = new Cart({ parse: true }) 
<% }  %>

var thisProduct = new Product({
    id: "<%= _id %>",
    name: "<%= name %>", 
    monogram: <%= monogram %>, 
    colours: <%- JSON.stringify(colours) %>, 
    quantity: 10, 
    price: <%= price %>, 
    guests: ["&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;"], 
    texture: "plain" 
});

var iv = new ItemsView({collection: cart.get("items")})
$('#cart').html(iv.render().el);
var mv = new MonogramView();
var pv = new PanelView({collection: cart.get("items") });
var bbv = new BuyButtonView();

var prr = new ProductRouter();
Backbone.history.start();


// Slideshow
$(function(){
  $("#slides").slidesjs({ pagination: { active: true }, navigation: { active: false },
  play: { auto: true, interval: 3500, effect: "swap" },
  effect: { swap: {speed: 5000 }},
    width: 750, height: 479
  });
});

</script>