<html>
<body>
<style type="text/css">
/* Main elements
==================================== */
#page_container_casamiento { font-family: "Arial",sans-serif; color: #444444; background-color: #fff; font-size: 10px; width:974px; }
#top_container_casamiento { width:100%; height:75px; background-image:url("http://www.casamiento.co.uk/images/backgrounds/grey_header.png");  }
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-top:15px; padding-left:20px; }
#main_slogan_casamiento { width:168px; float:right; padding-top:15px; }
#genesis { text-align:center; width:450px;margin-top:20px;float:right; }
#genesis_logo_top { padding:0; margin-top:8px; }
#genesis_container { border-top:1px dotted grey; border-bottom:1px solid grey; height:60px;}

/* Main Typography
==================================== */
h5.casamiento { font: bold 11px "Arial"; color: #444444;margin:0; text-align:left; border-bottom: 1px solid #636667; padding:0; padding-top:12px; padding-bottom:12px; margin-bottom:10px; padding-left:10px;}
h2.casamiento { font: bold 14px "Arial"; color:#444444; }
h1.casamiento { font-style:italic; }
.casamiento_description { font: 17px Georgia italic;  padding-right:2em; line-height:1.5em; }
h1.casamiento { color:#444444; font:normal 24px Georgia; text-align:left; padding-top:10px; padding-bottom:5px; margin:0; }
.theme_name { font: 20px Georgia italic; }
ul.casamiento, p.casamiento { font-size: 12px; line-height: 1.6em; text-indent:2em;}
ul.casamiento { text-indent:0;}
.decimal { font-size:18px; position:relative;top:-8px;  }
#peace_of_mind { text-align:center; border:1px solid grey; padding:10px; float:left; margin-bottom:1.6em; font-size:11px;}

.quote_container { position:relative;left:-50px; height:50px;width:360px;}
.quote { float:left; }
.quote_text { float:right;  }

/* Classes
==================================== */
.casamiento_clearfix { clear:both; }
.casamiento_center { text-align:center; }

/* How it works 
==================================== */
#how_it_works { margin-left:120px; padding:0;}
p.casamiento_how_it_works { color:#444444; font-size: 12px; text-align justify;  }

#me_photo {float:left; width:115px;text-indent:0; }

/* Tables 
==================================== */
table { border-collapse:collapse; }
table td, table th { font: normal 11px "Arial"; color: #444444; text-align:center; line-height:150%; text-align:justify; border:1px dotted grey; padding:10px;}
table.description td:first-child { text-align:right; width:33%; padding-right:2em }
table th { text-align:center; }

table.casamiento td.casamiento_price, table.casamiento td.casamiento_quantity { font: normal 24px "Arial"; color: #444444; text-align:center; }
#colour_table_casamiento { border-collapse:separate; }
#colour_table_casamiento div { width:140px;height:140px } 
#colour_table_casamiento td { margin:15px;text-align:left; font:bold 14px Helvetica; letter-spacing:-0.099em;color:#636667; border:0; padding:2px; border-bottom:1px solid #444444; padding-bottom:15px; padding-top:10px;} 

table.casamiento_small_colours td { border:0;text-align:left; }
table.casamiento_feedback td { padding:8px; }
.prevent_table_stretching { width:100%;}

/* Columns
==================================== */ 
#section0_casamiento {  padding:0; margin:0; float:left; width:320px;  }
#section1_casamiento { padding:0; margin:0;margin-left:325px;  }

#section2_casamiento { clear:both; text-align:left; float:left; width:477px; }
#section3_casamiento { margin-left:487px; }

.casamiento_colour { width:20px;height:5px;margin:auto; border:1px solid grey; border-radius:7px; padding:5px; margin:5px; } 

/* Links
==================================== */
a.casamiento:link, a.casamiento:active, a.casamiento:visited { color: <%= colours[0] %>; font-style:underline; }
a.casamiento:hover { color:black;}
table.casamiento_related img { padding:2px; } 
a.casamiento_related { font: normal 14px Georgia; font-style:italic; display:block; padding-bottom:10px;}
table.casamiento_related td img { padding:5px; }

</style>

<div id="page_container_casamiento"> 
<!-- HEADER -->
    <div id="top_container_casamiento">
        <div id="main_logo_casamiento"><img src="http://www.casamiento.co.uk/images/logo_branding/casamiento.png"></div>
        <div id="main_slogan_casamiento"><img src="http://www.casamiento.co.uk/images/logo_branding/big_dreamsonpaper.png" />
        </div>
    </div>
    
    <!-- BAR -->
    <div id="genesis_container" style="width:100%; margin:auto; text-align:center;">
    <% if (auction) { %>
        <div id="genesis">
            <h5 class="casamiento" style="text-align:center;border-bottom:0;padding:0;float:right;">
            <img src="http://www.casamiento.co.uk/images/bullets/line_diamond.png" /> 
            
            <a class="casamiento" href="">Can't wait? Click here for a buy-it-now listing for this item</a></h5>
          
        </div>  
    <% } %>
        <img id="genesis_logo_top" alt="Genesis_footer2" src="http://www.casamiento.co.uk/images/logo_branding/genesis_footer.png" />         
    </div>



<!-- #######################################################################################
I M A G E S 
####################################################################################### -->
 
    <div id="maincontainer" style="clear:both;">
        <div id="section0_casamiento">
            <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/display-<%= attachments_order[1] %>" style="margin-bottom:5px;"/><br/> 
            <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/display-<%= attachments_order[2] %>" />  
        </div>
        <div id="section1_casamiento">
            <img src="http://www.casamiento.co.uk/products/<%= _id %>/attachments/large-<%= attachments_order[0] %>"  />
        </div>

<!-- #######################################################################################
C O L U M N 
####################################################################################### -->

        <div id="section2_casamiento">
        
        <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> How it works&hellip;</h5>

        <div id="me_photo">
            <img src="/images/me.jpg" />
            <p class="casamiento">
                <img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> <b>David Pettifer,<br/> Founder</b>
            </p>
        </div>
        
        <div id="how_it_works">
            <img src="/images/ebay/ebay_heading_3.png"  style="display:block;margin:auto;"/>
            <p class="casamiento">&hellip;and there you were thinking that choosing the dress would be the most difficult bit? You've nearly compiled the 
        guest list, but now you've got to get all the addresses together. Not to mention the wording... you'd like to ask for money 
        rather than gifts (you really don't want another John Lewis cutlery set) but you don't want to sound rude. Then there's the 
        colours...</p>
        
            <p class="casamiento">&hellip;what if the colours don't match? The last thing you want is for the stationery to arrive and then discover the 
            pink is two shades darker than everything else&hellip; time's running out too: you're worried what will happen if things go 
            missing in the post or get damaged&mdash;that new postman always looks hungover&mdash;or </p>
            
            <p class="casamiento"><b>what if there's a printing mistake 
    at the last minute? What if they spell your name Sarah instead of Sara? It's happened before on the gas bill. Or&hellip;</b></p>
            <p class="casamiento">
            &hellip;slow down!<br/>
            &hellip;stop!<br/> 
            &hellip;relax!<br/>
            </p>
            <p class="casamiento">At this rate you're going to need more than meditation classes, you're going to need a counsellor&mdash;and I'm not 
            laughing either, because it's no laughing matter: I understand how tiring it can be planning your big day&hellip;</p>
            
            <div class="quote_container">
                <div class="quote"><img src="/images/ebay/quote1.png"></div>
                    <div class="quote_text">
                    <p class="casamiento">&mdash; 
                        <a class="casamiento" href="">jglass100</a>
                    </p>
                    </div>
                &nbsp;
            </div>
            
            <p class="casamiento">&hellip;it's the 
            culmination of years of hopes and dreams since you were a small child and it's a lot of responsibility for one 
            day&mdash;and for you&mdash;to have. And the journey towards that fairytale day begins with your invitations: most brides 
            immediately think about the cosmetics of their invitations&mdash;<i>of course they have to look good</i>&mdash;but it's easy to 
            forget they serve a deeper, practical function too&hellip;</p>
            
            <h5 class="casamiento">Your invitations are created to help you organise your big day: to find out who is attending in advance so that you have 
            numbers to play with, and to communicate with your guests&mdash; the more information you provide your guests with, the 
            less time you'll be stressed out answering the same questions over and over again.</h5>
            <p class="casamiento"><img src="/images/ebay/4_important.png" /></p>
            
            <p class="casamiento"><b>Make it easy to reply&hellip;</b></P> 
            
            <p class="casamiento">A pre-addressed reply card, pre-printed with the names of the guests who are responding and a "yes" 
            or "no" box to tick will increase your chances of getting a response. Brides like you who use reply cards get four times as 
            many responses as brides who don't: people are lazy and a pre-addressed reply card means your guests only have to tick the 
            box and post it on their way to work.</p>
                    
            <p class="casamiento"><b>Make it clear who is invited&hellip;</b></p>
            
            <p class="casamiento">by explicitly addressing your invitations to "Sarah, Jane & Jenny", it takes the guesswork 
            away from your guests: Sarah knows straight away that she can bring her flatmate and daughter. If it just says "Sarah & 
            Guest", she knows she is invited and can bring a guest. An invitation that isn't personalised makes it awkward for your 
            guests to know who they can and can't bring along (and awkward for you to know who they are bringing along too), but if you 
            address your guests individually, you'll make things easier from the start.</p>

<p class="casamiento"><b>Provide instructions for your guests&hellip;</b></p> <p class="casamiento">where's the venue? They'll need the postcode for their sat-nav, otherwise you're 

going to be answering the same question over and over again when they email or phone you. What do they wear? Explaining the 

dress code is important if you don't want Auntie Edna turning up in that bright puce dress with the ostentatious hat. Can 

children come? Can they give vouchers or money instead of buying you another garlic press? The number of details you 

provide is inversely proportional to the stress you'll experience (more details, less stress!). Sometimes it's even worth 

providing an additional instruction leaflet for all the extra stuff. 
     </p>
<p class="casamiento"><b>How long does it take to address the envelopes without your handwriting turning into a doctor's signature?</b> How easy is it to run 25 envelopes through your inkjet printer without the flaps jamming in its rollers or the ink smearing or printing the wrong way up?</b> Addressing envelopes individually is very time-consuming and stressful&hellip; it can easily take up a whole day and you can get in a real muddle. It's much easier to type out your addresses and let us take the pain out of addressing your envelopes.</p> 

<h5 class="casamiento">Frequently Asked Questsion</h5>
<p class="casamiento"><b>Can you do extra-fast delivery?</b></p>
<p class="casamiento">If you need your stationery urgently, just email us: depending on our workload
we may be able to speed up your order free of charge.</p>
<p class="casamiento"><b>Can you do silver or gold colours?</b></p>
<p class="casamiento">Unfortunately we can not do any metallic colours at the moment.</p>

<p class="casamiento"><b>Can you change parts of the designs?</b></p>
<p class="casamiento">We can customise the colours and wording free of charge. However any other alterationsw
will incur a cost.</p>

<p class="casamiento">If you have any questions, please don't hesitate to get in touch with me&hellip;</p>
<p class="casamiento">Have a wonderful day!</p>
 
        </div>
    
<!-- #######################################################################################
C O L O U R S 
####################################################################################### -->

  <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Colours available for this design&hellip;</h5>
        <% if (colours.length == 1 && colours[0] == "Black") { %> 
        <table class="casamiento" id="colour_table_casamiento"> 
                
                <tr>
                <td><div class="casamiento_colour" style="background-color:Black"></td> <td>Black</td>
                </tr>
                </table>
        <% } else { %>
        <table class="casamiento" id="colour_table_casamiento"> 
            <tr>
                <td><div style="background-color:HotPink"></div>
                <b>HOT PINK</b>
                </td>
                 <td><div style="background-color:DEEPPINK"></div>
                <b>DEEP PINK</b>
                </td>
                     <td><div style=";background-color:VIOLETRED"></div>
                <b>VIOLETRED</b>
                </td>
            </tr>
             <tr>
                <td><div style="background-color:RED"></div>
                <b>RED</b>
                </td>
                 <td><div style="background-color:FIREBRICK"></div>
                <b>FIREBRICK</b>
                </td>
                     <td><div style="background-color:ORANGERED"></div>
                <b>ORANGERED</b>
                </td>
            </tr>
                        <tr>
                <td><div style="background-color:LIGHTSALMON"></div>
                <b>LIGHT SALMON</b>
                </td>
                 <td><div style="background-color:ORANGE"></div>
                <b>ORANGE</b>
                </td>
                     <td><div style="background-color:YELLOW"></div>
                <b>YELLOW</b>
                </td>
            </tr>
                        <tr>
                <td><div style="background-color:VIOLET"></div>
                <b>VIOLET</b>
                </td>
                 <td><div style="background-color:FUCHSIA"></div>
                <b>FUSCHIA</b>
                </td>
                     <td><div style="background-color:MEDIUMORCHID"></div>
                <b>MEDIUM ORCHID</b>
                </td>
            </tr>                      <tr>
                <td><div style="background-color:DARKVIOLET"></div>
                <b>DARK VIOLET</b>
                </td>
                 <td><div style="background-color:PURPLE"></div>
                <b>PURPLE</b>
                </td>
                     <td><div style="background-color:INDIGO"></div>
                <b>INDIGO</b>
                </td>
            </tr><tr>
                <td><div style="background-color:GREENYELLOW"></div>
                <b>GREEN YELLOW</b>
                </td>
                 <td><div style="background-color:LIMEGREEN"></div>
                <b>LIME GREEN</b>
                </td>
                     <td><div style="background-color:FORESTGREEN"></div>
                <b>FOREST GREEN</b>
                </td>
            </tr><tr>
                <td><div style="background-color:LIGHTSEAGREEN"></div>
                <b>LIGHT SEA GREEN</b>
                </td>
                 <td><div style="background-color:LIGHTSKYBLUE"></div>
                <b>LIGHT SKY BLUE</b>
                </td>
                     <td><div style="background-color:DEEPSKYBLUE"></div>
                <b>DEEP SKY BLUE</b>
                </td>
            </tr><tr>
                <td><div style="background-color:DODGERBLUE"></div>
                <b>DODGER BLUE</b>
                </td>
                 <td><div style="background-color:CORNFLOWERBLUE"></div>
                <b>CORNFLOWER BLUE</b>
                </td>
                     <td><div style="background-color:STEELBLUE"></div>
                <b>STEEL  BLUE</b>
                </td>
            </tr>
</table>
        
        <% } %>
</div>

<!-- #######################################################################################
S E C O N D     C O L U M N
###################################################################################### -->
        <div id="section3_casamiento">
        
        <!-- DESCRIPTION -->
        
             <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Description:</h5>
           
            <table class="description" style="border:0;width:100%;text-align:left;">
            <tr>
                <th colspan="2">
                    <img src="/images/product_types/small/<%= product_type %>_small.png" />
                </th>
            </tr>
            <tr>
                <th colspan="2">            
                    <img src="/products/<%= theme_id %>-<%= product_type %>/attachments/thumb-<%= attachments_order[0] %>" /> 
                    <img src="/products/<%= theme_id %>-<%= product_type %>/attachments/thumb-<%= attachments_order[1] %>" /> 
                    <img src="/products/<%= theme_id %>-<%= product_type %>/attachments/thumb-<%= attachments_order[2] %>" />
                </th>
            </tr>
            </th>
            <tr>
                <td>Colours shown:</td>
                <td>  
                    <table class="casamiento_small_colours">
                        <tr>
                        <% colours.forEach(function(colour) { %>
                     
                         <td style="text-align:left"><div style="width:40px;height:40px;background-color:<%= colour %>"></div>
                         <%= colour %>
                         </td>
                        <% }) %>
                        </tr>
                    </table>
               </td>
            </tr>
            <tr>
                <td><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Description</td>
                <td class="description" style="font-weight:normal;"><span class="theme_name">"Chequers".</span> A chequered floor sweeps across the ancient grand hall of the Notre Dame in Paris: the opposite coloured squares evoke themes of ceremony, ritual and symbolise the contrasting union of two shapes. Choose a single colour for both the front and the back, or two different colours that compliment one another. </td>
            </tr>
            <tr>
                <td><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Weight:</td>
                <td>250gsm<br/>300gsm (heavier)</td>
            </tr>
            <tr>
                <td><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Card colour: </td>
                <td>White</td>
            </tr>
            <tr>
                <td><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> Dimensions</td>
                <td><img src="/images/specs/tent.png" /></td>
            </tr>
        </table>
           <div class="prevent_table_stretching">
           
           <table class="casamiento">
           <% if (product_type == "sample") { %>
                <tr>
                    <td><img src="/images/product_types/small/<%= product_type %>_small.png" /></td>
                    <td class="casamiento_sample">Each sample package contains
an invitation with envelope and wrapper, an RSVP card and a name place card.</td>
                    
                    <td class="casamiento_price">&pound;0<span class="decimal">.99</span></td>
                </tr>
           <% } else { %>                        
                        
                        
                        <% } %>
                    </table>
                    </div>
<% if (product_type != "sample") { %>

<!-- MONOGRAM -->

    <p class="casamiento_center"><img src="/images/shell.png" /></p>
            
    <h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> 
    Options for this design&hellip;</h5>
                        
               <div class="prevent_table_stretching">
                        <table class="casamiento_description">
                              <tr>
                                <th colspan="3"><img src="/images/product_types/monogram.png" /></th>
                                </tr>
                                
    <td class="casamiento_sample"><p style="text-align:center;"><img src="/images/ebay/mono.png" /></p></td>
    <td class="casamiento_sample">
   A monogram is a motif combining you and your partner's names, the perfect symbol
    of your marriage together: it makes an impact &mdash;much better than your names in boring plain text. <p><a class="casamiento" href="">
    <b>Get a monogram created now: click here to see and choose from our different styles&hellip;</b></a></p><p> You'll also get your monogram as a PDF file for you
    to keep and use in the future on things like engravings, embroidering on towels, or calling cards.</p></td>
                                <td class="casamiento_price">&pound;5<span class="decimal">.00</span></td>
                            </tr>
                          
                        </table>
                        </div>
    <p class="casamiento_center"><img src="/images/shell.png" /></p>
            
<h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> 
Why not try a sample&hellip;?</h5>
                    
           <div class="prevent_table_stretching">
                    <table class="casamiento">
                          <tr>
                            <td><img src="/images/product_types/small/sample_small.png" /</td>
                            
<td class="casamiento_sample">Each sample package contains:
<ul><li>1 x invitation with envelope and wrapper</li>
<li>1 x RSVP card</li>
<li>1 x name place card</li>
</ul>
<b><a class="casamiento" href="">Click here and buy a sample of this design today&hellip;</a></b></td>
                            <td class="casamiento_price">&pound;0<span class="decimal">.99</span></td>
                        </tr>
                      
                    </table>
                    </div>
                    <% } %>
                    
                     <p class="casamiento_center"><img src="/images/shell.png" /></p>
        
<h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> 
Also in this design:</h5>
                    
           <div class="prevent_table_stretching">
                    <table class="casamiento">
<% related.forEach(function(r) { %>
                          <tr>
                            <td><img src="/images/product_types/small/<%= r.product_type %>_small.png" /</td>
                            <td><img src="http://www.casamiento.co.uk/products/<%= r.theme_id %>-<%= r.product_type %>/attachments/thumb-<%= r.attachments_order[0] %>" /></td>

<td class="casamiento"><a class="casamiento" href="<%= r.buy_it_now_id %>">20 x <%= r.product_type %></a></td>
                            <td class="casamiento_price">&pound;<%= r.pounds %><span class="decimal">.<%= r.pence %></span></td>
                        </tr>
                       <% }) %>
                      
                    </table>
                    </div>
                    
<div id="peace_of_mind" ><p class="casamiento"><img src="/images/ebay/peace_of_mind.png" /></p><p class="casamiento">Recently, a couple contacted me who'd been failed by their stationery suppliers and only had a few days to get some place cards. I delivered the cards on time--but lo and behold they'd forgotten to 

update their delivery address so the package went to their old house! The only option was for me to reprint and use an 

expensive next day delivery courier as time had run out. Even though it was their mistake and it cost me more for the 

courier than it did to print the cards, I fulfilled my promise to them and those place cards arrived in time for their 

wedding. </p> <p class="casamiento"><img src="/images/ebay/reputation.png" /></p><p class="casamiento">Why did I do this? Because your happiness builds my reputation: I could have saved a few pounds by refusing to 

deliver those place cards as it wasn't my fault, but by going against the grain and delivering against the odds I added to 

my reputation in a way that money can't buy&mdash;so you and me both win.</p>

<p class="casamiento_center"><img src="/images/shell.png" /></p></div>
<h5 class="casamiento"><img src="http://www.casamiento.co.uk/images/bullets/small_dot_square.png" /> 
Don't take my word for it&hellip;</h5>
           <div class="prevent_table_stretching">
                    <table class="casamiento_feedback">
                    <tr><td>
                    David was so helpful everyone at wedding was talking about matching stationery</td><td><a href="">dellajones65</a></td></tr>
<tr><td>
Amazing invites, classy elegant and great value for money. Really helpful</td><td><a class="casamiento" href="">scousesarah81</a></td></tr>
<tr><td>
Finally found something we love! Everything it promises to be & more. Thanks!</td><td><a class="casamiento" href="">j9uis</a></td></tr>
<tr><td>
nothing was too much trouble for seller, a pleasure to do business with</td><td><a class="casamiento" href="">lovenufc</a></td></tr>
<tr><td>
Beautiful Place Cards - So much better than confetti.co.uk - Thank you!</td><td><a class="casamiento" href=""> davinaj3000 </a></td></tr>
<tr><td>
Fantastic design, really makes that special touch to your wedding</td><td><a class="casamiento" href="">caleb1506</a></td></tr>
<tr><td>
stationery is beautiful, very happy, everybody has commented on how lovely it is</td><td><a class="casamiento" href="">reggit40</a></td></tr>
<tr><td>
LOVE THIS ITEM!! there amazing :) got very excited when they came!</td><td><a class="casamiento" href="">babyajane10</a></td></tr>
<tr><td>
Fantastic product.World class communication.Guests love the invitations!Thanks!!</td><td><a class="casamiento" href="">sibofthedump2</a></td></tr>
<tr><td>
the stationary is amazing, words can not describe!! good communication too, A+++</td><td><a class="casamiento" href="">rebeccacraig</a></td></tr>
<tr><td>
Fantastic Stationery,Best I've Seen, Fast Delivery GREAT EBAYER! A+++</td><td><a class="casamiento" href="">sneekers</a></td></tr>
<tr><td>
Prompt service, excellent communication and a beautiful product. Thank you.</td><td><a class="casamiento" href="">yellowleeds</a></td></tr>
<tr><td>
excellent customer care,invites are stunning, highly recommend 5 stars.</td><td><a class="casamiento" href="">margueritejofi29</a></td></tr>
<tr><td>
Been brilliant throughout couldn't ask for better service</td><td><a class="casamiento" href="">jiggaman1074</a></td></tr>
<tr><td>
all items outstanding cant thank you enough will highly recommend</td><td><a class="casamiento" href="">jglass1976</a></td></tr>
<tr><td>
fabulous value for money thank you very much</td><td><a class="casamiento" href="">tav09</a></td></tr>
<tr><td>
EXCELLENT quality, EXCELLENT service, thank you so much! :-)</td><td><a class="casamiento" href=""> babyjayden </a></td></tr>
<tr><td>
once again a fantastic job, these are superb as usual x</td><td><a class="casamiento" href="">spongebobjulie71</a></td></tr>
<tr><td>
An absolute GENIUS ! 5***** am so happy, will be ordering lots more from you :) </td><td><a class="casamiento" href="">amcc.028</a></td></tr>
<tr><td>
Great price, fantastic design! Had many compliments about the them!</td><td><a class="casamiento" href="">kaytie000</a></td></tr>
<tr><td>
fanstatic invites love how personal they are will use seller again</td><td><a class="casamiento" href="">michelletmoore</a></td></tr>
<tr><td>
exceptional service!</td><td><a class="casamiento" href="">carlye00</a></td></tr>
<tr><td>
Lovely invitations..Exactly as described. Quick delivery! Very happy!! :)</td><td><a class="casamiento" href="">natcousins</a></td></tr>
<tr><td>
Excellent product, as good as I'd hoped. Quick delivery ordered Sun came Tues!</td><td><a class="casamiento" href="">mzeden</a></td></tr>
<tr><td>
These lived up to every expectation, thank you so much! A++</td><td><a class="casamiento" href="">maddie193</a></td></tr>
<tr><td>
Excellent. Quality. First Class. Extremely Efficient. An outstanding success.</td><td><a class="casamiento" href="">barndweller09</a></td></tr>
<tr><td>
Absolutely beautiful and great communication!!! Thank you so much!</td><td><a class="casamiento" href="">misspigdog</a></td></tr>
<tr><td>
Amazing Product and amazing service!</td><td><a class="casamiento" href="">damanrc</a></td></tr>
<tr><td>
Love this item, thanks soo much :-)</td><td><a class="casamiento" href="">mr-mrs-bell</a></td></tr>
<tr><td>
Oh my goodness...these are amazing.</td><td><a class="casamiento" href="">xrsenigma</a></td></tr>
<tr><td>
lovely stationary ........... thankyou</td><td><a class="casamiento" href="">suenzak</a></td></tr>
<tr><td>
Really Beautiful, and super fast delivery thankyou!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</td><td><a class="casamiento" href="">vikwells1983</a></td></tr>
<tr><td>
extremely efficient at sending samples and invitations lovely</td><td><a class="casamiento" href="">mumljh</a></td></tr>
<tr><td>
Amazing value for money, love them! An excellent buyer with great communication.</td><td><a class="casamiento" href="">jlo0907</a></td></tr>
<tr><td>
Lovely place cards...Will be ordering more!</td><td><a class="casamiento" href="">2011ash3950</a></td></tr>
<tr><td>
really good quality will be in touch soon for main order :)</td><td><a class="casamiento" href="">jackie.s0774</a></td></tr>
<tr><td>
love this-just need to decide which to go for and how many we need! A+</td><td><a class="casamiento" href="">allison_13</a></td></tr>
<tr><td>
Really like them , will be in touch once we have confirmed all the guests</td><td><a class="casamiento" href="">cuddlywhiteanoracks</a></td></tr>
<tr><td>
lovely wedding Invitations I love them!! great value! Thank you.</td><td><a class="casamiento" href="">cossstitch4love</a></td></tr>
<tr><td>
great invites, great service will be placing order in coming months!!!</td><td><a class="casamiento" href="">cheralyn23</a></td></tr>
<tr><td>
beautiful invitations, very impressed, great ebayer A+++++++++++++</td><td><a class="casamiento" href="">sheilah1544</a></td></tr>
<tr><td>
more than pleased with item and service 5 star seller will use again thank you</td><td><a class="casamiento" href="">jce123lila</a></td></tr>
<tr><td>
I love them thanks you so much</td><td><a class="casamiento" href="">nicolaw7062</a></td></tr>
<tr><td>
nice product thank you !!!</td><td><a class="casamiento" href="">gorgi69</a></td></tr>
<tr><td>
Lovely sample look forward to ordering more.</td><td><a class="casamiento" href="">7904michelled</a></td></tr>
<tr><td>
Fantastic wedding stationery, very pleased, thank you again. A+++</td><td><a class="casamiento" href="">x26kjj</a></td></tr>
<tr><td>
Excellent service and loved the product. Highly recommended! </td><td><a class="casamiento" href="">weechik</a></td></tr>
<tr><td>
good ebayer. lovely invitations and envelopes</td><td><a class="casamiento" href="">maxine050</a></td></tr>
<tr><td>
A+++++++++++++++ EXCELLENT PRODUCT, EXACTLY AS DESCRIBED, VERY IMPRESSED!!!!!</td><td><a class="casamiento" href="">mcbean3</a></td></tr>
<tr><td>
antastic seller A* product fast delivery excellent service all round fantastic</td><td><a class="casamiento" href="">bezza2012</a></td></tr>
<tr><td>
Perfect as described! Thanks so much! A star seller!</td><td><a class="casamiento" href="">traer2007</a></td></tr>
<tr><td>
Excellent product, brilliant communication, would recommend to friends & family.</td><td><a class="casamiento" href="">locknott08</a></td></tr>
<tr><td>
These are Excellent great value i would defo buy from again he is brilliant AAAA</td><td><a class="casamiento" href="">babyboo550</a></td></tr>
<tr><td>
rilliant thanks,will defo be buying for my wedding</td><td><a class="casamiento" href="">mizzsianyk</a></td></tr>
<tr><td>
Lovely eBayer, lovely invites thanks again! - </td><td><a class="casamiento" href="">kafifa</a></td></tr>
<tr><td>
Gorgeous invitations! Very pleased with them! Highly recommended! A+++ </td><td><a class="casamiento" href=""> robsons08</a></td></tr>
<tr><td>
THANK YOU VERY NICE INVITATION </td><td><a class="casamiento" href="">crunchie43</a></td></tr>
<tr><td>
beautiful! Thank you! </td><td><a class="casamiento" href="">yummum85</a></td></tr>
<tr><td>
Great quality. Professional personalised printing service. </td><td><a class="casamiento" href=""> aquila612</a></td></tr>
<tr><td>
Very quick delivery and perfect package. interesting and very proffessional. </td><td><a class="casamiento" href=""> jyeg71</a></td></tr>
<tr><td>
fantastic! great quality, personal touch, great value, highly recommended </td><td><a class="casamiento" href="">aimbob83</a></td></tr>
<tr><td>
Excellent product - would reccomend to anyone! </td><td><a class="casamiento" href=""> 1misslightning</a></td></tr>
<tr><td>
Fantastic service excellent communication. Will be in touch nearer time. Thanks</td><td><a class="casamiento" href="">sue590_1</a></td></tr>
<tr><td>
Gorgeous invites, great communication xxx</td><td><a class="casamiento" href="">kimandrich-2009</a></td></tr>
<tr><td>
recieved within 4 days, just as seen on the screen. thanks</td><td><a class="casamiento" href="">loopyloo2007</a></td></tr>
<tr><td>
fab item!</td><td><a class="casamiento" href="">lorrettac2006</a></td></tr>
<tr><td>
Nice card and excellent matching items. Fast delivery.</td><td><a class="casamiento" href="">arleenalam</a></td></tr>
<tr><td>
Great Communication, Very professional, Highly recommended AA*****</td><td><a class="casamiento" href="">tinah0128</a></td></tr>
<tr><td>
Cannot praise highly enough - Wonderful service once again. Thank U :-) </td><td><a class="casamiento" href=""> effinella</a></td></tr>
<tr><td>
And we have a winner. Thanks again for an excellent service. </td><td><a class="casamiento" href=""> yellowleeds</a></td></tr>
<tr><td>
Excellent products. Individually tailored. Great service. Fast delivery. </td><td><a class="casamiento" href=""> nige123jenny006</a></td></tr>
<tr><td>
WOW! Delighted with sample and service - Will be placing full order. Thank you! </td><td><a class="casamiento" href=""> rob_and_lauren</a></td></tr>
<tr><td>
Delighted with the finished product. Brilliant service , - Thank you </td><td><a class="casamiento" href=""> niclake63</a></td></tr>
<tr><td>
Totally beautiful, will be ordering table plan and place cards </td><td><a class="casamiento" href=""> pinkbnjy92</a></td></tr>
<tr><td>
WOW!!! Sooo lovely!! Great seller, really helpful and nothing too much! A++++++ </td><td><a class="casamiento" href=""> chillin_bloke</a></td></tr>
<tr><td>
THIS SERVICE WAS UNBEATABLE AND THE CARDS WERE SO UNIQUE IM THRILLED!! </td><td><a class="casamiento" href=""> lookagain2005</a></td></tr>

</table></div>


                </div>
                
            </div>
    
<!-- #######################################################################################
R E L A T E D
####################################################################################### -->

    <div style="clear:both">
        <p class="casamiento_center"><img src="/images/shell.png" /></p></div>

</div>
</body>
</html>