<%- contentFor('inside_headtag') %>

<style type="text/css">
  <% if (product.locked) { %>
    #overlay {
      position:fixed;
      width:100%;
      height:100%;
      z-index:100000000000000000000000000000;
      background-image:url('/gfx/locked.png') 
    }
    
    body { height:0; }  
  <% } %> 
  #control_panel { opacity: 1; }
      .colour_picker_wrapper {
         width:100%;
         margin:0 auto;   
      }
    
      .colour_picker_wrapper .dizzycp-static_container { 
        padding-bottom:15px;
        clear:both;
      }
        .colour_picker_wrapper .dizzycp-swatch_container { 
          text-align:left;
        }
        
        .colour_picker_wrapper .dizzycp-big_colour_square_frame { 
          margin-left:20px;
          float:left;
        }
        
        .colour_picker_wrapper .dizzycp-text_label_for_colour { 
          text-align:left;
          margin-left:75px;
          padding-top:12px;
        }
  .left_column, 
  #print_ui { width:100%; }
  
  #loading_main_page_spinner,
  .delete_guest {
    display:none; 
  }
  
  .add_another, 
  .checkout {
    visibility:hidden;
  }
  <% for (var i=0; i < product.colours.length; i++) { %>
    .colour_<%= i %> { background-color: <%= product.colours[i] %> }
  <% } %>
  
  @font-face { font-family:"<%= product.font %>"; src: url('/fonts/<%= product.font %>.eot?') format('eot'), url('/fonts/<%= product.font %>.woff') format('woff') }  

</style>

<%- contentFor('middle') %>

  
<%- contentFor('main') %>
  
 

<%- contentFor('left') %>
  <div id="preview">
    
    <div id="print_ui"></div>
    <div id="product_container"></div>
    
  </div>
  




<%- contentFor('right') %>



<%- contentFor('javascripts') %>

<%= include initialise.js %>