<%- contentFor('inside_headtag') %>
<style type="text/css">
  

#loading_main_page_spinner {
  display: none;
}
#inner_page_container {
  width:90%;
}
li {
  list-style-type:disc;
  font:normal 1.8em 'Josefin Slab';
  color:#555;line-height:1.4em;
  background-color:#EEE;
}
#right_col {
  margin-left:50%;
  border:0;
  padding-top:2em;
  width:50%;
}
.left_column {
  width:50%;
}

</style>
    
  <%- contentFor('main') %>
  <%- contentFor('left') %>
  <div style="width:90%;margin:0 auto;font:normal 6em 'Josefin Slab';color:#666;text-align:center;margin-top:0.5em;">
     <span style="background-color:#EEE;">Designs you can personalise &amp; print&mdash;fast.</span>
  </div>
  
  <div style="width:90%;margin:0 auto;font:normal 2.5em 'Josefin Slab';line-height:1em;color:#666;text-align:center;margin-top:0.5em;">
   <span style="background-color:#EEE;line-height:1em">Say Goodbye to spinning wheels that say "page reloading", watch colours change instantly, see your designs on paper in seconds&hellip;</span>
  </div>
  
  <%- contentFor('right') %>

<img src="/gfx/aboutphoto.jpg" style="margin-top:2em;width:95%;display:block;border-radius:10px;border:4px double grey;border-bottom:4px double grey;"/>

<%- contentFor('middle') %>

<%- contentFor('about') %> <img src="/gfx/welcomeicons/line.svg" style="display:block;width:50%;padding-top:2em;padding-bottom:2em;margin:0 auto;text-align:center;" class="welcome_line"/>
<div style="width:70%;margin:0 auto;">
  <div style="background-color:#CA2C92;width:78px;margin:0;height:78px;padding-top:5px;padding-left:5px;float:left;margin-right:0.5em;"><div style="width:70px;height:70px;border:1px solid white;background-color:#CA2C92;font:normal 6em 'Josefin Slab';text-align:center;color:white;">H</div></div>
 
<p style=";font:normal 1.8em 'Josefin Slab';color:#333;line-height:1.3em;"><span style="background-color:#EEE">ELLO, I'M DAVID.</span> As a graphic designer, I've worked with template-based products many times. By "template-based products", I'm talking invitations, place cards, greeting cards&hellip; <span style="background-color:#EEE;font-style:italic;">designs that stay the same but have elements that can be personalised</span>, such as the wording on an invitations or a colour scheme.</p>

<p style="font:normal 1.8em 'Josefin Slab';color:#333;line-height:1.3em;">Making changes to templates is a tedious job: clients would email me with changes, and then like a robot I'd do some cutting and pasting before emailing back a proof. I decided that for these simple tasks: changing colours, wording, or fonts, there had to be a more efficient way&hellip;<span style=";background-color:#EEE;font-style:italic;">Wouldn't it be better if clients could cut me out of the equation and change these elements themselves?</span> </p>

<p style=";font:normal 1.8em 'Josefin Slab';color:#555;line-height:1.4em;">I'd seen Web sites online that allowed you to manipulate existing templates, but they all seemed very slow: lots of page reloads and spinning icons each time you made a change. It got me thinking about one of the simplest products you can create as a designer&mdash;place cards&mdash;and I started to imagine the sort of software that would make creating place cards easier. It would:

<ul><li>
  Allow you to copy and paste an entire list of guest names in one go</li>
  
  <li style="background-color:white">Edit names quickly and easily</li>
  <li style="font-style:italic;">Change colour schemes very quickly and see the changes instantly</li>
  <li  style="background-color:white">Change the fonts of all the names in one go</li>
  <li style="font-style:italic;">Easily make fonts bigger or smaller on individual place cards when guest names are very long or very short (&ldquo;Alice&rdquo; on a place card needs to be in bigger text than &ldquo;Mrs Maureen Smithson-Jacobs&rdquo;)</li>
  <li style="background-color:white">Auto save everything as you work.</li>
  <li style="font-style:italic;">Do it all through a Web site from anywhere</li>
  <li style="background-color:white">Print straight from any browser in professional quality</li>
  <li style="font-style:italic;">Make it work on tablets and mobile phones as well</li>
</li></ul>
<p style="padding-top:1em;font:normal 1.8em 'Josefin Slab';color:#555;line-height:1.4em;">and most of all, it would work really fast!
</p>


<img src="/gfx/aboutus2.jpg" style="margin-top:1em;float:right;display:block;border-radius:10px;border:4px double #555;width:55%;position:relative;margin-left:1%;margin-right:-18%;" />
<p style=";font:normal 3.5em 'Josefin Slab';color:#555;text-align:center;padding-left:1em;padding-right:1em;width:52%;"><span style="background-color:#EEE;line-height:1em;">So I set about creating it, from scratch, myself.</span></p>

     <img src="/gfx/welcomeicons/line.svg" style="display:block;width:57%;padding-top:0;padding-bottom:2em;margin:0 auto;text-align:center;" class="welcome_line"/>
<p style="padding-top:1em;font:normal 1.8em 'Josefin Slab';color:#555;line-height:1.4em;">So this is the start of what Casamiento is about: designs you can edit and personalise fast, see changes instantly&hellip; and print yourself in high quality, straight from your browser.</span></p>

<p style=";font:normal 1.8em 'Josefin Slab';color:#555;line-height:1.4em;">We've started with place cards to see if could be done, but the next step will be invitations for christenings, weddings and corporate events. <span style=";background-color:#EEE;font-style:italic;">I'll soon be adding features to allow you to upload logos for your place cards, along with the ability to import friends' or colleagues' names from your Facebook or LinkedIn account.</span> </p>

<p style=";font:normal 1.8em 'Josefin Slab';color:#555;line-height:1.4em;">Casamiento is currently based on the Isle of Wight where you are only ever 5 miles away from the nearest beach, which is nice. I love playing the piano and singing, which you can <a style="text-decoration:underline;background-color:#fedff3;color:#bb328b;font-style:italic;" href="facebook.com">see me doing</a> if you decide to <a style="background-color:#fedff3;font-style:italic;color:#bb328b;text-decoration:underline;" href="">add me as a friend</a> on Facebook.</span> </p>
<img src="/gfx/sig.svg" style="width:20%;opacity:0.7;display:block;margin:0 auto;padding:0.5em;background-color:#DDD" />

</div>
<%- contentFor('javascripts') %>