<%- contentFor('inside_headtag') %>
<style type="text/css">
  
#about_container a:link,#about_container a:visited { color:#CA2C92;text-decoration:underline; }
#loading_main_page_spinner { display: none; }
#inner_page_container { width:90%; }
.main_headline {
  width:90%;margin:0 auto;font:normal 6em 'Josefin Slab';color:#666;text-align:center;margin-top:0.5em;
}
li {
  list-style-type:disc;
  font:normal 1.8em 'Josefin Slab';
  color:#555;line-height:1.4em;
  background-color:#EEE;
}
#about_container {
  width:70%;margin:0 auto;
}
#right_col {
  margin-left:50%;
  border:0;
  padding-top:2em;
  width:50%;
}

#about_us_2 {
  width:75%;margin:0 auto;border:4px double grey; border-radius:10px;text-align:center;display:block;
}
.left_column {
  width:50%;
}

.subheading { 
  width:90%;margin:0 auto;font:normal 2.5em 'Josefin Slab';line-height:1em;color:#666;text-align:center;margin-top:0.5em;
}
/* Smartphone ============================================================================================================
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================ */
@media all and (min-width: 220px) and (max-width: 500px) {
/* ----------------------------------------------------------------------------- */    
#inner_page_container { 
  width:100%;
  border:0;
  padding:0;
}
.subheading {
  font-size:2em;
  line-height:1.2em;

}
#about_container { 
  width:90%;
  text-align:center;
  
}
.main_headline { 
  font-size:4.5em;
  margin-top:0;
  width:95%;
}
.left_column { 
  float:none;width:100%;border:0;padding:0;
}
#about_us_2 { 
  float:none;margin:0;padding:0;width:107%;margin:0 auto;clear:both;
  margin-left:-5%;
}
#right_col { 
  float:none; width:100%; border:0;padding:0;clear:both;margin:0; }
}
  
  /* Phablet
  ============================================================================================================
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================ */
  
  @media all and (min-width: 501px) and (max-width:800px) {
    #inner_page_container { margin:0 auto; width:93%;}
    
#about_us_2 { 
  float:none;margin:0;padding:0;width:107%;margin:0 auto;clear:both;
  margin-left:-5%;
}
  #right_col {
    margin:0;
    clear:both;float:none;border:0;padding:0;
    width:100%;
}
#about_container {
  width:80%;
}
.left_column {
  margin:0;
  clear:both;float:none;border:0;padding:0;
  width:100%;
}
    
  }

</style>
    
  <%- contentFor('main') %>
  <%- contentFor('left') %>
  <div class="main_headline">
     <span style="background-color:#EEE;">Designs you can personalise &amp; print&mdash;fast.</span>
  </div>
  
  <div class="subheading">
   <span style="background-color:#EEE;line-height:1em">Say Goodbye to spinning wheels that say "page reloading", watch colours change instantly, see your designs on paper in seconds&hellip;</span>
  </div>
  
  <%- contentFor('right') %>

<img src="/gfx/aboutphoto.jpg" style="margin-top:2em;width:95%;display:block;border-radius:10px;border:4px double grey;border-bottom:4px double grey;"/>

<%- contentFor('middle') %>

<%- contentFor('about') %> 
<img src="/gfx/welcomeicons/line.svg" style="display:block;width:50%;padding-top:2em;padding-bottom:2em;margin:0 auto;text-align:center;" class="welcome_line"/>
<div id="about_container">
  <div style="background-color:#CA2C92;width:78px;margin:0;height:78px;padding-top:5px;padding-left:5px;float:left;margin-right:1em;"><div style="width:70px;height:70px;border:1px solid white;background-color:#CA2C92;font:normal 6em 'Josefin Slab';text-align:center;color:white;">O</div></div>
 
<p style=";font:normal 1.8em 'Josefin Slab';color:#333;line-height:1.3em;"><span style="background-color:#EEE;letter-spacing:0.2em;">NCE UPON A TIME,</span> on an <a href="http://www.visitisleofwight.co.uk/">island</a> far, far away, there was a boy called David. David was a bit of a strange child: instead of playing football with the other boys, he preferred to stay at home watching <a href="https://www.youtube.com/watch?v=R86_TLuI51w">television</a> <a href="https://www.youtube.com/watch?v=K78PefR-Y7Y">company</a> <a href="https://www.youtube.com/watch?v=wK8jf_93Lv8">logo animations</a> on repeat and pretending he could talk to people through his computer like Whoopi Goldberg in <a href="">Jumpin' Jack Flash</a> (his favourite childhood film).<span style="color:lightgrey">&#9632;</span></p>

<p style="text-indent:3em;font:normal 1.8em 'Josefin Slab';color:#333;line-height:1.3em;">While other children grew up with posters of pop stars on their walls, David's was covered with the logos of multinational corporations, and as he grew older, he started to make up logos of his own for companies that existed only in his imagination. David soon discovered there was a proper name for what he was doing, and that you could actually get paid for doing it if you were good enough: so he decided when he grew up he wanted to be a "graphic designer".<span style="color:lightgrey">&#9632;</span></p>

<p style="text-indent:3em;font:normal 1.8em 'Josefin Slab';color:#333;line-height:1.3em;">David loved his job, but sometimes he found himself dealing with tedious, repetitive tasks that needed to be done over and over again without much imagination&mdash;a bit like doing the washing up or presenting an episode of <a href="https://www.youtube.com/channel/UChJfh0Y4ycfMbf2SHQzRasg">Loose Women</a>&mdash;tasks that took him away from the favourite part of his work: creating designs. So he decided he would teach himself how to code and write software to help him automate these tasks and make the boring stuff go away.<span style="color:lightgrey">&#9632;</span></p>

<div style="width:60%;height:1em;background-color:#EEE;margin:0 auto;margin-bottom:0.5em;"></div>

<div style="width:60%;height:1em;background-color:#EEE;margin:0 auto;margin-bottom:0.5em;"></div>

<div style="width:60%;height:1em;background-color:#EEE;margin:0 auto;margin-bottom:0.5em;"></div>

<p style="padding-top:1em;padding-bottom:0;font:normal 4em 'Josefin Slab';color:#555;width:70%;margin:0 auto;line-height:1.2em;text-align:center;"><span style="background-color:#EEE;line-height:1em;">&ldquo;Whatever you can do or dream, begin it.&rdquo;</span></p>


<img src="/gfx/welcomeicons/line.svg" style="display:block;width:75%;padding-top:2em;padding-bottom:2em;margin:0 auto;text-align:center;" class="welcome_line"/>
      <div style="background-color:#CA2C92;width:58px;margin:0;height:58px;padding-top:5px;padding-left:5px;float:left;margin-right:0.5em;"><div style="width:50px;height:50px;border:1px solid white;background-color:#CA2C92;font:normal 5em 'Josefin Slab';text-align:center;color:white;">I</div></div>
<p style="padding-top:1em;font:normal 1.8em 'Josefin Slab';color:#555;line-height:1.4em;"><span style="background-color:#EEE;letter-spacing:0.2em;">
 I'D SEEN WEB APPS</span> that allowed you to personalise templates, but they all had horrible, slow and clunky interfaces: constant buffering or page reloading for the smallest changes. I decided to think about one of the simplest products a designer can create, and imagined what the perfect software would look like to create them. You'd be able to choose from hundreds of preexisting designs, but you'd be able to change the colours of the designs to match your colour scheme. Not just to a limited number of colours, but to any colour. And you'd see the colours change instantly, not after a page reload.</p>

<img src="/gfx/aboutus2.jpg" id="about_us_2" />

<p style="padding-top:1em;font:normal 1.8em 'Josefin Slab';color:#555;line-height:1.4em;">You'</p>

<p style=";font:normal 1.8em 'Josefin Slab';color:#555;line-height:1.4em;">We've started with place cards to see if could be done, but the next step will be invitations for christenings, weddings and corporate events. <span style=";background-color:#EEE;font-style:italic;">I'll soon be adding features to allow you to upload logos for your place cards, along with the ability to import friends' or colleagues' names from your Facebook or LinkedIn account.</span> </p>

<p style=";font:normal 1.8em 'Josefin Slab';color:#555;line-height:1.4em;">Casamiento is currently based on the Isle of Wight where you are only ever 5 miles away from the nearest beach, which is nice. I love playing the piano and singing, which you can <a style="text-decoration:underline;background-color:#fedff3;color:#bb328b;font-style:italic;" href="facebook.com">see me doing</a> if you decide to <a style="background-color:#fedff3;font-style:italic;color:#bb328b;text-decoration:underline;" href="">add me as a friend</a> on Facebook.</span> </p>

</div>
<%- contentFor('javascripts') %>