<%- contentFor('inside_headtag') %>
<style type="text/css">
 
  #loading_main_page_spinner  { display: none;  }
  .question:hover {
    text-decoration:underline;
    cursor:pointer;
  }
  #inner_page_container { 
    width: 90%; 
    color: #666;
  }
  .left_column { 
    width:50%;
  }
  #right_col {
    margin-left:50%;
    margin-right:0;
    width:50%;
  }
  
  .faq_subheading {
    font-family:'Josefin Slab';
    font-weight:300;
    line-height:1.2em;
    font-size:2.2em;width:31%;margin-left:0;margin-right:14%;float:right;margin-bottom:2em;
  }
  .question {
    font-weight:300;font-family:'Josefin Slab';font-style:italic;font-size:1.8em;
  
  }
div.bubble
{
	position: relative;
	width:80%;
	text-align: center;
	margin: 60px auto;
	padding:1em;
	background-color: #eee;
	border-radius: 20px;
}

.greybar {
  width:30%;background-color:#DDD;height:1em;margin:0 auto;clear:both;margin-bottom:0.25em;
}

.questionmark {
  width:20px;

}
 div.pink { background-color:#F5CEF5;}
 
  .faq_main_headline {
    margin: 0 auto;
    font-family: 'Josefin Slab';
    font-weight: 300;
    line-height: 1.1em;
    text-align: center;
    
    font-style:italic;font-size:5em;margin-left:5%;width:50%;float:left;
  }
  
  .subheading {
    width: 80%;
    margin: 0 auto;
    font: normal 2.75em 'Josefin Slab';
    line-height: 1.1em;
    text-align: center;
    margin-top:0.6em;
  }
  
  p {
    font: normal 1.7em 'Josefin Slab';
    color: #333;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom:0.5em;
  }
  
  .welcome_line {
    display: block;
    width: 100%;
    margin: 0 auto;
    
    margin-top: 0.25em;
    margin-bottom:0.75em;
  }
  
  /* Smartphone ============================================================================================================
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================ */
  
  @media all and (min-width: 220px) and (max-width: 500px) {
    /* ----------------------------------------------------------------------------- */
    #inner_page_container {
      width: 100%;
      border: 0;
      padding: 0;
    }
    .faq_main_headline {
      width:90%;
      text-align:center;
      float:none;
      clear:both;
      padding-bottom:0.25em;
      font-size:3.4em;
    }
    .faq_subheading {
      float:none;
      width:90%;
      font-size:1.8em;
      margin:0 auto;
      text-align:center;
      clear:both;
      padding-bottom:0.5em;
    }
    .left_column, #right_col {
      float:none;
      clear:both;
      width:100%;
      margin:0;
      
    }
    p {
      font-size: 1.4em;
      text-align: left;
      line-height: 1.3em;
    }
    .welcome_line {
      width: 100%;
    }
 
  }
  /* Phablet
  ============================================================================================================
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================ */
  
  @media all and (min-width: 501px) and (max-width:800px) {
    #inner_page_container {
      margin: 0 auto;
      width: 90%;
      border-left:1px dotted grey;
      border-right:1px dotted grey;
    }
    
    .main_headline {
      font-size:6em;
      line-height:1em;
     padding-top:0.5em;
    }
    
    .subheading {
      width:92%;
    }
    
    .welcome_line { width:80%; }
  }

</style>
    
  <%- contentFor('main') %>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <%- contentFor('left') %>

<div  class="bubble thought" style="border:2px dashed white;text-align:left;"><img src="/gfx/faq/ui.svg" style="opacity:0.6;width:60px;display:block;margin:0 auto;position:relative;top:-2em;" /><p style="font: 300 3em 'Josefin Slab', sans-serif;text-align:center;">Creating your place cards&hellip;</p>


<img src="/gfx/welcomeicons/line.svg" class="welcome_line" />

<p class="question"><img src="/gfx/faq/questionmarkgrey.svg" class="questionmark"> How do I enter names?</p>
<p class="question"><img src="/gfx/faq/questionmarkgrey.svg" class="questionmark"> Can I add a logo?</p>
<p class="question"><img src="/gfx/faq/questionmarkgrey.svg" class="questionmark"> Can I change the font colour?</p>
<p class="question"><img src="/gfx/faq/questionmarkgrey.svg" class="questionmark"> Can you create a special design for me?</p>
</div>




<div  class="pink bubble thought" style="text-align:left;"><img src="/gfx/faq/stack.svg" style="opacity:0.6;width:60px;display:block;margin:0 auto;position:relative;top:-2em;" /><p style="font: 300 3em 'Josefin Slab', sans-serif;text-align:center;">When we print your place cards&hellip;</p>


<img src="/gfx/welcomeicons/line.svg" class="welcome_line" />

<p class="question"><img src="/gfx/faq/questionmark.svg" class="questionmark"> How do I enter names?</p>
<p class="question"><img src="/gfx/faq/questionmark.svg" class="questionmark"> Can I add a logo?</p>
<p class="question"><img src="/gfx/faq/questionmark.svg" class="questionmark"> Can I change the font colour?</p>
<p class="question"><img src="/gfx/faq/questionmark.svg" class="questionmark"> Can you create a special design for me?</p>
</div>






















  <%- contentFor('right') %>
  
<div  class="bubble pink thought" style="text-align:left;"><img src="/gfx/faq/printer.svg" style="width:60px;display:block;margin:0 auto;position:relative;top:-2em;" /><p style="font: 300 3em 'Josefin Slab', sans-serif;text-align:center;">When you print yourself</p>


<img src="/gfx/welcomeicons/line.svg" class="welcome_line" />


<p class="question" id="question_printing_size_and_position"><img src="/gfx/faq/questionmark.svg" class="questionmark" /> Can I change the size and position of place cards?</p>

<p class="answer" id="answer_question_printing_size_and_position" style="font-style:normal;font-family:'OS Light';display:none;font-size:1.2em;line-height:1.6em;">Etiam vulputate turpis eu ligula viverra, eu eleifend nunc placerat. In ac massa gravida, scelerisque nulla vel, porta augue. Praesent congue nisl sed viverra elementum. Morbi leo risus, vulputate ac euismod quis, porta eu lorem. Ut et accumsan mi, vel tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut pellentesque augue, ut suscipit lorem. Nam ipsum ligula, feugiat sit amet quam at, vulputate tristique tellus. </p>

<p class="question" id="question_printing_from_an_ipad"><img src="/gfx/faq/questionmark.svg" class="questionmark" /> Printing from an iPad</p>

<p class="answer" id="answer_question_printing_from_an_ipad" style="font-style:normal;font-family:'OS Light';display:none;font-size:1.2em;line-height:1.6em;"><img src="/gfx/faq/safari.svg" style="width:50px;opacity:0.6;display:block;margin:0 auto;padding-bottom:0.25em;"/>Etiam vulputate turpis eu ligula viverra, eu eleifend nunc placerat. In ac massa gravida, scelerisque nulla vel, porta augue. Praesent congue nisl sed viverra elementum. Morbi leo risus, vulputate ac euismod quis, porta eu lorem. Ut et accumsan mi, vel tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut pellentesque augue, ut suscipit lorem. Nam ipsum ligula, feugiat sit amet quam at, vulputate tristique tellus. </p>


<p class="question" id="question_printing_from_android"><img src="/gfx/faq/questionmark.svg" class="questionmark" /> Printing from an Android tablet or phone</p>



<p class="answer" id="answer_question_printing_from_android" style="font-style:normal;font-family:'OS Light';display:none;font-size:1.2em;line-height:1.6em;"><img src="/gfx/faq/android.svg" style="width:50px;opacity:0.6;display:block;margin:0 auto;padding-bottom:0.25em;"/>Etiam vulputate turpis eu ligula viverra, eu eleifend nunc placerat. In ac massa gravida, scelerisque nulla vel, porta augue. Praesent congue nisl sed viverra elementum. Morbi leo risus, vulputate ac euismod quis, porta eu lorem. Ut et accumsan mi, vel tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut pellentesque augue, ut suscipit lorem. Nam ipsum ligula, feugiat sit amet quam at, vulputate tristique tellus. </p>



<p class="question" id="question_printing_from_IE"><img src="/gfx/faq/questionmark.svg" class="questionmark" /> Printing from Internet Explorer</p>

<p class="answer" id="answer_question_printing_from_IE" style="font-style:normal;font-family:'OS Light';display:none;font-size:1.2em;line-height:1.6em;"><img src="/gfx/faq/ie.svg" style="width:50px;opacity:0.6;display:block;margin:0 auto;padding-bottom:0.25em;"/>Etiam vulputate turpis eu ligula viverra, eu eleifend nunc placerat. In ac massa gravida, scelerisque nulla vel, porta augue. Praesent congue nisl sed viverra elementum. Morbi leo risus, vulputate ac euismod quis, porta eu lorem. Ut et accumsan mi, vel tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut pellentesque augue, ut suscipit lorem. Nam ipsum ligula, feugiat sit amet quam at, vulputate tristique tellus. </p>



<p class="question" id="question_printing_from_chrome"><img src="/gfx/faq/questionmark.svg" class="questionmark" /> Printing from Chrome</p>

<p class="answer" id="answer_question_printing_from_chrome" style="font-style:normal;font-family:'OS Light';display:none;font-size:1.2em;line-height:1.6em;"><img src="/gfx/faq/chrome.svg" style="width:50px;opacity:0.6;display:block;margin:0 auto;padding-bottom:0.25em;"/>Etiam vulputate turpis eu ligula viverra, eu eleifend nunc placerat. In ac massa gravida, scelerisque nulla vel, porta augue. Praesent congue nisl sed viverra elementum. Morbi leo risus, vulputate ac euismod quis, porta eu lorem. Ut et accumsan mi, vel tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut pellentesque augue, ut suscipit lorem. Nam ipsum ligula, feugiat sit amet quam at, vulputate tristique tellus. </p>



<p class="question" id="question_printing_to_edge"><img src="/gfx/faq/questionmark.svg" class="questionmark" /> My place cards won’t print to the edge of the page?</p></div>












<div  class="bubble thought" style="border:2px dashed white;text-align:left;"><img src="/gfx/faq/lorry.svg" style="opacity:1;width:70px;display:block;margin:0 auto;position:relative;top:-2em;" /><p style="font: 300 3em 'Josefin Slab', sans-serif;text-align:center;">Delivering your place cards&hellip;</p>


<img src="/gfx/welcomeicons/line.svg" class="welcome_line"  />

<p class="question"><img src="/gfx/faq/questionmarkgrey.svg" class="questionmark"> How do I enter names?</p>
<p class="question"><img src="/gfx/faq/questionmarkgrey.svg" class="questionmark"> Can I add a logo?</p>
<p class="question"><img src="/gfx/faq/questionmarkgrey.svg" class="questionmark"> Can I change the font colour?</p>
<p class="question"><img src="/gfx/faq/questionmarkgrey.svg" class="questionmark"> Can you create a special design for me?</p>
</div>










  <%- contentFor('middle') %>
  
  <img src="/gfx/faq/laptop.svg" style="width:100px;opacity:0.6;display:block;margin:0 auto;" />
<div class="faq_main_headline">
  Frequently<br/> asked questions&hellip;
</div>
<div class="faq_subheading">
 If you have a question, check out this page first. If you still need help, contact us and we’ll get back to you&hellip;
</div>

<div class="greybar"></div>
<div class="greybar"></div>
<div class="greybar"></div>
  <%- contentFor('about') %> 
  

<%- contentFor('javascripts') %>

$(function() {
$('.question').click(function() {
var id = this.id;
$('#answer_' + id).slideDown();
})

})