<%- contentFor('inside_headtag') %>
<style type="text/css">
 
  #loading_main_page_spinner  { display: none;  }
  
  #inner_page_container { 
    width: 90%; 
    color: #666;
  }
  .left_column { 
    width:50%;
  }
  #right_col {
    margin-left:50%;
    margin-right:0;
  }
div.bubble
{
	position: relative;
	width: 50%;
	text-align: center;
	margin: 60px auto;
	padding:1em;
	background-color: #eee;
	border-radius: 20px;
}

div.bubble:before, p.bubble:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

div.thought:before, p.thought:after
{
	left: -3px;
	bottom:-20px;
	width: 40px;
	height: 40px;
	background-color: #eee;
	border-radius: 28px;
}

div.thought:after
{
	width: 25px;
	height: 25px;
	left: -7px;
	bottom:-32px;
	border-radius: 18px;
}

 div.pink,
  div.pink:after,
  div.pink:before { background-color:#F5CEF5;}
  .main_headline {
    width: 90%;
    margin: 0 auto;
    font-size: 7em;
    font-family: 'Josefin Slab';
    font-weight: 300;
    line-height: 1.1em;
    text-align: center;
  }
  
  .subheading {
    width: 80%;
    margin: 0 auto;
    font: normal 2.75em 'Josefin Slab';
    line-height: 1.1em;
    text-align: center;
    margin-top:0.6em;
  }
  
  p {
    font: normal 1.7em 'Josefin Slab';
    color: #333;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom:0.5em;
  }
  
  .welcome_line {
    display: block;
    width: 55%;
    padding-top: 1.4em;
    margin: 0 auto;
  }
  
  /* Smartphone ============================================================================================================
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================ */
  
  @media all and (min-width: 220px) and (max-width: 500px) {
    /* ----------------------------------------------------------------------------- */
    #inner_page_container {
      width: 100%;
      border: 0;
      padding: 0;
    }
    .main_headline {
      margin-top:0.25em;
      font-size: 3.6em;
      line-height:1em;
      width: 99%;
    }
    .subheading {
      font-size: 1.9em;
      line-height: 1.2em;
      width:97%;
      margin-bottom:0;
      padding-bottom:0;
    }
    p {
      font-size: 1.4em;
      text-align: left;
      line-height: 1.3em;
    }
    .welcome_line {
      width: 100%;
    }
 
  }
  /* Phablet
  ============================================================================================================
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================ */
  
  @media all and (min-width: 501px) and (max-width:800px) {
    #inner_page_container {
      margin: 0 auto;
      width: 90%;
      border-left:1px dotted grey;
      border-right:1px dotted grey;
    }
    
    .main_headline {
      font-size:6em;
      line-height:1em;
     padding-top:0.5em;
    }
    
    .subheading {
      width:92%;
    }
    
    .welcome_line { width:80%; }
  }

</style>
    
  <%- contentFor('main') %>
  
  <%- contentFor('left') %>

<div  class="bubble thought" style="border:1px dotted black;text-align:left;"><img src="/gfx/faq/ui.svg" style="opacity:0.6;width:60px;display:block;margin:0 auto;position:relative;top:-2em;" /><p style="font: 300 3em 'Josefin Slab', sans-serif;text-align:center;">Creating your place cards&hellip;</p>


<img src="/gfx/welcomeicons/line.svg" class="welcome_line" style="width:100%;padding:0;margin:0;" />

<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmarkgrey.svg" style="width:20px">Printing from an iPad</p>
<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmarkgrey.svg" style="width:20px"> Printing from an Android tablet or phone</p>
<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmarkgrey.svg" style="width:20px"> Printing from Internet Explorer</p>
<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmarkgrey.svg" style="width:20px"> Printing from Chrome</p>
<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmarkgrey.svg" style="width:20px"> My place cards won’t print to the edge of the page?</p></div>
  <%- contentFor('right') %>
  
<div  class="bubble pink thought" style="text-align:left;width:100%;"><img src="/gfx/faq/printer.svg" style="width:60px;display:block;margin:0 auto;position:relative;top:-2em;" /><p style="font: 300 3em 'Josefin Slab', sans-serif;text-align:center;">When you print yourself</p>


<img src="/gfx/welcomeicons/line.svg" class="welcome_line" style="width:100%;padding:0;margin:0;" />

<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmark.svg" style="width:20px"/ >Printing from an iPad</p>
<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmark.svg" style="width:20px"> Printing from an Android tablet or phone</p>
<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmark.svg" style="width:20px"> Printing from Internet Explorer</p>
<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmark.svg" style="width:20px"> Printing from Chrome</p>
<p style="font-weight:300;font-family:'Josefin Slab';font-style:italic;"><img src="/gfx/faq/questionmark.svg" style="width:20px"> My place cards won’t print to the edge of the page?</p></div>

  <%- contentFor('middle') %>
  
  <img src="/gfx/faq/laptop.svg" style="width:100px;opacity:0.6;display:block;margin:0 auto;" />
<div class="main_headline" style="font-style:italic;font-size:5em;margin-left:5%;width:50%;float:left;">
  Frequently<br/> asked questions&hellip;
</div>
<div class="main_headline" style="font-size:2.2em;width:31%;margin-left:0;margin-right:14%;float:right;margin-bottom:2em;">
 If you have a question, check out this page first. If you still need help, contact us and we’ll get back to you&hellip;
</div>
<div style="width:30%;background-color:#DDD;height:1em;margin:0 auto;clear:both;margin-bottom:0.25em;"></div>
<div style="width:30%;background-color:#DDD;height:1em;margin:0 auto;clear:both;margin-bottom:0.25em;"></div>
<div style="width:30%;background-color:#DDD;height:1em;margin:0 auto;clear:both;margin-bottom:0.25em;"></div>
  <%- contentFor('about') %> 
  

<%- contentFor('javascripts') %>