<style type="text/css">

.colour_index_right, .colour_index_left {  z-index:100; color:lightgrey; font:normal 6em "OS Light";}
.colour_index_left:hover, .colour_index_right:hover  { cursor:pointer; color:black; }

/* COLOURS */
.a_colour { opacity:0.8;text-align:center;display:inline-block;padding:3px;border:1px solid lightgrey;margin-left:3px;margin-right:3px;margin-top:6px;}
.a_colour:hover { opacity:1; border:1px dotted black; cursor:pointer;}

.palette { display:none; position:relative; }
.palette_2 { display:block;}

.color_square { width:30px;height:30px; cursor:pointer;}
.selectable:hover { cursor:pointer }

.color_square { width:30px;height:30px; cursor:pointer;}
.selectable:hover { cursor:pointer }
.colour_alert_box { display: none}
.color_label { font:normal 1.2em "OS";padding:0; margin-top:5px; color:#000}
.colour_change{border:1px solid lightgrey;padding-left:5px;padding-top:5px;width:35px;height:35px;margin:0; }
.colour_alert_box_1, .colour_alert_box_2 { display:none;}
.colour_change:hover { border:1px dotted black;}
p.first:first-letter { font:normal 5.5em TP;padding-right:0.05em;float:left;line-height:0.8em;}

.spc { border-bottom:1px dotted grey; padding-top:0; border-left:1px dotted grey; }
.spc h1 { font: normal 0.9em "OS Condensed"; color:#000; margin:0;margin-bottom:0.5em; text-align:left;padding:0.5em;letter-spacing:0.01em; }
.spc p { color:black;font-family: "OS"; font-size:1em; padding:0; margin:0em; line-height:1em; }

.texture {  display:inline-block;margin:0.5em;text-align:center;opacity:0.3;}
.step { width:50%;float:right;padding:0.25em;color:white;font:1em normal 'OS Light';border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;}
#step_1 .step, #step_1 .chat-bubble { display:block;}
.chat-bubble { display:none; font: normal 1.1em "OS Light Italic"; margin:10px auto;color:black; width:100%; }
/* COLUMNS */
#left_column { width:600px; float:left; border:0; }
#total_price {display:none;}
#right_column { margin-left:610px; border-left:1px dotted black; padding-left:10px;margin-right:20px;}
#page_container_casamiento { text-align:center; background-image:url('http://www.casamiento.co.uk/gfx/backgrounds/grey_header.png'); width:100%; }
#inner_page_container_casamiento { text-align:left;margin:auto; border-left:1px dotted #000; border-right: 1px dotted #000; background-color:#fff; width:95%;}

h2.casamiento { text-align:center; font: normal 1.8em "TP", sans-serif; letter-spacing:5px; padding-right:10px;padding-left:10px;margin-top:0.5em;margin-bottom:0.5em;color:#000; }

p.casamiento { padding: 0 0.25em 0.75em 0.25em 0; font: normal 1.1em "OS", serif;line-height: 1.5em; padding:0; color:black;}

	
</style>

<!-- 
	LEFT COLUMN
	-->
	
<div id="left_column" style="text-align:center;">

	<div id="product_page_genesis"><img src="/gfx/logo/genesis_collection.png" style="width:275px;margin:0 auto;padding-top:5px;"/></div>
	
	
	
	
<!-- 
	SLIDES
	-->
	<div class="inner_place_square" style="width:600px;display:inline-block;">
		<img src="http://www.casamiento.co.uk/products/<%= documents[5]._id %>/attachments/display-<%= documents[5].attachments_order[0] %>.jpg" style="width:395px;margin-right:5px;float:left;"/>
		<img src="http://www.casamiento.co.uk/products/<%= documents[5]._id %>/attachments/display-<%= documents[5].attachments_order[1] %>.jpg" style="width:200px;float:right;"/>
		
		<img src="http://www.casamiento.co.uk/products/<%= documents[5]._id %>/attachments/display-<%= documents[5].attachments_order[2] %>.jpg" style="width:200px;float:right;"/>
		
	</div>
	<div style="width:49%;float:left">
			<h2 class="casamiento" style="margin-top:0em;padding-top:0em;margin-bottom:0.25em;font-size:2.5em;text-align:left;"><%= documents[5].name %></h2>
		</div>
		
<!-- 
	COLOUR LABELS
	-->		
		
		<div style="width:49%;float:right">
				
			<table>
			<tr>
					<% for(var i = 1; i < (documents[5].number_of_colours + 1);  i++) { %>
				
					<td style="vertical-align:top;width:49%">
						<div>
							<div class="colour_alert_box_<%= i %>" style="position:absolute;width:340px;height:250px;border:1px dotted black;background-color:white;">
								<div id="colour_selector_<%= i %>" style="text-align:center;margin:0;padding:0;">
									<div class="colour_frame_<%= i %> colour_change" data-colour="<%= i %>">
										<div class="colour_<%= i %> color_square" style="width:30px;height:30px;background-color:<%= documents[5]["colour_" + i] %>;">
										</div>
									</div>
								</div>
								<span id="color_label_<%= i %>" class="color_label"><%= documents.colours_ref[documents[5]["colour_" + i]].toUpperCase() %></span>
								
								
								<!--
		COLOUR SELECTOR
		-->
		
	<div class="colour_selector">
		
	 <% var counter = 0 %>
		<% documents.hex_colours.forEach(function(page) { %>
		<div class="palette palette_<%= counter %>" style="z-index:100;background-color:white;margin-top:0;padding-top:0;">
<table><tr><td>
<% if (documents.hex_colours[counter - 1]) { %>
<div class="colour_index colour_index_left" data-colour="palette_<%= 
counter -1 %>">&laquo;</div>
</td>

<% } %>
<td style="width:160px;">
				<% page.forEach(function(colour) { %>
				<div class="a_colour" data-colour="<%= colour %>">
			 <div style="background-color:<%= colour %>;margin-bottom:0;padding-bottom:0;margin:0 auto;width:18px;height:18px;"></div>
			 </div>
				<% }) %>
				<td>
				
<% if (documents.hex_colours[counter + 1]) { %>
<div class="colour_index colour_index_right" data-colour="palette_<%= 
counter + 1%>">&raquo;</div>
 <% } %></td></tr></table>

				</div>
				<% counter = counter + 1 %>
		<% }) %>
		
	</div>
								
							</div>
							
							<div id="colour_selector_<%= i %>" style="text-align:center;margin:0;padding:0;">
								<div class="colour_frame_<%= i %> colour_change" data-colour="<%= i %>">
									<div class="colour_<%= i %> color_square" style="width:30px;height:30px;background-color:<%= documents[5]["colour_" + i] %>;">
									</div>
								</div>
							</div>
							<span id="color_label_<%= i %>" class="color_label"><%= documents.colours_ref[documents[5]["colour_" + i]].toUpperCase() %></span>
							</div>
						</div>
					</td>
				<% } %>
				</tr>
				</table>
	

</div>

<div style="clear:both;width:49%;float:left">
<div class="spc" style="" id="step_1">
	<div style="margin-bottom:0.5em;height:2.5em;">
		<div style="float:left;"><h1>Colours</h1></div>
		<div class="step colour_1" style="background-color:<%= documents[5]["colour_1"] %>;">STEP 1</div>
	</div>
	
	 <div class="chat-bubble tooltip-1">Click on a colour to change it! Navigate through the different palettes by clicking the labels at the top and bottom of each palette to move backwards and forwards.
</div>

</div>
</div>
<div style="width:49%;float:right">

	<div class="spc" id="step_2">
		<div style="margin-bottom:0.5em;height:3em;">
			<div style="float:left"><h1>Card Texture</h1></div>
			<div class="step colour_1" style="background-color:<%= documents[5]["colour_1"] %>;">STEP 2</div>
		</div> 
	
		<div class="chat-bubble">Click and highlight an icon to select the texture of your choice. Plain is the cheapest with its smooth plain finish, but hammered and linen both make your cards feel more luxurious. 
		</div>
		<div class="texture selectable" data-attribute="texture" data-value="plain"><img src="/gfx/icons/plaine.png"><p>Plain</p></div>
		<div class="texture selectable" data-attribute="texture" data-value="hammered"><img src="/gfx/icons/hammer.png"><p>Hammered</p></div>
		<div class="texture selectable" data-attribute="texture" data-value="linen"><img src="/gfx/icons/linen.png"><p>Linen</p></div>
	</div>
</div>
									
<!--
		SECOND ITEM
-->

		<div style="clear:both;width:100%;border-top:1px dotted black;"></div>
	<div class="inner_place_square" style="width:600px;display:inline-block;">
	
		<img src="http://www.casamiento.co.uk/products/<%= documents[6]._id %>/attachments/display-<%= documents[6].attachments_order[1] %>.jpg" style="width:200px;float:left;"/>
		
		<img src="http://www.casamiento.co.uk/products/<%= documents[6]._id %>/attachments/display-<%= documents[6].attachments_order[0] %>.jpg" style="width:395px;margin-right:5px;float:right;"/>
		<img src="http://www.casamiento.co.uk/products/<%= documents[6]._id %>/attachments/display-<%= documents[6].attachments_order[2] %>.jpg" style="width:200px;float:left;"/>
		
	</div>
	<div style="width:49%;float:left">
	
	<!--
		COLOUR LABELS
-->

<table>
<tr>
		<% for(var i = 1; i < (documents[6].number_of_colours + 1);  i++) { %>
	
		<td style="vertical-align:top;width:49%">
			<div id="colour_selector_<%= i %>" style="display:inline-block;text-align:center;margin:0;padding:0;">
			<div class="colour_frame_<%= i %> colour_change" data-colour="<%= i %>"><div class="colour_<%= i %> color_square" style="width:30px;height:30px;background-color:<%= documents[6]["colour_" + i] %>;"></div></div>
			</div><br/>
			<span id="color_label_<%= i %>" class="color_label"><%= documents.colours_ref[documents[6]["colour_" + i]].toUpperCase() %></span>
			</div>
			</td>
	<% } %>
	</tr>
	</table>
	</div>
	
	
	<div style="clear:both;">
	</div>
	
	<div class="inner_place_square" style="width:600px;display:inline-block;">
		<img src="http://www.casamiento.co.uk/products/<%= documents[3]._id %>/attachments/display-<%= documents[3].attachments_order[0] %>.jpg" style="width:395px;margin-right:5px;float:left;"/>
		<img src="http://www.casamiento.co.uk/products/<%= documents[3]._id %>/attachments/display-<%= documents[3].attachments_order[1] %>.jpg" style="width:200px;float:right;"/>
		
		<img src="http://www.casamiento.co.uk/products/<%= documents[3]._id %>/attachments/display-<%= documents[3].attachments_order[2] %>.jpg" style="width:200px;float:right;"/>
		
	</div>
	<div style="width:49%;float:left">
			<h2 class="casamiento" style="margin-top:0em;padding-top:0em;font-size:2.5em;text-align:left;"><%= documents[3].name %></h2>
		
		<p class="casamiento" style="text-align:left;margin-top:0.25em;margin:0;padding:0;font-size:1.4em">&pound;2.99</p></div>
		<div style="width:49%;float:right">
				
<!--
		COLOUR LABELS
-->

<table>
<tr>
		<% for(var i = 1; i < (documents[3].number_of_colours + 1);  i++) { %>
	
		<td style="vertical-align:top;width:49%">
			<div id="colour_selector_<%= i %>" style="display:inline-block;text-align:center;margin:0;padding:0;">
			<div class="colour_frame_<%= i %> colour_change" data-colour="<%= i %>"><div class="colour_<%= i %> color_square" style="width:30px;height:30px;background-color:<%= documents[3]["colour_" + i] %>;"></div></div>
			</div><br/>
			<span id="color_label_<%= i %>" class="color_label"><%= documents.colours_ref[documents[3]["colour_" + i]].toUpperCase() %></span>
			</div>
			</td>
	<% } %>
	</tr>
	</table>
	
						</div>
						
		<div style="clear:both;width:49%;float:right">
				
			<h2 class="casamiento" style="margin-top:0em;padding-top:0em;font-size:2.5em;text-align:left;"><%= documents[6].name %></h2>
		
		<p class="casamiento" style="text-align:left;margin-top:0.25em;margin:0;padding:0;font-size:1.4em">&pound;2.99</p>

						</div>
	
	<div class="inner_place_square" style="clear:both;width:295px;float:left;">
		<img src="http://www.casamiento.co.uk/products/<%= documents[1]._id %>/attachments/display-<%= documents[1].attachments_order[2] %>.jpg" style="width:295px;"/>
		
			<h2 class="casamiento" style="margin-top:0em;padding-top:0em;text-align:left;"><%= documents[1].name %></h2>
	
		<p class="casamiento" style="text-align:left;margin-top:0.25em;margin:0;padding:0;font-size:1.4em">&pound;2.99</p>
		
	</div>
	
	<div class="inner_place_square" style="width:295px;float:right;">
		<img src="http://www.casamiento.co.uk/products/<%= documents[4]._id %>/attachments/display-<%= documents[4].attachments_order[3] %>.jpg" style="width:295px;"/>
		
			<h2 class="casamiento" style="margin-top:0em;padding-top:0em;font-size:em;text-align:left;"><%= documents[4].name %></h2>
		
		<p class="casamiento" style="text-align:left;margin-top:0.25em;margin:0;padding:0;font-size:1.4em">&pound;2.99</p>
		
	</div>
	<div style="clear:both;"></div>
	<div class="inner_place_square" style="float:left;width:295px;">
		<img src="http://www.casamiento.co.uk/products/<%= documents[3]._id %>/attachments/display-<%= documents[3].attachments_order[1] %>.jpg" style="width:295px;"/>
		
			<h2 class="casamiento" style="margin-top:0em;padding-top:0em;text-align:left;"><%= documents[3].name %></h2>
	
		<p class="casamiento" style="text-align:left;margin-top:0;margin-left:0.25em;0;padding:0;font-size:1.8em">&pound;2.99</p>
		
	</div>

	<div class="inner_place_square" style="float:right;width:295px;">
		<img src="http://www.casamiento.co.uk/products/<%= documents[6]._id %>/attachments/display-<%= documents[4].attachments_order[0] %>.jpg" style="width:295px;"/>
		
			<h2 class="casamiento" style="margin-top:0em;padding-top:0em;text-align:left;"><%= documents[6].name %></h2>
	
		<p class="casamiento" style="text-align:left;margin-top:0.25em;margin:0;padding:0;font-size:1.4em">&pound;2.99</p>
		
	</div>

</div>

<!-- 
		RIGHT COLUMN
-->

<div id="right_column">

	<div class="spc intro"  style="padding-left:2em;padding-right:2em;border:0;">
<h6 style="padding:0;margin:0;text-align:left;letter-spacing:0; line-height:1em; font:normal 3.6em Gara;text-align:center;padding-top:0.25em;"><span style="letter-spacing:0.15em; font-size:0.75em;font-variant:small-caps"> IMPRESS</span> your guests with individually printed invitations&hellip;</h6>
	
	<div style="margin-top:1em;display:inline-block;width:100%;">  
		<div style="width:45%;float:left;margin-top:5px;border-top:1px solid black;"></div>
		<div style="width:10%;float:left;"><img src="http://www.casamiento.co.uk/gfx/page_seperators/orna.png" style="width:100%;" /></div>
		<div style="width:45%;float:left;margin-top:5px;border-top:1px solid black;"></div>
		</div>
<p class="first casamiento">Y<span style="letter-spacing:0.2em; font-size:1em;font-family:Gara';font-variant:small-caps">OUR GUESTS</span>, will love seeing their names individually printed on your wedding invitations. It'll make them feel special and give them a keepsake to treasure for years to come&hellip; </p>
<p style="font:normal 1.6em GaraI;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;">Save time and hassle...</p>
<p class="casamiento">&hellip; and it doesn't stop at just names! Take the pain out of preparing your invitations by letting me individually address each envelope and invitation with the name and address of each of your guests. Not only will it look <span style="letter-spacing:0.2em; font-size:1em;font-family:'Gara';font-variant:small-caps">PROFESSIONAL</span>, but it'll save you a lot of hassle&mdash;you'd be surprised how time-consuming and frustrating it is addressing just 25 invitations without making a mistake or missing a guest. All you have to do is a send a list of names and addresses&hellip;
<p style="font:normal 1.6em GaraI;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;">Stand out from the crowd...</p>
<p class="casamiento">Each invitation is truly unique as it comes with your own carefully styled monogram bearing the name of you and your partner and the date of your ceremony: a unique and special symbol to represent a unique and special relationship. 
<p style="font:normal 1.6em GaraI;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;">Are you worried about your invitations...?</p>
<p class="casamiento" style="margin-bottom:0.2em;padding-bottom:0;">I know how much you can worry about each aspect of your wedding: will the invitations arrive on time? What if there are mistakes? Will I like the card texture?</p>
<p class="casamiento"> That's why I will make sure that all your questions are answered at each step of the way and give you honest answers as to what we can and can't do, and exactly when to expect your invitations to arrive. And if there are mistakes, I'll reprint for you&mdash;free of charge. Order a sample pack today&hellip;</p>
<p class="casamiento" style="margin:0;padding:0;"><img src="http://www.casamiento.co.uk/gfx/davidsign.png" style="width:100px"/></p>
<p class="casamiento" style="margin-top:0em;padding-top:0">&mdash;David Pettifer<br/>
<span style="font:normal 1.2em GaraI;">Lead Designer</span></p>
</div>
</div>

<script type="text/javascript">
var thisProduct = new Product({
		id: "1",
		name: "1", 
		monogram:1,
		quantity: 10, 
		price: 2.99, 
		guests: ["&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;"], 
		texture: "plain" 
});
	$(function(){	
	// Setup and initialization

	$('.colour_change').mouseenter(function(e) {
		var colour = $(e.currentTarget);
		var id = colour.data("colour");
		
		$('.colour_alert_box_' + id).fadeIn();
	})
	
		$('.colour_alert_box_2').mouseleave(function() {
			$('.colour_alert_box_2').fadeOut();
			})
				$('.colour_alert_box_1').mouseleave(function() {
			$('.colour_alert_box_1').fadeOut();
			})
	$('.place_square').mouseover(function() {
		$(".inner_place_square", this).hide();
		$(".inner_place_square_hidden",this).show();
	})
	$('.place_square').mouseout(function() {
		$(".inner_place_square", this).show();
		$(".inner_place_square_hidden",this).hide();
	})
})
</script>