

<style type="text/css">

/* COLUMNS */
#left_column { width:48%; float:left; border:0; margin-left:1%; margin-right:1%; }
#right_column { width:49%; float:right; margin-right:1%;}
#slides { margin-top:0.5em;margin-bottom:0.5em;border-bottom:1px solid #000 }
#page_container_casamiento { text-align:center; background-image:url('http://www.casamiento.co.uk/gfx/backgrounds/grey_header.png'); width:100%; }
#inner_page_container_casamiento { text-align:left;margin:auto; border-left:1px dotted #000; border-right: 1px dotted #000; background-color:#fff; width:90%;}

/* IMAGES */

.place_square { border:1px solid white;padding-bottom:1em; margin-bottom:1em;}
.place_square_0, .place_square_1, .place_square_6 { float:left; border-bottom:1px solid grey; padding-bottom:4em;}

.place_square_2, .place_square_3, .place_square_4, .place_square_5, .place_square_7, .place_square_8 {  padding:0;padding-bottom:1.5em; width:48%;float:left; margin-right:1%; margin-top:1%; border-bottom:1px solid grey;text-align:center;}

.place_square_2 h2,  .place_square_3 h2,.place_square_4 h2, .place_square_5 h2, .place_square_7 h2, .place_square_8 h2 { padding:0;margin:0;font-size:1.2em;}


.inner_place_square, .inner_place_square_hidden { margin-bottom:0;padding:0.25em}
.place_square:hover { border:1px solid grey; text-decoration:underline; cursor:pointer;}


.inner_place_square img, .inner_place_square_hidden img { width:100%; }
</style>

<style type="text/css">
	
h2.casamiento { text-align:center; font: normal 2.2em "TP", sans-serif; letter-spacing:10px; padding-right:10px;padding-left:10px;margin-top:0.5em;margin-bottom:0.5em;color:#000; }

p.casamiento { padding: 0 0.25em 0.75em 0.25em 0; font: normal 1.1em "OS", serif;line-height: 1.75em; padding:0; color:black;}

#welcome_description { margin-left:3em;margin-right:3em; }
	
.welcome_column_1 { width:66.6%;float:left; }
#welcome_column_2 {width:33%;float:left; }
#welcome_column_3 { width:25%; float:right; }
@media screen and (max-width:1024px) {
	#welcome_description { margin-left:1em;margin-right:1em; }
}
</style>

<div style="text-align:center">
	<img src="/gfx/logo/genesis_collection.png" style="width:280px;margin-top:3px;">
</div>

<div id="view" style="display:none;position:absolute;width:175px;text-align:center;padding:0.5em;left:24em;top:12em;margin:auto;border-radius:5px;background-color:grey;color:white;opacity:0.75;z-index:100;font:1.2em normal 'Open Sans Light'">VIEW THIS DESIGN</div>
      <div id="welcome_column_3">
      <% var sp = 0 %>
      <% documents.forEach(function(place) { %> 
      <% sp = sp + 1; %>
      <div class="specs_holder" style="display:none;" id="specs_<%= sp %>">
       <div class="product_type spc">
          <div class="name_place_icon">
            <img src="http://www.casamiento.co.uk/gfx/product_types/small/name_place_small.png" style="width:100%;">
          </div>
        </div>
    

        <div class="spc">
          <h1>Product format</h1>
          <div style="margin:auto;text-align:center;">
            <div class="spec" style="width:90px"><img src="http://www.casamiento.co.uk/gfx/specs/tent.png"></div>
          </div>
        </div>
        
        <div class="spc">
          <h1>Monogram shown</h1>
          <img id="mono_2" style="width:100%" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= place.monogram %>.png">
        </div>
        
        <div class="spc"><h1>Colours shown</h1>
          <div id="colours-shown" style="margin-top:1em;float:left;">
          
          <% place.colours.forEach(function(colour) { %>
            <div style="float:left">
              <div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
              <p class="casamiento" style="margin-left:1em;text-indent:0;font:normal 1.2em GaraI;padding:0; margin-top:5px;"><%= colour %></p>
            </div>
          <% }) %>  
          
          </div>
          <div class="b1"></div>
        </div>
        </div>
        <% }) %>
      </div>
<!-- MAIN SLIDES -->
<div id="slides_c">
<div id="slides2" style="width:75%;">
	<% documents.forEach(function(place) { %>

		<div>
			<div class="welcome_column_1">
		
				<a href="/products/<%= place._id %>"><img src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/medium-<%= place.attachments_order[0] %>.jpg" class="img_100" /></a>
			
			</div>

			<div id="welcome_column_2">
				<img src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/display-<%= place.attachments_order[1] %>.jpg" class="img_100" />
				<img src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/display-<%= place.attachments_order[2] %>.jpg" class="img_100" />
			</div>
		</div>

	<% }) %>

</div>

<script type="text/javascript">
$('#slides_c').mouseenter(function() {
	$('#view').fadeIn()
})
$('#slides_c').mouseleave(function() {
	$('#view').fadeOut()
})

</script>
<div style="width:75%;margin-top:1em; margin-bottom:1em;">
<% var i = 0 %>
	<% documents.forEach(function(place) { %>
  <% i = i+ 1; %>
<div style="width:80%;margin:auto;text-align:center;display:none;" class="description" id="description_<%= i %>">
<h2 class="casamiento" style="text-align:center;padding:0;margin:0;font-size:2.5em;margin-left:1%;"><a href="/products/<%= place._id %>"><%= place.name %></a></h2>
    
    <h6 id="welcome_description"><a href="/products/<%= place._id %>">A beautiful design inspired by chessboard and the chequered floors of Parisien galleries.</a></h6>
    
    <p class="center" style="margin-top:1em;margin-bottom:1em;"><img src="/gfx/shell.png" /></p>
    
</div>
<% }) %>
</div>

<div style="clear:both;"></div>
</div>


<% var counter = 0 %>

<div id="left_column">

<% documents.forEach(function(place) { %>
<% if (counter == 4) { %>
</div><div id="right_column">
<% } %>
<a href="/products/<%= place._id %>">
<div class="place_square_<%= counter %> place_square" style="border-bottom:1px solid grey;">
	<div class="inner_place_square">
		<img src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/display-<%= place.attachments_order[0] %>.jpg" />
	</div>
	<div class="inner_place_square_hidden" style="display:none">
		<img src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/display-<%= place.attachments_order[2] %>.jpg" />
	</div>
	<div style="position:absolute;margin:0;padding:0;"><h2 class="casamiento" style="width:60%;margin-top:0em;padding-top:0em;letter-spacing:2px;text-align:left;"><%= place.name %></h2></div>
	<div>
		<p class="casamiento" style="text-align:right;margin-top:0.25em;margin:0;padding:0;font-size:1.4em">&pound;2.99</p>
	</div>
</div>
</a>
<% counter++ %>
<% }) %>
</div>
<div class="b1"></div>
</div>
</div>

<script>
	$(function(){
	$('.place_square').mouseover(function() {

		$(".inner_place_square", this).hide();
		$(".inner_place_square_hidden",this).show();
	})
	$('.place_square').mouseout(function() {

		$(".inner_place_square", this).show();
		$(".inner_place_square_hidden",this).hide();
	})
		$("#slides").slidesjs({
		pagination: { active: false },
		navigation: { active: false },
		play: { auto: true,
		interval: 3500,
		effect: "slide" },
		effect: {
		fade: {speed: 2000,
		crossfade: true
		}},
		width: 750,
		height: 375
		});
	});
	</script>
	
<div style="border-top:1px solid black;width:95%;margin:auto;margin-top:0;"></div>

	<div style="width:70%;margin:auto;">
		<h6 style="text-align:center;letter-spacing:0; line-height:1em; font-size:3.5em"><span style="letter-spacing:0.15em; font-size:0.75em;font-variant:small-caps"> IMPRESS</span> your guests with<br/> beautiful unique place cards...</h6>
		
		<div style="width:70%;padding-bottom:3em;margin:auto;margin-top:2em;">
		
		<div style="width:45%;float:left;margin-top:5px;border-top:1px solid black;"></div>
		<div style="width:10%;float:left;"><img src="/gfx/page_seperators/orna.png" style="width:100%;" /></div>
		<div style="width:45%;float:left;margin-top:5px;border-top:1px solid black;"></div>
	</div>
	
	<p class="casamiento">Your guests will love seeing their names <span style="letter-spacing:0.2em; font-size:0.9em;font-family:'Gara'">INDIVIDUALLY</span> printed on these elegant freestanding place cards. </p>

	<p class="casamiento">And because you choose the colours, card texture and theme, you can co-ordinate them completely with your event so everything matches perfectly.</p>
	
	<p style="font:normal 1.8em GaraI;text-align:center;color:#000;margin-bottom:1em;">Save time and stress</p>
	
	<p class="casamiento">They'll also save you time and stress: just decide on your options, send us a list of names, and within five working days you'll have a little parcel dropping through your letterbox&hellip; 
	</p>

	<p class="casamiento">&hellip;no scoring card, no wonky edges, no smeared ink, just perfect little cards ready to sit on your tables. </p>
	
	<p style="font:normal 1.8em GaraI;text-align:center;color:#000;margin-bottom:1em;">Free monogram</p>
	
	<p class="casamiento">For a limited time only, we will create a monogram for your place cards completely free of charge&mdash;perfect for weddings or christenings&mdash;or alternatively we can print your company logo. 
</div>

<script>
	$(function(){	
	  $("#slides2").slidesjs({
    callback: {
      loaded: function(number) {
        $('#description_' + number).show()
        $('#specs_' + number).show()
      },
      complete: function(number) {
  
        $('.specs_holder').hide()
        $('.description').hide()
        $('#description_' + number).show()
        $('#specs_' + number).show()
      }
    },
    
	  pagination: { active: true },
	  navigation: { active: false },
	  play: { auto: true,
	  interval: 5000,
	  pauseOnHover:true,
	  effect: "swap" },
	
		width: 750,
		height: 320
	  });
	});
</script>
  
	<script>
var jRes = jRespond([
		{
				label: 'handheld',
				enter: 0,
				exit: 320
		}]
	)
	var that = this;
	jRes.addFunc({
		breakpoint: 'handheld',
		enter: function() {
		alert('entering');
		var stop= $('#slides2').data("stop");
		stop()
		},
		exit: function() {
		alert('existing')

		}
});
		</script>