<%- contentFor('inside_headtag') %>


    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700italic,400italic' rel='stylesheet' type='text/css'>   
    <link rel="stylesheet" href="/stylesheets/welcome.css" /> 
    <style type="text/css">
        
      <% for(var i = 0; i < place_cards.length; i++) { %>
        <% if (place_cards[i].colours[1]) { %>
         #welcome_place_<%=i%> .colour_1 { background-color: <%= place_cards[i].colours[1] %>}
        <% } %>
      <% } %>
  
    </style>
    
  <%- contentFor('main') %>
  
  <%- contentFor('left') %>
  
  <%- contentFor('right') %>

<%- contentFor('middle') %>
<div id="welcome_column">
    
  <div id="slides_column">
      
    <img id="slides_spinner" src="/gfx/spinners/360.gif" />
 
    <div id="slides_container">
     
      <% for (var i = 0; i < place_cards.length; i++) { %>
      
        <% var place_card = place_cards[i] %>
        <div id="welcome_place_<%= i %>" class="welcome_place_card_container">
          <div class="welcome_slide_container" style="position:relative">
            <% if (place_card.colours[1]) { %>
              <div class="welcome_background_container">                  
                <div class="welcome_background colour_0" style="background-color:<%= place_card.colours[0] %>">
                  <%- place_card["background-" + place_card.attachments_order[0] ] %>
                </div>
            <% } %>   
            
            <a href="/products/<%= place_card._id %>">
              <img srcset="http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/medium-<%= place_card.attachments_order[0]%> 1000w,
               http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/display-<%= place_card.attachments_order[0]%> 750w,
               http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/thumb-<%= place_card.attachments_order[0]%> 500w,
               http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/tiny-<%= place_card.attachments_order[0]%> 345w"
               sizes="(min-width:901px) 27.2vw,(min-width:500px) 40.2vw, (min-width: 320px) 55vw, 100vw" <% if (!place_card.colours[1]) { %>style="background-color:<%= place_card.colours[0] %><% } %>"/>
            </a>
              
            <% if (place_card.colours[1]) { %> 
              </div>
            <% } %>
            
            <div id="colour_0_container">
              <div class="welcome_colour_frame">
                <div class="welcome_colour_swatch" style="background-color: <%= place_card.colours[0] %>;"></div>
              </div>
              <div class="welcome_colour_label" style="color:#000">  
                <%= place_card.colour_0 %>    
              </div>
            </div>
          
           
           <% if (place_card.colours[1]) { %>    
           
            <div id="colour_1_container">
            <div class="welcome_colour_frame" style="clear:both;">
              <div class="welcome_colour_swatch" style="background-color: <%= place_card.colours[1] %>;"></div>
            </div>
            <div class="welcome_colour_label"> 
              <%= place_card.colour_1 %>                
            </div>           
            </div>
           <% } %>
           
           </div>
         
         <div class="right_slide_col">
         <% if (place_card.colours[1]) { %>
           <div class="welcome_background_container">
   
            <div style="background-color:<%= place_card.colours[0] %>" class="welcome_background colour_0">
              <%- place_card["background-" +place_card.attachments_order[1] ] %>
            </div>
         <% } %>
            
           <a href="/products/<%= place_card._id %>">
            <img srcset="http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/medium-<%= place_card.attachments_order[1]%> 100w,
            http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/display-<%= place_card.attachments_order[1]%> 750w,
            http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/thumb-<%= place_card.attachments_order[1]%> 500w,
            http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/small-<%= place_card.attachments_order[1]%> 400w,
            http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/tiny-<%= place_card.attachments_order[1]%> 345w"
            sizes="(min-width:901px) 22.27vw, (min-width:500px) 10.4vw, (min-width: 320px) 45vw, 100vw" <% if (!place_card.colours[1]) { %>style="background-color:<%= place_card.colours[0] %>"<% } %>/>
           </a>
           
            <% if (place_card.colours[1]) { %>
            </div>
            <% } %>
         </div>            
        
         <div class="right_slide_col">
         <% if (place_card.colours[1]) { %>
           <div class="welcome_background_container">
   
            <div style="background-color:<%= place_card.colours[0] %>" class="welcome_background colour_0">
              <%- place_card["background-" +place_card.attachments_order[2] ] %>
            </div>
         <% } %>
            
           <a href="/products/<%= place_card._id %>">
            <img srcset="http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/medium-<%= place_card.attachments_order[2]%> 1000w,
            http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/display-<%= place_card.attachments_order[2]%> 750w,
            http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/thumb-<%= place_card.attachments_order[2]%> 500w,
            http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/small-<%= place_card.attachments_order[2]%> 400w,
            http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/tiny-<%= place_card.attachments_order[2]%> 345w"
            sizes="(min-width:901px) 22.27vw, (min-width:500px) 10.4vw, (min-width: 320px) 45vw, 100vw" <% if (!place_card.colours[1]) { %>style="background-color:<%= place_card.colours[0] %>"<% } %>/>
           </a>
           
           <% if (place_card.colours[1]) { %>
            </div>
           <% } %>
         </div>   
      </div>
      
     <% } %>
     </div>
     </div>
     
     
    <div id="slide_separator"></div>
     
    <div style="margin-top:-3em;"></div>
     
     
    <h5>Place cards you can personalise and print instantly straight from your browser—or let us print them for you&hellip;</h5>
    
    <img src="/gfx/welcomeicons/line.svg" class="welcome_line"/>
    
    
    
    
     <!--------------------------------------------------------------  FIRST THREE ICONS -------------------------------------->
     
     
    <div id="box_1" class="welcome_box_container">
  
     <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/colour.svg"  class="welcome_icon" />
      </div>
      
      <h5>Customise colours to match your theme</h5>
      <p>Each design can be changed to any colour of your choice&mdash;you'll see the changes in your browser instantly! </p>
     
    </div>
     
     
     
     
    <div id="box_2"  class="welcome_box_container">
      
    
      <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/font.svg"  class="welcome_icon" />
      </div>
     
      <h5>Fonts to match<br/>your mood</h5>
      <p>Choose a typeface to match the mood of your theme&mdash;from clever and corporate to fun and frenetic! </p>
       
     </div>
     
  
  
  
  
    <div id="box_3"  class="welcome_box_container">
  
      <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/print.svg"  class="welcome_icon" />
      </div>
      
      <h5>Print instantly from your browser&hellip;</h5>
      <p>&hellip;no downloading PDF files or waiting around&mdash;in perfect quality: you can also print from your phone or tablet if you have a wifi enabled printer!</p>
    </div>
     
     
     
    
    <!----------------------------------------------  SECOND THREE ICONS ---------------------------------------------------->
     
    <img src="/gfx/welcomeicons/line.svg"  id="second_line"  class="welcome_line" />
      
      
      
      
    <div  id="box_4" class="welcome_box_container">
  
      <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/designs.svg"  class="welcome_icon" />
      </div>
      
      <h5>100s of designs to match your theme</h5>
      <p>Whether it's 80s retro or traditional Victorian vintage, <a href="/products">browse our designs</a> and a design to suit! </p>
     
     </div>
     
     
     
    <div id="box_5"  class="welcome_box_container">
  
     <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/delivery.svg" class="welcome_icon" />
      </div>
      
      <h5>Order before 1pm for next day delivery&hellip;</h5>
      <p>If you want us to print your cards, order before 1pm to get them the next day</p>
     
    </div>
     
  
    <div  id="box_6" class="welcome_box_container">
  
    <div class="welcome_icon_container">
      <img src="/gfx/welcomeicons/editing.svg" class="welcome_icon" />
    </div>
    
      <h5>Stress-free editing of guest names&hellip;</h5>
      <p>Just paste a list of names into the quick entry box and hey presto, you suddenly have all your place cards automatically created&hellip;</p>
     
    </div>
     

    
    <img src="/gfx/welcomeicons/line.svg" id="third_line" class="welcome_line" />   
    
    <div style="clear:both"></div>  
    
    
    
    <!------------------------------------------  ANIMATION ---------------------------------------------------->
    
    <div style="position:relative;width:100%;" id="desktop_animation">
             <div style="position:absolute;z-index:9999999999999999999999999999999999999999999999999999999999999;top:15.5%;">
        <img src="/gfx/top_direction.svg" style="margin-left:10%" />
        <div style="color:#222;margin-left:0.75%;width:17%;font:normal 1.1em 'OS Light Italic';">
         <span style="font-family:'OS Condensed'">Change all.</span> These buttons are the same as those on each individual place card, but they will change every single place card!
        </div>
      </div>
    
        
        
        
      <div style="position:absolute;z-index:9999999999999999999999999999999999999999999999999999999999999;top:45%;">
        <img src="/gfx/left_direction.svg" style="margin-left:10%" />
        <div style="color:#222;margin-left:0.75%;width:14.5%;font:normal 1.1em 'OS Light Italic';">
         <span style="font-family:'OS Condensed'">Place card view.</span> Here you can edit individual place cards. The <img src="/gfx/font_decrease.svg" style="display:inline-block;opacity:0.6;" /> and <img src="/gfx/font_increase.svg" style="width:15px;opacity:0.7;display:inline-block;" /> buttons next to each card increase or decrease the font size on and the <img src="/gfx/baseline_up.svg" style="width:15px;opacity:0.7;display:inline-block;" />  and  <img src="/gfx/baseline_down.svg" style="width:15px;opacity:0.7;display:inline-block;" />  buttons move the font up or down. Great for those names which are really short or really long!
        </div>
      </div>
    
      <div style="position:absolute;z-index:9999999999999999999999999999999999999999999999999999999999999;top:63%;right:7%;width:25%;">
        <img src="/gfx/bottom_direction.svg" style="margin-left:10%;" />
        <div style="color:#222;margin-left:1%;font:normal 1.1em 'OS Light Italic';">
         <span style="font-family:'OS Condensed'">Font panel.</span> Click on the font panel and choose from hundreds of fonts, then watch your place cards update straight away!
        </div>
      </div>
    
    
    <div style="position:absolute;z-index:9999999999999999999999999999999999999999999999999999999999999;top:35%;right:0;width:25%;">
        <img src="/gfx/right_direction.svg" style="margin-right:10%;" />
        <div style="color:#222;margin-left:1%;width:58%;font:normal 1.1em 'OS Light Italic';float:right;">
         <span style="font-family:'OS Condensed'">Colour panel.</span> This is where you select from hundreds of colours and watch your place cards update instantly. No page loading!
        </div>
      </div>
    
     <div style="position:relative;width:70%;margin:0 auto;z-index:0;">
       <img src="/gfx/anim_1.gif" style="width:90%;margin:0 auto;display:inline-block;margin-top:5%;position:absolute;left:0;right:0;margin-left:auto;margin-right:auto;" />
       <img src="/gfx/screen.svg" style="width:100%;display:block;"/ > 
       </div>
       <img src="/gfx/STAND.svg" style="margin:0 auto;display:block;"/ > 
    </div>
    </div>
    
    
    
    
    
    
<%- contentFor('javascripts') %>

$(function() {
  var body_width = $('body').width();
  if (body_width > 680) {
    var height = 92;
  }
  else {
    height = 207;
  }

  $("#slides_container").slidesjs({
    width: 360,
    height: height,

    pagination: {
      active: true
    },
    navigation: {
      active: true
    },
    play: {
      active: false,
      auto: true,
      interval: 5000
    },
    callback: {
      loaded: function(n) {
        $('#slides_spinner').hide();
      }
    }
  })

})