<%- contentFor('inline_styles') %>

  <% for(var i = 0; i < place_cards.length; i++) { %>
    #welcome_place_<%=i%> .colour_1 { background-color: <%=place_cards[i].colours[1] %>}
  <% } %>

    
<%- contentFor('middle') %>


      <div id="slides_container">
        <%  for (var i = 0; i < place_cards.length; i++) { %>
          <% var place_card = place_cards[i] %>
            <div id="welcome_place_<%= i %>" class="welcome_place_card_container">
              <div class="welcome_slide_container" style="position:relative">
              
                <div class="welcome_background_container">
    
                  <div class="welcome_background colour_0" style="background-color:<%= place_card.colours[0] %>">
                    <%- place_card["background-" +place_card.attachments_order[0] ] %>
                  </div>
                  
                  <img srcset="http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/large-<%= place_card.attachments_order[0]%> 2000px,
                  http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/medium-<%= place_card.attachments_order[0]%> 1000px,
                  http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/display-<%= place_card.attachments_order[0]%> 750px,
                  http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/thumb-<%= place_card.attachments_order[0]%> 500px"
                  sizes="(min-width:801px) 40.2vw,(min-width:500px) 40.2vw, (min-width: 320px) 60vw, 100VW" />
                  
                </div>        
           
          
            </div>
            
            <div style="margin-left:60%;">
              <div class="welcome_background_container">
    
                <div style="background-color:<%= place_card.colours[0] %>" class="welcome_background colour_0">
                  <%- place_card["background-" +place_card.attachments_order[1] ] %>
                </div>
                
                <img srcset="http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/large-<%= place_card.attachments_order[1]%> 2000px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/medium-<%= place_card.attachments_order[1]%> 1000px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/display-<%= place_card.attachments_order[1]%> 750px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/thumb-<%= place_card.attachments_order[1]%> 500px"
         sizes="(min-width:500px) 10.4vw, (min-width: 320px) 30.4vw, 100vm" />
         
              </div>
            </div>
            
          
          <div style="margin-left:60%;">
            <div class="welcome_background_container">
    
            <div style="background-color:<%= place_card.colours[0] %>" class="welcome_background colour_0">
              <%- place_card["background-" +place_card.attachments_order[2] ] %>
            </div>
                  <img srcset="http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/large-<%= place_card.attachments_order[2]%> 2000px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/medium-<%= place_card.attachments_order[2]%> 1000px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/display-<%= place_card.attachments_order[2]%> 750px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/thumb-<%= place_card.attachments_order[2]%> 500px"
         sizes="(min-width:500px) 10.4vw, (min-width: 320px) 30.4vw, 100vw" />
            </div>
          </div>
        </div>
      <% } %>
      </div>

      <h5>Place cards you can personalise and print straight from your browser&hellip;</h5>
      <div class="shell"></div>
        
      <p><span style="font-family:Gara;font-size:1.5em;font-variant:small-caps;letter-spacing:0.14em;">Your guests will</span>  love seeing their names individually printed on our elegant freestanding place cards&hellip; </p>
      
      <p>&hellip;and because you choose the colours and theme, you can co-ordinate them completely with your event so everything matches perfectly! From ornamental to abstract, traditional to contemporary, one of our designs below are bound to compliment your theme&hellip;</p>
      
      
  <div style="position:relative;border-top:1px dotted black;border-bottom:1px dotted black;padding:1em;margin:1em;">
  <img src="/gfx/tutorials/tutorial_4.gif" style="position: absolute;margin-left: auto;margin-right: auto;left: 0;right: 0;width:76.25%;top:11%;max-width:682px;"/>
  <img src="/gfx/desktop_screen_wide.svg" style="max-width:745px;margin:0 auto;width:87%;display:block;"/>
  </div>

    <h5>Save yourself time, stress and hassle&hellip;</h5>
    
    <div class="shell"></div>
        
    <p>They'll also save you time and stress: just decide on your options, send us a list of names, and within five working days you'll have a parcel dropping through your letterbox: no scoring card, no wonky edges, no smeared ink, just perfect little cards ready to sit on your tables.</p>
    
    <p>Place your order today!</p>
   
    <p style="margin:0;padding:0;text-align:center;">
      <img src="http://www.casamiento.co.uk/gfx/davidsign.png" style="width:100px"/>
    </p>
     
    <p style="margin-top:0em;padding-top:0;text-align:center;">&mdash;David Pettifer<br/>
    
    <span style="font:normal 1.2em GaraI;">Lead Designer</span></p>
      
  <script type="text/javascript" src="/javascripts/libraries/colour_lookup.js"></script>
  