<script src="/javascripts/garamond.js"></script>

 <script>
    $(function() {
        <% documents.forEach(function(doc) { %>
        $('#slider_<%= doc._id %>').noUiSlider('init', {
            knobs: 1,
            scale: [1,128],
            start: [16,0],
            step: 1,
            connect: "lower",
            change: function(e, r) {
                var number = $('#slider_<%= doc._id %>').noUiSlider('value')
                var price = casamientoCalculator(number[1])
               $('#quantity_<%= doc._id %>').html(number[1]);   
               $('#price_main_<%= doc._id %>').html("£" + price[0]); 
               $('#price_decimal_<%= doc._id %>').html("." + price[1]);
            }
        });
        <% }) %>
              
        $("#slides").slides({
            play: 5000,
            effect: 'fade, slide',
            crossfade: true,
            preload: false,
            preloadImage: "/images/spinner.gif",
            fadeSpeed: 2000
        });    
    })
    
    Cufon.replace("h6", "Garamond")
</script>

<style type="text/css">
.description {  color:black; padding:20px 40px 20px 40px; margin-left: 40px; margin-right: 40px;}

.welcome { margin: auto; padding-top:5px; display:block; }

.welcome_section0 { text-align:center; float:left; width:320px; padding:0; margin:0;  }
.welcome_section1 {text-align:center; margin-left:320px;padding-left:6px; }
.welcome_section2 { text-align:center; margin-right:326px; width:648px; padding:0; margin:0;  }
.welcome_section3 {text-align:center; float:right;width:320px; }

 .slides_container { width:974px; display:none; height:820px; }
    .slides_container .a_slide { background-color: white; width:974px; display:block;  }
</style>

<div id="product_type"><img src="/images/product_types/small/name_place_grey.png" /></div>
<div id="welcome_logo"><img src="/images/welcome_page/welcome.png" class="welcome" /></div>

<div id="slides"><div class="slides_container">

    <% for (var i=0; i < documents.length; i++) { %>
    <% var doc = documents[i] %>
    <div class="a_slide">
        <div class="container">
        
    <% if ((i % 2) == 0) { %>
            <!-- SECTION 0 -->
            <div class="welcome_section0">
                <% include small_picture %>
            </div>
            
            <div class="welcome_section1">
                <% include big_picture %>
            </div>
            
            <! ------- ELSE -------------------- >            
            <% } else { %>
           
            <div class="welcome_section3">
                <% include small_picture %>
            </div>
            <div class="welcome_section2">
                <% include big_picture %>
            </div>
            
    <% } %>
        </div>
        
    </div>
    
    <% } %>
        
</div></div>