<%- contentFor('inline_styles') %>

.left_column { width:73%; }
.right_column { margin-left: 73%; } 

<%- contentFor('left') %>

  <% for (var i = 0; i < 15; i++) { %>
  <% if (place_cards[i]) { %>
  
  
  <div class="welcome_page_product">
  
  <div style="position:relative">
  <div class="customise"     style="display:none;position:absolute;z-index:1000000;text-align:center;margin:0 auto;width:100%;margin-top:8em;"><div style="display:inline-block;font: normal 1.2em 'OS Light';width:150px;background-color:black;opacity:0.8;color:white;padding:15px;border-radius:10px;padding-bottom:1.25em;padding-top:0;"><img src="/gfx/star.png" style="padding-top:0.3em;width:30px;"><a href="/products/<%= place_cards[i]._id %>" style="color:white;">CUSTOMISE THIS DESIGN</a></div>
    </div></div>
    <div style="width:60%;float:left;clear:both;"><%- place_cards[i].divs[0] %>
    
      <h2 class="caz"><a href="/products/<%= place_cards[i]._id %>"><%= place_cards[i].name%></a></h2>
      
      <div class="ornamental_line"></div>	
    </div>	
    <div style="width:39%;float:right;"><%- place_cards[i].divs[1] %> 
    
    <!-- COLOURS --> 
    <% for(var j=0; j < place_cards[i].colours.length; j++) { %>
      <div id="colour_<%=i %>_<%= j %>" style="position:relative;z-index:<%= (30000 +(0 -j)) %>;padding-top:1em;"></div>
      <script>$('#colour_<%=i%>_<%=j%>').colorPicker({default_color: '<%= place_cards[i].colours[j] %>'}).on('dizzy-cp:hoverColor', function(e, colour) {
      <% if(j == 1) { %>      
        $('.slide_<%= i %> > div > div:not(.nocolor)').css("background-color", colour)
      <% } else { %> 
        $('.slide_<%= i %>').css("background-color", colour)
      <% } %>
  });
      </script>
  
    <% } %>
    
    <%- place_cards[i].divs[2] %> 
  </div>
  
    <div style="clear:both;border-bottom:1px double black;height:1px;"></div>
    </div>
    
    <% } %>
  <% } %>

<%- contentFor('right') %>

<div id="welcome_column">  
  <div class="spc" style="padding:0.2em;">
    <h5 style="font-size:2.8em;padding-top:0.75em;padding-bottom:0;border-bottom:0;"><span style="letter-spacing:0.15em; font-size:0.9em;font-variant:small-caps;"> IMPRESS</span> your guests with personalised place cards&hellip;</h5>
     
    <div class="shell"></div>
      
    <p class="first"><span style="letter-spacing:0.2em; font-size:1em;font-family:Gara';font-variant:small-caps">YOUR GUESTS</span>, will love seeing their names individually printed on our elegant freestanding place cards&hellip; </p>
    
    <p>&hellip;and because you choose the colours and theme, you can co-ordinate them completely with your event so everything matches perfectly! From ornamental to abstract, traditional to contemporary, one of our designs below are bound to compliment your theme&hellip;</p>

    <h3>Save time &amp; hassle&hellip;</h3>
    
    <p>They'll also save you time and stress: just decide on your options, send us a list of names, and within five working days you'll have a parcel dropping through your letterbox: no scoring card, no wonky edges, no smeared ink, just perfect little cards ready to sit on your tables.</p>
    
    <p>Place your order today!</p>
   
    <p style="margin:0;padding:0;text-align:center;"><img src="http://www.casamiento.co.uk/gfx/davidsign.png" style="width:100px"/></p>
     
    <p style="margin-top:0em;padding-top:0;text-align:center;">&mdash;David Pettifer<br/>
    
    <span style="font:normal 1.2em GaraI;">Lead Designer</span></p>
    
  </div>
   
  <div class="spc">
    <div style="margin-bottom:0.5em;height:2em;">
      <div style="float:left"><h4>Choose your colour</h4></div>
      <div class="step">STEP 1</div>
    </div>
      
    <div class="chat-bubble">Choose from hundreds of colours! Click the colour below each design on  this page to watch the image change so you can see exactly what your design will look like! Use the left and right arrows on each palette to move backwards and forwards between all the hues.</div>
  </div>
  
 <!-- 
    THICKNESS 
 -->
 
  <div class="spc">
    <div style="margin-bottom:0.5em;height:3em;">
      <div style="float:left"><h4>Choose Thickness</h4></div>
      <div class="step">STEP 2</div>  
    </div>

    <div class="chat-bubble">Decide how thick your cards will be. Thinner card is cheaper but thicker card gives for an expensive feel 
    </div>
  <br/>
    <div class="weight">
       <div class="weight_line"></div>
       <p>250gsm</p>
    </div>
      
    <div class="weight">
      <div class="weight_line" style="border-top:10px solid black;"></div>
      <p>300gsm</p>
    </div>
  </div>

  <div class="spc">
    <div style="margin-bottom:0.5em;height:3em;">
      <div style="float:left"><h4>Send guest names</h4></div>
      <div class="step">STEP 3</div>  
    </div>

    <div class="chat-bubble">Send us an eBay message or email us with a list of your guest names, after making your purchase!
    </div>
  </div>
</div>

<script>
$('.welcome_page_product').mouseenter(function() {
    $('.customise').fadeIn();
})
$('.welcome_page_product').mouseleave(function() {
    $('.customise').fadeOut();
})
</script>