<%- contentFor('inside_headtag') %>

 <meta name="google-site-verification" content="eBFYIQafAbXCI1PVkDlXJdFwYBU_UuugLowRABkHpss" />
  <link rel="stylesheet" href="/stylesheets/welcome.css" /> 
  
  <style type="text/css">
      .left_column { width:50%; }
      .right_column { margin-left:50%; width:50%; }
  #first_drop_cap_container {
    background-color: #CA2C92;
    width: 74px;
    margin: 0;
    height: 74px;
    padding-top: 5px;
    padding-left: 5px;
    float: left;
    margin-right: 0.5em;
  }

  .customise_button {
    width:40%;opacity:0.4;border-radius:10px;border:2px dashed white;margin:0 auto;text-align:center;padding:1em;margin-top:0.75em;margin-bottom:0.75em;
    
  }
  .customise_button:hover {
    opacity:1;
    cursor:pointer;
  }
  .drop_cap {
    width: 66px;
    height: 66px;
    border: 1px solid white;
    background-color: #CA2C92;
    font: normal 6em 'Josefin Slab';
    font-style: italic;
    text-align: center;
    color: white;
    line-height: 1.1em;
  }
  
  #about_container {
    width: 50%;
    margin: 0 auto;
    background-color: #EEE;
    border-radius: 1em;
    padding:0;
    margin-top: 2em;
  }
  
  
 #about_container p {
    font: normal 1.7em 'Josefin Slab';
    color: #555;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom:0.5em;
    
  }
  #signature {
    width:120px;
    padding-top:1em;
  }
  
  #about_container p.first {
    text-indent: 0;
    font: normal 2em 'Josefin Slab';
    line-height: 1.4em;
    font-style: italic;
  }
  </style>
    
  <%- contentFor('main') %>
  
  <%- contentFor('left') %>
 <img id="slides_spinner" src="/gfx/spinners/360.gif" />
 
    <div id="slides_container">
     
      <% for (var i = 0; i < place_cards.length; i++) { %>
      <div>
        <% var place_card = place_cards[i] %>
            <a href="/products/<%= place_card._id %>">
              
              <img style="width:100%;" src="http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/medium-<%= place_card.attachments_order[2]%>" />
              </a>
              
              <a href="/products/<%= place_card._id%>"><div class="customise_button" style="background-color:<%= place_card.colours[0] %>;"><img src="/gfx/welcomeicons/magicwand.svg"/><br/>
              <img src="/gfx/welcomeicons/startcustomising.svg" /></div></a>
              
              <a href="/products/<%= place_card._id %>"><img style="width:49.5%;float:left" src="http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/medium-<%= place_card.attachments_order[0]%>" /></a>
              
              
              
             <a href="/products/<%= place_card._id %>"> <img style="width:49.5%;float:right" src="http://mrdizzy.cloudant.com/test_ebay/<%= place_card._id %>/medium-<%= place_card.attachments_order[1]%>" /></a>
       
           </div>
     <% } %>
     </div>
     
     
  <%- contentFor('right') %>
   <h5><%= headline %>&hellip;</h5>
    
    <img src="/gfx/welcomeicons/line.svg" class="welcome_line"/>

<!-- 
  <div class="about_text_container" style="text-align:left;padding-left:1em;">

    <p class="first" style="font:normal 2em 'Josefin Slab';font-style:italic;font-weight:400;line-height:1.6em;">I, I'M DAVID and I'm the human behind Casamiento. As much as I'd love to think you want to know my life story, you're probably not too interested&hellip;</p>
    
    <p style="text-indent:2em;font:normal 1.6em 'Josefin Slab';;line-height:1.4em;">&hellip;and anyway, you'd probably learn more about me by checking out my <a href="http://www.facebook.com/david.pettifer.184" style="text-decoration:underline">Facebook page</a> where you can see vanity selfies and even hear me playing the piano&hellip;</p>

<p style="text-indent:2em;font:normal 1.6em 'Josefin Slab';line-height:1.4em;">All I'll say is that this is just the beginning&mdash;eventually I want to offer you a whole range of beautiful stationery that you can customise and print, straight from your browser, no-fuss! By placing an order today, you’re not just participating in a business transaction, you’re helping to realise a dream.</p>

<p>Thank you,</p>


    <img src="/gfx/welcomeicons/sig.png" id="signature" /> 
    
</div>
-->
      <div id="box_1" class="welcome_box_container" style="background-color: #EEE;">
  
     <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/printing3.svg"  class="welcome_icon" style="width:55px;opacity:0.6" />
      </div>
      
      <h5>Customise colours to match your theme&hellip;</h5>
      <p>Every design can be changed to any colour of your choice&mdash;you'll see the changes in your browser instantly, no reloading or buffering! </p>
     
    </div>
     
     
     
     
    <div id="box_2"  class="welcome_box_container" style="margin-top:4em;">
      
    
      <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/font.svg"  class="welcome_icon" />
      </div>
     
      <h5>Fonts to match<br/>your mood&hellip;</h5>
      <p>Choose a typeface to match the mood of your theme&mdash;from clever and corporate to fun and frenetic! </p>
       
     </div>
     
    <div id="box_5"  class="welcome_box_container"style="background-color: #EEE;">
  
  
     <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/delivery.svg" class="welcome_icon" />
      </div>
      
      <h5>Order before 1pm for next day delivery&hellip;</h5>
      <p>If you want us to print your cards, order before 1pm to get them the next day</p>
     
    </div>
  
  
  
    <div  id="box_6" class="welcome_box_container">
  
    <div class="welcome_icon_container">
      <img src="/gfx/welcomeicons/editing.svg" class="welcome_icon" />
    </div>
    
      <h5>Stress-free editing of guest names&hellip;</h5>
      <p>Just paste a list of names into the quick entry box and hey presto, you suddenly have all your place cards automatically created&hellip;</p>
     
    </div>
     
  
    <div  id="box_4" class="welcome_box_container" style="background-color: #EEE;">
  
      <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/file1.svg"  class="welcome_icon" style="width:55px;opacity:0.7" />
      </div>
      
      <h5>Everything is saved automatically&hellip;</h5>
      <p>You don't even need to login or create an account: as soon as you start entering names or changing colours, your design is saved automatically. Just go back to the same page in the same browser and you will find everything just how you left it! </p>
     
     </div>
         
    <div  id="box_4" class="welcome_box_container">
  
      <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/designs.svg"  class="welcome_icon" />
      </div>
      
      <h5>Lots of designs to match your theme</h5>
      <p>Whether it's 80s retro or traditional Victorian vintage, <a href="/products"><img src="/gfx/browse/open182.svg" style="width:20px;" /> <span style="text-decoration:underline">browse our designs</span></a> and a design to suit! </p>
     
     </div>
     
     
     
    <div id="box_5"  class="welcome_box_container" style="background-color: #EEE;">
  
     <div class="welcome_icon_container">
        <img src="/gfx/welcomeicons/mileage.svg" class="welcome_icon" style="width:55px;"/>
      </div>
      
      <h5>Blazing fast user interface&hellip;</h5>
      <p>It's horrible when you click something and you sit and wait for a response: from changing colours and fonts through to entering your guests' names, everything happens fast meaning you spend less time hanging around getting stressed!</p>
     
    </div>
     
  
    <div  id="box_6" class="welcome_box_container">
  
    <div class="welcome_icon_container">
      <img src="/gfx/welcomeicons/targeting13.svg" class="welcome_icon" style="width:60px;opacity:0.7" />
    </div>
    
      <h5>Fine-tune each card&hellip;</h5>
      <p>Adjust the size of each name quickly: make short names like "Lee" bigger and long names smaller with a few clicks&hellip;</p>
     
    </div>
     

<%- contentFor('middle') %>
<div style="clear:both"></div>
<%- contentFor('javascripts') %>

$(function() {
  var body_width = $('body').width();
  if (body_width > 680) {
    var height = 92;
  }
  else {
    height = 207;
  }

  $("#slides_container").slidesjs({
    width: 1000,
    height: 1269,

    pagination: {
      active: true
    },
    navigation: {
      active: true
    },
    play: {
      active: false,
      auto: true,
      interval: 2500
    },
    callback: {
      loaded: function(n) {
        $('#slides_spinner').hide();
      }
    }
  })

})