<img src="products/<%= doc._id %>/attachments/display-<%= doc.attachments_order[1] %>" width="320" height="240" />
<img src="products/<%= doc._id %>/attachments/display-<%= doc.attachments_order[2] %>" width="320" height="240" /> 

<div class="colour_shown">
    <h5><img src="/images/bullets/small_dot_square.png" /> Colours shown:</h5> 
   <% if (doc.colours) { %>
   <% doc.colours.forEach(function(colour) { %>
       <div class="colour_container" style="clear:both;">
            <div class="swatch" style="background-color:<%= colour %>;"></div>
            <span class="small"><%= colour %></span>
        </div>
    <% }) %>
  <% } %>
    <div style="margin-right:63px;">
    
        <h5><img src="/images/bullets/small_dot_square.png" /> Price per <span id="quantity_<%= doc._id %>">16</span>:</h5>
        <div id="slider_<%= doc._id %>" style="float:left;" class="noUiSlider"></div>
        <div id="price_<%= doc._id %>">
            <span class="number" id="price_main_<%= doc._id %>">£1</span><span id="price_decimal_<%= doc._id %>"class="decimal">.95</span>
        </div>
    </div>
</div>