<html>
<head>
<title>Import transactions</title>
</head>

<form method="POST" action="/paypal">
<p>
Start date:
<select name="startyear">
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012" selected="selected">2012</option>
<option value="2013">2013</option>
</select>


<select name="startmonth">
<option value="1">Jan</option>
<option value="2">Feb</option>
<option value="3">Mar</option>
<option value="4">Apr</option>
<option value="5">May</option>
<option value="6">Jun</option>
<option value="7">Jul</option>
<option value="8">Aug</option>
<option value="9">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>
</select>

<select name="startdate">
<% for (var i = 1; i < 32; i++) { %>
<option value="<%= i %>"><%= i %></option>
<% } %>
</select>
Start time:
<select name="starthour">
<% for (var i = 0; i < 24; i++) { %>
<% if (i < 10) { i = "0" + i; } %>
<option value="<%= i %>"><%= i %></option>
<% } %>
</select>:
<select name="startminute">
<% for (var i = 0; i < 60; i++) { %>
<% if (i < 10) { i = "0" + i; } %>
<option value="<%= i %>"><%= i %></option>
<% } %>
</select>
</p>

<p>

End date:
<select name="endyear">
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012" selected="selected">2012</option>
<option value="2013">2013</option>
</select>


<select name="endmonth">
<option value="1">Jan</option>
<option value="2">Feb</option>
<option value="3">Mar</option>
<option value="4">Apr</option>
<option value="5">May</option>
<option value="6">Jun</option>
<option value="7">Jul</option>
<option value="8">Aug</option>
<option value="9">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>
</select>

<select name="enddate">
<% for (var i = 1; i < 32; i++) { %>
<option value="<%= i %>"><%= i %></option>
<% } %>
</select>

End time:
<select name="endhour">
<% for (var i = 0; i < 24; i++) { %>
<% if (i < 10) { i = "0" + i; } %>
<option value="<%= i %>"><%= i %></option>
<% } %>
</select>:
<select name="endminute">
<% for (var i = 0; i < 60; i++) { %>
<% if (i < 10) { i = "0" + i; } %>
<option value="<%= i %>"><%= i %></option>
<% } %>
</select>
</p>


<p>
Type of transactions:

<select name="type">
<option value="expenses">Expenses</option>
<option value="sales">Sales</option>
<option value="received">Received Money</option>

<option value="suppliers">Supplier Cards</option>
<option value="customers">Customers</option>
</select>
</p>
<input type="submit" />
</form>

</html>