<%- contentFor('inline_styles') %>
  .page div { margin:0 auto; }
  .page { 
    padding-top:3em;
    width:210mm;
    margin:0 auto;
    height:297mm;
  }
  
  .casamiento_black_logo {
    text-align:center;
    width:50mm;
    display:none;
  }
  
  .place_card_container {
    border:1px dotted lightgrey;
    height:74.25mm;
    position:relative;
    width:105mm;
  } 
  
  .crop_mark { 
   position:absolute;width:20px;height:20px;z-index:200000;
  }
  
  .top_top_left_crop_mark {
   border-right:1px solid black;top:-30px;left:-21px;
  }
  
  .top_left_left_crop_mark {
    border-bottom:1px solid black;top:-21px;left:-30px;
  } 
  .top_top_right_crop_mark {
    border-bottom:1px solid black;top:-21px;right:-30px;
  }
  .top_right_right_crop_mark {
   border-left:1px solid black;top:-30px;right:-21px;
  }
  
  .bottom_bottom_left_crop_mark {
   border-right:1px solid black;bottom:-30px;left:-21px;
  }
  
  .bottom_left_left_crop_mark {
    border-top:1px solid black;bottom:-21px;left:-30px;
  } 
  
  .bottom_bottom_right_crop_mark {
    border-left:1px solid black;bottom:-30px;right:-21px;
  }
  
  .bottom_right_right_crop_mark {
    border-top:1px solid black;bottom:-21px;right:-30px;
  } 
  @media print {
   
    #picker_1, #picker_2, #footer, #header_container { display:none; }
    .casamiento_black_logo { display:block; }
  }
  
  svg { height:100%; width:100%; position:absolute; }

  .name { 
    border:none;
    margin:0;
    padding:0;
    outline:none;
    background-color:transparent;
    display:inline;
    font-size:2em;
    letter-spacing:0;
    font-family:'TP';
    text-align:center;
    line-height:3.7125cm; 
}
.name:hover { background-color:transparent; border:1px dotted black; }

<%- contentFor('left') %>

<div class="page">

  <div class="casamiento_black_logo">
    <img src="/gfx/logo/casamiento_black.svg" style="width:50mm;" />
  </div>
    
  <div class="place_card_container">
    <div class="top_top_left_crop_mark crop_mark"></div>
    <div class="top_left_left_crop_mark crop_mark"></div>
    <div class="top_top_right_crop_mark crop_mark"></div>
    
    <div class="top_right_right_crop_mark crop_mark"></div>
    <div class="bottom_bottom_left_crop_mark crop_mark"></div>
    
    <div class="bottom_left_left_crop_mark crop_mark"></div>
    <div class="bottom_bottom_right_crop_mark crop_mark"></div>
    
    <div class="bottom_right_right_crop_mark crop_mark"></div>
    <div style="z-index:5;width:100%;height:7.245cm;text-align:center;position:absolute;">
      <div style="height:3.7125cm;"></div>
      <div style="height:3.7125cm;border-top:1px dotted lightgrey">
        <input type="text" class="name" value="David Louise"></input>
      </div>
    </div>
    <%- svg %>
  </div>
</div>

<!-- RIGHT COLUMN -->

<%- contentFor('right') %>

<div id='picker_1'></div>
<% if (colours[1]) { %>
<div id='picker_2'></div>
<%} %>
<script type="text/javascript">
$(function(){
    var current_colour_1 = '<%= colours[0] %>';
    var current_colour_2 = '<%= colours[1] %>';
    $('[fill=#FF0000]').attr('fill', '<%= colours[0] %>').attr('class', 'colour0')
    $('[stroke=#FF0000]').attr('stroke', '<%= colours[0] %>').attr('class', 'colour0')
    $('#picker_1').colorPicker({colours_per_page:12, default_color: "<%=colours[0] %>"}).on('dizzy-cp:hoverColor', function(e, colour) {
        $('[fill=' + current_colour_1 + '][class="colour0"]').attr('fill', colour)
         $('[stroke=' + current_colour_1 + '][class="colour0"]').attr('stroke', colour)
        current_colour_1 = colour
    })
    if(current_colour_2) {
    
    $('[fill=#0000FF]').attr('fill', '<%= colours[1] %>').attr('class', 'colour1')
    $('[stroke=#0000FF]').attr('stroke', '<%= colours[1] %>').attr('class', 'colour1')
        $('#picker_2').colorPicker({colours_per_page:12, default_color: "<%=colours[1] %>"}).on('dizzy-cp:hoverColor', function(e, colour) {
            $('[fill=' + current_colour_2 + '][class="colour1"]').attr('fill', colour)
            
            $('[stroke=' + current_colour_2 + '][class="colour1"]').attr('stroke', colour)
            current_colour_2 = colour
        })
    }
});
</script>
