<%- contentFor('inline_styles') %>

img.slide { width:100%; }
.left_column { width:70%; }
.right_column { margin-left:70%; }
.step { color: black; text-align:right;}

<%- contentFor('left') %>

	<% for (var i = 0; i < 18; i++) { %>
	<%if (place_cards[i]) { %>
	<div>
		<div style="width:60%;float:left;clear:both;"><%- place_cards[i].divs[0] %>
		<h2 class="caz"><%= place_cards[i].name%></h2></div>		
		<div style="width:39%;float:right;"><%- place_cards[i].divs[1] %> <%- place_cards[i].divs[2] %>
		
	<% for(var j=0; j < place_cards[i].colours.length; j++) { %>
	<div id="colour_<%=i %>_<%= j %>"></div>
	<script>$('#colour_<%=i%>_<%=j%>').colorPicker({default_color: '<%= place_cards[i].colours[j] %>'}).on('dizzy-cp:hoverColor', function(e, colour) {
		<% if(j == 1) { %>      
			$('.slide_<%= i %> > div > div:not(.nocolor)').css("background-color", colour)
		<% } else { %> 
			$('.slide_<%= i %>').css("background-color", colour)
		<% } %>
	});</script>
	<% } %></div>
		</div>
		<% } %>
	<% } %>



<%- contentFor('right') %>

 <div class="spc">
	 
		<div class="name_place_icon" style="margin:0 auto"><img src="http://www.casamiento.co.uk/gfx/product_types/name_place.png" style="width:150px;margin:0 auto;"></div>

	</div> <div class="spc">
	<div class="spec" style="width:100px;margin:0 auto;padding-top:0.25em;"><img src="http://www.casamiento.co.uk/gfx/specs/tent.png" style="width:100%"></div>
	</div>
<div class="spc">
	<div style="margin-bottom:0.5em;height:2em;">
	<div style="float:left"><h1>Choose your colour</h1></div>
	<div class="step">STEP 1</div>
	</div>
	
	<div class="chat-bubble">Choose from hundreds of colours: hover over or tap the colour shown below each design to bring up the hues panel, then hover or tap the colour swatches and the image will change so you can see exactly how your design will look. Move backwards and forwards through the hues panel by clicking the left &larr; and right &rarr; arrows.
	</div>
</div>
	
	
 <!-- 
		THICKNESS 
 -->
 
	<div class="spc">
		<div style="margin-bottom:0.5em;height:3em;">
			<div style="float:left"><h1>Choose Thickness</h1></div>
			<div class="step">STEP 2</div>  
		</div>

		<div class="chat-bubble">Decide the thickness of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm): the higher the number, the thicker the card. A normal sheet of A4 copy paper is usually about 80gsm.
		</div>
		<div>
			<div class="weight" style="border-top:5px solid #444444;"></div> <span style="font:normal 0.8em OS;">250gsm</span>
			</div>
	<div>
		 <div class="weight" style="border-top:8px solid #444444;"></div> <span style="font:normal 0.8em OS;margin-top:1em;margin-bottom:3em;">300gsm</span></div>
		 
	</div>


 <div class="spc">
		<div style="margin-bottom:0.5em;height:3em;">
			<div style="float:left"><h1>Send guest names</h1></div>
			<div class="step">STEP 3</div>  
		</div>

		<div class="chat-bubble">Send us an eBay message or email us with a list of your guest names, after making your purchase!
		</div>
	</div>
	<div class="spc" style="padding:0.2em;">
	 <h5 style="text-align:center;"><span style="letter-spacing:0.15em; font-size:0.75em;font-variant:small-caps;"> IMPRESS</span> your guests with personalised place cards&hellip;</h5>
	 
	<div style="padding-top:0.5em"><img src="http://www.casamiento.co.uk/gfx/shell.png"></div>
		
	<p class="first caz casamiento"><span style="letter-spacing:0.2em; font-size:1em;font-family:Gara';font-variant:small-caps">YOUR GUESTS</span>, will love seeing their names individually printed on our elegant freestanding place cards&hellip; </p>
		<p class="caz casamiento">&hellip;and because you choose the colours and theme, you can co-ordinate them completely with your event so everything matches perfectly! From ornamental to abstract, traditional to contemporary, one of our designs below are bound to compliment your theme&hellip;</p>

		<h4>Save time and hassle&hellip;</h4>
		<p class="caz">They'll also save you time and stress: just decide on your options, send us a list of names, and within five working days you'll have a parcel dropping through your letterbox: no scoring card, no wonky edges, no smeared ink, just perfect little cards ready to sit on your tables.
 </p>
 <p class="caz casamiento">Place your order today!</p>
		<p class="caz" style="margin:0;padding:0;text-align:center;"><img src="http://www.casamiento.co.uk/gfx/davidsign.png" style="width:100px"/></p>
		<p class="caz" style="margin-top:0em;padding-top:0;text-align:center;">&mdash;David Pettifer<br/>
		<span style="font:normal 1.2em GaraI;">Lead Designer</span></p>
	</div>
	</div>