<!doctype html>
<style type="text/css">
<% if (colours[1]) { %>
  .global_colour_0 .colour_1 { background-color: <%= colours[1] %> }
<% } %>

.shell { 
  background-image:url('http://www.casamiento.co.uk/gfx/bullets/wiggle.svg');
  background-repeat:no-repeat; 
  background-position:center;
  background-size:24px 17px;
  height:17px;
  padding-top:1em;
  padding-bottom:1em;
}
   .dizzycp-static_container { 
      background-color:white;
    }
    
    .dizzycp-container_to_fade_in {
      display:none; 
      position:absolute; 
      z-index:99999999999999999999999999999999999999999999999999999;
      border:1px dotted black;
    }
    
      .dizzycp-swatch_container { 
        text-align:center;
      }
      
        .dizzycp-big_colour_square_frame { 
          cursor:pointer;
          display:inline-block;
          border:1px solid lightgrey;
          width:40px;
          height:40px;
          padding:2px; 
          border-radius:25px;
        }
          .dizzycp-big_colour_square_swatch {
            width:36px; 
            height:36px;
            margin:2px; 
            border-radius:20px;
          }
        .dizzycp-text_label_for_colour { 
          color:black;
          padding-top:0.25em;
          padding-bottom:0.25em;
          font:normal 1.2em 'OS';
          text-transform:uppercase;
          letter-spacing:0.05em;
        }

  .dizzycp-external_wrapper {
    margin:0 auto;
    overflow:hidden;
  }
  .dizzycp-left_arrow, .dizzycp-right_arrow {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .dizzycp-left_arrow { 
    margin-left:50px; 
    float:left;
    font-size:50px;
  }
  .dizzycp-right_arrow { 
    margin-right:50px; 
    float:right;
    font-size:50px;
  }
  .dizzycp-internal_wrapper{
    overflow-y: hidden;
    overflow-x: scroll;    
    -webkit-overflow-scrolling: touch;
  }
  .square { 
    float:left;
    cursor: pointer;
  }
  .dizzycp-scrollable_colours {
    height:100px;
    position:relative;
  }
  <% var j = 0 %>
  <% for (var k = 0; k < 3; k++) { %>
  <% for (var i = 0; i < 6; i++) { %>
  <% if (document.related[j]) { %>
   <% var card = document.related[j] %>
   #related_<%= j %> .colour_0 { background-color:<%= card.colours[0] %>; }
  #related_<%= j %>  .colour_1 { background-color: <%= card.colours[1] %>; }  
    <% j++ %>
    <% } %>
  <% } %>

  <% } %>
/* FONTS */
@font-face { font-family:"TP"; src: url('http://www.casamiento.co.uk/f/t.eot?') format('eot'), url('http://www.casamiento.co.uk/f/t.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('http://www.casamiento.co.uk/f/garamonditalic.eot?') format('eot'), url('http://www.casamiento.co.uk/f/garamonditalic.woff') format('woff'); }
@font-face { font-family:"Gara"; src: url('http://www.casamiento.co.uk/f/garamond.eot?') format('eot'), url('http://www.casamiento.co.uk/f/garamond.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OSReg"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSReg.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('http://www.casamiento.co.uk/f/OSL.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS IL"; src: url('http://www.casamiento.co.uk/f/OSLI.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('http://www.casamiento.co.uk/f/OSCB.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSCB.woff') format('woff'); }

.texture { margin-top:0.5em;width:2.5em;height:2.5em;border:1px solid black;border-radius:0.25em;display:inline-block;}

h1 { 
  font: normal 0.75em "OS Condensed";
  margin-bottom:0.5em; 
  padding:0.25em;
  padding-left:1em;
  text-align:left
}

h2.caz {
  font: normal 2.2em "TP", sans-serif; 
  letter-spacing:10px; 
  margin-top:0.5em;
  margin-bottom:0.5em; 
  padding-right:10px;
  padding-left:10px;
  text-align:center; 
}
  .place_square h2 { 
    float:left;
    width:50%;
    margin-top:0em;
    padding-top:0em;
    letter-spacing:0.2em;
    text-align:left;
    font-size:1.5em;
  }
  
  a h2 { color: black; }
 
h3.caz { 
  font:normal 1.4em "Gara", serif; 
  text-align:justify; 
  line-height:1.4em;
  letter-spacing:0.1em;
  padding-right:10px; 
  padding-left:10px;
}
h4 { 
  border-bottom:1px solid black;
  display:inline-block; 
  font:normal 2.2em GaraI;
  margin-top:0.5em;
  margin-bottom:0.5em;
  padding-bottom:0.5em; 
  text-align:center;
}

h5 { padding:0;margin:0;text-align:left;letter-spacing:0; line-height:1em; font:normal 4.2em GaraI;}

h6.caz { 
  color:#333;
  font: normal 1.375em "OS IL", sans-serif; 
  line-height:1.5em;
  margin-bottom:1.5em; 
  text-indent:1em; 
 }
  .quote h6 { 
    font: 1.4em normal 'OS IL';
    margin:auto;
    text-align:center;
    width:75%; 
  }
  h6.ebay_user { 
    font:1.2em 'GaraI', serif;
    margin-right:20%;
    text-align:right; 
  }
  
p.caz { 
  padding: 0 0.25em 0.75em 0.25em 0; 
  font: normal 0.9em "OS", sans-serif;
  line-height: 1.5em;
  margin-bottom:1em;
}
  .intro p { text-align:left;}
    .intro p.first:first-letter { 
      float:left;
      font:normal 5.5em TP;
      line-height:0.8em;
      padding-right:0.05em;
    }
  
a.caz:link, a.caz:active, a.caz:visited { 
  color:<%= colours[0] %>;  
  font-style:underline; 
}
  .buyitnow a { 
    color:white;
    text-decoration:none; 
  }

table { 
  border-collapse:collapse;
  width:100%; 
}

/* COLUMNS */

#inner_page_container_casamiento { 
  background-color:#fff; 
  text-align:left;
  margin:auto; 
}

.left_column { 
  float:left;
  width:50%; 
}

  #header_container_casamiento { 
    border-bottom:1px solid #000;
    padding-top:0.5em;
    padding-bottom:0.5em;
    text-align:center;
  }
    #main_logo_casamiento { 
      float:left; 
      padding-left:20px; 
      text-align:left; 
      width:25%; 
    }
      #logo { width:202px; }
      
    #main_slogan_casamiento { float:right; }
      #main_slogan_casamiento img { width:180px; }
  
  #description { padding:1em }

/* SPECIFICATIONS */
  
.right_column { 
  border-left:1px dotted black;
  margin-left:50%; 
  min-width:180px;
  text-align:center; 
}
.spc {
  border-bottom:1px dotted grey;   
}

.name_place_icon { width:130px; }
  .name_place_icon img { width:150px;}

.chat-bubble {
  color:black; 
  font: normal 0.9em "OS IL"; 
  margin:10px auto;
  padding-left:1em;
  padding-right:1em; 
}

.step { 
  background-color:<%= colours[0] %>;
  border-bottom-left-radius:10px;
  color:white;
  float:right;
  font:0.8em normal 'OS Light';
  padding:0.25em;
  width:50%;
}

.weight { 
  display:inline-block;
  border-color:#444;
  border-style:solid;
  margin:0.5em 0 0.2em;
  width:75px;
}
.quote { padding-bottom:5px;padding-top:10px;}
.product_type {  border-top:0; }

.slide { width:100%;}
.inner_place_square, .inner_place_square_hidden { margin-bottom:0;padding:0.25em; }
.inner_place_square_hidden {display:none}

.place_square {border:1px solid transparent;}
  .place_square:hover { 
    border:1px solid grey;   
    cursor:pointer;
    text-decoration:underline; 
  }
  .place_square img { width:100%;}

.place_square_0 {width:60%;float:left;border-bottom:1px solid grey }
.place_square_1 { width:39%;float:right;border-bottom:1px solid grey;}

.place_square_2 { width:60%;float:right;border-bottom:1px solid grey;}
.place_square_3 { width:39%;float:left;border-bottom:1px solid grey;}
.place_square_4 { width:39%;float:left;border-bottom:1px solid grey }
.place_square_5 { width:60%;float:right;border-bottom:1px solid grey; }
.place_square_1 h2, .place_square_3 h2, .place_square_4 h2 { font-size:1.2em;}

/* GLOBAL CLASSES */
.buyitnow { 
  background-color:<%= colours[0]%>;
  border-radius:5px;
  color:white;
  font:normal 1.4em OS;
  margin:0 auto;
  margin-top:1em;
  margin-bottom:1em;
  padding:1em;
  text-align:center;
  width:65%;
}
  .buyitnow:hover { 
    background-color:black;
    text-decoration:underline;
  }
  
  .cart_icon { width:30px; }
</style>

<div id="page_container_casamiento">
  <div id="inner_page_container_casamiento">
   
<!-- --------------------------------------------------------
  LEFT COLUMN
-->

<div class="left_column">
<div id="resizing"></div>
  <div class="caz" id="header_container_casamiento">
    <div id="main_logo_casamiento" class="caz">
      <img src="http://www.casamiento.co.uk/gfx/logo/casamiento_gry.svg" id="logo" class="caz">
    </div>
      
    <div id="main_slogan_casamiento" class="caz">
      <img src="http://www.casamiento.co.uk/gfx/logo/drms.svg">
    </div>
    <div style="clear:both;"></div>
  </div>
    
<!--
  SLIDES 1-3
-->     
<div class="slide">
      <div style="position:relative;width:100%;">
    
        <div style="position:absolute;width:100%;height:100%;z-index:0;background-color:<%= colours[0]%>" class="global_colour_0">
          <%- document["background-" + attachments_order[0]]  %>
        </div>
        <img src="http://mrdizzy.cloudant.com/test_ebay/<%= _id %>/medium-<%= attachments_order[0]%>" style="position:relative;display:block;width:100%;z-index:6"/>
      </div>
    </div>

   
  <div>
    <h2 class="caz"><%= name %></h2>
    <div style="text-align:center;margin:0;margin-right:2%;"><p class="ornamental_line"><img src="http://www.casamiento.co.uk/gfx/ornamentalline.png" /></p>
    </div>
  </div>
   
 <br/>
  
 
<div class="slide">
      <div style="position:relative;width:100%;">
    
        <div style="position:absolute;width:100%;height:100%;z-index:0;background-color:<%= colours[0] %>" class="global_colour_0">
          <%- document["background-" + attachments_order[1]]  %>
        </div>
        <img src="http://mrdizzy.cloudant.com/test_ebay/<%= _id %>/medium-<%= attachments_order[1]%>" style="position:relative;display:block;width:100%;z-index:6"/>
      </div>
    </div>

   
  
 <!-- 
    BUY IT BOX 1
 -->
 
  <div class="spc" style="clear:both">
  
    <div class="global_colour_0 buyitnow">
      <img src="http://www.casamiento.co.uk/gfx/cart_white.png" class="cart_icon"><a href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">DON'T WAIT FOR THIS AUCTION TO FINISH! CLICK HERE TO BUY THIS ITEM NOW WITH MANY MORE OPTIONS&hellip;</a>      
    </div>
  </div>


 <!-- 
    BLURB 
 -->

  <div class="spc intro" style="clear:both;width:90%;margin:0 auto;text-align:center;border:0;">
    <h5 style="text-align:center;">Impress your guests with elegant personalised place cards&hellip;</h5>
  
  <div class="shell"></div>
    
   
    <p class="first caz casamiento">Y<span style="letter-spacing:0.2em; font-size:1em;font-family:Gara';font-variant:small-caps">OUR GUESTS</span>, will love seeing their names individually printed on our elegant freestanding place cards&hellip; </p>
    <p class="caz casamiento">&hellip;and because you choose the colours and theme, you can co-ordinate them completely with your event so everything matches perfectly! From ornamental to abstract, traditional to contemporary, one of our designs is certain to compliment your theme&hellip;</p>

    <h4>Save time and hassle&hellip;</h4>
    
    <p class="caz">They'll also save you time and stress: just decide on your options, send us a list of names, and within three working days you'll have a parcel dropping through your letterbox: no scoring card, no wonky edges, no smeared ink, just perfect little cards ready to sit on your tables.</p>
    
    <p class="caz casamiento">Place your order today!</p>
    
    <p class="caz" style="margin:0;padding:0;text-align:center;"><img src="http://www.casamiento.co.uk/gfx/davidsign.png" style="width:100px"/></p>
    
    <p class="caz" style="margin-top:0em;padding-top:0;text-align:center;">&mdash;David Pettifer<br/>
    <span style="font:normal 1.2em GaraI;">Lead Designer</span></p>
  </div>
  
<!-- 
  RELATED ITEMS 
  --> 
    <div class="spc" style="border:0;">
    <h1>You will also like&hellip;</h1>
<% j = 0 %>
<% for (var k = 0; k < 3; k++) { %>

    <% for (var i = 0; i < 6; i++) { %>
      <%if (related[j]) { %>
      <div id="related_<%=j %>"><a class="caz casamiento" href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">
        <div class="place_square_<%= i %> place_square">
          <div class="inner_place_square">
            <div style="position:relative;width:100%;">
    
        <div style="position:absolute;width:100%;height:100%;z-index:0;%>" class="colour_0">
          <%- related[j]["background-" + related[j].attachments_order[1]]  %>
        </div>
        <img src="http://mrdizzy.cloudant.com/test_ebay/<%= related[j]._id %>/display-<%= related[j].attachments_order[1]%>" style="position:relative;display:block;width:100%;z-index:6"/>
      </div>
          </div>
         <div class="inner_place_square_hidden">
          <div style="position:relative;width:100%;">
    
        <div style="position:absolute;width:100%;height:100%;z-index:0; %>" class="colour_0">
          <%- related[j]["background-" + related[j].attachments_order[2]]  %>
        </div>
        <img src="http://mrdizzy.cloudant.com/test_ebay/<%= related[j]._id %>/display-<%= related[j].attachments_order[2]%>" style="position:relative;display:block;width:100%;z-index:6"/>
      </div>
         
         </div>
          <div class="slide_name" style="margin:0;padding:0;"><h2 class="caz"><%= related[j].name %></h2></div>
        </div>
      </a>
          </div>
      <% } %>
      <% j++ %>
      
    <% } %>

    <% } %>
  
  </div>

</div>   













<!-- -------------------------------------------------------------
  RIGHT COLUMN
  -->

<div class="right_column">

  <div></div>


 
  
  <div class="spc">
    <h1 style="text-align:center;padding-top:1em;">This <%= params.buy_it_now ? "buy-it-now listing" : "auction" %> is for:</h1>

    <div style="border-bottom:1px dotted grey;padding-top:0.1em;border-top:1px dotted grey;font-size:3em;"><img src="http://www.casamiento.co.uk/gfx/product_types/small/name_place_small.png" style="width:155px;" class="name_place_icon"></div>
    
    <table>
      <tr>
        <td style="border-right:1px dotted grey;">
          <table>
          <% if (!params.buy_it_now) { %>
            <tr>
              <td style="border-bottom:1px dotted grey;border-right:1px dotted grey;width:35%;">
                <h1 style="text-align:right;">Quantity:</h1>
              </td>
            
              <td style="border-bottom:1px dotted grey;width:65%;text-align:left;"><h3 class="caz casamiento" style="margin:0;padding:0;font-size:1.5em;text-align:center;"><img src="http://www.casamiento.co.uk/gfx/qty.png" style="display:inline-block;width:40px;"><%= params.quantity %></h3></td>
            </tr>
            <% } %>
            
            <tr>
              <td style="text-align:right;border-bottom:1px dotted grey;border-right:1px dotted grey;"><h1 style="text-align:right;">Format:</h1></td>
              <td style="text-align:left;border-bottom:1px dotted grey;"><h3 class="caz casamiento" style="font-size:1.5em;text-align:center;"><img src="http://www.casamiento.co.uk/gfx/specs/tent.png" style="display:inline-block;width:100px;padding-top:1em;"></h3></td>
            </tr>
            
            <tr>
              <td style="text-align:right;border-bottom:1px dotted grey;border-right:1px dotted grey;"><h1 style="text-align:right;">Card thickness:</h1></td>
              <td style="text-align:center;border-bottom:1px dotted grey;">
                <div style="padding:1em;">
    <div class="weight" style="border-top:3px solid #000;"></div> <span style="font:normal 0.8em OS;">250gsm</span>
    </div>
                <div style="padding:1em;padding-top:0;">
    <div class="weight" style="border-top:7px solid #000;"></div> <span style="font:normal 0.8em OS;">300gsm</span>
    </div>
                </div>
              </td>
            </tr>
            <tr>
            <td style="text-align:right;border-right:1px dotted grey;"><h1 style="text-align:right;">Card texture:</h1></td>
              <td style="text-align:center;">
            <div style="margin-left:1em;margin-bottom:0;margin-top:0;display:inline-block;font-family:'TP'"><div class="texture"></div><br/>Smooth<br/>White</div>
              
              </td>
            </tr>
            
          </table>
        </td>
        
        <td style="width:35%;">
        
        <% if (params.buy_it_now) { %>
        <div style="font: normal 0.75em 'OS';text-align:center;letter-spacing:0.1em;">PRICES STARTING FROM</div>
          <h3 class="caz casamiento" style="text-align:center;font-size:2em;margin:0;padding:0;">&pound;<%= params.buy_it_now_price %></h3>
          
        <% } else { %>
        <div style="font: normal 0.75em 'OS';text-align:center;letter-spacing:0.2em;">BIDDING STARTS AT</div>
          <h3 class="caz casamiento" style="text-align:center;font-size:2em;margin:0;padding:0;">&pound;<%= params.bidding %></h3>
          
<div style="font: normal 0.75em 'OS';margin-top:2em;text-align:center;letter-spacing:0.2em;">OR BUY-IT-NOW FOR</div>

          <h3 class="caz casamiento" style="text-align:center;font-size:2em;margin:0;padding:0;">&pound;<%= params.buy_it_now_price %></h3>
          <p style="font-family:OS;font-size:0.8em;margin:0.5em;">For more options and different quantities, see our <a class="caz casamiento text_colour_0" href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">buy-it-now</a> listing</p>
        <% } %>

        </td>
        
      </tr>
    </table>
  </div>

  <div class="spc">
    <div style="margin-bottom:0.5em;height:2em;">
      <div style="float:left"><h1>Choose your colour</h1></div>
      <div class="step global_colour_0">STEP 1</div>
    </div>
    
    <!-- COLOUR SWATCH PICKER -->
    <% for(var i=0; i < colours.length; i++) { %>
      <div id="colour_<%=i %>"></div>
    <% } %>
    <div class="chat-bubble">Choose from hundreds of colours: hover over or tap the colour shown above to bring up the hues panel, then hover or tap the colour swatches and the image will change so you can see exactly how your design will look. Move backwards and forwards through the hues panel by clicking the left &larr; and right &rarr; arrows.
    </div>
    
  </div>

 <!-- 
    FONTS 
 -->
  <div class="spc">
    <div style="margin-bottom:0.5em;height:2em;">
      <div style="float:left"><h1>Choose your font</h1></div>
      <div class="step global_colour_0">STEP 2</div>
    </div>
    
    <div class="chat-bubble">Choose a font to suit your event. From small and simple to big and bold, fun and fierce to silent and steely&hellip; choose the font to express the personality you want to convey.
    </div>
    
    <% ["CaslonPro","ChaparralItalic","EccentricStd","Exmouth","Metroscript","MyriadProLight","Parchment","PerpetuaTitling","PFBodoniScript","PoorRichard","SacramentoRegular","TrajanPro"].forEach(function(font) { %>
    <div style="margin:0 auto;width:75%;text-align:center;padding:1em;padding-bottom:0.5em;border-bottom:1px solid black;">
    <img src="http://www.casamiento.co.uk/fonts/<%= font %>.svg" style="display:inline-block;"/>
    </div>
    <% }) %>
  </div>

  
 <!-- 
    THICKNESS 
 -->
 
  <div class="spc">
    <div style="margin-bottom:0.5em;height:3em;">
      <div style="float:left"><h1>Choose Thickness</h1></div>
      <div class="step global_colour_0">STEP 3</div>  
    </div>

    <div class="chat-bubble">Decide the thickness of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm): the higher the number, the thicker the card. A normal sheet of A4 copy paper is usually about 80gsm.
    </div>
    
    <div>
      <div class="weight" style="border-top-width:2px;"></div> 
      <span style="font:normal 0.8em OS;">250gsm</span>
    </div>
    <div>
      <div class="weight" style="border-top-width:7px;"></div> 
      <span style="font:normal 0.8em OS;margin-top:1em;margin-bottom:3em;">300gsm</span>
    </div>
     <% if (!params.buy_it_now) { %>
    <p style="font-family:OS;font-size:0.8em;margin-left:33%;">Please note: this auction is for 250gsm card. For other options, please see our <a class="text_colour_0 caz casamiento" href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">buy-it-now</a> listing</p>
    <% } %>
  </div>

 <div class="spc">
    <div style="margin-bottom:0.5em;height:3em;">
      <div style="float:left"><h1>Enter guest names</h1></div>
      <div class="step global_colour_0">STEP 4</div>  
    </div>

    <div class="chat-bubble">Just email us or send an eBay message with a list of guest names that you want printed on each place card. 
    </div>
  </div>
  
  
  
<div class="slide">
      <div style="position:relative;width:100%;">
    
        <div style="position:absolute;width:100%;height:100%;z-index:0;background-color:<%= colours[0] %>" class="global_colour_0">
          <%- document["background-" + attachments_order[3]]  %>
        </div>
        <img src="http://mrdizzy.cloudant.com/test_ebay/<%= _id %>/medium-<%= attachments_order[3]%>" style="position:relative;display:block;width:100%;z-index:6"/>
      </div>
    </div>

  
   <!-- 
    BUY-IT BOX 2
 -->
  <div class="spc">
    <div class="global_colour_0 buyitnow">
      <img src="http://www.casamiento.co.uk/gfx/cart_white.png" class="cart_icon"/> <a href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">DON'T WAIT FOR THIS AUCTION TO FINISH! CLICK HERE TO BUY THIS ITEM NOW WITH MANY MORE OPTIONS&hellip;</a>
    </div>
  </div>
  

 <!-- 
    TESTIMONIALS 
 -->  
  
<div class="spc">
  <h1>Don't take our word for it&hellip;</h1>
      <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> Perfect, and great communication from seller, even when I forgot names! A****</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=catclarke1984">catclarke1984</a></h6>
  </div>
  <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> Wow. Look very professional and expensive. Highly recommend</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=jurider1">jurider1</a></h6>
  </div>
           <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" />Thank you, thank you! I love them, amazing man I'll be back again with next order!</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid= foxmoose">foxmoose</a></h6>
  </div>    
            <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> 
  Brilliant, very helpful even when I made mistake with order, thank you so much!</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid= sterry1984">sterry1984</a></h6>
  </div>     
    <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> Thank you, they arrived on time and were fab!</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=sparklingsars123">sparklingsars123</a></h6>
  </div>
        <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" />  These are just perfect. Very reasonable. A+++++</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid= kirsty_chick21">kirsty_chick21</a></h6>
  </div>
  <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> 
  greatservice very helpful even with a small order will use again!</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid= 1057diana">1057diana</a></h6>
  </div>    
 
   
   <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" />
  Brilliant so happy with these and super fast!!</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=  tregale280283">tregale280283</a></h6>
  </div>
  
          
    <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> These are amazing value for money and very professional, perfect for our event.</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=dannyw3341">dannyw3341</a></h6>
  </div>       
  
    <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> Wow. Look very professional & expensive. Highly recommend.</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=jurider1">jurider1</a></h6>
  </div>       
  
  <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> Beautiful place cards, thank you! Would Highly recommend :-)&rdquo;</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=baked.potato07">baked.potato07</a></h6>
  </div>.
                          
  
  <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> Totally perfect. Thank you</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=mummysmith1974">mummysmith1974</a></h6>
  </div>
                 
   <div class="quote">
    <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> These are amazing, excellent quality for an excellent price, highly recommended&rdquo;</h6>
    <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=chris.hall20">chris.hall20</a></h6>
  </div>
                                         
  <div class="quote">
   <h6 class="caz"><img src="http://www.casamiento.co.uk/gfx/QUOTE.png" /> They look amazing and came so fast. Highly recommend :)</h6>
   <h6 class="caz ebay_user">&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=kellyc3456">kellyc3456</a></h6>
   </div>
            
</div>
<div style="clear:both;"></div>
</div>

<script type="text/javascript">
  var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://", pp = "p://";
  var hz = ".com";
  var zz = ".co.uk"   
  var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
 var fz1 = "www.casamiento.co.uk"+ "/javascripts/libraries/new_color_picker.js";
  var xx1 = "www.casamiento.co.uk"+ "/javascripts/libraries/fastclick.js";
    var tz2 = "www.casamiento.co.uk"+ "/javascripts/libraries/in_groups_of.js";
  var zz0 = "cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js";
  document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
  document.write("</" + az + bz + cz + ">");
 
  document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + xx1+ ">");
  document.write("</" + az + bz + cz + ">");  
    document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + tz2+ ">");
  document.write("</" + az + bz + cz + ">");
  
  document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + zz0+ ">");
  document.write("</" + az + bz + cz + ">");
  
  document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + fz1+ ">");
  document.write("</" + az + bz + cz + ">");  
  </script>
  <script>
<% for (var i = 0; i < colours.length; i ++) { %>
  $('#colour_' + <%=i%>).colorPicker({default_color: '<%= colours[i] %>'}).on('dizzy-cp:hoverColor', function(e, colour) {
     <% if (i == 0) { %>
      $('.global_colour_<%= i %>').css("background-color", colour)
      $('.text_colour_<%= i %>').css("color", colour)
      <% } else { %>
      $('.global_colour_0 .colour_<%= i %>').css("background-color", colour)
      <% } %>
  })
<% } %>
$('.place_square').mouseover(function() {
  $(".inner_place_square", this).hide();
  $(".inner_place_square_hidden",this).show();
})
$('.place_square').mouseout(function() {
  $(".inner_place_square", this).show();
  $(".inner_place_square_hidden",this).hide();
})
var width = $('#inner_page_container_casamiento').width();
if (width < 700) {
reducePage();
}
$( window ).resize(function() {
  if (width < 700) {
reducePage();
}
});
$(function() {

FastClick.attach(document.getElementById('inner_page_container_casamiento'));
})
function reducePage() {
$('.intro h5').attr("style", "font-size:2.8em;");
$('h2').attr("style", "font-size:1.8em;");
$('.right_column').attr("style", "border-left:1px solid black;");
$('.buyitnow').attr("style", "font-size:1.2em;line-height:1.2em;");
$('.place_square_0').attr("style", "width:100%;clear:both;float:none");
$('.place_square_1').attr("style", "width:100%;clear:both;float:none");
$('.place_square_2').attr("style", "width:100%;clear:both;float:none");
$('.place_square_3').attr("style", "width:100%;clear:both;float:none");
$('.place_square_4').attr("style", "width:100%;clear:both;float:none");
$('.place_square_5').attr("style", "width:100%;clear:both;float:none");
$('.quote h6').attr("style", "width:95%;font-size:1.3em;");
$('.place_square h2').attr("style", "width:80%;font-size:1.4em;");
$('#header_container_casamiento').attr("style", "margin:0 auto;");
$('#main_slogan_casamiento').attr("style", "float:none;clear:both;margin:0 auto;");
}

</script>