<!doctype html>

<style type="text/css">

div,body,h1,h2,h3,h4,h5,h6 { margin:0;padding:0; }
<% if (colours[1]) { %>
  .global_colour_0 .colour_1 { background-color: <%= colours[1] %> }
<% } %>

<% include css_partials/colour_picker.js %>

@font-face { font-family:"TP"; src: url('http://www.casamiento.co.uk/f/t.eot?') format('eot'), url('http://www.casamiento.co.uk/f/t.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('http://www.casamiento.co.uk/f/garamonditalic.eot?') format('eot'), url('http://www.casamiento.co.uk/f/garamonditalic.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OSReg"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSReg.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('http://www.casamiento.co.uk/f/OSL.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS IL"; src: url('http://www.casamiento.co.uk/f/OSLI.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('http://www.casamiento.co.uk/f/OSCB.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSCB.woff') format('woff'); }

h1 {
  text-align:center;
   font:normal 3.5em GaraI, serif;
}
h2 {
  font: normal 2.2em "TP", serif; 
  letter-spacing:10px; 
  margin:0.5em 0 0.5em;
  padding: 0 10px 0 10px;
  text-align:center; 
}

  .place_square h2 { 
    width:70%;
    margin-top:0.5em;
    padding-top:0;
    letter-spacing:0.2em;
    text-align:left;
    padding-left:5px; 
    font-size:1.6em;
  }
  
  a h2 { color: black; }
 
h4 { 
  border-bottom:1px solid black;
 width:75%;
  font:normal 2.2em GaraI, serif;
  margin:0.5em auto 0.5em;
  padding-bottom:0.5em; 
  text-align:center;
}

  #testimonials h4 {
    font-size: 1.2em;
    margin-right:20%;
    text-align:right; 
    border:0;
  }

h5 { 
  font: 0.9em "OS IL", sans-serif; 
  margin:10px auto;
  padding: 0 1em 0 1em;
}

  #testimonials h5 {
    background-image:url('http://www.casamiento.co.uk/gfx/QUOTE.png');
    background-repeat:no-repeat;
    font-size:1.4em;
    margin:auto;
    padding-left:1.75em;
    text-align:left;
    width:75%; 
  }
  
h6 { 
  font: 0.75em "OS Condensed", sans-serif;
  margin-bottom:1em; 
  padding:0.25em 0.25em 0.25em 1em;
  text-align:left;
}

p { 
  padding: 0 0.25em 0.75em 0.25em; 
  font: 0.9em/1.5em "OS", sans-serif;
  margin-bottom:1em;
}
  #intro p { text-align:left; }
    #intro p.first:first-letter { 
      float:left;
      font: normal 5.5em/0.8em TP, serif;
      padding-right:0.05em;
    }
  
a.caz:link, 
a.caz:active,
a.caz:visited { color:<%= colours[0] %>; }

a.related_link:link, 
a.related_link:active, 
a.related_link:visited {
  text-decoration: none;
}
  .buyitnow a { 
    color:#FFF;
    text-decoration:none; 
  }
  
  
  
  
  
  
  
  

#page_container_casamiento { 
  background-color:#fff; 
  margin:0;
  padding:0;  
}

  #left_column { 
    float:left;
    width:50%; 
  }

    #logo { width:202px; margin:5px 0 5px 10px;}
      
    #slogan { 
      width: 180px; 
      display:block; 
      margin-top:10px;
      margin-right:5px;
      float:right;
    }
    
    .slide { position:relative; }
      .slide img,
      .inner_place_square img,
      .inner_place_square_hidden img { 
        position:relative;
        display:block;
        width:100%;
        z-index:6;
      }
      
      .background_container, 
      .inner_place_square div,
      .inner_place_square_hidden div {
        position:absolute;
        width:100%;
        height:100%;
        z-index:0;
      }
      
      .background_container { 
        background-color:<%= colours[0] %>
      }
      
    .shell { 
      background:url('http://www.casamiento.co.uk/gfx/bullets/wiggle.svg') center no-repeat;
      height:17px;
      padding:1em 0 1em;
    }
    
    #intro {
      clear:both;
      width:95%;
      margin:0 auto;
    }
    
    #signature { 
      width:100px;
      display:inline-block;
    }
    .related { 
      border-bottom:1px solid grey; 
      margin-bottom:0.5em;
    }

      #related_0 {
        width:60%;
        float:left; 
      }

      #related_2, 
      #related_5 { 
        width:60%; 
        float:right; 
      }
      
      #related_1, 
      #related_3, 
      #related_4 { 
        width:39%; 
        float:left; 
      }

    .place_square {
      border:1px solid transparent;
    }
      .place_square:hover { 
        border:1px solid grey;   
        cursor:pointer;
        color:#000;
        text-decoration:underline; 
      }
      .place_square img { width:100%;}
      
      .inner_place_square, 
      .inner_place_square_hidden {
        position:relative;
        width:100%;
      }
      .inner_place_square_hidden { display:none; }

      #related_1 h2, 
       #related_3 h2, 
      #related_4 h2 { font-size:1.2em; }

.buyitnow { 
  background-color:<%= colours[0]%>;
  border-radius:5px;
  color:#FFF;
  font:1.4em OS;
  margin: 1em auto 1em;
  padding:1em;
  text-align:center;
  width:65%;
}
  .buyitnow:hover { 
    background-color:#000;
    text-decoration:underline;
  }
  
  .cart_icon { width:30px; }    
    
    
    
    
    
    
  
  #right_column { 
    border-left:1px dotted black;
    margin-left:50%; 
    min-width:180px;
    text-align:center; 
  }

  #name_place_icon { width:155px; }
  
table { 
  border-collapse:collapse;
  width:100%; 
  border-top:1px dotted grey;
  border-bottom:1px dotted grey;
}
 table table td {
  padding:0.25em; 
  text-align:center;
  }

  table.inside_table {
    border:0;
  }
  
  table table tr.last_row td {
  border-bottom:0;
  }
  
  #table_value_format img { width:100px }
  #table_value_texture {
  font: 1em TP;
  letter-spacing:0.1em;
  }
  #table_value_quantity {
    font: 1.6em TP;
    letter-spacing:0.1em;
  }
  .table_key {
    font: 0.75em "OS Condensed", sans-serif;
    border-right:1px dotted grey;
    border-bottom:1px dotted grey;
    text-align:right;
    padding-right:0.5em;
  }
  
  .table_value {
  border-bottom:1px dotted grey;
  
  border-right:1px dotted grey;
  }
  
.spc {
  border-bottom:1px dotted grey;   
  position:relative;
}

  .a_font {
    margin:0 auto;
    width:75%;
    text-align:center;
    padding:1em 1em 0.5em 1em;
    border-bottom:1px solid #000;
  }
  
.texture { 
  margin-top:0.5em;
  width:2.5em;
  height:2.5em;
  border:1px solid black;
  border-radius:0.25em;
  display:inline-block;
}

  #description { padding:1em }


.step { 
  background-color:<%= colours[0] %>;
  border-bottom-left-radius:10px;
  color:#FFF;
  position:absolute;
  top:0;right:0;
  font:0.8em 'OS Light';
  padding:0.25em;
  width:50%;
}

.weight { 
  display:inline-block;
  border: 1px solid #444;
  margin:0.5em 0 0.2em;
  width:75px;
}

  <% var j = 0 %>
  <% for (var k = 0; k < 3; k++) { %>
    <% for (var i = 0; i < 6; i++) { %>
      <% if (document.related[j]) { %>
        <% var card = document.related[j] %>
          #related_<%= j %> .colour_0 { background-color: <%= card.colours[0] %>; }
          #related_<%= j %> .colour_1 { background-color: <%= card.colours[1] %>; }  
        <% j++ %>
      <% } %>
    <% } %>
  <% } %>
  
</style>











<div id="page_container_casamiento">   
<!-- --------------------------------------------------------
  LEFT COLUMN
-->

  <div id="left_column">

    <img src="http://www.casamiento.co.uk/gfx/logo/casamiento_gry.svg" id="logo" />
    <img src="http://www.casamiento.co.uk/gfx/logo/drms.svg" id="slogan" />
      
<!--
  SLIDES 1-3
-->     
    <div class="slide">
    
      <div class="background_container global_colour_0">
        <%- document["background-" + attachments_order[0]]  %>
      </div>
      
      <img src="http://mrdizzy.cloudant.com/test_ebay/<%= _id %>/medium-<%= attachments_order[0]%>" />
    </div>

     
    <h2><%= name %></h2>
    
    <div style="text-align:center;margin:0;margin-right:2%;">
      <p class="ornamental_line"><img src="http://www.casamiento.co.uk/gfx/ornamentalline.png" /></p>
    </div>
 
    <div class="slide">
      
      <div class="background_container global_colour_0">
        <%- document["background-" + attachments_order[1]]  %>
      </div>
      
      <img src="http://mrdizzy.cloudant.com/test_ebay/<%= _id %>/medium-<%= attachments_order[1]%>" />
    </div>


   
  
 <!-- 
    BUY IT BOX 1
 -->
  
    <div class="global_colour_0 buyitnow">
      <img src="http://www.casamiento.co.uk/gfx/cart_white.png" class="cart_icon"><a href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">DON'T WAIT FOR THIS AUCTION TO FINISH! CLICK HERE FOR A BUY-IT-NOW LISTING WITH MANY MORE OPTIONS&hellip;</a>      
    </div>





 <!-- 
    BLURB 
 -->

  <div id="intro">
    
    <h1>Impress your guests with elegant personalised place cards&hellip;</h1>
  
    <div class="shell"></div>
    
    <p>Y<span style="letter-spacing:0.2em; font-size:1em;font-family:Gara';font-variant:small-caps">OUR GUESTS</span>, will love seeing their names individually printed on our elegant freestanding place cards&hellip; </p>
    
    <p>&hellip;and because you choose the colours and theme, you can co-ordinate them completely with your event so everything matches perfectly! From ornamental to abstract, traditional to contemporary, one of our designs is certain to compliment your theme&hellip;</p>

    <h4>Save time and hassle&hellip;</h4>
    
    <p>They'll also save you time and stress: just decide on your options, send us a list of names, and within three working days you'll have a parcel dropping through your letterbox: no scoring card, no wonky edges, no smeared ink, just perfect little cards ready to sit on your tables.</p>
    
    <p>Place your order today!</p>
    
    <img src="http://www.casamiento.co.uk/gfx/davidsign.png" id="signature" />

    <p>&mdash;David Pettifer<br/>
    
    <span style="font:normal 1.2em GaraI;">Lead Designer</span></p>
  
  </div>
  
  

  
  
<!-- 
  RELATED ITEMS 
  --> 
  <div class="spc">
    
    <h6>You will also like&hellip;</h6>
        
    <% j = 0 %>

    <% for (var k = 0; k < 3; k++) { %>
      <% for (var i = 0; i < 6; i++) { %>
        <% if (related[j]) { %>
        <div id="related_<%=j %>" class="related">
        
          <a class="caz related_link casamiento" href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">
            <div class="place_square">
            
                <div class="inner_place_square">
                  <div class="colour_0"><%- related[j]["background-" + related[j].attachments_order[1]]  %></div>              
                  <img src="http://mrdizzy.cloudant.com/test_ebay/<%= related[j]._id %>/display-<%= related[j].attachments_order[1]%>" />
                </div>
              
                <div class="inner_place_square_hidden">    
                  <div class="colour_0"><%- related[j]["background-" + related[j].attachments_order[2]]  %></div>
                  <img src="http://mrdizzy.cloudant.com/test_ebay/<%= related[j]._id %>/display-<%= related[j].attachments_order[2]%>" />
                </div>
             
              <h2 class="caz"><%= related[j].name %></h2>
              
            </div>
          </a>
          
        </div>
        <% } %>
        <% j++ %>
        
      <% } %>
    <% } %>

  </div>

</div>   















<!-- -------------------------------------------------------------
  RIGHT COLUMN
  -->

<div id="right_column"> 
  
    <h6>This <%= params.buy_it_now ? "buy-it-now listing" : "auction" %> is for:</h6>

    <img src="http://www.casamiento.co.uk/gfx/product_types/small/name_place_small.png" id="name_place_icon">
    
    <table>
      <tr>
        <td>
          <table class="inside_table">
          <% if (!params.buy_it_now) { %>
            <tr>
              <td class="table_key" id="table_key_quantity">Quantity:</td>
            
              <td class="table_value" id="table_value_quantity">
                <img src="http://www.casamiento.co.uk/gfx/qty.png" style="display:inline-block;width:40px;">
                <%= params.quantity %>
              </td>
            </tr>
          <% } %>
            
            <tr>
              <td class="table_key" id="table_key_format">Format:</td>              
              <td class="table_value" id="table_value_format"><img src="http://www.casamiento.co.uk/gfx/specs/tent.png"></td>
            </tr>
            
            <tr>
              <td class="table_key" id="table_key_thickness">Card thickness:</td>
              <td class="table_value" id="table_value_thickness">
              
                <div style="padding:1em;">
                  <div class="weight" style="border-top:3px solid #000;"></div> 
                  <span style="font:normal 0.8em OS;">250gsm</span>
                </div>
                
                <div style="padding:1em;padding-top:0;">
                  <div class="weight" style="border-top:7px solid #000;"></div> 
                  <span style="font:normal 0.8em OS;">300gsm</span>
                </div>
              </td>
            </tr>
            
            <tr class="last_row">
              <td class="table_key" id="table_key_texture">Card texture:</td>
              <td class="table_value" id="table_value_texture">
                <div class="texture"></div><br/>Smooth<br/>White
              </td>
            </tr>
            
          </table>
        </td>
        
        <td style="width:35%;">
        
        <% if (params.buy_it_now) { %>
          <div style="font: normal 0.75em 'OS';text-align:center;letter-spacing:0.1em;">PRICES STARTING FROM</div>
          <h2 class="price_and_quantity" style="text-align:center;font-size:2em;margin:0;padding:0;">&pound;<%= params.buy_it_now_price %></h2>
          
        <% } else { %>
        <div style="font: normal 0.75em 'OS';text-align:center;letter-spacing:0.2em;">BIDDING STARTS AT</div>
          <h2 class="price_and_quantity" style="text-align:center;font-size:2em;margin:0;padding:0;">&pound;<%= params.bidding %></h2>
          
<div style="font: normal 0.75em 'OS';margin-top:2em;text-align:center;letter-spacing:0.2em;">OR BUY-IT-NOW FOR</div>

          <h2 class="caz casamiento" style="text-align:center;font-size:2em;margin:0;padding:0;">&pound;<%= params.buy_it_now_price %></h2>
          <p style="font-family:OS;font-size:0.8em;margin:0.5em;">For more options and different quantities, see our <a class="caz casamiento text_colour_0" href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">buy-it-now</a> listing</p>
        <% } %>

        </td>
        
      </tr>
    </table>












  <div class="spc">
<h6>Choose your colour</h6>
      <div class="step global_colour_0">STEP 1</div>
    
    <!-- COLOUR SWATCH PICKER -->
    
    <% for(var i=0; i < colours.length; i++) { %>
      <div id="colour_<%=i %>"></div>
    <% } %>
    <h5>Choose from hundreds of colours: hover over or tap the colour shown above to bring up the hues panel, then hover or tap the colour swatches and the image will change so you can see exactly how your design will look. Move backwards and forwards through the hues panel by clicking the left &larr; and right &rarr; arrows.
    </h5>
    
  </div>

 <!-- 
    FONTS 
 -->
  <div class="spc">
    <h6>Choose your font</h6>
    <div class="step global_colour_0">STEP 2</div>

    <h5>Choose a font to suit your event. From small and simple to big and bold, fun and fierce to silent and steely&hellip; choose the font to express the personality you want to convey.</h5>
    
    <% ["CaslonPro","ChaparralItalic","EccentricStd","Exmouth","Metroscript","MyriadProLight","Parchment","PerpetuaTitling","PFBodoniScript","PoorRichard","SacramentoRegular","TrajanPro"].forEach(function(font) { %>
    
    <div class="a_font">
      <img src="http://www.casamiento.co.uk/fonts/<%= font %>.svg" />
    </div>
    
    <% }) %>
  </div>

  
 <!-- 
    THICKNESS 
 -->
 
  <div class="spc">
    <div class="step global_colour_0">STEP 3</div>  
    <h6>Choose Thickness</h6>

    <h5>Decide the thickness of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm): the higher the number, the thicker the card. A normal sheet of A4 copy paper is usually about 80gsm.
    </h5>
    
    <div>
      <div class="weight" style="border-top-width:2px;"></div> 
      <span style="font:normal 0.8em OS;">250gsm</span>
    </div>
    
    <div>
      <div class="weight" style="border-top-width:7px;"></div> 
      <span style="font:normal 0.8em OS;margin-top:1em;margin-bottom:3em;">300gsm</span>
    </div>
     
    <% if (!params.buy_it_now) { %>
    <p style="font-family:OS;font-size:0.8em;margin-left:33%;">Please note: this auction is for 250gsm card. For other options, please see our <a class="text_colour_0 caz casamiento" href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">buy-it-now</a> listing</p>
    <% } %>
  </div>

  <div class="spc">
     <h6>Enter guest names</h6>
      <div class="step global_colour_0">STEP 4</div>  

    <h5>Just email us or send an eBay message with a list of guest names that you want printed on each place card.</h5>
    
  </div>
  
  
  
  <div class="slide">
  
    <div class="background_container global_colour_0">
      <%- document["background-" + attachments_order[3]]  %>
    </div>
    
    <img src="http://mrdizzy.cloudant.com/test_ebay/<%= _id %>/medium-<%= attachments_order[3]%>" />
  </div>


   <!-- 
    BUY-IT BOX 2
 -->
    <div class="global_colour_0 buyitnow">
      <img src="http://www.casamiento.co.uk/gfx/cart_white.png" class="cart_icon"/> <a href="http://cgi.ebay.co.uk/ws/eBayISAPI.dll?ViewItem&item=<%= params.buy_it_now_number %>">DON'T WAIT FOR THIS AUCTION TO FINISH! CLICK HERE FOR A BUY-IT-NOW LISTING WITH MANY MORE OPTIONS&hellip;</a>
    </div>

  














 <!-- 
    TESTIMONIALS 
 -->  
  
<div class="spc" id="testimonials">

  <h6>Don't take our word for it&hellip;</h6>

  <h5>Perfect, and great communication from seller, even when I forgot names! A****</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=catclarke1984">catclarke1984</a></h4>

  <h5>Wow. Look very professional and expensive. Highly recommend</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=jurider1">jurider1</a></h4>

  <h5>Thank you, thank you! I love them, amazing man I'll be back again with next order!</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=foxmoose">foxmoose</a></h4>

  <h5>Brilliant, very helpful even when I made mistake with order, thank you so much!</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=sterry1984">sterry1984</a></h4>

  <h5>Thank you, they arrived on time and were fab!</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=sparklingsars123">sparklingsars123</a></h4>
  
  <h5>These are just perfect. Very reasonable. A+++++</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid= kirsty_chick21">kirsty_chick21</a></h4>

  <h5>greatservice very helpful even with a small order will use again!</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=1057diana">1057diana</a></h4>

  <h5>Brilliant so happy with these and super fast!!</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=  tregale280283">tregale280283</a></h4>
        
  <h5>These are amazing value for money and very professional, perfect for our event.</h4>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=dannyw3341">dannyw3341</a></h5>
 
  <h5>Wow. Look very professional & expensive. Highly recommend.</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=jurider1">jurider1</a></h4>

  <h5>Beautiful place cards, thank you! Would Highly recommend :-)&rdquo;</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=baked.potato07">baked.potato07</a></h4>

  <h5>Totally perfect. Thank you</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=mummysmith1974">mummysmith1974</a></h4>

  <h5>These are amazing, excellent quality for an excellent price, highly recommended&rdquo;</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=chris.hall20">chris.hall20</a></h4>

  <h5>They look amazing and came so fast. Highly recommend :)</h5>
  <h4>&mdash;<a class="caz text_colour_0" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=kellyc3456">kellyc3456</a></h4>

</div>

<div style="clear:both;"></div>
</div>
















<script type="text/javascript">
  var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://", pp = "p://";
  var hz = ".com";
  var zz = ".co.uk"   
  var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
 var fz1 = "www.casamiento.co.uk"+ "/javascripts/libraries/new_color_picker.js";
  var xx1 = "www.casamiento.co.uk"+ "/javascripts/libraries/fastclick.js";
    var tz2 = "www.casamiento.co.uk"+ "/javascripts/libraries/in_groups_of.js";
  var zz0 = "cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js";
  document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
  document.write("</" + az + bz + cz + ">");
 
  document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + xx1+ ">");
  document.write("</" + az + bz + cz + ">");  
    document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + tz2+ ">");

  document.write("</" + az + bz + cz + ">");
  
  document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + zz0+ ">");
  document.write("</" + az + bz + cz + ">");
  
  document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + fz1+ ">");
  document.write("</" + az + bz + cz + ">");  

  </script>
  <script>
  <% for (var i = 0; i < colours.length; i ++) { %>
    $('#colour_' + <%=i%>).colorPicker({default_color: '<%= colours[i] %>'}).on('dizzy-cp:hoverColor dizzy-cp:click', function(e, colour) {
       <% if (i == 0) { %>
        $('.global_colour_<%= i %>').css("background-color", colour)
        $('.text_colour_<%= i %>').css("color", colour)

        <% } else { %>
          $('.global_colour_0 .colour_<%= i %>').css("background-color", colour)
        <% } %>
      })
    <% } %>
    
  $(function() {
    FastClick.attach(document.getElementById('colour_0'));
    <% if (colours[1]) { %>
      FastClick.attach(document.getElementById('colour_1'));
    <% } %>
  })

  $('.place_square').mouseover(function() {
    $(".inner_place_square", this).hide();
    $(".inner_place_square_hidden",this).show();
  })

  $('.place_square').mouseout(function() {
    $(".inner_place_square", this).show();
    $(".inner_place_square_hidden",this).hide();
  })
  var width = $('#page_container_casamiento').width();

  if (width < 700) reducePage();
  if (width < 500) forMobile();

  $(window).resize(function() {
    if (width < 700) reducePage();
  });
  
  function reducePage() {
    $('h1').attr("style", "font-size:2.5em;");
    
    $('h2').attr("style", "font-size:1.8em;");
    $('h4').attr("style", "font-size:1.6em;");
    $('.related').attr("style", "clear:both;width:100%;float:none");
    $('.quote h6').attr("style", "width:95%;font-size:1.2em;");
    $('.place_square h2').attr("style", "width:80%;font-size:1.4em;");
    $('#logo').attr("style", "display:block;margin:0 auto;float:none;clear:both");
    $('#slogan').attr("style", "margin:0 auto;float:none;clear:both;width:180px;padding-top:0.5em;padding-bottom:0.5em;");
  }
  
  function forMobile() {
    $('#left_column').attr("style", "float:none;width:100%;clear:both");
    $('#right_column').attr("style", "float:none;width:100%;clear:both");
  }
</script>