<%- contentFor('inline_styles') %>

  #browse { border: 1px solid black }
  #browse { border-bottom: 0 }
  #browse div { border: 0 }
  
  input[type=checkbox] { margin-right:0.75em; }
  
<%- contentFor('left') %>
<div id="search_results" style="margin:0 auto;width:95%;margin-top:1em;">
<% counter = 0%>
<% place_cards.forEach(function(place) { %>
<% if (counter == 4) {%> 
<div style="clear:both;">
</div>
<% counter = 0 %>
<% } %>
  <a href="/products/<%= place._id %>"><div class="search_image" style="width:23.5%;margin-right:1%;float:left;">
  <%- place.divs[0] %>
  <h2><%= place.name %></h2>
  </div></a>
  <% counter = counter + 1 %>
<% }) %>
</div>
<%- contentFor('right') %>


            <form id="tags_form">
             
                    <p style="line-height:2em;text-align:left;margin:1.5em;">
                      <input type="checkbox" name="victorian"></input> Victorian<br/>
                      <input type="checkbox" name="contemporary"></input> Contemporary<br/>
                      <input type="checkbox" name="wallpaper"></input> Wallpaper<br/>
                      <input type="checkbox" name="floral"></input> Floral<br/>
                   <input type="checkbox" name="pattern"></input> Pattern<br/>
                      <input type="checkbox" name="xmas"></input> Xmas<br/>
                      <input type="checkbox" name="plain"></input> Plain<br/>
                      
                      <input type="checkbox" name="hearts"></input> Hearts<br/>
                    
                     <input type="checkbox" name="abstract"></input> Abstract<br/>
                      <input type="checkbox" name="ornamental"></input> Ornamental<br/>
                      <input type="checkbox" name="whimsical"></input> Whimsical<br/>
                      
                      <input type="checkbox" name="vintage"></input> Vintage<br/>
                   </p>
              </form>