<%- contentFor('title_tag') %>Personalised name place cards


<%- contentFor('inside_headtag') %>


<!-- 

We start by defining inline CSS styles. Colours are defined by classes .colour_0, .colour_1, .colour_2 and so on. Therefore we loop through the colours and define a colour for each class. We also load the current font that the place card uses.
-->
<style type="text/css">

  <% for (var i=0; i < product.colours.length; i++) { %>
    .colour_<%= i %> { background-color: <%= product.colours[i] %> }
  <% } %>
  
  @font-face { font-family:"<%= product.font %>"; src: url('/fonts/<%= product.font %>.eot?') format('eot'), url('/fonts/<%= product.font %>.woff') format('woff') }  

</style>




<%- contentFor('middle') %>
  
  
  
  
  
<%- contentFor('main') %>
  
  
 

<!-- PRINTER ALERT BOX -->

<div id="ui_print_alert">       

  <img src="/gfx/close/close3.svg" class="close" />

  <!-- LAYOUT ICONS 
    -------------------------------------------------------------------- -->      
  
  <div id="choose_layout">Choose layout</div>
  
  <div id="layout_icons_wrapper">
  
    <div id="per_page_8_container" class="layout_icon_container">     
      <input id="radio_8" type="radio" style="display:block;margin:0 auto" />  
      <img src="/gfx/icons/8_up.svg" id="up_8" />
      8/portrait page
    </div>
    
    <div id="per_page_3_container" class="layout_icon_container layout_selected">
      <input type="radio" id="radio_3" checked="checked" style="display:block;margin:0 auto"/>  
      <img src="/gfx/icons/3_up.svg" id="up_3" />   
      3/portrait page       
    </div>
  
    <div id="per_page_4_container" class="layout_icon_container"><br/>       
      <input type="radio" id="radio_4" style="display:block;margin:0 auto"/>  
      <img src="/gfx/icons/4_up.svg" id="up_4" /><br/>
      4/landscape page
    </div>
    
    
    <p id="ipad_blurb" class="chat-bubble">Because you are using an iPad, only one layout option is available for you: 3 place cards per portrait page. On a desktop computer or Android device, you may have other options available.</p>
    
       
    <p id="safari_blurb" class="chat-bubble">Because you are using Safari on a Mac which adds margins to the page, only two layout options are available for you: 3 place cards per portrait page or 4 place cards on a landscape page. On a Windows computer or an Android device, you will also be able to print 8 place cards per page.</p>
  </div>
  
  <div style="margin-top:1em;clear:both;float:left;width:48%;margin-right:2%;">
  
    <div id="crop_marks">Cutting marks</div>
    
    <div id="ui_crosshairs_icon" class="selected">
    
      <img src="/gfx/crosshairs/crosshair8.svg" style="margin-top:0.5em;width:55px;height:55px;" style="display:inline-block;"> 
      
      <div class="switch" style="display:inline-block;">
        <input id="cutting_marks" class="cmn-toggle cmn-toggle-yes-no" type="checkbox" checked="checked">
        <label for="cutting_marks" data-on="Yes" data-off="No"></label>
      </div>
      
    </div>
  </div>
  
  <div style="margin-top:1em;float:left;width:48%;padding-top:3em;">
    <div class="grey_button" id="print_now" style="border-radius:10px;clear:both;width:150px;">PRINT</div>
  </div>
</div>




<%- contentFor('left') %> <!--- .left_column -->
  <div id="preview">
    
    <div id="print_ui"></div>
    <div id="product_container"></div>
    
  </div>
  



<%- contentFor('right') %>



<%- contentFor('javascripts') %>

  <% include javascripts/initialise.js %>
