<%- contentFor('inline_styles') %>
  <% for (var i=0; i < product.colours.length; i++) { %>
    .colour_<%= i %> { background-color: <%= product.colours[i] %> }
  <% } %>
  
  @font-face { font-family:"<%= product.font %>"; src: url('/fonts/<%= product.font %>.eot?') format('eot'), url('/fonts/<%= product.font %>.woff') format('woff') }  
  
<%- contentFor('main') %>
  
  <script type="text/javascript">
    <% include javascripts/initialise.js %>
  </script>  
  
  <div id="print_ui"></div>

<%- contentFor('left') %>
  <div id="preview">
  <div id="product_container">
  
    <!-- 
      SLIDES 1 TO 3 
    -->

    <img class="slide" srcset="http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/large-<%= product.attachments_order[0]%> 2000px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/medium-<%= product.attachments_order[0]%> 1000px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/display-<%= product.attachments_order[0]%> 750px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/thumb-<%= product.attachments_order[0]%> 500px"
         sizes="(min-width:801px) 36vw,(min-width:500px) 60vw, (min-width: 320px), 100vw"/>
         
    <img src="/gfx/product_types/small/name_place_small.png" class="product_type_icon">
      
    <img class="slide" srcset="http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/large-<%= product.attachments_order[1]%> 1080px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/medium-<%= product.attachments_order[1]%> 720px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/display-<%= product.attachments_order[1]%> 360px,
                http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/thumb-<%= product.attachments_order[1]%> 200px"
         sizes="(min-width:1000px) 36vw,(min-width:720px) 50vw,  (min-width: 320px) 100vw, 
                100vw"/>
                
    <img class="slide" srcset="http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>//large-<%= product.attachments_order[2]%> 1080px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/medium-<%= product.attachments_order[2]%> 720px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/display-<%= product.attachments_order[2]%> 360px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/thumb-<%= product.attachments_order[2]%> 200px"
         sizes="(min-width:1000px) 36vw,(min-width:720px) 50vw,  (min-width: 320px) 100vw, 
                100vw"/>
          
    <!-- 
      PRODUCT NAME AND DESCRIPTION 
    -->      
      <div class="slide">
        <div id="product_name_container">
          <h1 class="product_name"><%= product.name %></h1>
          <div class="ornamental_line"></div>
        </div>
          
      </div>
    
      <div id="description_container">
        <div class="shell"></div>
        <h6>This simple, elegant collection is optionally adorned with a paper wrap and accompanying envelope, finished with a monogram bearing the names of you and your partner. A traditional, serif typeface emphasises the importance of your special day with authority and prestige.</h6>
      </div>
      
    <!-- 
      SLIDE 4 
    -->    

    <img class="slide" srcset="http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/large-<%= product.attachments_order[3]%> 1080px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/medium-<%= product.attachments_order[3]%> 720px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/display-<%= product.attachments_order[3]%> 360px,
                 http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/thumb-<%= product.attachments_order[3]%> 200px"
         sizes="(min-width:1000px) 36vw,(min-width:720px) 50vw,  (min-width: 320px) 100vw, 
                100vw"/>        

  
  </div>
</div>

<%- contentFor('right') %>
