<!-- 

We start by defining inline CSS styles. Colours are defined by classes .colour_0, .colour_1, .colour_2 and so on. Therefore we loop through the colours and define a colour for each class. 
-->

<%- contentFor('inline_styles') %>
  <% for (var i=0; i < product.colours.length; i++) { %>
    .colour_<%= i %> { background-color: <%= product.colours[i] %> }
  <% } %>
  #headline_welcome { display:none; }
  @font-face { font-family:"<%= product.font %>"; src: url('/fonts/<%= product.font %>.eot?') format('eot'), url('/fonts/<%= product.font %>.woff') format('woff') }  

<%- contentFor('middle') %>
  
  <div id="browse_designs" style="display:none;height:100%;background-color:white;"></div>
<%- contentFor('main') %>
  
  <div id="print_ui"></div>

<%- contentFor('left') %>

<div id="preview">
  <div id="flat_preview"></div>
  <div id="product_container"></div>
 
 
  
</div>

<%- contentFor('right') %>


<%- contentFor('javascripts') %>
  <% include javascripts/initialise.js %>
