<!-- 

We start by defining inline CSS styles. Colours are defined by classes .colour_0, .colour_1, .colour_2 and so on. Therefore we loop through the colours and define a colour for each class. We also load the current font that the place card uses.
-->

<%- contentFor('inside_headtag') %>

<style type="text/css">

  <% for (var i=0; i < product.colours.length; i++) { %>
    .colour_<%= i %> { background-color: <%= product.colours[i] %> }
  <% } %>
  
  @font-face { font-family:"<%= product.font %>"; src: url('/fonts/<%= product.font %>.eot?') format('eot'), url('/fonts/<%= product.font %>.woff') format('woff') }  

</style>




<%- contentFor('middle') %>
  
  
  
  
  
<%- contentFor('main') %>
  
  
 

<%- contentFor('left') %>

  <div id="preview">
  
    <div id="print_ui"></div>
    <div id="flat_preview"></div>
    <div id="product_container"></div>
  </div>
  



<%- contentFor('right') %>



<%- contentFor('javascripts') %>

  <% include javascripts/initialise.js %>
