<div style="width:25%;float:left;">
    <div id="products_container">
      <h3>Products</h3>
      <div id="products"></div>
    </div>
</div>

<div id="current_product_container" style="width:74%;float:right;">
  <h3>Current Product</h3>
  <div id="cpv"></div>
</div>

<script type="text/javascript">
    var default_tags = ["christmas", "victorian", "wallpaper", "damask", "contemporary", "pattern", "floral", "minimalistic", "geometric", "birds", "hearts", "vintage", "dots", "simple"];
    default_tags = _.map(default_tags, function(tag) {
        return {text: tag, value: tag}
    })
    HandlebarsFormHelpers.register(Handlebars);

    // Initialize templates
    var templates = {}
    <% templates.forEach(function(template) { %>
      templates["<%= template.name %>"] = <%- template.template %>;
    <% }) %>
  
  // Render javascripts
    <%- include javascripts/views.js %>  
    <%- include javascripts/models.js %>
  
  $(function() {    

    var products = new Products( <%- JSON.stringify(products) %>, {parse: true} );
    
    new ProductsView({
        collection: products
    }).render();
      
  })
</script>
