<%- contentFor('inside_headtag') %>
<style type="text/css">
  #loading_main_page_spinner { display:none; }
</style>
<%- contentFor('left') %>
  
<%- contentFor('right') %>

<%- contentFor('main') %>

<%- contentFor('middle') %>

  <div id="browse_designs" style="background-color:white;padding-top:10px;">
  
  
  <% groups.forEach(function(group) { %>
<% counter = 0 %>
<div class="browse_left_column">
<% group[0].forEach(function(product) { %>

<div id="<%= product._id %>"  class="related related_<%= counter %>">

<div class="frame" style="width:90%;margin:0 auto;border-top-left-radius:15px;border-bottom-right-radius:15px;padding:5px;">

<a href="/products/<%= product._id %>">
          <div class="place_square">
    
            <div class="inner_place_square">
              <div class="browse_background_container" style="background-color:<%= product.colours[0] %>"><%- product["background-3"] %></div>              
              <img src="http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/display-3" />
            </div>
     <div class="inner_place_square_hidden">
              <div class="browse_background_container" style="background-color:<%= product.colours[0] %>"><%- product["background-2"] %></div>              
              <img src="http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/display-2" />
            </div> 
            <h2><%= product.name %></h2>
          </div>
          </a>
          
           <p style="margin:0;padding:0;margin-left:1em;margin-right:1em;text-align:left;color:#000;font:normal 1em 'OS'">Tags: <% if (product.tags) { %> <%= product.tags.join(", ") %> <%  } %></p>
        </div>
        
        
        <p style="margin:0;padding:0;color:lightgrey;padding-top:1em;padding-bottom:1em;letter-spacing:0.5em;font:normal 0.75em 'OS Light';text-align:center"> &diams;  &diams;  &diams; </p>
<% counter = counter + 1 %>
</div>
<% }) %>
</div>

<div class="browse_right_column">
<% counter = 0; %>
<% if (group[1]) { %>
<% group[1].forEach(function(product) { %>

<a href="/products/<%= product._id %>">
<div id="<%= product._id %>"  class="related related_<%= counter %>">

<div class="frame" style="width:90%;margin:0 auto;border-top-left-radius:15px;border-bottom-right-radius:15px;padding:5px;">
          <div class="place_square">
    
            <div class="inner_place_square">
              <div class="browse_background_container" style="background-color:<%= product.colours[0] %>"><%- product["background-3"] %></div>              
              <img src="http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/display-3" />
            </div>
     <div class="inner_place_square_hidden">
              <div class="browse_background_container" style="background-color:<%= product.colours[0] %>"><%- product["background-2"] %></div>              
              <img src="http://mrdizzy.cloudant.com/test_ebay/<%= product._id %>/display-2" />
            </div> 
            <h2><%= product.name %></h2>
          </div>
          
           <p style="margin:0;padding:0;margin-left:1em;margin-right:1em;text-align:left;color:#000;font:normal 1em 'OS'">Tags: <% if (product.tags) { %>
           <% var i = 0 %>
           <% product.tags.forEach(function(tag) { %>
           <% i = i + 1 %>
           <a href="/products/tags/<%= tag %>"><%= tag %></a><% if (!(i == product.tags.length)) {%>,<% } %>
           <% }) %>
           <% } %>
           </p>
        </div>
        </a>
        
        <p style="margin:0;padding:0;color:lightgrey;padding-top:1em;padding-bottom:1em;letter-spacing:0.5em;font:normal 0.75em 'OS Light';text-align:center"> &diams;  &diams;  &diams; </p>
<% counter = counter + 1 %>
</div>
<% }) %>
<% } %>
</div>
<% }) %>

  
  </div>
  <%- contentFor('javascripts') %>
  
   $('.place_square').mouseover(function() {
     $(".inner_place_square", this).hide();
     $(".inner_place_square_hidden",this).show();
   })

   $('.place_square').mouseout(function() {
     $(".inner_place_square", this).show();
     $(".inner_place_square_hidden",this).hide();
   })