<link rel="stylesheet" type="text/css" href="/stylesheets/product.css">

<script type="text/template" id="break">
  <td colspan="2">
    <div style="width:98%;padding-bottom:3em;margin:auto;margin-top:2em;">
      <div style="width:44%;float:left;margin-top:5px;border-top:1px solid black;"></div>
      <div style="width:11%;float:left;"><img src="/gfx/page_seperators/orna.png" style="width:50%;" /></div>
      <div style="width:44%;float:left;margin-top:5px;border-top:1px solid black;"></div>
    </div>
  </td>
</script>

<script type="text/template" id="cart_item">

  <td style="width:20%;" class="item_image">
    <span style="font: normal 2em TP; letter-spacing:0.25em;color:#000">%% name %%</span>
    <img class="product_image" style="background-color:%% colours[0] %%" src="/products/%% id %%/attachments/display-2.jpg" style="width:35%"/><br/>
    <img src="/gfx/product_types/small/name_place_small.png" style="width:120px">
    
    <table>
    <tr>
    <th colspan="3"><img src="/gfx/guests.png" style="width:3em"/> Guests
   
    </th>
    <tr  class="tooltip-select" data-tooltip="tooltip-guests">
    <td colspan="3">     <div class="chat-bubble tooltip-guests"  style="display:none;"><div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>Each place card will come individually printed with the name of each guest. Here you can add each guest name. Your names will be printed exactly as you type them, so make sure you use capital letters in the right places
</div>
   

<div class="guests"></div>
   
    </td>
    </tr>
    </table>
  </td>
  <td style="width:45%;padding:0;margin:0;vertical-align:top;" class="second_col"></td>
  
</script>
       
<script type="text/template" id="cart_item_table">

<table class="customise">
  <tr>
    <th class="step-1" style="border-bottom:1px solid black;width:25%;background-color:%% colours[0] %%;font:1em normal 'Open Sans Light';color:white;opacity:0.8;">STEP 1</th><th style="width:85%;text-align:left;padding-left:1em;">Card texture</th>
  </tr>
  
  <tr>
    <td colspan="2"style="width:50%;" class="step-1 tooltip-select" data-tooltip="tooltip-texture">
      <div class="chat-bubble tooltip-texture"><div class="chat-bubble-arrow-border"></div>
      <div class="chat-bubble-arrow"></div>Select the texture of the card by clicking on it so it is highlighted. The price will automatically update.
      </div>
      <div class="texture %% (texture == "plain") ? "selected" : "" %%" data-texture="plain" style="float:left;margin-left:1em;"><p><img src="/gfx/icons/plaine.png" style="width:2.5em"><br> Plain</p></div>
      <div class="texture %% (texture == "hammer") ? "selected" : "" %%" data-texture="hammer" style="float:left;margin-left:1em;"><p><img src="/gfx/icons/hammer.png" style="width:2.5em"><br> Hammered</p></div>
      <div class="texture %% (texture == "pearl") ? "selected" : "" %%" data-texture="pearl" style="float:left;margin-left:1em;"><p><img src="/gfx/icons/linen.png" style="width:2.5em"><br> Pearlescent</p></div>
    </td> 
  </tr>

<!-- THICKNESS -->

  <tr>
    <th class="step-2" style="border-bottom:1px solid black;width:25%;background-color:grey;font:1em normal 'Open Sans Light';color:white;">STEP 2</th><th style="text-align:left;padding-left:1em;width:85%;">Card thickness</th>
  </tr>
  <tr>
    <td colspan="2" class="step-2 tooltip-select" data-tooltip="tooltip-thickness"> 
      <div class="chat-bubble tooltip-thickness">
        <div class="chat-bubble-arrow-border"></div>
        <div class="chat-bubble-arrow"></div>Select the thickness of your card by clicking an icon. The higher the GSM the thicker the card and the more expensive it is. GSM stands for grams per square meter and measures the weight of the card.
      </div>
      <div style="width:60%;margin:auto">
      <div style="display:inline-block;padding:0.5em;">
        <div class="weight" style="display:inline-block;width:5em;border-top:3px solid #666;"></div> 300gsm</div><br/>
        <div style="display:inline-block;padding:0.5em;">
        <div class="weight" style="display:inline-block;width:5em;border-top:7px solid #666;"></div>
        250gsm</div>
      </div>
    </td>
  </tr>
        
<!-- COLOURS -->

<tr>
  <th class="step-3 tooltip-select" data-tooltip="tooltip-colours" style="border-bottom:1px solid black;width:25%;background-color:grey;font:1em normal 'Open Sans Light';color:white;opacity:0.8;">STEP 3</th>
    <th style="width:85%;text-align:left;padding-left:1em;">Colours</th>
</tr>
  
<tr>
  <td colspan="2" class="selected_colours" style="text-align:center;width:30%">
  %- var counter = 0 -%
  %- _.forEach(colours, function(colour) { -%
       <div style="float:left;clear:both;">
       <div class="colour_%% counter %% color_square" style="background-color:%% colour %%;"></div><p class="color_label">%% colour %%</p></div><div class="change colour_change">CHANGE</div>
       %- counter++ -%
  %- }) -%
  <div class="colour_selector" style="clear:both;display:none">
<div class="tabbed_area"> 
    
    <% var counter = 0 %>
    <% cols.forEach(function(palette) { %>
    <% counter++ %>
        <div class="palette palette_<%= counter %>" style="z-index:100;background-color:white;border:1px dotted black;margin-top:0;padding-top:0;">
        <% palette.forEach(function(colour) { %>
        <% var ary = colour.split(" ") %>
        <% var hex = ary[0] %>
        <% var description = ary[1] %>
       <div class="a_colour" data-colour="<%= hex %>" style="text-align:center;display:inline-block;padding:3px;border:1px solid lightgrey;margin-right:10px;margin-top:10px;">
       <div style="background-color:<%= hex %>;width:5em;height:4em;margin-bottom:0;padding-bottom:0;margin:0 auto;width:18px;height:18px;"></div>
       </div>
        <% }) %>
        </div>
    <% }) %>
    
 </div>
    

</div></td>
</tr>

<!-- MONOGRAM STYLE -->

  <tr>
    <th class="step-4" class="step-4 tooltip-select" data-tooltip="tooltip-monogram-style" style="border-bottom:1px solid black;width:25%;background-color:grey;font:1em normal 'Open Sans Light';color:white;opacity:0.8;">STEP 4</th>
    <th style="width:85%;text-align:left;padding-left:1em;">Monogram style</th>
  </tr>
    
  <tr>
    <td colspan="2" data-tooltip="tooltip-monogram-style" class="tooltip-select">
      <div class="chat-bubble tooltip-monogram-style"  style="display:none;"><div class="chat-bubble-arrow-border"></div>
      <div class="chat-bubble-arrow"></div>A monogram is a motif featuring a name and initials. You can have one created for you and your partner, your baby or your loved on. A monogram will be created specially for you by a designer, so when you enter the details here it will not be reflected in the picture.
      </div>
      <div style="display:inline-block;padding-right:5em;font:1.2em normal 'Open Sans Light'">
<input type="radio" name="monogram" value="monogram" checked></input> Monogram</div>

<div style="display:inline-block;padding:0.5em;font:1.2em normal 'Open Sans Light'">
<input type="radio" name="monogram" value="logo" ></input>  Upload logo</div>
<br/>
<div class="monogram_image"  style="border-top:1px dotted black;padding:0;margin:0;">
          <img src="/gfx/m/%%monogram%%.png" style="width:95%;max-width:300px;"/></div>
         
          <form id="upload">
          <input type="file" class="selectedFile" style="display: none;" />
      
          </form>
      </td>
      </tr>
      
      
<!-- MONOGRAM DETAILS -->      
      
          <tr>
  <th class="step-3" style="border-bottom:1px solid black;width:15%;background-color:grey;font:1em normal 'Open Sans Light';color:white;opacity:0.8;">STEP 3</th><th style="width:85%;text-align:left;padding-left:1em;">Monogram details</th>
   
  </tr>
      <td colspan="2" class="tooltip-select" data-tooltip="tooltip-monodetails">
       <div class="chat-bubble tooltip-monodetails"  style="display:none;"><div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>A monogram is a motif featuring a name and initials. You can have one created for you and your partner, your baby or your loved on. A monogram will be created specially for you by a designer, so when you enter the details here it will not be reflected in the picture.
</div>
         <label>First name:</label>
        <input type="text" value="Nicola" size="16"></input>
        
        <label>Second name:</label>
        <input type="text" value="Michael" size="16"></input>
        
        <label>Date:</label>
        <input type="text" style="float:left;" value="22" size="2"></input> 
        <input type="text" style="float:left;" value="September" size="10"></input> 
        <input type="text" value="2013" size="4"></input> 
        
        </td>
        </tr>
        
<!-- PRICE AND QUANTITY -->        
        
        <tr>
        <th colspan="3">Price &amp; Quantity</th>
        </tr><tr>
      <td colspan="3" class="quantity_selector tooltip-select" data-tooltip="tooltip-quantity" style="padding-top:2em;padding-bottom:2em;"><div class="chat-bubble tooltip-quantity"  style="display:none;"><div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>Change the quantity by dragging the above slider left and right with your mouse or finger. You will see the price and quantity update
</div>
        <p style="text-align:center;font: normal 4em 'OS Light'"><span style="font-size:0.65em;vertical-align:top;">&pound;</span><span class="pound">2</span><span style="font-size:0.65em;vertical-align:text-top;" class="dec">.99</span></p>

        <div class="noUiSlider" style="margin-left:4%;width:84%;float:left;margin-bottom:2em;"></div>
        <div style="quantity;font:normal 1.4em 'OS Light Italic'" id="qty">%%quantity%%</div>
       
      </td>
    </tr>
  </table>
</script>       
       
<div id="product_page_genesis"><img src="/gfx/logo/genesis_collection.png" style="width:285px;"/></div>

<div id="product_page">

    <div id="product_section1">

        <h1 class="product_name" style="float:left"> <img src="/gfx/bullets/bullet_square_dots.png" /> <%= name %></h1>

        <div id="slides" style="clear:both">            
           <img src="/products/<%= _id %>/attachments/medium-1" />
           <img src="/products/<%= _id %>/attachments/medium-2" />
           <img src="/products/<%= _id %>/attachments/medium-3" />
           <img src="/products/<%= _id %>/attachments/medium-4" />
        </div>
      
    </div>    

<div id="product_section0">

<!-- SPECIFICATIONS -->

<div class="product_type spc">
    <div class="name_place_icon"><img src="/gfx/product_types/small/name_place_small.png" style="width:100%;"></div>
    </div>

    <div class="spc">
        <h1>Card Texture</h1>

        <div style="float:left;margin-left:1em;"><p><img src="/gfx/icons/hammer.png" style="width:2.5em"><br> Hammered</p></div>
        <div style="float:left;margin-left:1em;"><p><img src="/gfx/icons/plaine.png" style="width:2.5em"><br> Plain</p></div>
         <div style="float:left;margin-left:1em;"><p><img src="/gfx/icons/linen.png" style="width:2.5em"><br> Pearlescent</p></div>
        <div class="b1"></div>
    </div>

    <div class="spc">
        <h1>Thickness</h1>
        
        <div style="width:60%;margin:auto">
            <div class="weight" style="border-top:2px solid #666;"></div>
            <p>300gsm</p>
            <div class="weight" style="border-top:4px solid #666;"></div>
            <p>250gsm</p>
        </div>
    </div>

    <div class="spc">
        <h1>Product format</h1>
        <div style="margin:auto;text-align:center;">
        <div class="spec" style="width:90px"><img src="/gfx/specs/tent.png"></div></div>
    </div>
    
    <div class="spc">
<div id="buy"></div></div>
    <div class="spc">
        <h1>Monogram shown</h1>
        <img id="mono_2" style="width:100%" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
    </div>
    <div class="spc"><h1>Colours shown</h1>
        <div id="colours-shown" style="margin-top:1em;float:left;">
        
        <% colours.forEach(function(colour) { %>
            <div style="float:left">
                <div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
                <p class="casamiento" style="margin-left:1em;text-indent:0;font:normal 1.2em GaraI;padding:0; margin-top:5px;"><%= colour %></p>
            </div>
        <% }) %>  
        
        </div>
        <div class="b1"></div>
    </div>
    <img src="/gfx/shell.png" />
</div>  
</div>
    
<div id="cart_page" style="display:none">
<div style="margin-left:2em;margin-right:2em;border:1px solid black;border-top:0;";>
<div id="cart"  style="padding:0em;padding-top:3em;">

     <div class="b1"></div>
</div>

</div>
</div>
<script type="text/javascript">

// Setup and initialization

// Create a new cart or initialize an existing one
<% if (cart) { %>
  var cart = new Cart(<%- cart %>, { parse: true });
<% } else { %>
  var cart = new Cart({ parse: true }) 
<% }  %>

var thisProduct = new Product({
    id: "<%= _id %>",
    name: "<%= name %>", 
    monogram: <%= monogram %>, 
    colours: <%- JSON.stringify(colours) %>, 
    quantity: 10, 
    price: <%= price %>, 
    guests: ["&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;"], 
    texture: "plain" 
});

var iv = new ItemsView({collection: cart.get("items")})
$('#cart').html(iv.render().el);
var mv = new MonogramView();
var pv = new PanelView({collection: cart.get("items") });
var bbv = new BuyButtonView();

var prr = new ProductRouter();
Backbone.history.start();


// Slideshow
$(function(){
  $("#slides").slidesjs({ pagination: { active: true }, navigation: { active: false },
  play: { auto: true, interval: 3500, effect: "swap" },
  effect: { swap: {speed: 5000 }},
    width: 750, height: 479
  });
});

</script>