<link rel="stylesheet" type="text/css" href="/stylesheets/product.css">

<style type="text/css">

  .step { background-color:<%= colours[0] %>}
  .slide_background {width:374px;height:239px;margin-bottom:1px;margin-right:1px;background-color:<%= colours[0] %> }
  
  @media all and (max-width: 1000px) and (min-width: 768px) {
   #inner_page_container_casamiento { width:97%;}
  }
  
  @media all and (max-width: 999px) and (min-width: 601px) {
    #inner_page_container_casamiento { width:97%;}
    .chat-bubble { left:3em;}
    #total_price { display:none;}
    #product_section1 { width:374px; }
    #product_section0 { margin-left:374px;}
    #slide1, #slide2, #slide3, #slide4, #slide5, #slide6 { float:none;clear:both;}
    #slide1 img, #slide2 img, #slide3 img, #slide4 img, #slide5 img, #slide6 img  { float:none;clear:both;}
    #slide4 { width: inherit; height:auto;}
    #slide5 .shell { display:none;}
    
    #footer .genesis_collection { width:35%; }
    .footer_seperator { width:10%;}
     #footer .castello_collection { width:55%; }
  }

  @media all and (max-width: 600px) and (min-width: 320px) {
    #inner_page_container_casamiento { width:100%;margin:0;padding:0}
    #page_container { margin:0;border:0;padding:0;}
    #page_container_casamiento { border:0;padding:0;margin:0;}
   #total_price { display:none;}
    #product_section1 { float:none; width:100%;clear:both; }
    #product_section0 { float:none; width:100%; clear:both;margin:0;}
    #slide1, #slide2, #slide3, #slide4, #slide5, #slide6 { margin:0 auto;float:none;clear:both;}
    .slide_image { width:320px; height:205px;margin:0 auto;float:none;clear:both; }
    #footer .genesis_collection, #footer .castello_collection { float:none;width:100%; }
    .footer_seperator { float:none;width:100%;}
    .slide_background { width:320px; height:205px; }
.slide_background_container { width:320px; height:205px; }
    #slide4 { width: inherit; height:auto;}
    #slide5 .shell { display:none;}
    #slide5 h6 { width:95%; padding:0;margin:0 auto;}
    
  }
</style>

<div id="product_page_genesis"><img src="/gfx/logo/genesis_collection.png" style="width:285px;"/></div>

<div id="product_page">

  <div id="product_section1">
    
<!-- 

  SLIDES 1 TO 3 

-->

      <div id="slide1" class="colour_0 slide_background"><img src="/products/<%= _id %>/attachments/medium-1" class="slide_image" /><% if ((typeof background_1) !== "undefined") {%><div class="slide_background_container">
      <%- background_1  %></div>
      <% } %></div>           
         
      <div id="slide2" class="colour_0 slide_background"><img src="/products/<%= _id %>/attachments/medium-2" class="slide_image" /><% if ((typeof background_2) !== "undefined") {%><div class="slide_background_container">
      <%- background_2  %></div>
      <% } %></div>
        
      <div id="slide3" class="colour_0 slide_background"><img src="/products/<%= _id %>/attachments/medium-3" class="slide_image" /><% if ((typeof background_3) !== "undefined") {%><div class="slide_background_container">
      <%- background_3  %></div>
      <% } %></div>
      
<!-- 

  PRODUCT NAME AND DESCRIPTION 

-->      
      
      <div id="slide4"><h1 class="product_name" style="text-align:center"><%= name %></h1>
        <div style="text-align:center;margin-bottom:1em"><img src="/gfx/ornamentalline.png" /></div>
      </div>
        
      <div id="slide5", style="width:374px;clear:both;">
      <p style="text-align:center;margin-top:1em;" class="shell">
    <img src="/gfx/shell.png" /></p>
    <h6 id="welcome_description">This simple, elegant collection is optionally adorned with a paper wrap and accompanying envelope, finished with a monogram bearing the names of you and your partner. A traditional, serif typeface emphasises the importance of your special day with authority and prestige.</h6></div>
  
<!-- 

  SLIDE 4 

-->    
      <div id="slide6" class="colour_0 slide_background"><img src="/products/<%= _id %>/attachments/medium-4" class="slide_image" /><% if ((typeof background_4) !== "undefined") {%><div style="width:374px;height:239px;">
      <%- background_4  %></div>
      <% } %></div>           
   </div>
      
<!-- 

  SPECIFICATIONS 

-->


<div id="product_section0">

  <div class="product_type spc"><img src="/gfx/product_types/small/name_place_small.png" style="width:130px;"></div>

<!-- 

  COLOUR LABELS 
  
 -->

<div class="spc" id="step_1">
  <div style="margin-bottom:0.5em;height:2.5em;">
    <div style="float:left;"><h1>Colours</h1></div>
    <div class="step colour_0">STEP 1</div>
  </div>
  
   <div class="chat-bubble tooltip-1">Click on a colour to change it! Navigate through the different palettes by clicking the labels at the top and bottom of each palette to move backwards and forwards.
</div>
<table>
<tr>
  <% var counter = 0 %>
    <% colours.forEach(function(colour) { %>
    <td style="vertical-align:top;width:49%">
      <div id="colour_selector_<%= counter %>" style="display:inline-block;text-align:center;margin:0;padding:0;">
      <div class="colour_frame_<%= counter %> colour_change" data-colour="<%= counter %>"><div class="colour_<%= counter %> color_square" style="background-color:<%= colour %>;"></div></div>
      </div><br/>
      <span id="color_label_<%= counter %>" class="color_label"><%= colour.toUpperCase() %></span>
      </div>
      </td>
    <% counter++ %>
  <% }) %>
  </tr>
  </table>
  
  
  <!--
    COLOUR SELECTOR
    -->
    
  <div class="colour_selector" style="display:none">
    
   <% var counter = 0 %>
    <% hex_colours.forEach(function(page) { %>
    <div class="palette palette_<%= counter %>" style="z-index:100;background-color:white;margin-top:0;padding-top:0;">
<table><tr><td>
<% if (hex_colours[counter - 1]) { %>
<div class="colour_index colour_index_left" data-colour="palette_<%= 
counter -1 %>">&laquo;</div>
</td>

<% } %>
<td>
        <% page.forEach(function(colour) { %>
        <div class="a_colour" data-colour="<%= colour %>">
       <div style="background-color:<%= colour %>;margin-bottom:0;padding-bottom:0;margin:0 auto;width:18px;height:18px;"></div>
       </div>
        <% }) %>
        <td>
        
<% if (hex_colours[counter + 1]) { %>
<div class="colour_index colour_index_right" data-colour="palette_<%= 
counter + 1%>">&raquo;</div>
 <% } %></td></tr></table>

        </div>
        <% counter = counter + 1 %>
    <% }) %>
  </div>
</div>

<!-- 

  TEXTURE 
  
-->

  <div class="spc" id="step_2">
    <div style="margin-bottom:0.5em;height:3em;">
      <div style="float:left"><h1>Card Texture</h1></div>
      <div class="step colour_0">STEP 2</div>
    </div> 
  
    <div class="chat-bubble">Click and highlight an icon to select the texture of your choice. Plain is the cheapest with its smooth plain finish, but hammered and linen both make your cards feel more luxurious. 
    </div>
    <div class="texture selectable" data-attribute="texture" data-value="plain"><img src="/gfx/icons/plaine.png"><p>Plain</p></div>
    <div class="texture selectable" data-attribute="texture" data-value="hammered"><img src="/gfx/icons/hammer.png"><p>Hammered</p></div>
    <div class="texture selectable" data-attribute="texture" data-value="linen"><img src="/gfx/icons/linen.png"><p>Linen</p></div>
  </div>

<!-- 

  WEIGHT 
  
-->
    
  <div class="spc"  id="step_3">
    <div style="margin-bottom:0.5em;height:2em;">
      <div style="float:left"><h1>Card Thickness</h1></div>
      <div class="step colour_0">STEP 3</div>
    </div> 
    <div class="chat-bubble">Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm). A normal sheet of A4 copy paper is usually about 80gsm.
    </div>
    <br/>
    <div class="weight selectable" data-attribute="weight" data-value="250">
       <div class="weight_line"></div>
       <p class="casamiento">250gsm</p>
    </div>
        
    <div class="weight selectable"  data-attribute="weight" data-value="300">
      <div class="weight_line" style="border-top:10px solid black;"></div>
      <p class="casamiento">300gsm</p>
    </div>
  </div>

<!-- 

  FORMAT 
  
-->

  <div class="spc"  id="step_4">
    <div style="margin-bottom:0.5em;height:2.5em;">
      <div style="float:left"><h1>Product Format</h1></div>
      <div class="step colour_0">STEP 4</div>
    </div> 
        
    <div style="margin:auto;text-align:center;">
      <div class="spec" style="width:100px"><img src="/gfx/specs/tent.png"></div>
    </div>
  </div>
  
<!-- 

  MONOGRAM 
  
-->

    <div class="spc"  id="step_5">
        <h1>Monogram shown</h1>
        
        <img id="mono_2" style="width:100%;max-width:300px;min-width:200px;" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
    </div>

<!-- 

  GUESTS 
  
 -->
    
    <div class="spc"  id="step_6">
      <div style="margin-bottom:0.5em;height:2.5em;">
        <div style="float:left">
          <h1><img src="/gfx/guests.png" style="width:30px"/> Guest names</h1>
        </div>
        <div class="step colour_0">STEP 6</div>
      </div> 
      <div class="chat-bubble">Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm). A normal sheet of A4 copy paper is usually about 80gsm.
      </div>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
    </div>
  </div>
   
</div>  
    
<script type="text/javascript">
// Setup and initialization
var thisProduct = new Product({
    id: "<%= _id %>",
    name: "<%= name %>", 
    monogram: <%= monogram %>, 
    colours: <%- JSON.stringify(colours) %>, 
    quantity: 10, 
    price: <%= price %>, 
    guests: ["&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;"], 
    texture: "plain" 
});

var all_colours = <%- JSON.stringify(colours_ref) %>
</script>