<link rel="stylesheet" type="text/css" href="/stylesheets/product.css">
<style type="text/css">
.step { background-color:<%= colours[0] %>}
</style>
<script type="text/template" id="cart_item">
    <tr  class="tooltip-select" data-tooltip="tooltip-guests">
    <td colspan="3">     <div class="chat-bubble tooltip-guests"  style="display:none;"><div class="chat-bubble-arrow-border"></div>
  <div class="chat-bubble-arrow"></div>Each place card will come individually printed with the name of each guest. Here you can add each guest name. Your names will be printed exactly as you type them, so make sure you use capital letters in the right places
</div>
</script>

      
       
<div id="product_page_genesis"><img src="/gfx/logo/genesis_collection.png" style="width:285px;"/></div>

<div id="product_page">

    <div id="product_section1">


        <div id="slides" style="clear:both">            
           <div class="colour_0" style="width:750px;height:479px;display:none;"><img src="/products/<%= _id %>/attachments/medium-1" style="width:750px;height:479px;position:absolute;"/><%- background_1 %></div>
           
           <div class="colour_0" style="width:750px;height:479px;background-color:<%= colours[0] %>;display:none;"><img src="/products/<%= _id %>/attachments/medium-2" style="width:750px;height:479px;position:absolute;"/><%- background_2 %></div>
           
           <div class="colour_0"  style="width:750px;height:479px;background-color:<%= colours[0] %>;"><img src="/products/<%= _id %>/attachments/medium-3" style="width:750px;height:479px;position:absolute;"/><%- background_3 %></div>
           
        </div>
        
        <h1 class="product_name" style="text-align:center"> &mdash;<%= name %>&mdash;</h1>
      <h6 style="width:75%;margin:0 auto;" id="welcome_description"><a href="/products">This simple, elegant collection is optionally adorned with a paper wrap and accompanying envelope, finished with a monogram bearing the names of you and your partner. A traditional, serif typeface emphasises the importance of your special day with authority and prestige.</a></h6>
    </div>    

<div id="product_section0">

<div class="product_type spc"><img src="/gfx/product_types/small/name_place_small.png" style="width:130px;">
    </div>

    <div class="spc" id="texture">
      <div style="margin-bottom:0.5em;height:2em;">
        <div style="float:left"><h1>Card Texture</h1></div>
        <div class="step colour_0">STEP 1</div>
      </div> 

        <div style="display:inline-block;margin:0.5em;text-align:center;"><img src="/gfx/icons/hammer.png" style="width:2.5em"><p style="text-align:center">Hammered</p></div>
        <div style="display:inline-block;margin:0.5em;text-align:center;"><img src="/gfx/icons/plaine.png" style="width:2.5em"><p style="text-align:center">Plain</p></div>
        <div style="display:inline-block;margin:0.5em;text-align:center;"><img src="/gfx/icons/linen.png" style="width:2.5em"><p style="text-align:center">Linen</p></div>
    </div>
    
    
<!-- COLOUR LABELS -->

<div class="spc" id="colours_select">
  <div style="margin-bottom:0.5em;height:2em;">
    <div style="float:left;"><h1>Colours</h1></div>
    <div class="step colour_0">STEP 2</div>
  </div>
  <% var counter = 0 %>
    <% colours.forEach(function(colour) { %>
      <div id="colour_selector_<%= counter %>" style="display:inline-block;text-align:left;margin:0;padding:0;margin-right:1em;">
      <div class="colour_frame" style="display:inline-block;border:1px solid lightgrey;padding-left:5px;padding-top:5px;width:35px;height:35px;margin:0;"><div class="colour_<%= counter %> color_square" style="background-color:<%= colour %>;"></div></div> <div class="change colour_change" style="margin:0" data-colour="<%= counter %>">CHANGE</div><br/><span class="color_label"><%= colour.toUpperCase() %></span>
      </div>
    <% counter++ %>
  <% }) %>
  
  <div class="colour_selector" style="display:none">
    <div class="tabbed_area"> 
    
    <% var counter = 0 %>
    <% cols.forEach(function(palette) { %>
    <% counter++ %>
        <div class="palette palette_<%= counter %>" style="z-index:100;background-color:white;border:1px dotted black;margin-top:0;padding-top:0;">
        <% palette.forEach(function(colour) { %>
        <% var ary = colour.split(" ") %>
        <% var hex = ary[0] %>
        <% var description = ary[1] %>
       <div class="a_colour" data-colour="<%= hex %>" style="text-align:center;display:inline-block;padding:3px;border:1px solid lightgrey;margin-right:10px;margin-top:10px;">
       <div style="background-color:<%= hex %>;width:5em;height:4em;margin-bottom:0;padding-bottom:0;margin:0 auto;width:18px;height:18px;"></div>
       </div>
        <% }) %>
        <div style="width:75%;margin:0 auto;padding:0.5em;text-align:center"><p>
        <% ["pinks", "browns", "reds", "yellows", "purples", "greens", "blues", "greys"].forEach(function(label) { %>
        <%= label %> |
         <% }) %>
         </p></div>
        </div>
    <% }) %>
    </div>
</div>  
</div>
<div class="spc">
    <h1>Thickness</h1>
        
        <div style="margin:auto">
            <div class="weight" style="border-top:2px solid #666;"></div>
            <p>300gsm</p>
            <div class="weight" style="border-top:4px solid #666;"></div>
            <p>250gsm</p>
        </div>
    </div>

    <div class="spc">
        <h1>Product format</h1>
        <div style="margin:auto;text-align:center;">
        <div class="spec" style="width:90px"><img src="/gfx/specs/tent.png"></div></div>
    </div>
    
    <div class="spc">
        <h1>Monogram shown</h1>
        <img id="mono_2" style="width:100%" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
    </div>
    <img src="/gfx/shell.png" />
</div>  
</div>
    

<script type="text/javascript">

// Setup and initialization

// Create a new cart or initialize an existing one
<% if (cart) { %>
  var cart = new Cart(<%- cart %>, { parse: true });
<% } else { %>
  var cart = new Cart({ parse: true }) 
<% }  %>

var thisProduct = new Product({
    id: "<%= _id %>",
    name: "<%= name %>", 
    monogram: <%= monogram %>, 
    colours: <%- JSON.stringify(colours) %>, 
    quantity: 10, 
    price: <%= price %>, 
    guests: ["&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;"], 
    texture: "plain" 
});

var iv = new ItemsView({collection: cart.get("items")})
$('#cart').html(iv.render().el);
var mv = new MonogramView();
var pv = new PanelView({collection: cart.get("items") });


$(function(){

 var ProductPageView = Backbone.View.extend({
     el: $('#product_page'),
     events: {
         'mouseenter .spc': 'fade_step_in',
         'mouseleave .spc': 'fade_step_out',
          "click .a_colour": "saveColour",
    "click .colour_label": "updatePalette",
    "click .change_monogram": "changeMonogram",
    "click .texture": "changeTexture",
    "click input[type=radio]": "selectMonogram",
    "blur .guest_name": "updateGuestName",
    "change .selectedFile": "selectFile" ,
    "click .colour_change": "changeColour",
    "mouseover .a_colour": "updateColour"
     },
      saveColour: function(e) {
  var that = this;
        var colours = this.model.get("colours");
        colours[0] = $(e.currentTarget).data("colour");
        this.model.set("colours", colours);
        this.model.trigger("change:colour");
       this.$('.colour_selector').slideUp();
  },
  updatePalette: function(e) {
      var which = $(e.currentTarget).data("colour")
      $('.colour_label').removeClass("active");
      
      $(e.currentTarget).addClass("active")
      this.$('.palette').hide();
     this.$('.palette_'+which).show();
  },  
  updateColour: function(e) {
       var currentTarget = $(e.currentTarget);
    var hex = currentTarget.data("colour");
    console.log("yupdating")
    if(this.colourContext == 0) {
  this.$('.colour_0').css("background-color", hex)
  } else { 
  this.$('.colour_0 div').css("background-color", hex)
  this.$('.colour_1').css("background-color", hex)
  }
  },
  fade_step_in: function(e) {
    $(e.currentTarget).find('.step').fadeIn()
  },
    fade_step_out: function(e) {
    $(e.currentTarget).find('.step').fadeOut()
  },
  changeColour: function(e) {
  
      var which = $(e.currentTarget).data("colour")
      this.colourContext = which;
      this.$('#colour_selector_' + which).fadeTo(0.2)
this.$('.colour_selector').slideDown();   
  },
 })
var ppv= new ProductPageView({model: thisProduct})
});

</script>