<link rel="stylesheet" type="text/css" href="/stylesheets/product.css">

<style type="text/css">

  .step { background-color:<%= colours[0] %>}
  .slide_background {width:374px;height:239px;margin-bottom:1px;margin-right:1px;background-color:<%= colours[0] %> }
  @media all and (max-width: 1024px) and (min-width: 768px) {
   #inner_page_container_casamiento { width:97%;}
  }
  
  @media all and (max-width: 767px) and (min-width: 320px) {
    #inner_page_container_casamiento { width:97%;}
    .chat-bubble { left:3em;}
    #total_price { display:none;}
    #product_section1 { width:374px; }
    #product_section0 { margin-left:374px;}
    #slide1, #slide2, #slide3, #slide4, #slide5, #slide6 { float:none;clear:both;}
    #slide1 img, #slide2 img, #slide3 img, #slide4 img, #slide5 img, #slide6 img  { float:none;clear:both;}
  }

  @media all and (max-width: 319px) and (min-width: 319px) {
    #inner_page_container_casamiento { width:97%;}
   #total_price { display:none;}
    #product_section1 { float:none; width:100%;clear:both; }
    #product_section0 { float:none; width:100%; clear:both;margin:0;}
    #slide1, #slide2, #slide3, #slide4, #slide5, #slide6 { margin:0 auto;float:none;clear:both;}
    #slide1 img, #slide2 img, #slide3 img, #slide4 img, #slide5 img, #slide6 img  { margin:0 auto;float:none;clear:both;}
  }
</style>

<div id="product_page_genesis"><img src="/gfx/logo/genesis_collection.png" style="width:285px;"/></div>

<div id="product_page">

  <div id="product_section1">

      <div id="slide1" class="colour_0 slide_background"><img src="/products/<%= _id %>/attachments/medium-1" class="slide_image" /><% if ((typeof background_1) !== "undefined") {%>
      <%- background_1  %>
      <% } %></div>           
         
      <div id="slide2" class="colour_0 slide_background"><img src="/products/<%= _id %>/attachments/medium-2" class="slide_image" /><% if ((typeof background_2) !== "undefined") {%>
      <%- background_2  %>
      <% } %></div>
        
      <div id="slide3" class="colour_0 slide_background"><img src="/products/<%= _id %>/attachments/medium-3" class="slide_image" /><% if ((typeof background_3) !== "undefined") {%>
      <%- background_3  %>
      <% } %></div>
      
      <div id="slide4"><h1 class="product_name" style="text-align:center"><%= name %></h1>
      
        <div style="text-align:center;margin-bottom:1em"><img src="/gfx/ornamentalline.png" /></div>
      </div>
        
      <div id="slide5", style="width:374px;clear:both;">
      <p style="text-align:center;margin-top:1em;">
    <img src="/gfx/shell.png" /></p>
    <h6 style="width:95%;margin:0 auto;" id="welcome_description">This simple, elegant collection is optionally adorned with a paper wrap and accompanying envelope, finished with a monogram bearing the names of you and your partner. A traditional, serif typeface emphasises the importance of your special day with authority and prestige.</h6></div>
      <div id="slide6" class="colour_0 slide_background"><img src="/products/<%= _id %>/attachments/medium-4" class="slide_image" /><% if ((typeof background_4) !== "undefined") {%>
      <%- background_4  %>
      <% } %></div>           
   </div>
      
<!-- 

  SPECIFICATIONS 

-->


<div id="product_section0">

  <div class="product_type spc"><img src="/gfx/product_types/small/name_place_small.png" style="width:130px;"></div>

<!-- 

  COLOUR LABELS 
  
 -->

<div class="spc" id="step_1">
  <div style="margin-bottom:0.5em;height:2em;">
    <div style="float:left;"><h1>Colours</h1></div>
    <div class="step colour_0">STEP 1</div>
  </div>
  
   <div class="chat-bubble tooltip-1">Click on a colour to change it! Navigate through the different palettes by clicking the labels at the top and bottom of each palette to move backwards and forwards.
</div>
  <% var counter = 0 %>
    <% colours.forEach(function(colour) { %>
      <div id="colour_selector_<%= counter %>" style="display:inline-block;text-align:left;margin:0;padding:0;margin-right:1em;">
      <div class="colour_frame_<%= counter %> colour_change" data-colour="<%= counter %>"><div class="colour_<%= counter %> color_square" style="background-color:<%= colour %>;"></div></div><br/><span class="color_label"><%= colour.toUpperCase() %></span>
      </div>
    <% counter++ %>
  <% }) %>
  <% var p = ["pinks", "browns", "reds", "yellows", "purples", "greens", "blues", "greys"] %>
  <div class="colour_selector" style="display:none">
    
    <% var counter = 0 %>
    <% cols.forEach(function(palette) { %>
    <% counter++ %>
        <div class="palette palette_<%= counter %>" style="z-index:100;background-color:white;margin-top:0;padding-top:0;">
<div style="padding:5px;margin:10px;" class="colour_index" data-colour="palette_<%= 
counter -1 %>"><p style="text-decoration:underline;">&lt;&lt; <%= p[counter -2] %></p></div>
        <% palette.forEach(function(colour) { %>
        <% var ary = colour.split(" ") %>
        <% var hex = ary[0] %>
        <% var description = ary[1] %>
       <div class="a_colour" data-colour="<%= hex %>" style="">
       <div style="background-color:<%= hex %>;width:5em;height:4em;margin-bottom:0;padding-bottom:0;margin:0 auto;width:18px;height:18px;"></div>
       </div>
        <% }) %><br/>
        
<div style="display:inline-block;padding:5px;margin:10px;" class="colour_index" data-colour="palette_<%= 
counter + 1%>"><p style="text-decoration:underline;"><%= p[counter] %> &gt;&gt;</p></div>
        </div>
    <% }) %>
    </div>
</div>

<!-- 

  TEXTURE 
  
-->

  <div class="spc" id="step_2">
    <div style="margin-bottom:0.5em;height:3em;">
      <div style="float:left"><h1>Card Texture</h1></div>
      <div class="step colour_0">STEP 2</div>
    </div> 
  
    <div class="chat-bubble">Click and highlight an icon to select the texture of your choice. Plain is the cheapest with its smooth plain finish, but hammered and linen both make your cards feel more luxurious. 
    </div>
    <div class="texture"><img src="/gfx/icons/plaine.png"><p>Plain</p></div>
    <div class="texture"><img src="/gfx/icons/hammer.png"><p>Hammered</p></div>
    <div class="texture"><img src="/gfx/icons/linen.png"><p>Linen</p></div>
  </div>

<!-- 

  WEIGHT 
  
-->
    
  <div class="spc"  id="step_3">
    <div style="margin-bottom:0.5em;height:2em;">
      <div style="float:left"><h1>Card Thickness</h1></div>
      <div class="step colour_0">STEP 3</div>
    </div> 
    <div class="chat-bubble">Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm). A normal sheet of A4 copy paper is usually about 80gsm.
    </div>
    <br/>
    <div class="weight">
       <div class="weight_line"></div>
       <p class="casamiento">300gsm</p>
    </div>
        
    <div class="weight">
      <div class="weight_line" style="border-top:8px solid black;"></div>
      <p class="casamiento">250gsm</p>
    </div>
  </div>

<!-- 

  FORMAT 
  
-->

  <div class="spc"  id="step_4">
    <div style="margin-bottom:0.5em;height:2.5em;">
      <div style="float:left"><h1>Product Format</h1></div>
      <div class="step colour_0">STEP 4</div>
    </div> 
        
    <div style="margin:auto;text-align:center;">
      <div class="spec" style="width:90px"><img src="/gfx/specs/tent.png"></div>
    </div>
  </div>
  
<!-- 

  MONOGRAM 
  
-->

    <div class="spc"  id="step_5">
        <h1>Monogram shown</h1>
        
        <img id="mono_2" style="width:100%;max-width:300px;min-width:200px;" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
    </div>

<!-- 

  GUESTS 
  
 -->
    
    <div class="spc"  id="step_6">
      <div style="margin-bottom:0.5em;height:2.5em;">
        <div style="float:left">
          <h1><img src="/gfx/guests.png" style="width:30px"/> Guest names</h1>
        </div>
        <div class="step colour_0">STEP 6</div>
      </div> 
      <div class="chat-bubble">Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm). A normal sheet of A4 copy paper is usually about 80gsm.
      </div>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
    </div>
  </div>
   
</div>  
    
<script type="text/javascript">

// Setup and initialization
var thisProduct = new Product({
    id: "<%= _id %>",
    name: "<%= name %>", 
    monogram: <%= monogram %>, 
    colours: <%- JSON.stringify(colours) %>, 
    quantity: 10, 
    price: <%= price %>, 
    guests: ["&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;"], 
    texture: "plain" 
});

$(function(){
  // Positioning of fixed price/alert boxes
  var top = Math.max($(window).height() / 2 - $("#total_price")[0].offsetHeight / 2, 0);
  var left = Math.max($(window).width() / 2 - $("#total_price")[0].offsetWidth / 2, 0);
  $("#total_price").css('top', top + "px");
  $("#total_price").css('position', 'fixed');
        
  var ProductPageView = Backbone.View.extend({
    initialize: function() {
    this.step = 1;
    _.bindAll(this, 'renderQuantity','renderTotal', 'calculatePrice')
      this.model.on("change:quantity", this.renderQuantity)      
      this.model.on("change:quantity", this.calculatePrice)
          
      this.model.on("change:total", this.renderTotal)         
    },
    el: $('#product_page'),
    events: {     
      "mouseenter .spc": "showTooltip",
      "mouseleave .spc": "closeTooltip",
     
      "click .a_colour": "saveColour",
      "click .colour_index": "updatePalette",
    
      "click .colour_change": "changeColour",
      "mouseover .a_colour": "updateColour",
      "click .texture": "changeTexture"
    },
    showTooltip: function(e) {
      
      $(e.currentTarget).find('.step').fadeIn()
      $(e.currentTarget).find('.chat-bubble').slideDown()
    },
    closeTooltip: function(e) {  
    var step_container = $(e.currentTarget),
      id = step_container.attr('id').split("_")[1];
      if (id != this.step) {
      $(e.currentTarget).find('.step').fadeOut()
      $(e.currentTarget).find('.chat-bubble').slideUp()
      }
    },
    renderQuantity: function() {
      $('#qty').html(this.model.get("quantity"))
    },
    renderTotal: function() {
  var total = this.model.get("total");
  var ary = total.toString().split(".");
  var pounds = ary[0];
  var dec = ary[1]
      $('span#pound').text(pounds);
      $('span#decimal').text("." + dec);
  },
    calculatePrice: function(e) {    
    var price = this.model.get("price") * this.model.get("quantity")
    var texture = this.model.get("texture");

    if(texture == "hammer") {
      price = ((10/100) * price) + price
    } else if (texture == "pearl") {
      price = ((15/100) * price) + price
    }
    var price = (price).toFixed(2)
    this.model.set("total", price)
    },
    saveColour: function(e) {
      var colours = this.model.get("colours");
      colours[0] = $(e.currentTarget).data("colour");
      this.model.set("colours", colours);
      this.model.trigger("change:colour");
      this.$('.colour_selector').slideUp();
      
      this.step = this.step + 1;
    },
    updatePalette: function(e) {
      var which = $(e.currentTarget).data("colour")
      this.$('.palette').hide();          
      this.$('.' + which).show();
    },  
    updateColour: function(e) {
      var currentTarget = $(e.currentTarget);
      var hex = currentTarget.data("colour");
      if(this.colourContext == 0) {
        this.$('.colour_0').css("background-color", hex)
      } else { 
        this.$('.colour_0 div').css("background-color", hex)
        this.$('.colour_1').css("background-color", hex)
        
      }
    },
    changeColour: function(e) {
      var which = $(e.currentTarget).data("colour")
      this.colourContext = which;
      console.log(which)
      this.$('#colour_frame_' + which).fadeTo(0.2)
      this.$('.colour_selector').slideDown();   
      
    },
  })
  var ppv= new ProductPageView({model: thisProduct})
  
// Calculate quantity
  $('#plus_qty').click(function(e) {
    var qty = thisProduct.get("quantity")
      thisProduct.set("quantity", qty + 5)
  })
    
  $('#minus_qty').click(function(e) {
    var qty = thisProduct.get("quantity")
    if(qty > 5) {
        thisProduct.set("quantity", qty - 5)
    }
  })
});

</script>