<script type="text/javascript" src="/javascripts/products/show.js"></script>
<script type="text/javascript" src="/javascripts/libraries/in_groups_of.js"></script>
<script type="text/javascript" src="/javascripts/libraries/color_picker.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/product.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/color_picker.css">

<style type="text/css">
  .step { background-color:<%= product.colours[0] %>}
</style>


<div id="product_page">

  <div id="product_section1">
    
<!-- 
  SLIDES 1 TO 3 
-->

      <%-  product.divs[0] %>
       <div class="product_type"><img src="/gfx/product_types/small/name_place_small.png" style="width:130px;"></div>
      <%-  product.divs[1] %>
      <%-  product.divs[2] %>
      
<!-- 

  PRODUCT NAME AND DESCRIPTION 

-->      
      
      <div id="product_name_container"><h1 class="product_name" style="text-align:center"><%= product.name %></h1>
        <div style="text-align:center;margin-bottom:1em"><img src="/gfx/ornamentalline.png" /></div>
      </div>
        
      <div id="description_container">
        <p style="text-align:center;margin-top:1em;" class="shell">
        <img src="/gfx/shell.png" /></p>
        <h6 id="welcome_description">This simple, elegant collection is optionally adorned with a paper wrap and accompanying envelope, finished with a monogram bearing the names of you and your partner. A traditional, serif typeface emphasises the importance of your special day with authority and prestige.</h6>
      </div>
  
<!-- 

  SLIDE 4 

-->    
     <%-  product.divs[3] %>
                
   </div>
      
<div id="product_section0"></div>  

<script type="text/javascript">

// Initialize templates
var templates = {}
<% templates.forEach(function(template) { %>
  templates["<%= template.name %>"] = <%- template.template %>;
<% }) %>

// Setup and initialization
var thisProduct = new Product(<%- JSON.stringify(product) %>);

new StepView().render();

var quantity_view = new QuantityView()
</script>