<%- contentFor('inline_styles') %>
  .step { background-color:<%= product.colours[0] %>}

  @font-face { font-family:"<%= product.font %>"; src: url('/fonts/<%= product.font %>') format('woff'); }
  .name, .guest { font-family:"<%= product.font %>"; font-size: <%= product.font_size %>pt; }
  
<%- contentFor('left') %>
<div id="print_box" style="display:none;">
  <div class="spc" style="padding:1em;">
    <h4 style="clear:both;float:none">Print your own</h4>
    
    <!-- 8 on a portrait page -->
    
    <div style="width:33%;float:left;">
      <div style="width:84px;border:1px solid black;height:118px;">
        <table style="width:100%;border-collapse:collapse;border:0;">
          <tr>
            <td style="width:42px;height:29px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;"></td>
          </tr>
          <tr>
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;"></td>
          </tr>
          <tr>
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;"></td>
          </tr>
          <tr>          
            <td style="width:50%;height:29px;border-right:1px dotted grey;"></td>      
            <td style="width:50%;height:29px;"></td>
            <td style="width:50%;height:29px;"></td>
          </tr>
        </table>
      </div>
    </div>
    
    <!-- THREE ON A PORTRAIT PAGE -->
    
    <div style="width:33%;float:left;">
      <div style="width:84px;border:1px solid black;height:118px;">
        <table style="margin:0 auto;margin-top:14px;width:50%;border-collapse:collapse;;">
          <tr>
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>
          </tr>
          <tr>
            <td style="width:42px;height:28px;border:1px dotted grey;"></td> 
          </tr>
          <tr>
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>
         </tr>
        </table>
      </div>
    </div>
    
    <!-- 4 ON A LANDSCAPE PAGE -->
    
    <div style="width:33%;float:left;">
      <div style="width:118px;border:1px solid black;height:84px;">
       <table style="width:84px;margin:0 auto;margin-top:14px;border-collapse:collapse;;">
          <tr>
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>            
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>
          </tr>
          <tr>
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>             
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div id="send_to_print">Print</div>
</div>
  <script type="text/javascript" src="/javascripts/libraries/jquery_form.js"></script>
  <script type="text/javascript" src="/javascripts/products/show.js"></script>
  <script type="text/javascript" src="/javascripts/libraries/in_groups_of.js"></script>
 
 <script type="text/template" id="svg_place_card_template">
 
  <div class="print_place_left_column_container">
    <div class="single_place_card_container">
      <div class="half_container"></div>
      <div class="half_container"><span class="guest">David</span></div>
    </div>
    <img src="http://localhost:3000/svg/FF00DD" class="place_card_image"/>
  </div>
 </script>
 
<div id="per_8_page_print"></div>
 
<div id="product_container">
 
  <div class="spinner">
      <img src="/gfx/spinner.gif">
  </div>
  <a id="2Dview" name="2Dview"></a>
  
<div id="svgs">
  <div class="svg_parent"> 
    <div style="z-index:5;width:100%;height:100%;text-align:center;position:absolute;">
      <div class="back_place_card"></div>
      <div class="front_place_card">
        <input type="text" class="name" value="David Louise"></input>
      </div>
    </div>
    
    <div class="top_top_left_crop_mark crop_mark"></div>
    <div class="top_left_left_crop_mark crop_mark"></div>
    <div class="top_top_right_crop_mark crop_mark"></div>
    <div class="top_right_right_crop_mark crop_mark"></div>
    
    <div class="bottom_bottom_left_crop_mark crop_mark"></div>
    <div class="bottom_left_left_crop_mark crop_mark"></div>
    <div class="bottom_bottom_right_crop_mark crop_mark"></div>
    <div class="bottom_right_right_crop_mark crop_mark"></div>
    
    <div style="width:100%;">   
      <%- product.divs[4] %>
    </div>
  </div>
  
  <div id="print_container" style="text-align:center;">
    <img src="/gfx/spinner.gif" id="print_spinner" class="spinner">
    <div id="add_another"><p style="font-size:1.4em;margin:0;padding:0;">PRINT</p></div>
   </div>
</div>
    
<div id="image_container">

<!-- 
  SLIDES 1 TO 3 
-->

  <img id="slide1" src="/products/<%= product._id %>/attachments/display-<%= product.attachments_order[0]%>" />
   <img src="/gfx/product_types/small/name_place_small.png" class="product_type_icon">
   <img id="slide2" src="/products/<%= product._id %>/attachments/display-<%= product.attachments_order[1]%>" />
   <img id="slide3" src="/products/<%= product._id %>/attachments/display-<%= product.attachments_order[2]%>" />
      
<!-- 

  PRODUCT NAME AND DESCRIPTION 

-->      
      
  <div id="product_name_container">
    <h1 class="product_name"><%= product.name %></h1>
    <div class="ornamental_line"></div>
  </div>
  
  
    
  <div id="description_container">
    <div class="shell"></div>
    <h6>This simple, elegant collection is optionally adorned with a paper wrap and accompanying envelope, finished with a monogram bearing the names of you and your partner. A traditional, serif typeface emphasises the importance of your special day with authority and prestige.</h6>
  </div>

<!-- 

  SLIDE 4 

-->    
  <img id="slide4" src="/products/<%= product._id %>/attachments/display-<%= product.attachments_order[3]%>" />

</div>
</div>

<%- contentFor('right') %>

  <div id="steps"></div>
  
<script type="text/javascript">

$('#send_to_print').click(function() {
  window.print();
})
  // Initialize templates
  var templates = {}
  <% templates.forEach(function(template) { %>
    templates["<%= template.name %>"] = <%- template.template %>;
  <% }) %>
  
  // Setup and initialization
  var thisProduct = new Product(<%- JSON.stringify(product) %>);

  new StepView().render();
  new DownloadView({el: '#product_container', model: thisProduct}).render();

  var PlaceView = Backbone.View.extend({
    initialize: function() {
      this.listenTo(this.model, 'change:name', this.render)	
    },
    render: function() {
      this.$el.html($('#svg_place_card_template').html());
      this.$('.guest').text(this.model.get("name"))
      return this;
    }
  })

  var PrintView = Backbone.View.extend({
    render: function() {
      var guests = thisProduct.get("guests");
      guests.forEach(function(guest) {
        var place_card = new PlaceView({model: guest}).render().el
        this.$el.append(place_card);
      }, this)
      return this;          
    } 
  })
    
  new PrintView({el: '#per_8_page_print', model: thisProduct}).render();

</script>