<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js"></script>
<script type="text/javascript" src="/javascripts/products/show.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/product.css">

<style type="text/css">

  .step { background-color:<%= colour_1 %>}
  .slide_background {width:374px;height:239px;margin-bottom:1px;margin-right:1px;background-color:<%= colour_1 %> }
  
  @media all and (max-width: 1000px) and (min-width: 768px) {
   #inner_page_container_casamiento { width:97%;}
  }
  
  @media all and (max-width: 999px) and (min-width: 601px) {
    #inner_page_container_casamiento { width:97%;}
    .chat-bubble { left:3em;}
    #total_price { display:none;}
    #product_section1 { width:374px; }
    #product_section0 { margin-left:374px;}
    #slide1, #slide2, #slide3, #slide4, #slide5, #slide6 { float:none;clear:both;}
    #slide1 img, #slide2 img, #slide3 img, #slide4 img, #slide5 img, #slide6 img  { float:none;clear:both;}
    #slide4 { width: inherit; height:auto;}
    #slide5 .shell { display:none;}
    
    #footer .genesis_collection { width:35%; }
    .footer_seperator { width:10%;}
     #footer .castello_collection { width:55%; }
  }

  @media all and (max-width: 600px) and (min-width: 320px) {
    #inner_page_container_casamiento { width:100%;margin:0;padding:0}
    #page_container { margin:0;border:0;padding:0;}
    #page_container_casamiento { border:0;padding:0;margin:0;}
   #total_price { display:none;}
    #product_section1 { float:none; width:100%;clear:both; }
    #product_section0 { float:none; width:100%; clear:both;margin:0;}
    #slide1, #slide2, #slide3, #slide4, #slide5, #slide6 { margin:0 auto;float:none;clear:both;}
    .slide_image { width:320px; height:205px;margin:0 auto;float:none;clear:both; }
    #footer .genesis_collection, #footer .castello_collection { float:none;width:100%; }
    .footer_seperator { float:none;width:100%;}
    .slide_background { width:320px; height:205px; }
.slide_background_container { width:320px; height:205px; }
    #slide4 { width: inherit; height:auto;}
    #slide5 .shell { display:none;}
    #slide5 h6 { width:95%; padding:0;margin:0 auto;}
  }
</style>

<style type="text/css">


.big_colour_square_frame {border:1px solid lightgrey;padding-left:5px;padding-top:5px;width:35px;height:35px;margin:0; }

  .big_colour_square_frame:hover { border:1px dotted black;}
  .big_colour_square { width:30px;height:30px; cursor:pointer;}
  
  .text_label_for_colour { font:normal 1.2em "OS";padding:0; margin-top:5px; color:#000}

.colour_alert_box { position:absolute;width:250px;height:250px;border:1px dotted black;background-color:white; display:none;}
.colour_selector_box { text-align:center;margin:0;padding:0.25em; }

.palette { z-index:100;background-color:white;margin-top:0;padding-top:0; }

.small_solid_square_frame { opacity:0.8;text-align:center;display:inline-block;padding:3px;border:1px solid lightgrey;margin-left:5px;margin-right:5px;margin-top:6px;}
.small_solid_square_frame:hover { opacity:1; border:1px dotted black; cursor:pointer;}

.small_solid_colour_square { margin-bottom:0;padding-bottom:0;margin:0 auto;width:18px;height:18px;}

.colour_index_right, .colour_index_left {  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index:100; color:lightgrey; font:normal 6em "OS Light";}
  
  .colour_index_right, .colour_index_left {  }
  .colour_index_left:hover, .colour_index_right:hover  { cursor:pointer; color:black; }

.palette { display:none; position:relative; }
.palette_2 { display:block;}

</style>

<script type="text/template" id="colour_label_view">
  <div style="padding:0.5em;">
        
    <div class="colour_alert_box">
      <div class="colour_selector_box">
        <div class="big_colour_square_frame">
          <div class="big_colour_square" style="background-color:{{hex}};"></div>
        </div>
      </div>
      <span class="text_label_for_colour">{{hex}}</span>
    </div>
    <div style="border:1px solid transparent;">
        <div class="visible_colours big_colour_square_frame">
          <div class="big_colour_square" style="background-color:{{hex}};"></div>
        </div>
      
      <span class="text_label_for_colour">{{hex}}</span>
    </div>
  </div>
</script>

<script type="text/template" id="colour_grid">
<div>
  <table>
    <tr>
    <td>
      <div class="colour_index colour_index_left">&laquo;</div>
    </td>

    <td style="width:160px;"  class="colour_grid_container">
    
    </td>
    
    <td>
      <div class="colour_index colour_index_right">&raquo;</div>
    </td>
    </tr>
  </table>
</div>
</script>
<div id="product_page_genesis"><img src="/gfx/logo/genesis_collection.png" style="width:285px;"/></div>

<div id="product_page">

  <div id="product_section1">
    
<!-- 

  SLIDES 1 TO 3 

-->

      <div id="slide1" class="colour_1 slide_background"><img src="/products/<%= _id %>/attachments/medium-<%= attachments_order[0] %>" class="slide_image" /><% if ((typeof document["background_" + attachments_order[0]]) !== "undefined") {%><div class="slide_background_container">
      <%-  document["background_" + attachments_order[0]] %></div>
      <% } %></div>           
         
      <div id="slide2" class="colour_1 slide_background"><img src="/products/<%= _id %>/attachments/medium-<%= attachments_order[1] %>" class="slide_image" /><% if ((typeof  document["background_" + attachments_order[1]]) !== "undefined") {%><div class="slide_background_container">
      <%-  document["background_" + attachments_order[1]] %></div>
      <% } %></div>
        
      <div id="slide3" class="colour_1 slide_background"><img src="/products/<%= _id %>/attachments/medium-<%= attachments_order[2] %>" class="slide_image" /><% if ((typeof  document["background_" + attachments_order[2]]) !== "undefined") {%><div class="slide_background_container">
      <%-  document["background_" + attachments_order[2]] %></div>
      <% } %></div>
      
<!-- 

  PRODUCT NAME AND DESCRIPTION 

-->      
      
      <div id="slide4"><h1 class="product_name" style="text-align:center"><%= name %></h1>
        <div style="text-align:center;margin-bottom:1em"><img src="/gfx/ornamentalline.png" /></div>
      </div>
        
      <div id="slide5", style="width:374px;clear:both;">
      <p style="text-align:center;margin-top:1em;" class="shell">
    <img src="/gfx/shell.png" /></p>
    <h6 id="welcome_description">This simple, elegant collection is optionally adorned with a paper wrap and accompanying envelope, finished with a monogram bearing the names of you and your partner. A traditional, serif typeface emphasises the importance of your special day with authority and prestige.</h6></div>
  
<!-- 

  SLIDE 4 

-->    
      <div id="slide6" class="colour_1 slide_background"><img src="/products/<%= _id %>/attachments/medium-<%= attachments_order[3] %>" class="slide_image" /><% if ((typeof  document["background_" + attachments_order[3]]) !== "undefined") {%><div style="width:374px;height:239px;">
      <%-  document["background_" + attachments_order[3]]  %></div>
      <% } %></div>           
   </div>
      
<!-- 

  SPECIFICATIONS 

-->


<div id="product_section0">

  <div class="product_type spc"><img src="/gfx/product_types/small/name_place_small.png" style="width:130px;"></div>


<!-- 

  COLOURS 

-->

<div  class="spc" id="step_1">
    <div style="margin-bottom:0.5em;height:2em;">
  <div style="float:left"><h1>Choose your colour</h1></div>
  <div class="step colour_1">STEP 1</div>
  </div>

  <div class="chat-bubble">Choose from hundreds of colours! Click on the colour below to change it and the image will change so you can see exactly what your design will look like. 
  </div>


  <div id="colour_section_render">
  <table id="colour_table">
    <tr>
    
  </tr>
  </table>
  </div>
</div>

<!-- 

  TEXTURE 
  
-->

  <div class="spc" id="step_2">
    <div style="margin-bottom:0.5em;height:3em;">
      <div style="float:left"><h1>Card Texture</h1></div>
      <div class="step colour_1">STEP 2</div>
    </div> 
  
    <div class="chat-bubble">Click and highlight an icon to select the texture of your choice. Plain is the cheapest with its smooth plain finish, but hammered and linen both make your cards feel more luxurious. 
    </div>
    <div class="texture selectable" data-attribute="texture" data-value="plain"><img src="/gfx/icons/plaine.png"><p>Plain</p></div>
    <div class="texture selectable" data-attribute="texture" data-value="hammered"><img src="/gfx/icons/hammer.png"><p>Hammered</p></div>
    <div class="texture selectable" data-attribute="texture" data-value="linen"><img src="/gfx/icons/linen.png"><p>Linen</p></div>
  </div>

<!-- 

  WEIGHT 
  
-->
    
  <div class="spc"  id="step_3">
    <div style="margin-bottom:0.5em;height:2em;">
      <div style="float:left"><h1>Card Thickness</h1></div>
      <div class="step colour_1">STEP 3</div>
    </div> 
    <div class="chat-bubble">Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm). A normal sheet of A4 copy paper is usually about 80gsm.
    </div>
    <br/>
    <div class="weight selectable" data-attribute="weight" data-value="250">
       <div class="weight_line"></div>
       <p class="casamiento">250gsm</p>
    </div>
        
    <div class="weight selectable"  data-attribute="weight" data-value="300">
      <div class="weight_line" style="border-top:10px solid black;"></div>
      <p class="casamiento">300gsm</p>
    </div>
  </div>

<!-- 

  FORMAT 
  
-->

  <div class="spc"  id="step_4">
    <div style="margin-bottom:0.5em;height:2.5em;">
      <div style="float:left"><h1>Product Format</h1></div>
      <div class="step colour_1">STEP 4</div>
    </div> 
        
    <div style="margin:auto;text-align:center;">
      <div class="spec" style="width:100px"><img src="/gfx/specs/tent.png"></div>
    </div>
  </div>
  
<!-- 

  MONOGRAM 
  
-->

    <div class="spc"  id="step_5">
        <h1>Monogram shown</h1>
        
        <img id="mono_2" style="width:100%;max-width:300px;min-width:200px;" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
    </div>

<!-- 

  GUESTS 
  
 -->
    
    <div class="spc"  id="step_6">
      <div style="margin-bottom:0.5em;height:2.5em;">
        <div style="float:left">
          <h1><img src="/gfx/guests.png" style="width:30px"/> Guest names</h1>
        </div>
        <div class="step colour_1">STEP 6</div>
      </div> 
      <div class="chat-bubble">Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm). A normal sheet of A4 copy paper is usually about 80gsm.
      </div>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
    </div>
  </div>
   
</div>  

<script type="text/javascript">
// Setup and initialization
var thisProduct = new Product({
    id: "<%= _id %>",
    name: "<%= name %>", 
    monogram: <%= (monogram || "1") %>, 
    quantity: 10, 
    colour_1: "<%= colour_1 %>",
    colour_2: "<%= colour_2 ? colour_2 : "" %>",
    number_of_colours: <%= number_of_colours %>,
    price: <%= price %>, 
    guests: ["&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;","&hellip;"], 
    texture: "plain" 
});

var all_colours = <%- JSON.stringify(colours_ref) %>
var hex_colours = <%- JSON.stringify(hex_colours) %>

var colours = new Colours(<%- JSON.stringify(hex_colours) %>);

var colour_view = new ColourView({model:thisProduct, collection:colours, el: $('#colour_section_render')})
colour_view.render()


</script>