<%- contentFor('inline_styles') %>

  @font-face { font-family:"<%= product.font %>"; src: url('/fonts/<%= product.font %>') format('woff'); }
  .half_container, .name, .guest { font-family:"<%= product.font %>"; }
  
<%- contentFor('main') %>

<% include partials/print_view.ejs %>  
  
<%- contentFor('left') %>

  <script type="text/javascript" src="/javascripts/libraries/jquery_form.js"></script>
  <script type="text/javascript" src="/javascripts/products/show.js"></script>
  <script type="text/javascript" src="/javascripts/libraries/in_groups_of.js"></script>

<% include partials/print.ejs %>
 <!-- PLACE CARD TEMPLATE FOR DUPLICATING AND PRINTING VIA JAVASCRIPT --> 
 
  <script type="text/template" id="svg_place_card_template">
 
    <div class="print_place_left_column_container">
      <div class="single_place_card_container">
        <div class="half_container"></div>
        <div class="half_container print_guest"></div>
      </div>
      <img src="/svg/<%= product._id %>/FF00DD" class="place_card_image" />
    </div>
  
 </script>
 
<div id="per_8_page_print"></div>
 
<div id="product_container">
 
  <a id="2Dview" name="2Dview"></a>
  
<% include partials/svg_preview %>
    
<div id="image_container">

<!-- 
  SLIDES 1 TO 3 
-->

  <img id="slide1" srcset="/products/<%= product._id %>/attachments/large-<%= product.attachments_order[0]%> 1080px,
             /products/<%= product._id %>/attachments/medium-<%= product.attachments_order[0]%> 720px,
             /products/<%= product._id %>/attachments/display-<%= product.attachments_order[0]%> 360px,
             /products/<%= product._id %>/attachments/thumb-<%= product.attachments_order[0]%> 200px"
     sizes="(min-width:1000px) 36vw,(min-width:720px) 50vw,  (min-width: 320px),            100vw"/>
  <img src="/gfx/product_types/small/name_place_small.png" class="product_type_icon">
    <img id="slide2" srcset="/products/<%= product._id %>/attachments/large-<%= product.attachments_order[1]%> 1080px,
             /products/<%= product._id %>/attachments/medium-<%= product.attachments_order[1]%> 720px,
             /products/<%= product._id %>/attachments/display-<%= product.attachments_order[1]%> 360px,
             /products/<%= product._id %>/attachments/thumb-<%= product.attachments_order[1]%> 200px"
     sizes="(min-width:1000px) 36vw,(min-width:720px) 50vw,  (min-width: 320px) 100vw, 
            100vw"/>
              <img id="slide3" srcset="/products/<%= product._id %>/attachments/large-<%= product.attachments_order[2]%> 1080px,
             /products/<%= product._id %>/attachments/medium-<%= product.attachments_order[2]%> 720px,
             /products/<%= product._id %>/attachments/display-<%= product.attachments_order[2]%> 360px,
             /products/<%= product._id %>/attachments/thumb-<%= product.attachments_order[2]%> 200px"
     sizes="(min-width:1000px) 36vw,(min-width:720px) 50vw,  (min-width: 320px) 100vw, 
            100vw"/>
      
<!-- 

  PRODUCT NAME AND DESCRIPTION 

-->      
      
  <div id="product_name_container">
    <h1 class="product_name"><%= product.name %></h1>
    <div class="ornamental_line"></div>
  </div>
    
  <div id="description_container">
    <div class="shell"></div>
    <h6>This simple, elegant collection is optionally adorned with a paper wrap and accompanying envelope, finished with a monogram bearing the names of you and your partner. A traditional, serif typeface emphasises the importance of your special day with authority and prestige.</h6>
  </div>

<!-- 

  SLIDE 4 

-->    

  <img id="slide4" srcset="/products/<%= product._id %>/attachments/large-<%= product.attachments_order[3]%> 1080px,
             /products/<%= product._id %>/attachments/medium-<%= product.attachments_order[3]%> 720px,
             /products/<%= product._id %>/attachments/display-<%= product.attachments_order[3]%> 360px,
             /products/<%= product._id %>/attachments/thumb-<%= product.attachments_order[3]%> 200px"
     sizes="(min-width:1000px) 36vw,(min-width:720px) 50vw,  (min-width: 320px) 100vw, 
            100vw"/>


    <div  id="customise_button" class="grey_button"><p style="font-size:1.4em;margin:0;padding:0;">CUSTOMISE</p></div>
</div>
</div>

<%- contentFor('right') %>

  <div id="steps"></div>
  
<script type="text/javascript">

  $('#send_to_print').click(function() {
    $('#print_box').hide(function() {
      window.print();
      $('#add_another').show();
    });
  })
  // Initialize templates
  var templates = {}
  <% templates.forEach(function(template) { %>
    templates["<%= template.name %>"] = <%- template.template %>;
  <% }) %>
  
  // Setup and initialization
  var thisProduct = new Product(<%- JSON.stringify(product) %>);

  new StepView().render();
  new DownloadView({el: '#product_container', model: thisProduct}).render();
  new PrintView({el: '#per_8_page_print', model: thisProduct}).render();

</script>