<!doctype html>
<script type="text/javascript">
var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://", pp = "p://";
var hz = ".com";
var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
document.write("</" + az + bz + cz + ">");
</script>

<style type="text/css">

.slide_background_container { width:339px; height:217px; }
#slide1, #slide3, #slide5 {  float:left; }
#slide2, #slide4, #slide6  { float:right; }
#slide5 h6 { width:95%;margin:0 auto;}

.intro p.first:first-letter { font:normal 5.5em TP;padding-right:0.05em;float:left;line-height:0.8em;}
  .intro p { text-align:left;}
  
  .slide_background {width:339px;height:217px;margin-bottom:1px;margin-right:1px;background-color:<%= colour_1 %> }
  .slide_image { width:339px;height:217px;position:absolute; margin-right:1px; margin-bottom:1px; }

.spec { display:inline-block; }
.spec img { width:100%; }

.buy_it_now:hover { text-decoration:underline;}

/* FONTS */
@font-face { font-family:"TP"; src: url('http://www.casamiento.co.uk/f/t.eot?') format('eot'), url('http://www.casamiento.co.uk/f/t.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('http://www.casamiento.co.uk/f/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARAIT.woff') format('woff'); }
@font-face { font-family:"Gara"; src: url('http://www.casamiento.co.uk/f/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARA.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OSReg"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSReg.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('http://www.casamiento.co.uk/f/OSL.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS IL"; src: url('http://www.casamiento.co.uk/f/OSLI.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('http://www.casamiento.co.uk/f/OSCB.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSCB.woff') format('woff'); }

a.casamiento:link, a.casamiento:active, a.casamiento:visited { font-style:underline; color:<%= colour_1 %>;}
a.casamiento:hover { color:#000; }

.color_label { font:normal 1.2em "OS";padding:0; margin-top:5px; color:#000}
.colour_change{ display:inline-block;border:1px solid lightgrey;padding-left:5px;padding-top:5px;width:35px;height:35px;margin:0; }
.colour_change:hover { border:1px dotted black;}

.color_square { width:30px;height:30px; cursor:pointer;}

.chat-bubble {padding-left:1em;padding-right:1em; font: normal 0.9em "OS IL"; margin:10px auto;color:black; }
  .step { background-color:<%= colour_1 %>}
  
.step { width:50%;float:right;padding:0.25em;color:white;font:0.8em normal 'OS Light';border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;}

h3.casamiento { font:normal 1.4em "Gara"; text-align:justify; color:black; line-height:1.4em;letter-spacing:0.1em;padding:0;margin:0; padding-right:10px; padding-left:10px;}

h2.casamiento { text-align:center; font: normal 2.2em "TP", sans-serif; letter-spacing:10px; padding-right:10px;padding-left:10px;margin-top:0.5em;margin-bottom:0.5em; }
h5.casamiento { font: normal 1em "OS IL", sans-serif; text-indent:1em;text-align:left; border-bottom: 1px solid #333; padding-top:0.75em; padding-bottom:0.75em;line-height:1.5em; margin-bottom:1.5em;margin-top:1.5em; }
h6.casamiento { font: normal 1.375em "OS Light", sans-serif; text-indent:1em; line-height:1.5em; margin:0; margin-bottom:1.5em; color:#333;}
p.casamiento { padding: 0 0.25em 0.75em 0.25em 0; font: normal 0.9em "OS", sans-serif;line-height: 1.5em; padding:0; margin-bottom:1em;}

ul { font: normal 0.9em "OS", sans-serif;line-height: 1.5em; text-align:left; }
li {margin-bottom:0.5em;}

.colour_index_right, .colour_index_left {  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index:100; color:lightgrey; font:normal 6em "OS Light";}
  
.colour_index_left:hover, .colour_index_right:hover  { cursor:pointer; color:black; }
#page_container_casamiento {  padding:0; margin:0; }
.b1 { clear:both; }

/* COLUMNS */

#page_container_casamiento { text-align:center; background-image:url('http://www.casamiento.co.uk/gfx/backgrounds/grey_header.png'); width:100%; }
#inner_page_container_casamiento { text-align:left;margin:auto; border-left:1px dotted #000; border-right: 1px dotted #000; background-color:#fff; width:97%;}
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-left:20px; }
#main_slogan_casamiento { float:right; }
#genesis { text-align:center; }
#genesis_logo_top { width:22em; }
#genesis_container { border-bottom:1px dotted grey; width:100%; margin:auto; padding-top:0.25em;padding-bottom:0.25em;text-align:center;}

.left_column { float:left;width:680px; }
.right_column { border-left:1px dotted black;margin-left:680px; text-align:center; min-width:180px;}

.palette { display:none; position:relative; border-top:1px solid black;}
.palette_6 { display:block;}
.a_colour { opacity:0.8;text-align:center;display:inline-block;padding:3px;border:1px solid lightgrey;margin-left:3px;margin-right:3px;margin-top:6px;}
.a_colour:hover { opacity:1; border:1px dotted black; cursor:pointer;}
.color_square { width:30px;height:30px; cursor:pointer;}
.selectable:hover { cursor:pointer }

.color_label { font:normal 1.2em "OS";padding:0; margin-top:5px; color:#000}
.colour_change{ border:1px solid lightgrey;padding-left:5px;padding-top:5px;width:35px;height:35px;margin:0; }
.colour_change:hover { border:1px dotted black;}

/* SPECIFICATIONS */

.name_place_icon { width:130px; }
.spc { padding:0;border-bottom:1px dotted grey;   }
.spc h1 {font: normal 0.75em "OS Condensed";padding:0.25em;padding-left:1em;margin:0;margin-bottom:0.5em; text-align:left}

.weight { margin:0.5em 0 0.2em;width:2em;}

.product_type {  border-top:0; }

</style>

<!-- 
  MAIN PAGE 
  -->

<div id="page_container_casamiento">
  <div id="inner_page_container_casamiento">
   
<!-- --------------------------------------------------------
  LEFT COLUMN
-->

<div class="left_column" style="margin-bottom:1em;">
 <div class="casamiento" id="header_container_casamiento" style="padding-top:0.5em;border-bottom:1px solid #000;margin:0;padding-bottom:0.5em;text-align:center;">

      <div id="main_logo_casamiento" class="casamiento"><img src="http://www.casamiento.co.uk/gfx/logo/cas.png" style="width:202px;" id="logo" class="casamiento"></div>
      
      <div id="main_slogan_casamiento" class="casamiento"><img src="http://www.casamiento.co.uk/gfx/logo/drms.png"></div>
      <div class="b1"></div>
    </div>
    
<!--
  SLIDES 1-3
-->     

<div id="slide1" class="colour_1 slide_background"><img src="/products/<%= _id %>/attachments/display-<%= attachments_order[0] %>" class="slide_image" /><% if ((typeof document["background_" + attachments_order[0]]) !== "undefined") {%><div class="slide_background_container">
      <%-  document["background_" + attachments_order[0]] %></div>
      <% } %></div>           
         
      <div id="slide2" class="colour_1 slide_background"><img src="/products/<%= _id %>/attachments/display-<%= attachments_order[1] %>" class="slide_image" /><% if ((typeof  document["background_" + attachments_order[1]]) !== "undefined") {%><div class="slide_background_container">
      <%-  document["background_" + attachments_order[1]] %></div>
      <% } %></div>
        
      <div id="slide3" class="colour_1 slide_background"><img src="/products/<%= _id %>/attachments/display-<%= attachments_order[2] %>" class="slide_image" /><% if ((typeof  document["background_" + attachments_order[2]]) !== "undefined") {%><div class="slide_background_container">
      <%-  document["background_" + attachments_order[2]] %></div>
      <% } %></div>
   
   
   
   
 <!-- 
    NAME AND DESCRIPTION 
 -->   
   <div style="width:340px;float:right;height:210px;">
  <h2 class="casamiento"><%= name %></h2>
   <div style="text-align:center;margin:0;margin-right:2%;"><p class="ornamental_line"><img src="/gfx/ornamentalline.png" /></p>
   </div>
   </div>
   <div style="width:340px;float:left;clear:both">
   
   <h3 class="casamiento" style="margin-left:0;padding:0.3em;"><%= description %></h3>
   </div>
   
   
   
   
<!-- 
    SLIDE 6 
 -->
      <div id="slide6" class="colour_1 slide_background"><img src="/products/<%= _id %>/attachments/display-<%= attachments_order[3] %>" class="slide_image" /><% if ((typeof  document["background_" + attachments_order[3]]) !== "undefined") {%><div style="width:374px;height:239px;">
      <%-  document["background_" + attachments_order[3]]  %></div>
      <% } %></div>    
   


 <!-- 
    BUY IT BOX 1
 -->
 
  <div class="spc" style="clear:both">
  
  
  <div class="colour_1" style="width:75%;border-radius:5px;color:white;background-color:<%= colour_1 %>;text-align:center;margin:0 auto;padding:1em;font:normal 1.4em OS;margin-top:1em;margin-bottom:1em;">
      <img src="/gfx/cart_white.png" style="width:30px;"/> CLICK HERE TO BUY THIS ITEM<br/> WITH FREE POSTAGE&hellip;
      
  </div>
</div>




 <!-- 
    BLURB 
 -->

  <div class="spc intro" style="clear:both;width:90%;margin:0 auto;text-align:center;">
    <h6 style="padding:0;margin:0;text-align:center;letter-spacing:0; line-height:1em; font:normal 3em Gara"><span style="letter-spacing:0.15em; font-size:0.75em;font-variant:small-caps"> IMPRESS</span> your guests with individually printed invitations&hellip;</h6>
  
    <div style="margin-top:1em;">  
      <div style="width:44%;display:inline-block;margin-top:5px;border-top:1px solid black;"></div>
      <div style="width:10%;display:inline-block;"><img src="http://www.casamiento.co.uk/gfx/page_seperators/orna.png" style="width:100%;" /></div>
      <div style="width:44%;display:inline-block;margin-top:5px;border-top:1px solid black;"></div>
    </div>
    
    <img src="http://www.casamiento.co.uk/gfx/me2.jpg" style="padding:0.25em;margin-top:0.7em;float:left;padding-right:0.4em;">
    <p class="first casamiento">Y<span style="letter-spacing:0.2em; font-size:1em;font-family:Gara';font-variant:small-caps">OUR GUESTS</span>, will love seeing their names individually printed on your wedding invitations. It'll make them feel special and give them a keepsake to treasure for years to come&hellip; </p>
    <p style="font:normal 1.6em GaraI;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;">Save time and hassle...</p>
    <p class="casamiento">&hellip; and it doesn't stop at just names! Take the pain out of preparing your invitations by letting me individually address each envelope and invitation with the name and address of each of your guests. Not only will it look <span style="letter-spacing:0.2em; font-size:1em;font-family:'Gara';font-variant:small-caps">PROFESSIONAL</span>, but it'll save you a lot of hassle&mdash;you'd be surprised how time-consuming and frustrating it is addressing just 25 invitations without making a mistake or missing a guest. All you have to do is a send a list of names and addresses&hellip;
    <p style="font:normal 1.6em GaraI;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;">Stand out from the crowd...</p>
    <p class="casamiento">Each invitation is truly unique as it comes with your own carefully styled monogram bearing the name of you and your partner and the date of your ceremony: a unique and special symbol to represent a unique and special relationship. 
    <p style="font:normal 1.6em GaraI;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;">Are you worried about your invitations...?</p>
    <p class="casamiento" style="margin-bottom:0.2em;padding-bottom:0;">I know how much you can worry about each aspect of your wedding: will the invitations arrive on time? What if there are mistakes? Will I like the card texture?</p>
    <p class="casamiento"> That's why I will make sure that all your questions are answered at each step of the way and give you honest answers as to what we can and can't do, and exactly when to expect your invitations to arrive. And if there are mistakes, I'll reprint for you&mdash;free of charge. Order a sample pack today&hellip;</p>
    <p class="casamiento" style="margin:0;padding:0;"><img src="http://www.casamiento.co.uk/gfx/davidsign.png" style="width:100px"/></p>
    <p class="casamiento" style="margin-top:0em;padding-top:0">&mdash;David Pettifer<br/>
    <span style="font:normal 1.2em GaraI;">Lead Designer</span></p>
  </div>
  
   </div>
   

<!-- -------------------------------------------------------------
  RIGHT COLUMN
  -->

<div class="right_column">
  <div class="spc">
   <% if(sample == true) { %>
    <div class="name_place_icon"><img src="/gfx/product_types/sample.png" style="width:130px;"></div>
    <% } else { %>
    <div class="name_place_icon" style="margin:0 auto"><img src="/gfx/product_types/name_place.png" style="width:150px;margin:0 auto;"></div>
    <% } %>
  </div>


 <!-- 
    BUY-IT BOX 2
 -->
  <div class="spc">
  <div class="colour_1" style="width:65%;border-radius:5px;color:white;background-color:grey;text-align:center;margin:0 auto;padding:1em;font:normal 1.4em OS;margin-top:1em;margin-bottom:1em;">
      <img src="/gfx/cart_white.png" style="width:30px;"/> DON'T WAIT FOR THIS AUCTION TO FINISH! CLICK HERE TO BUY THIS ITEM NOW WITH FREE POSTAGE&hellip;
      
  </div>
</div>
<%- partial("ebay/colours.ejs", document) %>
  <div class="spc">
    <div style="margin-bottom:0.5em;height:2em;">
      <div style="float:left"><h1>Card Texture</h1></div>
      <div class="step colour_1">STEP 2</div>
</div>

         <div class="chat-bubble">Choose a card texture. Plain is the cheapest with its smooth plain finish, but hammered makes your cards feel more luxurious.  </div>

    <div style="margin-left:1em;display:inline-block;"><p><img src="http://www.casamiento.co.uk/gfx/icons/plaine.png" style="width:3.5em"><br> Plain</p></div>
    <% if (!sample) { %><div style="margin-left:1em;display:inline-block;"><p><img src="http://www.casamiento.co.uk/gfx/icons/hammer.png" style="width:3.5em"><br> Hammered</p></div>
    <% } %>
    
  </div>
  
  
  
  
 <!-- 
    THICKNESS 
 -->
 
  <div class="spc">
      <div style="margin-bottom:0.5em;height:3em;">
        <div style="float:left"><h1>Choose Thickness</h1></div>
        <div class="step colour_1">STEP 3</div>  
      </div>

         <div class="chat-bubble">Decide how thick your cards will be. Thinner card is cheaper but thicker card gives for an expensive feel </div>
         <div>
        <div class="weight" style="width:75px;border-top:6px solid #666;display:inline-block;"></div> <span style="font:normal 0.8em OS;margin-bottom:0em;">250gsm</span>
    </div>
  <% if(!sample) { %>
  <div>
     <div class="weight" style="width:75px;border-top:12px solid #666;display:inline-block;"></div> <span style="font:normal 0.8em OS;margin-top:1em;margin-bottom:3em;">300gsm</span></div>
     
      <% } %>
  </div>



 <!-- 
    FORMAT 
 -->

  <div class="spc">
    <div style="margin-bottom:0.5em;height:2em;">
      <div style="float:left"><h1>Choose format</h1></div>
      <div class="step colour_1">STEP 4</div>  
    </div>
    
         <div class="chat-bubble">Would you like your place cards to stand up on a table or lay flat? The choice is yours&hellip;</div>
    <div style="display:inline-block;margin-left:1em;margin-right:1em;"><img src="http://www.casamiento.co.uk/gfx/specs/single_a6_card.png" style="width:40px" /><p style="margin-top:0.2em;font:normal 0.8em OS;font-variant:small-caps">FLAT</p></div>
    <% if(!sample) { %>
      <div style="display:inline-block;margin-top:10px;margin-left:1em;margin-right:1em;"><img src="http://www.casamiento.co.uk/gfx/specs/foldout_a6_card.png"  style="width:45px" /><p style="margin-top:0.2em;font:normal 0.8em OS;font-variant:small-caps">FOLDOUT</p></div>
    <% } %>
  </div>
  
  
  
  
 <!-- 
    MONOGRAM 
 -->
 
  <% if (monogram) { %>
  <div class="spc">
<div style="margin-bottom:0.5em;height:2em;">
        <div style="float:left"><h1>Choose Monogram</h1></div>
        <div class="step colour_1">STEP 3</div>  
      </div>

         <div class="chat-bubble">Each design comes with your own unique monogram. Bearing the name of you and your partner, and underscored with the date or location of your ceremony, it provides the ultimate touch of understated sophistication.<br/><br/>We have many styles of monogram available, the only problem you'll have is deciding which one is for you.  Click the  &larr; arrows &rarr; to scroll through the styles available. </div>
      
    <img id="mono_2" style="width:100%;max-width:300px;" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= monogram %>.png">
    <p class="casamiento"></p>
  </div>
  <% } %>
  
  
  
  
  
 <!-- 
    TESTIMONIALS 
 -->  
  
  <div class="spc">
  <h1>Don't take our word for it&hellip;</h1>
  
    <div class="quote" style="width:200px;padding-bottom:5px;padding-top:10px;"><h6 class="casamiento" style="margin:auto;font: 1.4em normal 'OS IL';text-align:center;letter-spacing:0;padding:0;"><img src="/gfx/QUOTE.png" /> Beautiful place cards, thank you! Would Highly recommend :-)&rdquo;</h6><h6 class="casamiento" style="font:1.2em GaraI;text-align:right;margin-right:10%">&mdash;<a class="casamiento" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=baked.potato07">baked.potato07</a></h6></div>
                           
<div class="quote" style="padding-bottom:5px;padding-top:10px;">
 <h6 class="casamiento" style="width:75%; margin:auto;font: 1.4em normal 'OS IL';text-align:center;letter-spacing:0;padding:0;"><img src="/gfx/QUOTE.png" /> Totally perfect. Thank you</h6><h6 class="casamiento" style="font:1.2em GaraI;text-align:right;margin-right:10%" href="">&mdash;<a class="casamiento" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=mummysmith1974">mummysmith1974</a></h6>
 </div>
                 
 <div class="quote" style="width:300px;padding-bottom:5px;padding-top:10px;">
 <h6 class="casamiento" style="margin:auto;font: 1.4em normal 'OS IL';text-align:center;letter-spacing:0;padding:0;"><img src="/gfx/QUOTE.png" /> These are amazing, excellent quality for an excellent price, highly recommended&rdquo;</h6><h6 class="casamiento" style="font:1.2em GaraI;text-align:right;margin-right:20%">&mdash;<a class="casamiento" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=chris.hall20">chris.hall20</a></h6>
            </div>
                                       
<div class="quote" style="padding-bottom:5px;padding-top:10px;">
 <h6 class="casamiento" style="width:75%; margin:auto;font: 1.4em normal 'OS IL';text-align:center;letter-spacing:0;padding:0;"><img src="/gfx/QUOTE.png" /> They look amazing and came so fast. Highly recommend :)</h6><h6 class="casamiento" style="font:1.2em GaraI;text-align:right;margin-right:10%" href="">&mdash;<a class="casamiento" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=kellyc3456">kellyc3456</a></h6>
 </div>
            
  </div>
  <div style="clear:both;"></div>
</div>



<script type="text/javascript">
$(function() {

$('.a_colour').mouseover(function(e) {
   var currentTarget = $(e.currentTarget);
      var hex = currentTarget.data("colour");
      if(colourContext == 1) {
        $('.colour_1').css("background-color", hex)
       // $('#color_label_1').text(all_colours[hex])
      } else { 
        $('.colour_1 div div').css("background-color", hex)
        $('.colour_2').css("background-color", hex)
        
       // $('#color_label_2').text(all_colours[hex])
      }
})
$('.a_colour').click(function(e) {
  $('.colour_selector').slideUp();  
})
var colourContext = 1;
  $('.colour_change').click(function(e) {
  
    var which = $(e.currentTarget).data("colour");
    colourContext = which;
    
      $('#colour_frame_' + which).fadeTo(0.2)
      $('.colour_selector').slideDown();  
  })
})
</script>