<div class="spc">
  <div style="margin-bottom:0.5em;height:2em;">
    <div style="float:left"><h1>Choose your colour</h1></div>
    <div class="step colour_1">STEP 1</div>
  </div>

  <div class="chat-bubble">Choose from hundreds of colours! Click on the colour below to change it and the image will change so you can see exactly what your design will look like. 
  </div>

  <div id="colours-shown" style="margin-top:1em;">
     
<!--
    COLOUR LABELS
-->

    <table>
      <tr>
        <% for(var i = 1; i < (number_of_colours + 1);  i++) { %>
          <td style="vertical-align:top;width:49%">
            <div id="colour_selector_<%= i %>" style="text-align:center;margin:0;padding:0;">
              <div class="colour_frame_<%= i %> colour_change" data-colour="<%= i %>">
                <div class="colour_<%= i %> color_square" style="background-color:<%= document["colour_" + i] %>;">
                </div>
              </div>
          
              <span id="color_label_<%= i %>" class="color_label"><%= colours_ref[document["colour_" + i]] %></span>
            </div>
          </td>
        <% } %>
      </tr>
    </table>
    
<!--
  COLOUR SELECTOR
  -->
    
  <div class="colour_selector" style="display:none">
    
   <% var counter = 0 %>
    <% hex_colours.forEach(function(page) { %>
    <div class="palette palette_<%= counter %>" style="z-index:100;background-color:white;margin-top:0;padding-top:0;">
<table><tr><td>
<% if (hex_colours[counter - 1]) { %>
<div class="colour_index colour_index_left" data-colour="palette_<%= 
counter -1 %>">&laquo;</div>
</td>

<% } %>
<td>
        <% page.forEach(function(colour) { %>
        <div class="a_colour" data-colour="<%= colour %>">
       <div style="background-color:<%= colour %>;margin-bottom:0;padding-bottom:0;margin:0 auto;width:18px;height:18px;"></div>
       </div>
        <% }) %>
        <td>
        
<% if (hex_colours[counter + 1]) { %>
<div class="colour_index colour_index_right" data-colour="palette_<%= 
counter + 1%>">&raquo;</div>
 <% } %></td></tr></table>

        </div>
        <% counter = counter + 1 %>
    <% }) %>
  </div>
    </div>
  </div>