<!doctype html>
<meta name="viewport" content="initial-scale=1,width=device-width">
<script type="text/javascript">
var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://", pp = "p://";
var hz = ".com";
var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
document.write("</" + az + bz + cz + ">");
</script>

<% var counter  = 0 %>
<style type="text/css">
	
.tabbed_area { margin:0px;padding:0px;padding:8px; }
ul.tabs { margin:0px; padding:0px; margin-top:5px; margin-bottom:7px; }
ul.tabs li { margin:0px;padding:0px; list-style:none; display:inline; } 
ul.tabs li a { color:#000; margin:0px; padding:0px; padding:7px 14px 7px 14px; font:normal 1.1em "OS IL"; text-decoration:none; border: 1px solid lightgrey; border-top-left-radius: 6px; border-bottom: 1px solid #000; border-top-right-radius: 6px; }
ul.tabs li a:hover { border-color:#000; } 

ul.tabs li a.active { border:1px solid #000; font-weight:bold; border-bottom:1px solid white; } 

.colours_content, .monograms_content { margin:0;padding:0;background-color:#fff; padding:10px;border:1px solid #000; } 

#monograms_template, #colours_template, .colours_content { display:none;}
/* COLOURS */
.a_colour {  float:left;}
.colsqr { width:3em;height:3em;}
.colsqr img { width:100%;}
.colour_square { margin-top:0.5em;border-radius:0.5em; }
.colour_container { float:left;width:12.4%; }
.colour_label { font-family:'OS Light';font-weight:300;font-size:0.8em;line-height:1em;margin-top:0.25em;}
.monograms_content img { float:left;padding:0.5em 0 0.5em 0; width:14em;}

a.casamiento:link, a.casamiento:active, a.casamiento:visited { font-style:underline; }
a.casamiento:hover { color:#000; }

/* FONTS */

@font-face { font-family:"TP"; src: url('http://www.casamiento.co.uk/f/t.eot?') format('eot'), url('http://www.casamiento.co.uk/f/t.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('http://www.casamiento.co.uk/f/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARAIT.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('http://www.casamiento.co.uk/f/OSL.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS IL"; src: url('http://www.casamiento.co.uk/f/OSLI.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('http://www.casamiento.co.uk/f/OSCB.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSCB.woff') format('woff'); }

h2.casamiento { text-align:center; font: normal 2.5em "TP", sans-serif; letter-spacing:10px; padding-right:10px;padding-left:10px;margin-top:0.5em;margin-bottom:0.5em; }
h5.casamiento { font: normal 1em "OS IL", serif; text-indent:1em;text-align:left; border-bottom: 1px solid #333; padding-top:0.75em; padding-bottom:0.75em;line-height:1.5em; margin-bottom:1.5em;margin-top:1.5em; }
h6.casamiento { font: normal 1.375em "OS Light", serif; text-indent:1em; line-height:1.5em; margin:0; margin-bottom:1.5em; color:#333;}
p.casamiento { padding: 0 0.25em 0.75em 0.25em 0; font: normal 0.9em "OS", serif;line-height: 1.5em; padding:0; margin-bottom:1.5em;}

#page_container_casamiento {  padding:0; margin:0; }
.line { clear:both; border-top:1px solid #000;}
.b1 { clear:both; }
.a_colour { font: normal 1em "GaraI"; text-align:center; margin:1em;}

/* COLUMNS */

#page_container_casamiento { text-align:center; background-image:url('http://www.casamiento.co.uk/gfx/backgrounds/grey_header.png'); width:100%; }
#inner_page_container_casamiento { text-align:left;margin:auto; border-left:1px dotted #000; border-right: 1px dotted #000; background-color:#fff; width:90%;}
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-left:20px; }
#main_slogan_casamiento { float:right; }
#genesis { text-align:center; }
#genesis_logo_top { width:22em; }
#genesis_container { border-top:1px dotted grey; border-bottom:1px solid grey; width:100%; margin:auto; padding-top:0.25em;padding-bottom:0.25em;text-align:center;}

/* IMAGES */

.subimg { float:left;width:49.5%; }
.subimg img { width:100%; }
.actual_side_images_1 { width:30%;float:left; }
.slides_container_1 { float:right;width:68%; }

.actual_side_images_2 { width:30%;float:right; }
.slides_container_2 { float:left;width:68%; }

/* SPECIFICATIONS */

.name_place_icon { width:130px; margin:auto; }
.spc { border-bottom:1px dotted grey; border-right:1px dotted grey; padding:0.5em; }
.spc h1 {font: normal 0.75em "OS Condensed"; margin:0;margin-bottom:0.5em; text-align:left}
.spc p { font-family: "OS"; font-size:0.8em; padding:0; margin:0em; line-height:1em; }

.weight { margin:0.5em 0 0.2em;width:2em;}

.quantity_sold p { font: normal 2em "OS"; }
.product_type {  border-top:0; }

</style>
<!-- MAIN PAGE -->

<div id="page_container_casamiento">
	<div id="inner_page_container_casamiento">
		<div class="casamiento" id="header_container_casamiento" style="padding-top:0.5em;border-bottom:1px solid #000;margin:0;padding-bottom:0.5em;">
			<div id="main_logo_casamiento" class="casamiento"><img src="http://www.casamiento.co.uk/gfx/logo/cas.png" style="width:202px;" id="logo" class="casamiento"></div>
			<div id="main_slogan_casamiento" class="casamiento"><img src="http://www.casamiento.co.uk/gfx/logo/drms.png"></div>
			<div class="b1"></div>
		</div>
		
<!-- INTRO -->
<div style="width:30%;margin-top:1.2em;margin-left:2%;margin-right:2%;float:left">
	<p class="casamiento" style="font:normal 2.8em GaraI;padding-bottom:0.25em;margin-top:0;margin-bottom:0;">Impress your guests with personalised place cards</p>
	<p class="casamiento">Your guests will love seeing their names individually printed on these elegant freestanding place cards. <img src="/gfx/arrow.png" /> </p>
</div>

<div style="width:30%;margin-top:1.2em;margin-left:2%;margin-right:2%;float:left">
	<p class="casamiento">And because you choose the colours, card texture and theme, you can co-ordinate them completely with your event so everything matches perfectly.</p>
	<p style="font:normal 1.4em GaraI">Save time and stress</p>
	<p class="casamiento">
	They'll also save you time and stress: just decide on your options, send us a list of names, and within five working days you'll have a little parcel dropping through your letterbox&hellip; 
</p></div>

<div style="width:31%;margin-top:1.2em;float:left;">
	<p class="casamiento">&hellip;no scoring card, no wonky edges, no smeared ink, just perfect little cards ready to sit on your tables. </p><p style="font:normal 1.4em GaraI">Free monogram</p><p class="casamiento">
For a limited time only, we will create a monogram for your place cards completely free of charge&mdash;perfect for weddings or christenings&mdash;or alternatively we can print your company logo. 
</p>
</div>

<div id="genesis_container" style="clear:both; border-top:1px dotted #000;margin-top:1em;" class="casamiento"><img id="genesis_logo_top" class="casamiento" alt="Genesis_footer2" src="http://www.casamiento.co.uk/gfx/logo_branding/genesis_collection.png"></div>



<% documents.forEach(function(place) { %>
<% counter++ %>
<% if (counter == 3) { counter = 1; } %>

<!-- SPECIFICATIONS -->
<div class="actual_side_images_<%= counter %>" style="clear:both;text-align:center">

<!-- SPECIFICATIONS -->
	<div class="product_type spc">
		<div class="name_place_icon"><img src="http://www.casamiento.co.uk/gfx/product_types/small/name_place_small.png" style="width:100%;"></div>
	</div>

	<div class="spc">
		<h1>Card Texture</h1>

		<div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/linen.png" style="width:2.5em"><br>Linen</p></div> 
		<div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/hammer.png" style="width:2.5em"><br> Hammered</p></div>
		<div style="clear:both"></div>
	</div>

	<div class="spc">
		<h1>Thickness</h1>
		
		<div style="width:60%;margin:auto">
			<div class="weight" style="border-top:2px solid #666;"></div>
			<p>300gsm</p>
			<div class="weight" style="border-top:4px solid #666;"></div>
			<p>250gsm</p>
		</div>
	</div>

	<div class="spc">
		<h1>Product format</h1>
		<div style="margin:auto;text-align:center;"><img src="http://www.casamiento.co.uk/gfx/specs/tent.png"></div>
	</div>
	
	<div class="spc quantity_sold">
		<h1>Quantity</h1>
		<p>25</p>
	</div>
	
	<div class="spc">
		<h1>Monogram shown</h1>
		<img id="mono_2" style="width:100%" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= place.monogram %>.png">
	</div>
		
	<div class="spc"><h1>Colours shown</h1>
		<div id="colours-shown" style="margin-top:1em;float:left;">
		
		<% place.colours.forEach(function(colour) { %>
			<div style="float:left">
				<div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
				<p class="casamiento" style="margin-left:1em;text-indent:0;font-family:GaraI;padding:0; margin-top:5px;"><%= colour %></p>
			</div>
		<% }) %>  
		
		</div>
		<div style="clear:both"></div>
	</div>
</div>
	
<!-- MAIN SLIDE -->
<div class="slides_container_<%= counter %>" style="margin-bottom:1em;">
	<h2 class="casamiento"><%= place.name %></h2>
	<img class="casamiento" style="width:100%" src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/medium-<%= place.attachments_order[0] %>.jpg">
	<div class="subimg">
		<img class="casamiento" src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/display-<%= place.attachments_order[1] %>.jpg">
	</div>
	<div class="subimg" style="float:right;">
		<img class="casamiento" src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/display-<%= place.attachments_order[2] %>.jpg">
	</div>
</div>

<div class="line"></div>

<% }) %>


<!-- TABBED AREA -->
<div class="tabbed_area"> 
	<ul class="tabs"> 
		<li><a href="" class="a_tab" id="1_colours">All colours</a></li> 
		<li><a href="" class="a_tab active" id="1_monograms">All monograms</a></li> 
	</ul> 

	<div id="1_content_colours" class="colours_content">&nbsp;
	<!-- colour labels -->
	<div style="width:20%;float:left;">
		<div style="border-bottom:1px dotted #000;text-align:center;"><p class="casamiento pinks">PINKS</p></div>
		<div style="border-bottom:1px dotted #000;text-align:center;"><p class="casamiento greens">GREENS</p></div>
		<div style="border-bottom:1px dotted #000;text-align:center;"><p class="casamiento blues">BLUES</p></div>
	</div>
	
	<!-- colour palette -->
	<div class="palette palette_pinks">
		<div class="a_colour">
			<div class="colsqr" style="background-color:#FFC0CB;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			Pink
		</div>
		<div class="a_colour">
			<div class="colsqr" style="background-color:#FFB6C1;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			MediumPink
		</div>
		<div class="a_colour">
			<div class="colsqr" style="background-color:#FF69B4;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			HotPink
		</div>
		<div class="a_colour">
			<div class="colsqr" style="background-color:#FF1493;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			SoftPink
		</div>
	</div>
	<!-- colour palette -->
	<div style="display:none;" class="palette palette_blues">
		<div class="a_colour">
			<div class="colsqr" style="background-color:#98FB98;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			PaleGreen
		</div>
		<div class="a_colour">
			<div class="colsqr" style="background-color:#ADFF2F;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			GreenYellow
		</div>
		<div class="a_colour">
			<div class="colsqr" style="background-color:#7FFF00;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			Chartreuse
		</div>
		<div class="a_colour">
			<div class="colsqr" style="background-color:#7CFC00;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			LawnGreen
		</div>
		
		<div class="a_colour">
			<div class="colsqr" style="background-color:#00FF00;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			Lime
		</div>
		<div class="a_colour">
			<div class="colsqr" style="background-color:#00FF7F;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div>
			SpringGreen
		</div>
	</div>
	<div class="b1"></div></div> 
	<div id="1_content_monograms" class="monograms_content">&nbsp;
	<img src="http://www.casamiento.co.uk/gfx/m/5.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/6.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/7.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/8.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/2.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/1.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/3.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/4.png" />
	<div class="b1"></div></div> 
</div> 
</div></div>

<script type="text/javascript">

$('.tabs li a').click(function(e) {
	e.preventDefault();
	var id= $(this).attr('id'), array = id.split('_');
	var id = array[0], context = array[1]
	var current_tab = $('#' + id + "_content_" + context)
	
	if(context == "monograms") {
		$('#' + id + '_colours').attr('class', 'a_tab')
		$('#' + id + '_monograms').attr('class', 'active')
		$('#' + id + '_content_colours').hide();
	} else {
		$('#' + id + '_colours').attr('class', 'active')
		$('#' + id + '_monograms').attr('class', 'a_tab')
		$('#' + id + '_content_monograms').hide();
	}
	
	current_tab.show();

	if(context == "colours") {
		$('.blues', current_tab).click(function(e) {
			$('.palette', current_tab).hide();
			$('.palette_blues', current_tab).show();
		})
		$('.pinks', current_tab).click(function(e) {

			$('.palette', current_tab).hide();
			$('.palette_pinks', current_tab).show();
		})
	}	
})
</script>