<!doctype html>
<meta name="viewport" content="initial-scale=1,width=device-width">
<script type="text/javascript">
var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://", pp = "p://";
var hz = ".com";
var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
document.write("</" + az + bz + cz + ">");
</script>

<% var counter  = 0 %>
<style type="text/css">
	
.tabbed_area { margin:0px;padding:0px;padding:8px; }
ul.tabs { margin:0px; padding:0px; margin-top:5px; margin-bottom:7px; }
ul.tabs li { margin:0px;padding:0px; list-style:none; display:inline; } 
ul.tabs li a { color:#000; margin:0px; padding:0px; padding:7px 14px 7px 14px; font:normal 1.1em "OS IL"; text-decoration:none; border: 1px solid lightgrey; border-top-left-radius: 6px; border-bottom: 1px solid #000; border-top-right-radius: 6px; }
ul.tabs li a:hover { border-color:#000; } 

ul.tabs li a.active { border:1px solid #000; font-weight:bold; border-bottom:1px solid white; } 

.colours_content, .monograms_content { margin:0;padding:0;background-color:#fff; padding:10px;border:1px solid #000; } 

.colours_content { display:none;}
/* COLOURS */
.a_colour {  float:left;}
.colsqr { width:2.9em;height:2.9em;}
.colsqr img { width:100%; padding:0;border:0;}
.monograms_content { text-align:center; }
.monograms_content img { padding:0.5em 0 0.5em 0; width:14em;}

a.casamiento:link, a.casamiento:active, a.casamiento:visited { font-style:underline; }
a.casamiento:hover { color:#000; }
.palette { display:none; }
.spec { display:inline-block; }
.spec img { width:100%; }
/* FONTS */

@font-face { font-family:"TP"; src: url('http://www.casamiento.co.uk/f/t.eot?') format('eot'), url('http://www.casamiento.co.uk/f/t.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('http://www.casamiento.co.uk/f/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARAIT.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('http://www.casamiento.co.uk/f/OSL.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS IL"; src: url('http://www.casamiento.co.uk/f/OSLI.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('http://www.casamiento.co.uk/f/OSCB.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSCB.woff') format('woff'); }

h2.casamiento { text-align:center; font: normal 2.2em "TP", sans-serif; letter-spacing:10px; padding-right:10px;padding-left:10px;margin-top:0.5em;margin-bottom:0.5em; }
h5.casamiento { font: normal 1em "OS IL", serif; text-indent:1em;text-align:left; border-bottom: 1px solid #333; padding-top:0.75em; padding-bottom:0.75em;line-height:1.5em; margin-bottom:1.5em;margin-top:1.5em; }
h6.casamiento { font: normal 1.375em "OS Light", serif; text-indent:1em; line-height:1.5em; margin:0; margin-bottom:1.5em; color:#333;}
p.casamiento { padding: 0 0.25em 0.75em 0.25em 0; font: normal 0.9em "OS", serif;line-height: 1.5em; padding:0; margin-bottom:1.5em;}

#page_container_casamiento {  padding:0; margin:0; }
.line { clear:both; border-top:1px solid #000;}
.b1 { clear:both; }
.a_colour { font: normal 1em "GaraI"; text-align:center; margin:1em;}
div .clrb:first-child { border-top:1px dotted #000; }
.clrb {  border-bottom:1px dotted #000;border-left:1px dotted #000;border-right:1px dotted #000;text-align:center; }
.clrb p { padding-top:0.5em;padding-bottom:0.5em; margin:0; }
.clrb p.selected { font-weight:bold; }
.clrb p:hover { font-weight:bold; cursor:pointer;}
/* COLUMNS */

#page_container_casamiento { text-align:center; background-image:url('http://www.casamiento.co.uk/gfx/backgrounds/grey_header.png'); width:100%; }
#inner_page_container_casamiento { text-align:left;margin:auto; border-left:1px dotted #000; border-right: 1px dotted #000; background-color:#fff; width:90%;}
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-left:20px; }
#main_slogan_casamiento { float:right; }
#genesis { text-align:center; }
#genesis_logo_top { width:22em; }
#genesis_container { border-top:1px dotted grey; border-bottom:1px solid grey; width:100%; margin:auto; padding-top:0.25em;padding-bottom:0.25em;text-align:center;}

/* IMAGES */

.subimg { float:left;width:49.5%; }
.subimg img { width:100%; }
.actual_side_images_1 { width:30%;float:left; }
.slides_container_1 { float:right;width:68%; }

.actual_side_images_2 { width:30%;float:right; }
.slides_container_2 { float:left;width:68%; }

/* SPECIFICATIONS */

.name_place_icon { width:130px; margin:auto; }
.spc { padding:0.5em;border-bottom:1px dotted grey;   }
.actual_side_images_1 > .spc { border-right:1px dotted grey; }
.actual_side_images_2 > .spc { border-left:1px dotted grey; }
.spc h1 {font: normal 0.75em "OS Condensed"; margin:0;margin-bottom:0.5em; text-align:left}
.spc p { font-family: "OS"; font-size:0.8em; padding:0; margin:0em; line-height:1em; }

.weight { margin:0.5em 0 0.2em;width:2em;}

.quantity_sold p { font: normal 2em "OS"; }
.product_type {  border-top:0; }

</style>
<!-- MAIN PAGE -->

<div id="page_container_casamiento">
	<div id="inner_page_container_casamiento">
		<div class="casamiento" id="header_container_casamiento" style="padding-top:0.5em;border-bottom:1px solid #000;margin:0;padding-bottom:0.5em;">
			<div id="main_logo_casamiento" class="casamiento"><img src="http://www.casamiento.co.uk/gfx/logo/cas.png" style="width:202px;" id="logo" class="casamiento"></div>
			<div id="main_slogan_casamiento" class="casamiento"><img src="http://www.casamiento.co.uk/gfx/logo/drms.png"></div>
			<div class="b1"></div>
		</div>
		
<!-- INTRO -->
<div style="width:35%;margin-top:1.2em;margin-left:2%;margin-right:2%;float:left">
	<p class="casamiento" style="text-align:right;font:normal 2.8em GaraI;margin-top:0;margin-bottom:0;padding-right:15px;">Impress your guests with personalised place cards</p>
	<p class="casamiento" style="text-align:right;font: normal 1.3em 'OS Light'; padding-right:15px;">Your guests will love seeing their names individually printed on these elegant freestanding place cards&hellip;</div>
	<div style="width:55%;float:left">
	<p class="casamiento" style="margin-top:1.25em;"></p><p class="casamiento" >&hellip;and because you choose the colours and theme, you can co-ordinate them completely with your event so everything matches perfectly! From ornamental to abstract, traditional to contemporary, one of the designs below are bound to compliment your theme&hellip;</p>		<p class="casamiento">They'll also save you time and stress: just decide on your options, send us a list of names, and within five working days you'll have a parcel dropping through your letterbox: no scoring card, no wonky edges, no smeared ink, just perfect little cards ready to sit on your tables. </p><p class="casamiento">For a limited time only, we'll also create a monogram for your place cards completely free of charge&mdash;perfect for weddings or christenings&mdash;or alternatively for corporate events we can print your company logo. 
</p>
</div>

<div id="genesis_container" style="clear:both; border-top:1px dotted #000;margin-top:1em;" class="casamiento"><img id="genesis_logo_top" class="casamiento" alt="Genesis_footer2" src="http://www.casamiento.co.uk/gfx/logo/genesis_collection.png"></div>

<% documents.forEach(function(place) { %>
<% counter++ %>
<% if (counter == 3) { counter = 1; } %>

<!-- SPECIFICATIONS -->
<div class="actual_side_images_<%= counter %>" style="clear:both;text-align:center">

	<div class="product_type spc">
		<div class="name_place_icon"><img src="http://www.casamiento.co.uk/gfx/product_types/small/name_place_small.png" style="width:100%;"></div>
	</div>

	<div class="spc">
		<h1>Card Texture</h1>

		<div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/linen.png" style="width:2.5em"><br>Linen</p></div> 
		<div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/hammer.png" style="width:2.5em"><br> Hammered</p></div>
		<div style="float:left;margin-left:1em;"><p><img src="/gfx/icons/plaine.png" style="width:2.5em"><br> Plain</p></div>
		<div class="b1"></div>
	</div>

	<div class="spc">
		<h1>Thickness</h1>
		
		<div style="width:60%;margin:auto">
			<div class="weight" style="border-top:2px solid #666;"></div>
			<p>300gsm</p>
			<div class="weight" style="border-top:4px solid #666;"></div>
			<p>250gsm</p>
		</div>
	</div>

	<div class="spc">
		<h1>Product format</h1>
		<div style="margin:auto;text-align:center;">
		<div class="spec" style="width:90px"><img src="/gfx/specs/tent.png"></div></div>
	</div>
	
	<div class="spc">
		<h1>Monogram shown</h1>
		<img id="mono_2" style="width:100%" class="casamiento mono" src="http://www.casamiento.co.uk/gfx/m/<%= place.monogram %>.png">
	</div>
		
	<div class="spc"><h1>Colours shown</h1>
		<div id="colours-shown" style="margin-top:1em;float:left;">
		
		<% place.colours.forEach(function(colour) { %>
			<div style="float:left">
				<div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
				<p class="casamiento" style="margin-left:1em;text-indent:0;font:normal 1em GaraI;padding:0; margin-top:5px;"><%= colour %></p>
			</div>
		<% }) %>  
		
		</div>
		<div class="b1"></div>
	</div>
</div>
	
<!-- MAIN SLIDE -->
<div class="slides_container_<%= counter %>" style="margin-bottom:1em;">
	<h2 class="casamiento"><%= place.name %></h2>
	<img class="casamiento" style="width:100%" src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/medium-<%= place.attachments_order[0] %>.jpg">
	<div class="subimg">
		<img class="casamiento" src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/display-<%= place.attachments_order[1] %>.jpg">
	</div>
	<div class="subimg" style="float:right;">
		<img class="casamiento" src="http://www.casamiento.co.uk/products/<%= place._id %>/attachments/display-<%= place.attachments_order[2] %>.jpg">
	</div>
</div>

<div class="line"></div>

<% }) %>


<!-- TABBED AREA -->
<div class="tabbed_area"> 
	<ul class="tabs"> 
		<li><a href="" class="a_tab" id="1_colours">All colours</a></li> 
		<li><a href="" class="a_tab active" id="1_monograms">All monograms</a></li> 
	</ul> 

	<div id="1_content_colours" class="colours_content">&nbsp;
	<!-- colour labels -->
	<div style="width:20%;float:left;">
		<div class="clrb"><p class="casamiento pinks selected">PINKS</p></div>
		<div class="clrb"><p class="casamiento reds">REDS</p></div>
		<div class="clrb"><p class="casamiento purples">PURPLES</p></div>
		<div class="clrb"><p class="casamiento yellows">YELLOWS</p></div>
		<div class="clrb"><p class="casamiento greens">GREENS</p></div>
		<div class="clrb"><p class="casamiento browns">BROWNS</p></div>
		<div class="clrb"><p class="casamiento blues">BLUES</p></div>
	</div>
	
<% var colours =	[['#FFC0CB pink','#FFB6C1 lightpink','#FF69B4 hotpink','#FF1493 deeppink','#DB7093 palevioletred','#BC8F8F rosybrown','#C71585 mediumvioletred','#CD5C5C indianred','#F08080 lightcoral','#FFA07A lightsalmon','#FA8072 salmon','#E9967A darksalmon','#DC143C crimson'],['#CD853F peru','#D2691E chocolate','#A0522D sienna','#A52A2A brown','#B22222 firebrick','#8B4513 saddlebrown','#8B0000 darkred','#800000 maroon'],['#FAA460 sandybrown','#FF7F50 coral','#FF6347 tomato','#FF0000 red','#FF4500 orangered','#FF8C00 darkorange','#FFA500 orange'],['#FFD700 gold','#FFFF00 yellow'],['#E6E6FA lavender','#D8BFD8 thistle','#DDA0DD plum','#FF00FF magenta','#EE82EE violet','#DA70D6 orchid','#BA55D3 mediumorchid','#9370DB mediumpurple','#8A2BE2 blueviolet','#9400D3 darkviolet','#9932CC darkorchid','#8B008B darkmagenta','#800080 purple','#4B0082 indigo','#483D8B darkslateblue','#6A5ACD slateblue','#7B68EE mediumslateblue'],['#98FB98 palegreen','#ADFF2F greenyellow','#7FFF00 chartreuse','#7CFC00 lawngreen','#00FF00 lime','#00FF7F springgreen','#00FA9A mediumspringgreen','#90EE90 lightgreen','#32CD32 limegreen','#3CB371 mediumseagreen','#2E8B57 seagreen','#228B22 forestgreen','#008000 green','#006400 darkgreen','#9ACD32 yellowgreen','#6B8E23 olivedrab','#808000 olive','#556B2F darkolivegreen','#8FBC8F darkseagreen','#66CDAA mediumaquamarine','#20B2AA lightseagreen','#008B8B darkcyan','#008080 teal'],['#00FFFF cyan','#7FFFD4 aquamarine','#AFEEEE paleturquoise','#40E0D0 turquoise','#48D1CC mediumturquoise','#00CED1 darkturquoise','#5F9EA0 cadetblue','#4682B4 steelblue','#B0C4DE lightsteelblue','#B0E0E6 powderblue','#ADD8E6 lightblue','#87CEEB skyblue','#87CEFA lightskyblue','#00BFFF deepskyblue','#1E90FF dodgerblue','#6495ED cornflowerblue','#4169E1 royalblue','#0000FF blue','#0000CD mediumblue','#00008B darkblue','#000080 navy','#191970 midnightblue'],['#DCDCDC gainsboro','#D3D3D3 lightgrey','#C0C0C0 silver','#A9A9A9 darkgray','#778899 lightslategray','#708090 slategray','#808080 gray','#696969 dimgray','#2F4F4F darkslategray','#000000 black']] %>

	
	<% var counter = 0 %>
	<% colours.forEach(function(palette) { %>
	<% counter++ %>
		<div class="palette" id="palette_<%= counter %>">
		<% palette.forEach(function(colour) { %>
		<% var ary = colour.split(" ") %>
		<% var hex = ary[0] %>
		<% var description = ary[1] %>
		<div class="a_colour"><div class="colsqr" style="background-color:<%= hex %>;"><img src="http://www.casamiento.co.uk/gfx/c.png" /></div><%= description %>
		</div>
		<% }) %>
		</div>
	<% }) %>
	
	<div class="b1"></div>
	</div> 
	<div id="1_content_monograms" class="monograms_content">&nbsp;
	<img src="http://www.casamiento.co.uk/gfx/m/5.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/6.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/7.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/8.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/2.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/1.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/3.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/4.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/9.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/10.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/11.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/12.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/13.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/14.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/15.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/16.png" />
	<img src="http://www.casamiento.co.uk/gfx/m/17.png" />
	<div class="b1"></div></div> 
</div> 
</div></div>

<script type="text/javascript">
$('#palette_1').show();
$('.tabs li a').click(function(e) {
	e.preventDefault();
	var id= $(this).attr('id'), array = id.split('_');
	var id = array[0], context = array[1]
	var current_tab = $('#' + id + "_content_" + context)
	
	if(context == "monograms") {
		$('#' + id + '_colours').attr('class', 'a_tab')
		$('#' + id + '_monograms').attr('class', 'active')
		$('#' + id + '_content_colours').hide();
	} else {
		$('#' + id + '_colours').attr('class', 'active')
		$('#' + id + '_monograms').attr('class', 'a_tab')
		$('#' + id + '_content_monograms').hide();
	}
	
	current_tab.show();

	if(context == "colours") {
			$('.greens', current_tab).click(function(e) {
			$('.palette', current_tab).hide();
			$('p', current_tab).removeClass('selected')
			$('#palette_6', current_tab).show();
			$('p.greens', current_tab).addClass('selected');
		})			
		$('.browns', current_tab).click(function(e) {
			$('.palette', current_tab).hide();
			$('p', current_tab).removeClass('selected')
			$('#palette_2', current_tab).show();
			$('p.browns', current_tab).addClass('selected');
		})		
		$('.reds', current_tab).click(function(e) {
			$('.palette', current_tab).hide();
			$('p', current_tab).removeClass('selected')
			$('#palette_3', current_tab).show();
			$('p.reds', current_tab).addClass('selected');
		})
				$('.yellows', current_tab).click(function(e) {
			$('.palette', current_tab).hide();
			$('p', current_tab).removeClass('selected')
			$('#palette_4', current_tab).show();
			$('p.yellows', current_tab).addClass('selected');
		})
				$('.purples', current_tab).click(function(e) {
			$('.palette', current_tab).hide();
			$('p', current_tab).removeClass('selected')
			$('#palette_5', current_tab).show();
			$('p.purples', current_tab).addClass('selected');
		})
		$('.blues', current_tab).click(function(e) {
			$('.palette', current_tab).hide();
			$('p', current_tab).removeClass('selected')
			$('#palette_7', current_tab).show();
			$('p.blues', current_tab).addClass('selected');
		})
		$('.pinks', current_tab).click(function(e) {

			$('.palette', current_tab).hide();
			$('p', current_tab).removeClass('selected')
			$('#palette_1', current_tab).show();
			$(' p.pinks', current_tab).addClass('selected');
		})
	}	
})
</script>